Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: update DB Theme and Icons (#8244)
  output/angular/package.json
  package.json
  packages/mcp-server/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/test/fixtures/react-app/package-lock.json
  packages/vite-plugin/test/fixtures/react-app/package.json
  packages/vite-plugin/test/fixtures/vue-app/package-lock.json
  packages/vite-plugin/test/fixtures/vue-app/package.json
  pnpm-lock.yaml
  scripts/package.json
  showcases/angular-showcase/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/html-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

fix: issue with failing tests
  packages/components/src/components/breadcrumb-item/breadcrumb-item.lite.tsx
  packages/components/src/components/breadcrumb-item/breadcrumb-item.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: make the controlled popover example story-compatible
  packages/components/src/components/popover/examples/controlled.example.lite.tsx
  showcases/e2e/popover/popover-controlled.spec.ts
Due: xo --fix, prettier --write

refactor(DBBreadcrumbTruncationItem): use DBButton and DBPopover for hover reveal
  .changeset/breadcrumb-truncation-popover.md
  packages/components/src/components/breadcrumb-truncation-item/breadcrumb-truncation-item.lite.tsx
  packages/components/src/components/breadcrumb-truncation-item/breadcrumb-truncation-item.scss
  packages/components/src/components/breadcrumb-truncation-item/model.ts
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with flaky header test
  showcases/e2e/header/header-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

refactor(Axe): brand-button contrast false positive: filter the finding, not exclude the node
  showcases/e2e/default.ts
  showcases/e2e/dialog/dialog-axe-core.spec.ts
Due: xo --fix, prettier --write

Apply batched suggestions from code review
  output/angular/CHANGELOG.md
  output/react/CHANGELOG.md
  output/stencil/CHANGELOG.md
  output/vue/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/mcp-server/CHANGELOG.md
Due: none

refactor: stop slot matching at intervening Vue components
  packages/eslint-plugin/src/rules/sub-component/sub-component-required-parent.ts
  packages/eslint-plugin/test/rules/sub-component/sub-component-required-parent.spec.ts
Due: xo --fix, prettier --write

refactor: eslint codex feedback
  packages/eslint-plugin/src/shared/slot-content.ts
  packages/eslint-plugin/src/shared/utils.ts
  packages/eslint-plugin/test/rules/close-button/close-button-text-required.spec.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
  packages/eslint-plugin/test/rules/dialog/dialog-header-required.spec.ts
  packages/eslint-plugin/test/rules/drawer/drawer-header-required.spec.ts
Due: xo --fix, prettier --write

fix(DBIcon): stop requiring content on an always-decorative icon
  .changeset/icon-decorative-docs.md
  .changeset/icon-decorative-no-content-required.md
  packages/components/src/components/icon/agent/icon.agent.lite.tsx
  packages/components/src/components/icon/docs/Accessibility.md
  packages/components/src/components/icon/docs/Angular.md
  packages/components/src/components/icon/docs/React.md
  packages/components/src/components/icon/docs/Vue.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/frameworks/__snapshots__/frameworks.spec.ts.snap
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

fix: issue for vue
  packages/components/src/components/breadcrumb-truncation-item/breadcrumb-truncation-item.lite.tsx
Due: xo --fix, prettier --write

fix: figma node IDs
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
  packages/components/src/components/pagination/figma/pagination.figma.ts
Due: xo --fix, prettier --write

Update BrowserSupport.md
  packages/foundations/docs/BrowserSupport.md
Due: none

Update BrowserSupport.md (#8265)
  packages/foundations/docs/BrowserSupport.md
Due: none

Update BrowserSupport.md (#8271)
  packages/foundations/docs/BrowserSupport.md
Due: none

fix: issue with axe core test
  showcases/e2e/default.ts
  showcases/e2e/dialog/dialog-axe-core.spec.ts
Due: xo --fix, prettier --write

fix: issues from PR
  showcases/e2e/default.ts
  showcases/e2e/dialog/dialog-a11y-checker.spec.ts
  showcases/e2e/dialog/dialog-aria-snapshot.spec.ts
  showcases/e2e/dialog/dialog-axe-core.spec.ts
  showcases/e2e/dialog/dialog-visual-snapshot.spec.ts
  showcases/e2e/dialog/index.ts
Due: xo --fix, prettier --write

fix: issue for vue
  packages/components/src/components/breadcrumb-truncation-item/breadcrumb-truncation-item.lite.tsx
  packages/components/src/components/breadcrumb-truncation-item/breadcrumb-truncation-item.scss
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix(DBShell): prevent logo position jump between expanded and collapsed state (#8060)
  .changeset/shell-logo-position.md
  packages/components/src/styles/internal/_control-panel-desktop.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
