Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: resolve notification styling and timestamp display issues
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification-grid-overlay.scss
  packages/components/src/components/notification/notification.scss
  showcases/shared/notification.json
Due: stylelint --fix

fix: update non-overlay mixins for grid layout and adjust timestamp line-height
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification.scss
Due: stylelint --fix

refactor: consolidate grid mixins for overlay and non-overlay notifications
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification-grid-overlay.scss
  packages/components/src/components/notification/notification-grid-shared.scss
Due: stylelint --fix

refactor: remove unused link variant inline grid layout
  packages/components/src/components/notification/notification-grid-layout-link-variant-inline.scss
  packages/components/src/components/notification/notification.scss
Due: stylelint --fix

refactor: provide correct GitHub Pages domain in PRs (#5365)
  scripts/github/preview-url-pr-description.js
Due: xo --fix, prettier --write

chore: 🤖 Add strict .npmrc file (#5118) (#5144)
  .npmrc
  package.json
Due: none

refactor: updated included glyphs (#5375)
  packages/foundations/assets/fonts/unicode-eu.txt
Due: none

chore: regenerate open sans font
  packages/foundations/assets/fonts/OpenSans-Bold-EU.woff2
  packages/foundations/assets/fonts/OpenSans-ExtraBold-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Light-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Medium-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Regular-EU.woff2
  packages/foundations/assets/fonts/OpenSans-SemiBold-EU.woff2
  packages/foundations/assets/fonts/generate-eu-fonts.ts
Due: xo --fix, prettier --write

chore: regenerate open sans font (#5378)
  packages/foundations/assets/fonts/OpenSans-Bold-EU.woff2
  packages/foundations/assets/fonts/OpenSans-ExtraBold-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Light-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Medium-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Regular-EU.woff2
  packages/foundations/assets/fonts/OpenSans-SemiBold-EU.woff2
  packages/foundations/assets/fonts/generate-eu-fonts.ts
Due: xo --fix, prettier --write

chore: update examples structure
  packages/components/src/components/button/examples/density.example.lite.tsx
  packages/components/src/components/button/examples/density/expressive.example.lite.tsx
  packages/components/src/components/button/examples/density/functional.example.lite.tsx
  packages/components/src/components/button/examples/density/regular.example.lite.tsx
  packages/components/src/components/button/examples/variant.example.lite.tsx
  packages/components/src/components/button/examples/variant/brand.example.lite.tsx
  packages/components/src/components/button/examples/variant/filled.example.lite.tsx
  packages/components/src/components/button/examples/variant/ghost.example.lite.tsx
  packages/components/src/components/button/examples/variant/outlined.example.lite.tsx
  packages/components/src/components/button/showcase/button.showcase.lite.tsx
  packages/components/src/components/button/showcase/density.showcase.lite.tsx
  packages/components/src/components/button/showcase/variant.showcase.lite.tsx
  showcases/react-showcase/src/components/button/index.tsx
Due: xo --fix, prettier --write

feat: add inline link variant support for notifications and adjust grid layouts
  packages/components/src/components/notification/notification-grid-default.scss
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification-grid-overlay.scss
  packages/components/src/components/notification/notification.scss
  showcases/shared/notification.json
Due: stylelint --fix

chore: add button examples for every framework
  packages/components/configs/mitosis.showcase.config.cjs
  packages/components/src/components/button/examples/density.example.lite.tsx
  packages/components/src/components/button/examples/disabled.example.lite.tsx
  packages/components/src/components/button/examples/no-text.example.lite.tsx
  packages/components/src/components/button/examples/show-icon-leading.example.lite.tsx
  packages/components/src/components/button/examples/show-icon-trailing.example.lite.tsx
  packages/components/src/components/button/examples/size.example.lite.tsx
  packages/components/src/components/button/examples/width.example.lite.tsx
  packages/components/src/components/button/showcase/button.showcase.lite.tsx
  packages/components/src/shared/showcase/container-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/link-wrapper.showcase.lite.tsx
  showcases/angular-showcase/src/app/components/button.component.ts
  showcases/angular-showcase/src/app/components/button/button.component.html
  showcases/angular-showcase/src/app/components/button/button.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/angular-showcase/tsconfig.json
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/react-showcase/tsconfig.json
  showcases/shared/button.json
  showcases/showcase-styles.css
  showcases/stencil-showcase/src/styles.css
  showcases/stencil-showcase/tsconfig.json
  showcases/vue-showcase/src/components/button/Button.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
  showcases/vue-showcase/tsconfig.json
  showcases/vue-showcase/vite.config.ts
Due: stylelint --fix, xo --fix, prettier --write

chore: update mitosis.config.cjs
  packages/components/configs/mitosis.config.cjs
Due: none

Update _form-components.scss
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix
