Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix(form elements): colors
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

feat: use unique ids for for aria-controls
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

fix(changeset): corrected the packages
  .changeset/sharp-pumas-obey.md
Due: none

feat: pass id to component
  showcases/angular-showcase/src/app/components/breadcrumb/breadcrumb.component.html
  showcases/react-showcase/src/components/breadcrumb/index.tsx
  showcases/shared/breadcrumb.json
  showcases/vue-showcase/src/components/breadcrumb/breadcrumb.vue
Due: xo --fix, prettier --write

refactor: simplified CSS logic
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

Update packages/components/src/styles/internal/_form-components.scss
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

Create fluffy-balloons-peel.md
  .changeset/fluffy-balloons-peel.md
Due: none

5439 dbinput inserting an empty string doesnt empty date form fields (#5440)
  .changeset/orange-eyes-pump.md
  packages/components/scripts/post-build/components.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: xo --fix, prettier --write

refactor: optimizations
  showcases/patternhub/components/icon-code-snippet/index.tsx
  showcases/patternhub/pages/foundations/icons/overview.tsx
Due: xo --fix, prettier --write

refactor: updating all angular dependencies
  package-lock.json
  package.json
Due: none

refactor: running npm audit fix
  package-lock.json
Due: none

refactor: running npm audit fix (#5529)
  package-lock.json
Due: none

refactor: update markdownlint-cli dependency
  package-lock.json
  package.json
Due: none

refactor: this new rule doesn't seem to be compliant with prettier styling
  docs/migration-template.md
Due: none

refactor: update `markdownlint-cli` dependency (#5531)
  docs/migration-template.md
  package-lock.json
  package.json
Due: none

feat: add date input reset to React showcase (#5499)
  showcases/react-showcase/src/components/form/index.tsx
Due: xo --fix, prettier --write

fix(form elements): colors (#5526)
  .changeset/fluffy-balloons-peel.md
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

feat: update package versions and adjust import paths for local development
  package-lock.json
  showcases/angular-showcase/src/app/components/breadcrumb/breadcrumb.component.ts
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/angular-showcase/tsconfig.json
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
