Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: linter feedback
  packages/stylelint/package.json
Due: none

refactor: to my understanding, turbopack supports the new node package reference format
  showcases/next-showcase/styles/global.scss
Due: stylelint --fix

refactor: added necessary word turbopack to get ignored by cspell
  .config/cspellignorewords.txt
Due: none

fix: implement WAI-ARIA compliant manual keyboard navigation
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

refactor: linter feedback (#5892)
  packages/stylelint/package.json
Due: none

refactor: regenerated package lock file
  package-lock.json
Due: none

refactor: added necessary configurations
  showcases/next-showcase/next.config.js
  showcases/patternhub/next.config.js
Due: xo --fix, prettier --write

refactor: regenerated package lock file (#5893)
  package-lock.json
Due: none

refactor: corrected those path
  showcases/next-showcase/next.config.js
  showcases/patternhub/next.config.js
Due: xo --fix, prettier --write

fix: remaining issues for showcases
  output/stencil/stencil.config.dev.ts
  packages/components/configs/plugins/astro/nodes.cjs
  packages/components/configs/plugins/astro/template.cjs
  packages/components/configs/plugins/astro/utils.cjs
  packages/components/configs/plugins/stencil/index.cjs
  packages/components/configs/stencil/index.cjs
  packages/components/scripts/post-build/stencil.ts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/shared/showcase/card-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/container-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/link-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/model.ts
  showcases/stencil-showcase/src/pages/02/button.astro
  showcases/stencil-showcase/tsconfig.json
Due: xo --fix, prettier --write

Update rich-clouds-sniff.md
  .changeset/rich-clouds-sniff.md
Due: none

refactor: extending `peerDependency` range to Stylelint 17 (#5890)
  .changeset/shiny-goats-dream.md
  package-lock.json
  packages/stylelint/package.json
Due: none

refactor: updated patch dependencies
  output/stencil/package.json
  output/vue/package.json
  package-lock.json
  package.json
  packages/foundations/package.json
  scripts/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/patternhub/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/vue-storybook/package.json
Due: none

refactor: updated patch dependencies (#5900)
  output/stencil/package.json
  output/vue/package.json
  package-lock.json
  package.json
  packages/foundations/package.json
  scripts/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/patternhub/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/vue-storybook/package.json
Due: none

chore: add aria-label for navigation inside header examples
  packages/components/src/components/header/examples/behavior.example.lite.tsx
  packages/components/src/components/header/examples/density.example.lite.tsx
  packages/components/src/components/header/examples/examples.example.lite.tsx
  packages/components/src/components/header/examples/width.example.lite.tsx
Due: xo --fix, prettier --write

DBNotification: Add default ARIA role attributes for accessibility (#4815)
  .changeset/mighty-jars-train.md
  __snapshots__/notification/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBNotification-should-have-same-aria-snapshot.yaml
  __snapshots__/notification/showcase/chromium/should-have-same-aria-snapshot/DBNotification-should-have-same-aria-snapshot.yaml
  __snapshots__/notification/showcase/firefox/should-have-same-aria-snapshot/DBNotification-should-have-same-aria-snapshot.yaml
  __snapshots__/notification/showcase/mobile-chrome/should-have-same-aria-snapshot/DBNotification-should-have-same-aria-snapshot.yaml
  __snapshots__/notification/showcase/mobile-safari/should-have-same-aria-snapshot/DBNotification-should-have-same-aria-snapshot.yaml
  __snapshots__/notification/showcase/webkit/should-have-same-aria-snapshot/DBNotification-should-have-same-aria-snapshot.yaml
  packages/components/src/components/link/model.ts
  packages/components/src/components/notification/model.ts
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
