Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Fix stlyelint peer dependency (#6090)
  .changeset/fluffy-ears-write.md
  package-lock.json
  packages/stylelint/package.json
Due: none

fix: try setting line-height to solve screenshot issue
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix(tab-item): correct icon positioning and trailing icon rendering
  packages/components/src/components/tab-item/examples/show-icon-trailing.example.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: fix icon leading/trailing positioning and truncation
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

feat: truncation only for vertical tabs
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix: fix linting
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix(dependabot): Add update-types for Angular dependencies
  .github/dependabot.yml
Due: none

refactor: updating Angular patch dependencies
  package-lock.json
  package.json
Due: none

Fix typo in Stylelint peer dependency message
  .changeset/fluffy-ears-write.md
Due: none

Fix padding and color for date input states
  .changeset/tough-sails-drum.md
Due: none

refactor: added necessary update types for various dependencies in dependabot.yml
  .github/dependabot.yml
Due: none

fix: restore block-based bold text hack to fix density layout shift
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

Update docs/research/list-and-menu.md
  docs/research/list-and-menu.md
Due: none

fix: defer truncation check until fonts are ready to prevent phantom tooltip
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix: add vertical-align fallback to prevent baseline gap in Angular/Stencil wrappers
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix: inject :host { display: contents } to eliminate baseline gap in custom element wrapper
  packages/components/configs/stencil/index.cjs
Due: none

fix: inject :host { display: contents } to eliminate baseline gap in custom element wrapper
  packages/components/configs/plugins/stencil/host-display-contents.cjs
Due: none

test: update tab-item snapshots after baseline gap fix
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
Due: none
