Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Apply suggestion from @mfranzke
  pnpm-workspace.yaml
Due: none

refactor: updated db-theme related packages (#7274)
  output/angular/package.json
  package.json
  packages/mcp-server/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/test/fixtures/react-app/package-lock.json
  packages/vite-plugin/test/fixtures/react-app/package.json
  packages/vite-plugin/test/fixtures/vue-app/package-lock.json
  packages/vite-plugin/test/fixtures/vue-app/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/package.json
  showcases/angular-showcase/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/html-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

refactor: added further ones of our packages
  pnpm-workspace.yaml
Due: none

Update DBSwitch-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSwitch-default-1.txt
Due: none

refactor(test): removing unused parameter
  showcases/screen-reader/tests/switch.spec.ts
Due: xo --fix, prettier --write

Update drawer.spec.ts
  showcases/screen-reader/tests/drawer.spec.ts
Due: xo --fix, prettier --write

chore: testing #7128 in the general pipeline
  packages/eslint-plugin/src/index.ts
Due: xo --fix, prettier --write

feat(dependabot): added CodeQL GH Action group
  .github/dependabot.yml
Due: none

fix: issues with linting
  .config/.jscpd.json
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
  packages/components/src/components/control-panel-brand/examples/_control-panel-brand.arg.types.ts
  packages/components/src/components/control-panel-mobile/control-panel-mobile.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-popover.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/control-panel/secondary-actions/secondary-actions.component.html
  showcases/angular-showcase/src/app/page/page.component.html
Due: stylelint --fix, xo --fix, prettier --write

fix(screen-reader test): switch test interactions (#7257)
  showcases/screen-reader/__snapshots__/windows/chromium/DBSwitch-default-1.txt
  showcases/screen-reader/tests/switch.spec.ts
Due: xo --fix, prettier --write

refactor(test): removing unused parameter (#7278)
  showcases/screen-reader/tests/drawer.spec.ts
  showcases/screen-reader/tests/switch.spec.ts
Due: xo --fix, prettier --write

Create slick-pets-dream.md
  .changeset/slick-pets-dream.md
Due: none

fix(angular): import output in signal-forms plugin for tab-item
  packages/components/configs/plugins/angular/signal-forms.cjs
Due: none

fix: build issues
  packages/components/src/components/shell-content/shell-content.scss
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.ts
  showcases/angular-showcase/src/app/components/form/custom-selects/custom-selects.component.ts
  showcases/angular-showcase/src/app/components/form/selects/selects.component.ts
  showcases/angular-showcase/src/app/components/form/switches/switches.component.ts
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.ts
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/stencil-showcase/src/main.ts
  showcases/vue-showcase/src/composables/use-layout.ts
Due: stylelint --fix, xo --fix, prettier --write

fix: add 'as const' to recommended rule obj so TS infers constants 'error'/'warn' instead of string (#7128)
  .changeset/small-experts-cheer.md
  packages/eslint-plugin/src/index.ts
Due: xo --fix, prettier --write

test: update high-contrast showcase snapshots for tabs after main merge
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium-highContrast/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
Due: none

Update README.md
  packages/postcss-plugin/README.md
Due: none
