Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix(DBBreadcrumb): use identifier-safe story names for length example
  packages/components/src/components/breadcrumb/examples/length.example.lite.tsx
Due: xo --fix, prettier --write

fix(DBInput): restore value on native form reset and address review feedback
  .changeset/input-reset-writes-to-element.md
  packages/components/AGENTS.md
  packages/components/scripts/post-build/react.ts
  packages/components/src/components/input/examples/example-types-with-min-and-max.example.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/utils/form-components.spec.ts
  packages/components/src/utils/form-components.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/input/input-number.spec.ts
Due: xo --fix, prettier --write

test(DBInput): run the undefined-value reset spec across all frameworks
  showcases/e2e/input/input-undefined-value.spec.ts
  showcases/react-showcase/src/components/form/input.tsx
  showcases/vue-showcase/src/components/form/Inputs.vue
Due: xo --fix, prettier --write

fix(DBBreadcrumb): restore showcase labels and add stencil nav entry
  packages/components/src/components/breadcrumb/examples/api.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/density.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/disabled.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/length.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/no-text.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/separator.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/size.example.lite.tsx
  showcases/stencil-showcase/src/navigation.ts
Due: xo --fix, prettier --write

chore(storybook): stop logging a misleading error when a binding is not a state value
  packages/components/configs/plugins/storybook/get-stories.cjs
Due: none

refactor: summarize changesets
  .changeset/dialog-component.md
  .changeset/dialog-preserve-aria-labelledby.md
  .changeset/dialog-shared-layer.md
  .changeset/drawer-chrome-no-landmark.md
  .changeset/drawer-escape-dismiss-fallback.md
  .changeset/drawer-fixes.md
  .changeset/drawer-oncancel-prop.md
  .changeset/drawer-onclick-onkeydown-props.md
  .changeset/drawer-ssr-stable-id.md
  .changeset/drawer-updates.md
  .changeset/eslint-dialog-fixes.md
  .changeset/eslint-dialog-rules.md
  .changeset/eslint-drawer-header-spread.md
  .changeset/rename-header-container-to-content.md
Due: none

fix(DBBreadcrumb): avoid innerHTML for tooltip text (CodeQL)
  packages/components/src/components/breadcrumb-item/breadcrumb-item.lite.tsx
Due: xo --fix, prettier --write

test(DBBreadcrumb): add real spec coverage and skip axe for web components
  packages/components/src/components/breadcrumb/breadcrumb.spec.tsx
  showcases/e2e/breadcrumb/breadcrumb-axe-core.spec.ts
Due: xo --fix, prettier --write

Update dialog.scss
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

refactor: share container-size-scale with both drawer and dialog
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix

refactor: container sizes with both drawer and dialog
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix

refactor(DBPagination): make the item a wrapper and drive state from the parent
  packages/components/AGENTS.md
  packages/components/src/components/pagination-item/model.ts
  packages/components/src/components/pagination-item/pagination-item.lite.tsx
  packages/components/src/components/pagination/docs/Angular.md
  packages/components/src/components/pagination/docs/HTML.md
  packages/components/src/components/pagination/docs/React.md
  packages/components/src/components/pagination/docs/Vue.md
  packages/components/src/components/pagination/examples/link.example.lite.tsx
  packages/components/src/components/pagination/model.ts
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.spec.tsx
Due: xo --fix, prettier --write

refactor(DBPagination): drop redundant comments
  packages/components/src/components/pagination-item/model.ts
  packages/components/src/components/pagination-item/pagination-item.scss
  packages/components/src/components/pagination/examples/collapsing.example.lite.tsx
  packages/components/src/components/pagination/examples/controlled.example.lite.tsx
  packages/components/src/components/pagination/examples/density.example.lite.tsx
  packages/components/src/components/pagination/examples/link.example.lite.tsx
  packages/components/src/components/pagination/examples/position.example.lite.tsx
  packages/components/src/components/pagination/examples/size.example.lite.tsx
  packages/components/src/components/pagination/examples/truncation.example.lite.tsx
  packages/components/src/components/pagination/examples/wrapping.example.lite.tsx
  packages/components/src/components/pagination/model.ts
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.scss
  packages/components/src/components/pagination/pagination.spec.tsx
Due: stylelint --fix, xo --fix, prettier --write

refactor(DBPagination): drop more redundant comments
  output/stencil/custom-elements-manifest.config.js
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/pagination-item/pagination-item.scss
  showcases/e2e/pagination/pagination-axe-core.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

fix(DBLoadingIndicator): add large to size storybook control
  packages/components/src/components/loading-indicator/examples/_loading-indicator.arg.types.ts
Due: xo --fix, prettier --write

Apply batched suggestions from code review
  packages/components/src/components/dialog/docs/HTML.md
Due: none

refactor: not removing the semantic tags in article
  .changeset/drawer-fixes.md
  packages/components/AGENTS.md
  packages/components/src/components/drawer-footer/drawer-footer.lite.tsx
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
Due: xo --fix, prettier --write

docs: target the inner dialog in the Angular return-value example
  packages/components/src/components/dialog/docs/Angular.md
Due: none

fix: issue with playwright test paths
  showcases/e2e/breadcrumb/breadcrumb-a11y-checker.spec.ts
  showcases/e2e/breadcrumb/breadcrumb-aria-snapshot.spec.ts
  showcases/e2e/breadcrumb/breadcrumb-axe-core.spec.ts
  showcases/e2e/breadcrumb/breadcrumb-visual-snapshot.spec.ts
  showcases/patternhub/tests/default.spec.ts
Due: xo --fix, prettier --write

fix(DBPagination): restore the arrow variant and trim the item API further
  packages/components/src/components/pagination-item/model.ts
  packages/components/src/components/pagination-item/pagination-item.lite.tsx
  packages/components/src/components/pagination/docs/Angular.md
  packages/components/src/components/pagination/docs/HTML.md
  packages/components/src/components/pagination/docs/React.md
  packages/components/src/components/pagination/docs/Vue.md
  packages/components/src/components/pagination/model.ts
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.spec.tsx
Due: xo --fix, prettier --write

fix(xo): resolve lint issues after xo 5 upgrade
  packages/agent-cli/src/utils/index.ts
  packages/mcp-server/src/__tests__/integration.test.ts
  packages/mcp-server/src/tools/docs.ts
  packages/postcss-plugin/src/plugins/flatten/helpers/resolve.ts
  packages/vite-plugin/src/generator.ts
  packages/vite-plugin/src/optimizer.ts
  scripts/github/changesets/publish.ts
  scripts/github/changesets/version-bump.ts
  scripts/github/reorder-backlog.ts
  scripts/md-resolve-svg.ts
  scripts/self-healing-orchestrator.ts
  scripts/strip-final-newline.js
  scripts/tests/self-healing-orchestrator.spec.ts
  showcases/e2e/control-panel-desktop/control-panel-desktop-axe-core.spec.ts
  showcases/e2e/control-panel-flat-icon/control-panel-flat-icon-axe-core.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-axe-core.spec.ts
  showcases/e2e/shell/shell-axe-core.spec.ts
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-how-to-file.js
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/react-showcase/src/meta-navigation/index.tsx
  showcases/stencil-showcase/src/main.ts
  showcases/stencil-showcase/src/navigation.ts
  showcases/stencil-showcase/src/page.ts
  showcases/stencil-showcase/src/router.ts
  xo.config.js
Due: xo --fix, prettier --write

fix(xo): revert churn reintroduced by merge with #8208
  docs/package.json
  package.json
  packages/agent-cli/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/drawer/drawer-header-required.ts
  packages/mcp-server/package.json
  packages/mcp-server/scripts/build-manifest.ts
  packages/mcp-server/src/__tests__/integration.test.ts
  packages/mcp-server/src/tools/docs.ts
  packages/postcss-plugin/package.json
  packages/stylelint/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/generator.ts
  packages/vite-plugin/src/index.ts
  scripts/github/reorder-backlog.ts
  scripts/package.json
  scripts/tests/angular-post-build.spec.ts
  showcases/angular-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/html-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: xo --fix, prettier --write

refactor: listen for fallback Escape requests outside the dialog
  .config/cspellignorewords.txt
  packages/components/src/components/dialog/dialog.lite.tsx
  packages/components/src/components/dialog/model.ts
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/utils/dialog/ponyfill.ts
  packages/components/src/utils/document-keydown-listener.ts
Due: xo --fix, prettier --write

fix(DBPagination): ignore clicks on the decorative ellipsis
  packages/components/src/components/pagination/docs/Angular.md
  packages/components/src/components/pagination/docs/React.md
  packages/components/src/components/pagination/docs/Vue.md
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.spec.tsx
Due: xo --fix, prettier --write

fix(DBBreadcrumb): add unique aria-label to breadcrumb examples
  packages/components/src/components/breadcrumb/examples/api.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/density.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/disabled.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/length.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/no-text.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/separator.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/size.example.lite.tsx
  packages/components/src/components/breadcrumb/examples/truncation.example.lite.tsx
Due: xo --fix, prettier --write

fix(DBPagination): stop navigation when the current page link is clicked
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.spec.tsx
Due: xo --fix, prettier --write
