Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: let's try MacOS 14
  .github/workflows/02-e2e-screen-reader.yml
Due: none

chore: let's try MacOS 14
  .github/workflows/01-init-playwright.yml
Due: none

feat: add script to extract sassdoc and save in md
  package.json
  scripts/extract-css-vars.js
  scripts/package.json
Due: xo --fix, prettier --write

test: mac os without dnd mode
  .github/workflows/01-init-playwright.yml
  .github/workflows/02-e2e-screen-reader.yml
  package-lock.json
  package.json
Due: none

test: mac os without dnd mode
  .github/workflows/02-e2e-screen-reader.yml
Due: none

chore: disable macos screen-reader tests for now
  .github/workflows/01-init-playwright.yml
  .github/workflows/02-e2e-screen-reader.yml
Due: none

chore: disable macOS screen-reader for now
  .github/actions/playwright-cache/action.yml
  .github/workflows/01-init-playwright.yml
  .github/workflows/02-e2e-screen-reader.yml
  package-lock.json
  package.json
Due: none

fix: auto close for sub-navigation click
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

chore: update interactive card
  docs/migration/v2.x.x-to-v3.0.0.md
  packages/components/src/components/card/card.lite.tsx
Due: xo --fix, prettier --write

Update 01-init-playwright.yml
  .github/workflows/01-init-playwright.yml
Due: none

Update 02-e2e-screen-reader.yml
  .github/workflows/02-e2e-screen-reader.yml
Due: none

refactor(guidepup): updated to MacOS 14 image
  .github/workflows/02-e2e-screen-reader.yml
Due: none

chore: move scripts to documentation subfolder
  package.json
  packages/components/package.json
  scripts/documentation/copy-copilot-instructions.js
  scripts/documentation/extract-css-vars.js
  scripts/documentation/generate-copilot-instructions.js
  scripts/documentation/merge-component-docs.js
Due: xo --fix, prettier --write

refactor: enforce screenshot regeneration
  showcases/react-showcase/src/components/default-component.tsx
Due: xo --fix, prettier --write

Update showcase-home.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
Due: xo --fix, prettier --write

refactor: enforce screenshot regeneration
  packages/components/_templates/mitosis/new/component/spec.ejs.t
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/badge/badge.spec.tsx
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/button/button.spec.tsx
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/checkbox/checkbox.spec.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
  packages/components/src/components/notification/notification.spec.tsx
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/radio/radio.spec.tsx
  packages/components/src/components/select/select.spec.tsx
  packages/components/src/components/stack/stack.spec.tsx
  packages/components/src/components/switch/switch.spec.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
  packages/components/src/components/tag/tag.spec.tsx
  packages/components/src/components/tooltip/tooltip.spec.tsx
Due: xo --fix, prettier --write

Revert "refactor: enforce screenshot regeneration"
  packages/components/_templates/mitosis/new/component/spec.ejs.t
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion/accordion.spec.tsx
  packages/components/src/components/badge/badge.spec.tsx
  packages/components/src/components/brand/brand.spec.tsx
  packages/components/src/components/button/button.spec.tsx
  packages/components/src/components/card/card.spec.tsx
  packages/components/src/components/checkbox/checkbox.spec.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
  packages/components/src/components/drawer/drawer.spec.tsx
  packages/components/src/components/infotext/infotext.spec.tsx
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
  packages/components/src/components/notification/notification.spec.tsx
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/components/radio/radio.spec.tsx
  packages/components/src/components/select/select.spec.tsx
  packages/components/src/components/stack/stack.spec.tsx
  packages/components/src/components/switch/switch.spec.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
  packages/components/src/components/tag/tag.spec.tsx
  packages/components/src/components/tooltip/tooltip.spec.tsx
Due: xo --fix, prettier --write

Revert "refactor: enforce screenshot regeneration"
  showcases/react-showcase/src/components/default-component.tsx
Due: xo --fix, prettier --write

feat: add container and screen sizes (#4486)
  __snapshots__/section/showcase/chromium-highContrast/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/tooltip/showcase/chromium-highContrast/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/chromium/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/firefox/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/mobile-chrome/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  docs/migration/v2.x.x-to-v3.0.0.md
  packages/components/src/styles/internal/_popover-component.scss
  packages/foundations/scss/_screen-sizes.scss
  packages/foundations/scss/_variables.scss
  packages/foundations/scss/defaults/_default-container-properties.scss
  packages/foundations/scss/defaults/_default-container-variables.scss
  packages/foundations/scss/defaults/default-theme.scss
Due: stylelint --fix

fix: auto close for sub-navigation click (#4522)
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
