Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: rename isDisabled prop to disabled
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
  showcases/angular-showcase/src/app/components/tab-item/tab-item.component.html
  showcases/react-showcase/src/components/tab-item/index.tsx
  showcases/shared/tab-item.json
  showcases/vue-showcase/src/components/tab-item/TabItem.vue
Due: xo --fix, prettier --write

fix: resolve angular cva conflict via writeable signal metadata
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

chore: update tab-item screenshots
  __snapshots__/tab-item/patternhub/tab-item-docs-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-overview-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
Due: none

refactor: updated DB Theme
  package-lock.json
  package.json
Due: none

fix: add tabindex=-1 to disabled DBCustomSelect summary element
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
  packages/foundations/dev/icons.html
Due: xo --fix, prettier --write

Update icons.html
  packages/foundations/dev/icons.html
Due: none

refactor: formatting
  packages/foundations/dev/icons.html
Due: none

test: improve disabled custom-select keyboard test with focusable elements
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

refactor: Add missing node command for db-theme build
  .github/workflows/01-build-showcases.yml
Due: none

Update CONTRIBUTING.md with manual postinstall command
  CONTRIBUTING.md
Due: none

Update copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Add missing command to build process
  .github/workflows/01-build-patternhub.yml
Due: none

Update 01-build-storybooks.yml
  .github/workflows/01-build-storybooks.yml
Due: none

refactor: extracted
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

refactor: not running this test at the moment
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

Apply suggestions from code review
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

fix(css): relative path
  packages/foundations/scss/_default.assets-paths.scss
Due: stylelint --fix

docs: added description of how to use the icons independently from the library
  packages/foundations/docs/Icons.md
Due: none

refactor: update patch dependencies
  e2e/package.json
  output/react/package.json
  output/vue/package.json
  package.json
  packages/agent-cli/package.json
  packages/components/package.json
  packages/foundations/package.json
  packages/migration/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

refactor: update package lock file
  package-lock.json
Due: none

refactor: update patch dependencies (#6022)
  e2e/package.json
  output/react/package.json
  output/vue/package.json
  package-lock.json
  package.json
  packages/agent-cli/package.json
  packages/components/package.json
  packages/foundations/package.json
  packages/migration/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

refactor: optimization
  packages/foundations/docs/Icons.md
Due: none

refactor: updated DB Theme package
  package-lock.json
  package.json
Due: none
