Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: updated snapshot
  __snapshots__/select/component/chromium/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/firefox/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/mobile-chrome/DBSelect-should-have-same-aria-snapshot.yaml
Due: none

Update custom-select.spec.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

refactor: updated package-lock.json file from main
  package-lock.json
Due: none

feat(switch): fix linting errors
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/switch/switch.scss
  showcases/shared/switch.json
Due: stylelint --fix, xo --fix, prettier --write

feat(switch): simplify SCSS mixin and remove unused imports
  packages/components/src/components/switch/switch.scss
Due: stylelint --fix

Update .gitignore
  .gitignore
Due: none

Create lovely-oranges-trade.md
  .changeset/lovely-oranges-trade.md
Due: none

refactor: optimized test
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

refactor: test
  README.md
Due: none

chore(): remove status preview steps which are already covered by the copilot bot
  .github/workflows/changesets-release-pr.yml
Due: none

feat(switch): removed aria-describedby
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
Due: xo --fix, prettier --write

test: updated snapshots
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
Due: none

feat(switch): adapt label color for valid and invalid state
  packages/components/src/components/switch/switch.scss
Due: stylelint --fix

feat(switch): remove aria-checked because it is not valid for inputs
  packages/components/src/components/switch/switch.lite.tsx
Due: xo --fix, prettier --write

feat(switch): update switch snapshots
  __snapshots__/switch/showcase/chromium-highContrast/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/chromium/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-chrome/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
Due: none

refactor: remove CodeQL advanced analysis config files from PRs workflow (#4931)
  .github/workflows/99-codeql-analysis.yml
  .github/workflows/pull-request.yml
Due: none

Update README.md with test placeholder
  README.md
Due: none

fix(custom-select): keyboard focus ring appears on mouse interaction (#4919)
  .changeset/modern-doors-give.md
  packages/components/src/components/custom-select-list-item/custom-select-list-item.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
