Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update from main
  pnpm-lock.yaml
Due: none

fix: missing separation for custom-select-list-item
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
Due: xo --fix, prettier --write

fix: switched tag text and children to align with design
  packages/components/src/components/tag/tag.lite.tsx
Due: xo --fix, prettier --write

fix(prettier): ignore lock-file
  .prettierignore
Due: none

fix: update storybook configurations
  .changeset/config.json
  storybooks/angular-storybook/CHANGELOG.md
  storybooks/angular-storybook/package.json
Due: none

fix: update storybook configurations (#6672)
  .changeset/config.json
  storybooks/angular-storybook/CHANGELOG.md
  storybooks/angular-storybook/package.json
Due: none

chore: update ignore patterns for jscpd and stylelint
  .config/.jscpd.json
  .stylelintignore
Due: none

fix(changelog): code style (#6664)
  package.json
Due: none

fix(prettier): ignore lock-file (#6673)
  .prettierignore
Due: none

refactor: updating pnpm (#6654)
  package.json
Due: none

refactor(docs): migrated leftover (#6662)
  .amazonq/rules/db-ux-mcp-workflow.md
Due: none

fix(next showcase): dev script
  pnpm-lock.yaml
  showcases/next-showcase/package.json
Due: none

fix: issues from PR
  .github/workflows/01-build-figma-code-connect.yml
  .github/workflows/99-regenerate-lockfile.yml
  .github/workflows/default.yml
  figma-code-connect/angular-figma/package.json
  figma-code-connect/angular-figma/test/preview.spec.ts
  figma-code-connect/angular-figma/tsconfig.json
  figma-code-connect/react-figma/package.json
  figma-code-connect/react-figma/test/preview.spec.ts
  figma-code-connect/react-figma/tsconfig.json
  figma-code-connect/vue-figma/figma.config.json
  figma-code-connect/vue-figma/package.json
  figma-code-connect/vue-figma/test/preview.spec.ts
  figma-code-connect/vue-figma/tsconfig.json
  packages/components/docs/how-to-figma-connect.md
  pnpm-lock.yaml
Due: xo --fix, prettier --write

fix: issues from PR
  figma-code-connect/angular-figma/figma.config.json
  pnpm-lock.yaml
Due: none

chore: display logo image in variant example
  packages/components/src/components/brand/examples/variants.example.lite.tsx
Due: xo --fix, prettier --write

docs: add icon font setup instructions to migration guide and React README
  docs/migration/db-ui/general-migration.md
  output/react/README.md
Due: none

docs: document full CSS import chain and message behavior change; extend scanner for v2 imports
  docs/migration/db-ui/component-migration.md
  docs/migration/db-ui/general-migration.md
  output/react/README.md
  packages/mcp-server/src/tools/scanner.ts
Due: xo --fix, prettier --write

chore: remove hideLogo option from brand argument types
  packages/components/src/components/brand/docs/Migration.md
  packages/components/src/components/brand/examples/_brand.arg.types.ts
  showcases/screen-reader/__snapshots__/windows/chromium/DBBrand-default-1.txt
Due: xo --fix, prettier --write

chore: update snapshots
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
Due: none

chore: update _brand.arg.types.ts
  packages/components/src/components/brand/examples/_brand.arg.types.ts
Due: xo --fix, prettier --write

fix(scss): warning
  packages/components/src/components/notification/notification.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
