Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

feat: add `wrap` property for possible inline components (#6080)
  .changeset/afraid-grapes-know.md
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/badge/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/model.ts
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/infotext/model.ts
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix, xo --fix, prettier --write

chore: update from main
  packages/components/src/components/button/examples/_button.arg.types.ts
  packages/components/src/components/custom-button/examples/_custom-button.arg.types.ts
  packages/components/src/components/custom-button/model.ts
  packages/components/src/styles/internal/_button-components.scss
Due: stylelint --fix, xo --fix, prettier --write

feat: add support for changeset release PRs in the pipeline
  .config/cspellignorewords.txt
  .github/workflows/00-init.yml
  .github/workflows/default.yml
Due: none

chore: update snapshot
  packages/vite-plugin/test/__snapshots__/integration.spec.ts.snap
Due: none

fix: remove whitespace text node in Show content
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
Due: xo --fix, prettier --write

fix: remove whitespace text node and fix optionalChainingAssign build error
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix: resolve focus issue with DBCustomSelect in DBDrawer and other dialog elements
  .changeset/major-camels-ring.md
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

Apply suggestion from @mfranzke
  .changeset/major-camels-ring.md
Due: none

Apply suggestion from @mfranzke
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

feat: add support for changeset release PRs in the pipeline (#6106)
  .config/cspellignorewords.txt
  .github/workflows/00-init.yml
  .github/workflows/default.yml
Due: none

fix: issue with comments
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

fix: issue overwritten mId
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

fix: issue with _value
  packages/components/scripts/post-build/react.ts
  packages/components/scripts/post-build/vue.ts
Due: xo --fix, prettier --write

chore: update test
  packages/vite-plugin/test/__snapshots__/integration.spec.ts.snap
  packages/vite-plugin/test/integration.spec.ts
Due: xo --fix, prettier --write

refactor: corrected name from DB UI to DB UX
  packages/components/_templates/mitosis/new/db-ux-components-use.ejs.t
Due: none

Rename db-ui-components.ejs.t to db-ux-components.ejs.t
  packages/components/_templates/mitosis/new/component/db-ux-components.ejs.t
Due: none

Rename db-ui-components-wc.ejs.t to db-ux-components-wc.ejs.t
  packages/components/_templates/mitosis/new/component/db-ux-components-wc.ejs.t
Due: none

Update Angular.md
  packages/components/src/components/checkbox/docs/Angular.md
Due: none

Apply suggestion from @michaelmkraus
  packages/components/src/components/custom-select-list/custom-select-list.lite.tsx
Due: xo --fix, prettier --write

Wrap checked example in fieldset for semantics
  packages/components/src/components/tag/examples/checked.example.lite.tsx
Due: xo --fix, prettier --write

Wrap checkboxes in a fieldset for better semantics
  packages/components/src/components/checkbox/examples/size.example.lite.tsx
Due: xo --fix, prettier --write
