Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue with jscpd
  packages/components/src/components/control-panel-navigation-item/control-panel-navigation-item.lite.tsx
Due: xo --fix, prettier --write

fix(angular): prevent Signal Forms RegExp[] from rendering as native pattern attribute
  packages/components/scripts/post-build/angular.ts
Due: xo --fix, prettier --write

fix(angular): ensure Signal Forms hidden() works with display:contents host
  packages/components/scripts/post-build/angular.ts
Due: xo --fix, prettier --write

fix: use onUpdate for MutationObserver, fix Angular signal TS errors, fix stale WC selector
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group.lite.tsx
  packages/components/src/components/control-panel-navigation-item/control-panel-navigation-item.lite.tsx
  packages/components/src/components/control-panel-navigation-item/control-panel-navigation-item.scss
  packages/components/src/components/control-panel-navigation-item/model.ts
  packages/components/src/components/control-panel-navigation/control-panel-navigation.lite.tsx
  packages/components/src/components/shell/examples/slots.example.lite.tsx
  packages/components/src/styles/internal/_control-panel-desktop.scss
  packages/components/src/styles/internal/_navigation-item.scss
  packages/components/src/styles/wc-workarounds.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: syntax
  packages/components/src/components/accordion/accordion.spec.tsx
Due: xo --fix, prettier --write

refactor: we obviously shouldn't revert the main aspect of this PR, the version update
  package.json
  pnpm-lock.yaml
Due: none

refactor: relevant rule overrite
  xo.config.js
Due: xo --fix, prettier --write

fix: issues with wrong imports
  packages/components/src/components/control-panel-navigation-item/model.ts
  packages/components/src/utils/navigation.ts
Due: xo --fix, prettier --write

refactor: simplification
  packages/postcss-plugin/src/plugins/flatten/helpers/resolve.ts
Due: xo --fix, prettier --write

refactor: all trailing whitespace is gone
  packages/mcp-server/scripts/build-manifest.ts
  packages/mcp-server/scripts/build-tokens.ts
  packages/mcp-server/scripts/paths.ts
  packages/mcp-server/scripts/prebuild.ts
  packages/mcp-server/src/__tests__/e2e.test.ts
  packages/mcp-server/src/data/db-ui-migration-map.ts
  packages/mcp-server/src/server.ts
  packages/mcp-server/src/tools/scanner.ts
  packages/mcp-server/src/tools/tokens.ts
  packages/mcp-server/src/tools/verify.ts
  packages/mcp-server/src/tools/visuals.ts
  packages/mcp-server/src/utils/path.ts
  packages/vite-plugin/src/index.ts
Due: xo --fix, prettier --write

fix(docs): code-fences
  packages/stylelint/README.md
Due: none

Update list-and-menu.md
  docs/research/list-and-menu.md
Due: none

fix: issues with angular build
  packages/components/src/components/control-panel-navigation/control-panel-navigation.lite.tsx
  packages/components/src/components/shell-content/shell-content.scss
  packages/components/src/components/shell/shell.scss
  packages/components/src/utils/navigation.ts
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/react-showcase/src/app.tsx
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/composables/use-layout.ts
Due: stylelint --fix, xo --fix, prettier --write

refactor: exclude tsconfig.json files that may contain comments (JSONC)
  xo.config.js
Due: xo --fix, prettier --write

refactor: remove obsolete script
  package.json
Due: none

fix: issues with tests
  packages/components/src/components/control-panel-mobile/control-panel-mobile.spec.tsx
  packages/components/src/components/control-panel-navigation/control-panel-navigation.spec.tsx
  showcases/e2e/tabs/tabs-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

refactor: remove obsolete script (#7163)
  package.json
Due: none

refactor: removed deprecated option
  showcases/next-showcase/tsconfig.json
Due: none

refactor: set "ignoreDeprecations": "6.0", as we still need moduleResolution=node10 and baseUrl
  showcases/angular-showcase/tsconfig.json
Due: none

refactor: modernize that tsconfig
  showcases/angular-showcase/tsconfig.json
Due: none

refactor: running pnpm audit --fix=override again
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(commitlint): simplify setup
  .config/.commitlintrc.json
  .github/dependabot.yml
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: none

refactor: pin Angular Storybook before bumping TypeScript
  pnpm-lock.yaml
  storybooks/angular-storybook/package.json
Due: none

Update conventions.md
  docs/conventions.md
Due: none

fix(docs): code-fences (#7161)
  docs/research/list-and-menu.md
  packages/stylelint/README.md
Due: none

refactor: migrated deprecated options
  figma-code-connect/angular-figma/tsconfig.json
  figma-code-connect/react-figma/tsconfig.json
  figma-code-connect/tsconfig.json
  figma-code-connect/vue-figma/tsconfig.json
  output/angular/tsconfig.json
  output/react/tsconfig.json
  output/stencil/tsconfig.json
  output/vue/tsconfig.json
  packages/components/tsconfig.typedoc.json
  packages/migration/tsconfig.json
  packages/vite-plugin/test/fixtures/react-app/tsconfig.node.json
  packages/vite-plugin/test/fixtures/vue-app/tsconfig.node.json
  showcases/patternhub/tsconfig.json
  showcases/screen-reader/tsconfig.json
  showcases/vue-showcase/tsconfig.json
  showcases/vue-showcase/tsconfig.node.json
Due: none

refactor: we don't need this as a direct dependency
  pnpm-lock.yaml
  storybooks/angular-storybook/package.json
Due: none

fix: build error
  storybooks/angular-storybook/.storybook/main.ts
Due: xo --fix, prettier --write
