Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: print repository settings
  .github/workflows/00-repository-settings.yml
  scripts/github/extract-name-and-base-url.js
Due: xo --fix, prettier --write

test: settings output
  .github/workflows/00-repository-settings.yml
  scripts/github/extract-name-and-base-url.js
Due: xo --fix, prettier --write

test: settings output
  .github/workflows/00-repository-settings.yml
Due: none

test: settings output
  .github/workflows/00-repository-settings.yml
  .github/workflows/01-build-storybooks.yml
Due: none

Update .github/workflows/00-cancel-workflow.yml
  .github/workflows/00-cancel-workflow.yml
Due: none

fix: improve stability of double pipeline tests and enhance snapshot regeneration logic
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/default.yml
  __snapshots__/select/showcase/chromium/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
Due: none

chore: update cancel-on-failure jobs for default.yml (#5138)
  .github/actions/cancel-workflow/action.yml
  .github/workflows/00-cancel-workflow.yml
  .github/workflows/00-init.yml
  .github/workflows/00-scan-secrets.yml
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-build-patternhub.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-get-playwright-version.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/01-lint.yml
  .github/workflows/01-test.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/99-add-url-comment.yml
  .github/workflows/default.yml
Due: none

fix: issue with missing checkout
  .github/workflows/03-preview-url-pr-description.yml
  .github/workflows/default.yml
Due: none

fix: issue with missing needs for repo-settings
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

chore: print snapshot changes
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/default.yml
  scripts/github/snapshot-changes/check.ts
Due: xo --fix, prettier --write

fix: refactor previewUrlPrDescription to destructure parameters and improve readability
  .github/workflows/03-preview-url-pr-description.yml
  scripts/github/preview-url-pr-description.js
Due: xo --fix, prettier --write

chore: reduce amount of jobs
  .github/workflows/default.yml
Due: none

fix: refactor previewUrlPrDescription to destructure parameters and improve readability
  scripts/github/preview-url-pr-description.js
Due: xo --fix, prettier --write

chore: 🤖 Add strict .npmrc file (#5118)
  .npmrc
  package.json
Due: none

Revert "chore: 🤖 Add strict .npmrc file (#5118)"
  .npmrc
  package.json
Due: none

Revert "chore: 🤖 Add strict .npmrc file (#5118)" (#5143)
  .npmrc
  package.json
Due: none

Reapply "chore: 🤖 Add strict .npmrc file (#5118)" (#5143)
  .npmrc
  package.json
Due: none

Move font-family declaration to html::after
  packages/foundations/scss/icons/relative.scss
Due: stylelint --fix

Update .npmrc
  .npmrc
Due: none

refactor: adapted pnpm
  .config/.lintstagedrc.js
  scripts/lint-packages.ts
Due: xo --fix, prettier --write

refactor: added missing aspects that got reported by our linting tools
  showcases/angular-showcase/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
