Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: align useRef and id usage in table components and hygen template
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/src/components/table-body/table-body.lite.tsx
  packages/components/src/components/table-caption/table-caption.lite.tsx
  packages/components/src/components/table-data-cell/table-data-cell.lite.tsx
  packages/components/src/components/table-footer/table-footer.lite.tsx
  packages/components/src/components/table-head/table-head.lite.tsx
  packages/components/src/components/table-header-cell/table-header-cell.lite.tsx
  packages/components/src/components/table-row/table-row.lite.tsx
  packages/components/src/components/table/table.lite.tsx
Due: xo --fix, prettier --write

docs: document attribute pass-through and Mitosis limitations in AGENTS.md
  AGENTS.md
  packages/components/AGENTS.md
Due: none

refactor: rename internal puls placeholder to indicator
  packages/components/AGENTS.md
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/styles/internal/_indicator.scss
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

fix: issues with e2e tests for angular and stencil
  showcases/e2e/control-panel-desktop/control-panel-desktop-axe-core.spec.ts
  showcases/e2e/control-panel-flat-icon/control-panel-flat-icon-axe-core.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-axe-core.spec.ts
  showcases/e2e/shell/shell-axe-core.spec.ts
  showcases/screen-reader/__snapshots__/windows/chromium/DBControlPanelMobile-default-1.txt
Due: xo --fix, prettier --write

fix: issues from PR
  packages/components/src/styles/internal/_link-components.scss
Due: stylelint --fix

fix: screen-reader results upload path
  showcases/react-showcase/playwright.screen-reader.ts
Due: xo --fix, prettier --write

fix: generating videos for screen-reader tests again
  pnpm-workspace.yaml
Due: none

fix: missing @use
  packages/components/src/components/tabs/tabs.scss
Due: stylelint --fix

chore: align useRef and id usage in table components and hygen template (#7232)
  __snapshots__/table/patternhub/table-properties-should-match-screenshot.png
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/src/components/table-body/table-body.lite.tsx
  packages/components/src/components/table-caption/table-caption.lite.tsx
  packages/components/src/components/table-data-cell/table-data-cell.lite.tsx
  packages/components/src/components/table-footer/table-footer.lite.tsx
  packages/components/src/components/table-head/table-head.lite.tsx
  packages/components/src/components/table-header-cell/table-header-cell.lite.tsx
  packages/components/src/components/table-row/table-row.lite.tsx
  packages/components/src/components/table/table.lite.tsx
Due: xo --fix, prettier --write

refactor: rerunning `pnpm audit --fix=override`
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: add subComponent flag to hygen generator
  packages/components/AGENTS.md
  packages/components/_templates/mitosis/new/component/example-density-tsx.ejs.t
  packages/components/_templates/mitosis/new/component/showcase-tsx.ejs.t
  packages/components/_templates/mitosis/new/component/spec.ejs.t
  packages/components/_templates/mitosis/new/prompt.cjs
  packages/components/_templates/mitosis/new/showcases/angular-showcase-component.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/angular-showcase-router.ejs.t
  packages/components/_templates/mitosis/new/showcases/e2e-a11y-checker-test.ejs.t
  packages/components/_templates/mitosis/new/showcases/e2e-aria-snapshot-test.ejs.t
  packages/components/_templates/mitosis/new/showcases/e2e-axe-core-test.ejs.t
  packages/components/_templates/mitosis/new/showcases/e2e-snapshot-test.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-data.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-comp-parser-switch.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-components.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-routes-imports.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-routes.ejs.t
  packages/components/_templates/mitosis/new/showcases/react-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/react-showcase-router.ejs.t
  packages/components/_templates/mitosis/new/showcases/vue-showcase-router-import.ejs.t
  packages/components/_templates/mitosis/new/showcases/vue-showcase-router.ejs.t
Due: none

refactor: updating pnpm and running pnpm audit --fix=override (#7217)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: add drawer-header-required and sub-component-required-parent ESLint rules
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/close-button/close-button-text-required.ts
  packages/eslint-plugin/src/rules/drawer/drawer-header-required.ts
  packages/eslint-plugin/src/rules/sub-component/sub-component-required-parent.ts
  packages/eslint-plugin/src/shared/constants.ts
  packages/eslint-plugin/test/frameworks/__snapshots__/frameworks.spec.ts.snap
  packages/eslint-plugin/test/frameworks/angular-test.html
  packages/eslint-plugin/test/frameworks/react-test.tsx
  packages/eslint-plugin/test/frameworks/vue-test.vue
  packages/eslint-plugin/test/rules/close-button/close-button-text-required.spec.ts
  packages/eslint-plugin/test/rules/drawer/drawer-header-required.spec.ts
  packages/eslint-plugin/test/rules/sub-component/sub-component-required-parent.spec.ts
Due: xo --fix, prettier --write

refactor: changed further places with the naming "pulse" included
  packages/components/src/components/navigation/docs/Accessibility.md
Due: none

fix: issues with missing import
  showcases/e2e/control-panel-desktop/control-panel-desktop-axe-core.spec.ts
  showcases/e2e/control-panel-flat-icon/control-panel-flat-icon-axe-core.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-axe-core.spec.ts
  showcases/e2e/shell/shell-axe-core.spec.ts
Due: xo --fix, prettier --write

chore: update snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBControlPanelDesktop-default-1.txt
Due: none

docs: document attribute pass-through and Mitosis limitations in AGENTS.md (#7233)
  AGENTS.md
  packages/components/AGENTS.md
Due: none

chore: update direction property for drawer
  docs/migration/v4.x.x-to-v5.0.0.md
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/examples/_drawer.arg.types.ts
  packages/components/src/components/drawer/examples/direction.example.lite.tsx
  packages/components/src/components/drawer/examples/size.example.lite.tsx
  packages/components/src/components/drawer/figma/drawer.figma.lite.tsx
  packages/components/src/components/drawer/figma/drawer.figma.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/header.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

refactor: rename internal puls placeholder to indicator (#7234)
  packages/components/AGENTS.md
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/styles/internal/_indicator.scss
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

fix: resolve missing CI artifacts for screen-reader Playwright tests (#7237)
  pnpm-workspace.yaml
  showcases/react-showcase/playwright.screen-reader.ts
Due: xo --fix, prettier --write

fix: ignore unresolvable ./tab-panel import in knip
  .config/knip.jsonc
Due: none

fix: regenerated this snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
Due: none

refactor: changed further places with the naming "pulse" included (#7242)
  packages/components/src/components/navigation/docs/Accessibility.md
Due: none

Update AGENTS.md
  packages/postcss-plugin/AGENTS.md
Due: none

Update README.md
  packages/postcss-plugin/README.md
Due: none
