Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: changed component events to use types
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/react.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/alert/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/card/model.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/header/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/model.ts
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/radio/model.ts
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/shared/model.ts
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/meta-navigation/index.tsx
Due: xo --fix, prettier --write

fix: issues with patternhub and new events
  showcases/patternhub/scripts/get-example-file.js
  showcases/patternhub/scripts/get-properties-file.js
Due: xo --fix, prettier --write

fix: issues from PR
  packages/components/src/components/alert/alert.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/shared/model.ts
  showcases/react-showcase/src/components/form/index.tsx
Due: xo --fix, prettier --write

fix: issue with vue build
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/react.js
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

Discard changes to packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/angular.js
Due: xo --fix, prettier --write

Update angular.js
  packages/components/scripts/post-build/angular.js
Due: xo --fix, prettier --write

fix: issue with react build
  packages/components/scripts/post-build/react.js
Due: xo --fix, prettier --write

fix: issue with data-icon-none shown as invisible icon
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/foundations/scss/icons/include.scss
Due: stylelint --fix

refactor: rename force-mobile to data-force-mobile
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/header.scss
  packages/foundations/scss/_screen-sizes.scss
Due: stylelint --fix, xo --fix, prettier --write

chore: remove as * from scss and documentation
  docs/how-to-develop-a-component.md
  output/angular/README.md
  output/react/README.md
  output/vue/vue3/README.md
  packages/components/_templates/mitosis/new/component/db-ui-components.ejs.t
  packages/components/_templates/mitosis/new/db-ui-components-use.ejs.t
  packages/components/src/components/input/docs/Angular.md
  packages/components/src/components/input/docs/HTML.md
  packages/components/src/components/input/docs/React.md
  packages/components/src/components/input/docs/Vue.md
  packages/components/src/components/input/input.scss
  packages/components/src/styles/db-ui-42-rollup.scss
  packages/components/src/styles/db-ui-42-webpack.scss
  packages/components/src/styles/db-ui-components.scss
Due: stylelint --fix

fix: issue with missing logo
  showcases/react-showcase/vite.config.ts
  showcases/vue-showcase/vite.config.ts
Due: xo --fix, prettier --write

chore: moved generate-icon-font to own package
  package-lock.json
  packages/foundations/docs/CustomIcons.md
  packages/foundations/package.json
  packages/foundations/scripts/clean-icons/cli.js
  packages/foundations/scripts/clean-icons/index.js
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
  packages/foundations/scripts/generate-icon-fonts/index.js
  packages/foundations/scripts/generate-icon-fonts/styles/font-face.css
  packages/foundations/scripts/generate-icon-fonts/styles/index.css
  packages/foundations/scripts/generate-icon-fonts/svg-to-font.js
  packages/foundations/scripts/generate-icon-fonts/templates/template.ejs
  packages/foundations/scripts/program.js
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with duplicated event for drawer in react
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/react.js
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

fix: issue with releasing icon assets
  .github/scripts/release/upload-asset.js
Due: xo --fix, prettier --write

fix: issue with icon fonts
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
  showcases/angular-showcase/src/app/app.component.html
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/components/brand/Brand.vue
Due: none

fix: issue with bad color-scheme changes
  packages/foundations/docs/Colors.md
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/color-scheme.scss
  packages/foundations/scss/default-theme.scss
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with wrong properties for brand
  showcases/patternhub/components/default-page.tsx
Due: xo --fix, prettier --write

chore: add migration for brand
  packages/components/src/components/brand/docs/Migration.md
Due: none

chore: update snapshots
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
Due: none

chore: update snapshots
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
Due: none

refactor: reenabled firefox for testing
  packages/components/test/playwright/config.ts
  showcases/playwright.config.ts
Due: xo --fix, prettier --write

Update Colors.md
  packages/foundations/docs/Colors.md
Due: none

chore: there are more tags in the HTML standard than only div
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

chore: slight modifications
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
Due: xo --fix, prettier --write

refactor: optimized implementation regarding styling reusage
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_icon-passing.scss
Due: stylelint --fix

refactor: migrated vue and react frameworks templates
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/tag/Tag.vue
Due: xo --fix, prettier --write

fix: asset upload
  .github/scripts/release/index.js
  .github/scripts/release/upload-asset.js
Due: xo --fix, prettier --write

test: upload-asset.js
  .github/scripts/release/upload-asset.js
Due: xo --fix, prettier --write

test: upload-asset.js
  .github/scripts/release/index.js
  .github/scripts/release/upload-asset.js
Due: xo --fix, prettier --write

refactor: added relevant attribute
  showcases/angular-showcase/src/app/components/tag/tag.component.html
Due: none

Update tag.json
  showcases/shared/tag.json
Due: none

chore: update download & upload artifacts
  .github/actions/download-tar-artifact/action.yml
  .github/actions/upload-tar-artifact/action.yml
  .github/workflows/00-init.yml
  .github/workflows/00-scan-secrets.yml
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/01-lint.yml
  .github/workflows/01-test.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/03-publish-packages.yml
  .github/workflows/99-add-url-comment.yml
  .github/workflows/99-auto-merge.yml
  .github/workflows/99-codeql-analysis.yml
  .github/workflows/99-dependency-review.yml
  .github/workflows/cleanup.yml
  .github/workflows/update-prs.yml
Due: none

chore: update snapshots
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
