Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor(packages): delivering CHANGELOG.md file as well (#5100)
  .npmignore
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  packages/components/package.json
  packages/foundations/package.json
  packages/migration/package.json
  packages/stylelint/package.json
Due: none

fix(ci/cd): file reference (#5114)
  .changeset/keyboard-navigation-option-groups.md
  .changeset/shaggy-ligers-grow.md
  output/angular/CHANGELOG.md
  output/angular/package.json
  output/react/CHANGELOG.md
  output/react/package.json
  output/stencil/CHANGELOG.md
  output/stencil/package.json
  output/vue/CHANGELOG.md
  output/vue/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/foundations/CHANGELOG.md
  packages/foundations/package.json
  packages/migration/CHANGELOG.md
  packages/migration/package.json
  packages/stylelint/CHANGELOG.md
  packages/stylelint/package.json
  scripts/github/changesets/publish.ts
Due: xo --fix, prettier --write

feat: added dependabot cooldown feature (#5104)
  .github/dependabot.yml
Due: none

Fix color mode for textarea resizer control
  .changeset/chatty-jobs-tell.md
Due: none

fix: color mode for textarea resizer control set by color-mode-switch documentation UI component (#5110)
  .changeset/chatty-jobs-tell.md
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

chore(package.json): added missing entries (#5090)
  e2e/package.json
Due: none

Update .github/workflows/99-add-url-comment.yml
  .github/workflows/99-add-url-comment.yml
Due: none

Update .github/workflows/99-labeler.yml
  .github/workflows/99-labeler.yml
Due: none

Update .github/workflows/cleanup.yml
  .github/workflows/cleanup.yml
Due: none

chore: 🤖 Add strict .npmrc file
  .npmrc
  package.json
Due: none

Update packages/components/src/components/input/docs/React.md
  packages/components/src/components/input/docs/React.md
Due: none

refactor: add permissions blocks to GitHub workflows for least privilege security (#4933)
  .github/workflows/00-init.yml
  .github/workflows/00-scan-secrets.yml
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-build-patternhub.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/01-get-playwright-version.yml
  .github/workflows/01-get-publish-version.yml
  .github/workflows/01-init-playwright.yml
  .github/workflows/01-lint.yml
  .github/workflows/01-test.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/99-add-url-comment.yml
  .github/workflows/99-auto-merge.yml
  .github/workflows/99-dependency-review.yml
  .github/workflows/99-labeler.yml
  .github/workflows/cleanup.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

chore(docs): added comment on date input in React with iOS Voiceover usage (#5113)
  packages/components/src/components/input/docs/React.md
Due: none

Update showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/components/default-component.tsx
Due: xo --fix, prettier --write

fix(): update list item count in default selection
  showcases/screen-reader/__snapshots__/windows/chromium/DBSelect-default-1.txt
Due: none

refactor: only having one mixin file within the repo
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/custom-select-dropdown/custom-select-dropdown.scss
  packages/components/src/components/custom-select-form-field/custom-select-form-field.scss
  packages/components/src/components/custom-select-list-item/custom-select-list-item.scss
  packages/components/src/components/custom-select-list/custom-select-list.scss
  packages/components/src/components/custom-select/custom-select.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/page/page.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/tab-panel/tab-panel.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/internal/_display.scss
  packages/components/src/styles/internal/_link-components.scss
  packages/components/src/styles/internal/_stack-components.scss
Due: stylelint --fix

refactor: consolidating the @use definitions
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/custom-select-dropdown/custom-select-dropdown.scss
  packages/components/src/components/custom-select-form-field/custom-select-form-field.scss
  packages/components/src/components/custom-select-list-item/custom-select-list-item.scss
  packages/components/src/components/custom-select/custom-select.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/internal/_link-components.scss
  packages/components/src/styles/internal/_stack-components.scss
  packages/foundations/scss/helpers/_index.scss
Due: stylelint --fix

refactor: corrected those path
  packages/components/src/styles/internal/_button-components.scss
  packages/components/src/styles/internal/_form-components.scss
  showcases/patternhub/styles/decision-tree.scss
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/styles/playgrounds.scss
Due: stylelint --fix

refactor: corrected the reference
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/card/card.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/custom-select-dropdown/custom-select-dropdown.scss
  packages/components/src/components/custom-select-form-field/custom-select-form-field.scss
  packages/components/src/components/custom-select-list-item/custom-select-list-item.scss
  packages/components/src/components/custom-select/custom-select.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/components/src/styles/internal/_link-components.scss
  packages/components/src/styles/internal/_stack-components.scss
Due: stylelint --fix

docs(select): aligned data (#4787)
  .config/.jscpd.json
  __snapshots__/custom-select/showcase/chromium-highContrast/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/chromium/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/firefox/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/firefox/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-chrome/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-safari/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/webkit/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/chromium/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/firefox/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/mobile-chrome/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/patternhub/select-docs-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/chromium/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/firefox/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-safari/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/webkit/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  packages/components/src/components/custom-select/custom-select.spec.tsx
  packages/components/src/components/custom-select/docs/Angular.md
  packages/components/src/components/custom-select/docs/HTML.md
  packages/components/src/components/custom-select/docs/React.md
  packages/components/src/components/custom-select/docs/Vue.md
  packages/components/src/components/select/docs/Angular.md
  packages/components/src/components/select/docs/HTML.md
  packages/components/src/components/select/docs/React.md
  packages/components/src/components/select/docs/Vue.md
  packages/components/src/components/select/index.html
  packages/components/src/components/select/select.spec.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/screen-reader/__snapshots__/windows/chromium/DBSelect-default-1.txt
  showcases/shared/custom-select.json
  showcases/shared/select.json
  showcases/vue-showcase/src/components/form/Form.vue
Due: xo --fix, prettier --write

Update .npmrc
  .npmrc
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
