Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix(DBControlPanel): correct drilldown overlay width and scroll-reset boundary
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-drilldown.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

refactor(Axe): brand-button contrast false positive (#8257)
  showcases/e2e/default.ts
  showcases/e2e/dialog/dialog-a11y-checker.spec.ts
  showcases/e2e/dialog/dialog-aria-snapshot.spec.ts
  showcases/e2e/dialog/dialog-axe-core.spec.ts
  showcases/e2e/dialog/dialog-visual-snapshot.spec.ts
  showcases/e2e/dialog/index.ts
Due: xo --fix, prettier --write

fix: figma node IDs (#8262)
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
  packages/components/src/components/pagination/figma/pagination.figma.ts
Due: xo --fix, prettier --write

fix(DBIcon): stop requiring content on an always-decorative icon (#8259)
  .changeset/icon-decorative-docs.md
  .changeset/icon-decorative-no-content-required.md
  packages/components/src/components/icon/agent/icon.agent.lite.tsx
  packages/components/src/components/icon/docs/Accessibility.md
  packages/components/src/components/icon/docs/Angular.md
  packages/components/src/components/icon/docs/React.md
  packages/components/src/components/icon/docs/Vue.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/frameworks/__snapshots__/frameworks.spec.ts.snap
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor(DBShell): simplify mobile grid guard and show footer in example
  packages/components/src/components/shell/examples/content.example.lite.tsx
  packages/components/src/components/shell/shell-mobile.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: designing issues
  packages/components/src/components/breadcrumb-item/breadcrumb-item.scss
  packages/components/src/components/breadcrumb-truncation-item/breadcrumb-truncation-item.scss
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.scss
  packages/components/src/components/breadcrumb/examples/badge.example.lite.tsx
  packages/components/src/components/breadcrumb/showcase/breadcrumb.showcase.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

docs(breadcrumb): fix nested-list model and item-count wording
  docs/research/breadcrumb.md
Due: none

docs(breadcrumb): add design-system research and component API exploration (#8177)
  .config/cspellignorewords.txt
  docs/research/breadcrumb.md
Due: none

fix(DBBreadcrumb): address review feedback
  packages/components/src/components/breadcrumb-truncation-item/breadcrumb-truncation-item.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/model.ts
Due: xo --fix, prettier --write

fix(DBFooterMeta): remove double space before the copyright holder in Angular
  .changeset/footer-meta-angular-copyright-spacing.md
  packages/components/src/components/footer-meta/footer-meta.lite.tsx
Due: xo --fix, prettier --write

fix: issue with cspell
  .config/cspellignorewords.txt
Due: none

fix: issue with popover flaky test
  showcases/e2e/fixtures/hover.ts
  showcases/e2e/popover/popover-aria-snapshot.spec.ts
  showcases/e2e/popover/popover-axe-core.spec.ts
  showcases/e2e/popover/popover-visual-snapshot.spec.ts
  showcases/e2e/tooltip/tooltip-aria-snapshot.spec.ts
  showcases/e2e/tooltip/tooltip-axe-core.spec.ts
  showcases/e2e/tooltip/tooltip-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

fix: issue with popover flaky test (#8287)
  showcases/e2e/fixtures/hover.ts
  showcases/e2e/popover/popover-aria-snapshot.spec.ts
  showcases/e2e/popover/popover-axe-core.spec.ts
  showcases/e2e/popover/popover-visual-snapshot.spec.ts
  showcases/e2e/tooltip/tooltip-aria-snapshot.spec.ts
  showcases/e2e/tooltip/tooltip-axe-core.spec.ts
  showcases/e2e/tooltip/tooltip-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

fix(DBPopover): controlled open no longer freezes the page in Angular (#8245)
  .changeset/fix-controlled-popover-freeze.md
  __snapshots__/popover/showcase/chromium-highContrast/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBPopover-should-have-same-aria-snapshot.yaml
  __snapshots__/popover/showcase/chromium/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium/should-have-same-aria-snapshot/DBPopover-should-have-same-aria-snapshot.yaml
  __snapshots__/popover/showcase/firefox/should-have-same-aria-snapshot/DBPopover-should-have-same-aria-snapshot.yaml
  __snapshots__/popover/showcase/mobile-chrome/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-chrome/should-have-same-aria-snapshot/DBPopover-should-have-same-aria-snapshot.yaml
  __snapshots__/popover/showcase/mobile-safari/should-have-same-aria-snapshot/DBPopover-should-have-same-aria-snapshot.yaml
  __snapshots__/popover/showcase/webkit/should-have-same-aria-snapshot/DBPopover-should-have-same-aria-snapshot.yaml
  packages/components/src/components/popover/examples/controlled.example.lite.tsx
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/popover/showcase/popover.showcase.lite.tsx
  showcases/e2e/popover/popover-controlled.spec.ts
Due: xo --fix, prettier --write

Apply batched suggestions from code review
  .changeset/date-input-keeps-partial-entry.md
  .changeset/input-reset-writes-to-element.md
Due: none

fix(DBControlPanel): correct drilldown scroll-reset boundary and overlay width
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-drilldown.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group.lite.tsx
  packages/components/src/components/control-panel-navigation-item-group/model.ts
Due: stylelint --fix, xo --fix, prettier --write

style(Dialog & Drawer): corrected the headlines `font-family`
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix

docs(DBFooter): document footer composition with DBShell (#8249)
  .changeset/footer-meta-angular-copyright-spacing.md
  .changeset/shell-footer-docs-and-mobile-grid.md
  __snapshots__/footer/patternhub/footer-docs-should-match-screenshot.png
  __snapshots__/shell/showcase/chromium-highContrast/DBShell-should-match-screenshot-1/DBShell-should-match-screenshot.png
  __snapshots__/shell/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBShell-should-have-same-aria-snapshot.yaml
  __snapshots__/shell/showcase/chromium/DBShell-should-match-screenshot-1/DBShell-should-match-screenshot.png
  __snapshots__/shell/showcase/chromium/should-have-same-aria-snapshot/DBShell-should-have-same-aria-snapshot.yaml
  __snapshots__/shell/showcase/firefox/DBShell-should-match-screenshot-1/DBShell-should-match-screenshot.png
  __snapshots__/shell/showcase/firefox/should-have-same-aria-snapshot/DBShell-should-have-same-aria-snapshot.yaml
  __snapshots__/shell/showcase/mobile-chrome/DBShell-should-match-screenshot-1/DBShell-should-match-screenshot.png
  __snapshots__/shell/showcase/mobile-chrome/should-have-same-aria-snapshot/DBShell-should-have-same-aria-snapshot.yaml
  __snapshots__/shell/showcase/mobile-safari/should-have-same-aria-snapshot/DBShell-should-have-same-aria-snapshot.yaml
  __snapshots__/shell/showcase/webkit/should-have-same-aria-snapshot/DBShell-should-have-same-aria-snapshot.yaml
  docs/migration/400-500/shell/Angular.md
  docs/migration/400-500/shell/React.md
  docs/migration/400-500/shell/Vue.md
  packages/components/agent/Best-Practise_Common-AI-Mistakes.md
  packages/components/src/components/footer-meta/footer-meta.lite.tsx
  packages/components/src/components/footer/docs/Angular.md
  packages/components/src/components/footer/docs/HTML.md
  packages/components/src/components/footer/docs/Migration.md
  packages/components/src/components/footer/docs/React.md
  packages/components/src/components/footer/docs/Vue.md
  packages/components/src/components/shell-content/docs/Angular.md
  packages/components/src/components/shell-content/docs/HTML.md
  packages/components/src/components/shell-content/docs/React.md
  packages/components/src/components/shell-content/docs/Vue.md
  packages/components/src/components/shell/docs/Angular.md
  packages/components/src/components/shell/docs/HTML.md
  packages/components/src/components/shell/docs/React.md
  packages/components/src/components/shell/docs/Vue.md
  packages/components/src/components/shell/examples/content.example.lite.tsx
  packages/components/src/components/shell/shell-mobile.scss
  packages/components/src/components/shell/shell.spec.tsx
  showcases/patternhub/data/components.json
  showcases/patternhub/tests/default.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

Create thin-needles-shine.md
  .changeset/thin-needles-shine.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
