Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

docs(loading-indicator): add multiline and backdrop from figma update
  packages/agent-cli/knowledge-database/components/loading-indicator/figma.json
  packages/agent-cli/knowledge-database/components/loading-indicator/guidelines.md
  packages/agent-cli/knowledge-database/components/loading-indicator/properties.json
Due: none

docs(knowledge-database): note loading-indicator multiline and backdrop findings
  packages/agent-cli/knowledge-database/TODO.md
  packages/agent-cli/knowledge-database/inconsistencies.md
Due: none

refactor(DBFooter): default the content area lists to a vertical stack
  packages/components/src/components/footer-content/footer-content.scss
  packages/components/src/components/footer/examples/complex-composition.example.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix: not clipping dialog content anymore
  packages/components/src/styles/internal/_dialog-ponyfill.scss
Due: stylelint --fix

refactor: adding the necessary semantic header
  packages/components/src/components/dialog/docs/React.md
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
  packages/components/src/components/drawer/examples/areas.example.lite.tsx
  packages/components/src/components/drawer/examples/backdrop.example.lite.tsx
  packages/components/src/components/drawer/examples/density.example.lite.tsx
  packages/components/src/components/drawer/examples/direction.example.lite.tsx
  packages/components/src/components/drawer/examples/example.example.lite.tsx
  packages/components/src/components/drawer/examples/position.example.lite.tsx
  packages/components/src/components/drawer/examples/rounded.example.lite.tsx
  packages/components/src/components/drawer/examples/show-spacing.example.lite.tsx
  packages/components/src/components/drawer/examples/size.example.lite.tsx
Due: xo --fix, prettier --write

refactor: adding the necessary semantic header
  packages/components/src/components/drawer-header/examples/example.example.lite.tsx
  packages/components/src/components/drawer-header/examples/slots.example.lite.tsx
Due: xo --fix, prettier --write

Apply batched suggestions from code review
  .changeset/dialog-component.md
Due: none

refactor: use the published closeButtonText prop in the example
  packages/components/src/components/dialog-header/docs/Angular.md
  packages/components/src/components/dialog-header/docs/React.md
  packages/components/src/components/dialog-header/docs/Vue.md
Due: none

docs(dialog components): not documenting incomplete sub-component structures
  packages/components/src/components/dialog-footer/docs/Angular.md
  packages/components/src/components/dialog-footer/docs/HTML.md
  packages/components/src/components/dialog-footer/docs/React.md
  packages/components/src/components/dialog-footer/docs/Vue.md
  packages/components/src/components/dialog-header/docs/Angular.md
  packages/components/src/components/dialog-header/docs/HTML.md
  packages/components/src/components/dialog-header/docs/React.md
  packages/components/src/components/dialog-header/docs/Vue.md
Due: none

refactor: include dialog-init in the standalone dialog stylesheet
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

refactor: keep dialog chrome out of page-level landmarks
  .changeset/drawer-chrome-no-landmark.md
  __snapshots__/dialog/component/chromium/DBDialog-should-have-same-aria-snapshot.yaml
  __snapshots__/dialog/component/firefox/DBDialog-should-have-same-aria-snapshot.yaml
  __snapshots__/dialog/component/mobile-chrome/DBDialog-should-have-same-aria-snapshot.yaml
  packages/components/src/components/dialog-footer/dialog-footer.lite.tsx
  packages/components/src/components/dialog-header/dialog-header.lite.tsx
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/drawer-footer/drawer-footer.lite.tsx
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
Due: xo --fix, prettier --write

fix: check the actual command-for IDL property
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/drawer/docs/HTML.md
  packages/components/src/components/header/docs/HTML.md
Due: none

docs: arguments for not reopening the dialog when backdrop changes modality
  packages/components/AGENTS.md
  packages/components/src/components/dialog/dialog.lite.tsx
Due: xo --fix, prettier --write

fix: restrict the backdrop hit area to the dismiss button
  packages/components/src/styles/internal/_dialog-ponyfill.scss
Due: stylelint --fix

fix(DBPaginationItem): style the control in Angular and Stencil as well
  packages/components/src/components/pagination-item/pagination-item.scss
Due: stylelint --fix

refactor: corrected the codestyle
  .changeset/dialog-component.md
Due: none

Update renovate.json
  .github/renovate.json
Due: none

Apply suggestion from @mfranzke
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

fix: test by adding semantics
  packages/components/src/components/drawer-header/drawer-header.spec.tsx
Due: xo --fix, prettier --write

fix: linting
  .config/cspellignorewords.txt
Due: none

feat: add dialog transition for better ux
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

fix: issues with loading-indicator percentage
  packages/components/src/components/loading-indicator/loading-indicator.lite.tsx
  packages/components/src/components/loading-indicator/loading-indicator.scss
  packages/components/src/components/loading-indicator/model.ts
Due: stylelint --fix, xo --fix, prettier --write

style: size the dialog against the dynamic viewport
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

docs: mark unsupported closedby in the HTML fallback
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/drawer/docs/HTML.md
Due: none

fix(DBFooter): register the parent in the Patternhub parser and restore hidden component tests
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/scripts/generate-test-table.js
  showcases/patternhub/tests/default.spec.ts
Due: xo --fix, prettier --write

refactor: preserve cleanup for drawers without an explicit id
  packages/components/src/components/dialog-header/dialog-header.lite.tsx
  packages/components/src/components/dialog-header/model.ts
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
  packages/components/src/components/drawer-header/model.ts
  packages/components/src/utils/dialog/index.spec.ts
  packages/components/src/utils/dialog/index.ts
Due: xo --fix, prettier --write

fix(DBFooter): show the real width behaviour and align meta spacing and link size
  packages/components/src/components/footer-meta/footer-meta.scss
  packages/components/src/components/footer/footer.spec.tsx
  showcases/showcase-styles.css
Due: stylelint --fix, xo --fix, prettier --write

refactor(mcp-server): migrate to MCP TypeScript SDK v2
  .changeset/mcp-server-sdk-v2.md
  packages/mcp-server/AGENTS.md
  packages/mcp-server/CONTEXT.md
  packages/mcp-server/esbuild.js
  packages/mcp-server/package.json
  packages/mcp-server/src/__tests__/e2e.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/prompts/schemas.ts
  packages/mcp-server/src/server.ts
  packages/mcp-server/src/tools/schemas.ts
  pnpm-lock.yaml
Due: xo --fix, prettier --write

refactor: preserve headline typography in the shared header mixin
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix

refactor(DBFooter): apply review suggestions for meta padding and label gap
  packages/components/src/components/footer-meta/footer-meta.scss
  packages/components/src/components/footer/examples/optional-areas.example.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix: issues with angular build
  packages/components/src/components/loading-indicator/loading-indicator.lite.tsx
  packages/components/src/components/loading-indicator/model.ts
Due: xo --fix, prettier --write

refactor(DBFooter): drop the ineffective flex-direction
  packages/components/src/components/footer/footer.scss
Due: stylelint --fix

feat(mcp-server): serve protocol revision 2026-07-28 via serveStdio
  .changeset/mcp-server-protocol-2026-07-28.md
  packages/mcp-server/AGENTS.md
  packages/mcp-server/CONTEXT.md
  packages/mcp-server/README.md
  packages/mcp-server/src/__tests__/e2e.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server.ts
Due: xo --fix, prettier --write

chore(mcp-server): consolidate the two changesets into one
  .changeset/mcp-server-protocol-2026-07-28.md
  .changeset/mcp-server-sdk-v2.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
