Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: corrected the structure
  packages/components/_templates/mitosis/new/showcases/shared-component-variants.ejs.t
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/react-showcase/src/components/default-component.tsx
  showcases/shared/accordion-item.json
  showcases/shared/accordion.json
  showcases/shared/badge.json
  showcases/shared/brand.json
  showcases/shared/button.json
  showcases/shared/card.json
  showcases/shared/checkbox.json
  showcases/shared/default-component-data.ts
  showcases/shared/divider.json
  showcases/shared/drawer.json
  showcases/shared/header.json
  showcases/shared/icon.json
  showcases/shared/infotext.json
  showcases/shared/input.json
  showcases/shared/link.json
  showcases/shared/navigation-item.json
  showcases/shared/navigation.json
  showcases/shared/notification.json
  showcases/shared/page.json
  showcases/shared/popover.json
  showcases/shared/radio.json
  showcases/shared/section.json
  showcases/shared/select.json
  showcases/shared/switch.json
  showcases/shared/tab-item.json
  showcases/shared/tabs.json
  showcases/shared/tag.json
  showcases/shared/textarea.json
  showcases/shared/tooltip.json
  showcases/vue-showcase/src/components/DefaultComponent.vue
Due: xo --fix, prettier --write

fix: issue for vue-tsc
  packages/components/scripts/post-build/vue.ts
Due: xo --fix, prettier --write

docs: add a warning for application owners regarding Samsung Internet browser support
  README.md
Due: none

Update README.md
  README.md
Due: none

refactor: introducing typed CSS Custom Properties
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/default-theme.scss
Due: stylelint --fix

docs: corrected path
  packages/foundations/assets/icons/README.md
Due: none

docs: clarity
  packages/foundations/docs/CustomIcons.md
Due: none

refactor: icon update (fonts)
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
Due: none

refactor: resilience
  .husky/pre-commit
Due: none

feat: update release-candidate branch
  .github/workflows/update-release-candidate-branch.yml
Due: none

refactor: readded focus box-shadow
  packages/foundations/scss/helpers/_focus.scss
Due: stylelint --fix

refactor: "preinstall" dev dependency
  package-lock.json
  packages/foundations/package.json
Due: none

refactor: provide this property within the Styling API
  packages/foundations/scss/helpers/_focus.scss
Due: stylelint --fix

refactor: updated font
  packages/components/src/shared/all-icons.ts
  packages/components/src/shared/icon-types.ts
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
Due: xo --fix, prettier --write

refactor: needed to add some aspects to ignore in git
  .gitignore
Due: none

refactor: updated font
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
Due: none

fix: issue with changes for angular components
  packages/components/scripts/post-build/vue.ts
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/components/header/header.component.html
  showcases/angular-showcase/src/app/components/switch/switch.component.html
Due: xo --fix, prettier --write

feat: we need to ensure that the SVG optimizations are actually getting written to the SVG files
  packages/foundations/package.json
Due: none

fix: issue with types
  output/vue/scripts/fix-any-types.ts
Due: xo --fix, prettier --write

chore: update maxDiffPixels for screenshot tests
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: none

chore: set fixedHeight for divider snapshot
  showcases/e2e/divider/divider-snapshots.spec.ts
Due: xo --fix, prettier --write

refactor: formatting
  packages/components/src/shared/all-icons.ts
Due: xo --fix, prettier --write

refactor: formatting
  packages/components/src/shared/icon-types.ts
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/divider/showcase/chromium-highContrast/DBDivider-should-match-screenshot-1/DBDivider-should-match-screenshot.png
  __snapshots__/divider/showcase/chromium/DBDivider-should-match-screenshot-1/DBDivider-should-match-screenshot.png
  __snapshots__/divider/showcase/firefox/DBDivider-should-match-screenshot-1/DBDivider-should-match-screenshot.png
  __snapshots__/divider/showcase/mobile-chrome/DBDivider-should-match-screenshot-1/DBDivider-should-match-screenshot.png
  __snapshots__/divider/showcase/mobile-safari/DBDivider-should-match-screenshot-1/DBDivider-should-match-screenshot.png
  __snapshots__/divider/showcase/webkit/DBDivider-should-match-screenshot-1/DBDivider-should-match-screenshot.png
Due: none

fix: issue with data-semantic infotext for form-components
  packages/components/src/styles/_form-components.scss
  showcases/react-showcase/src/components/form/input.tsx
  showcases/shared/checkbox.json
Due: stylelint --fix, xo --fix, prettier --write

refactor: simplification
  packages/foundations/scss/helpers/_focus.scss
Due: stylelint --fix

chore: update snapshots
  __snapshots__/checkbox/component/firefox/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/input/component/firefox/DBInput-should-match-screenshot.png
  __snapshots__/select/component/firefox/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/component/firefox/DBTextarea-should-match-screenshot.png
Due: none

docs: added migration for icons
  docs/migration/v0.3.x-to-v0.4.x.md
Due: none

fix: we need to separate the npx from @db-ui/gif parameters
  packages/foundations/package.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
