Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Update _scrollbar.scss
  packages/components/src/styles/internal/_scrollbar.scss
Due: stylelint --fix

feat: add field-sizing for input and textarea (#4254)
  __snapshots__/textarea/showcase/chromium-highContrast/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/firefox/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/internal/_form-components.scss
  packages/components/src/styles/internal/_scrollbar.scss
  showcases/angular-showcase/src/app/components/textarea/textarea.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/textarea/index.tsx
  showcases/shared/textarea.json
  showcases/vue-showcase/src/components/textarea/Textarea.vue
Due: stylelint --fix, xo --fix, prettier --write

refactor: regenerated package lock file
  package-lock.json
Due: none

chore: converted declarations to dataset JS API
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/utils/floating-components.ts
  showcases/e2e/fixtures/hover.ts
Due: xo --fix, prettier --write

refactor: updated package lock file
  package-lock.json
Due: none

refactor: setting browser to reducedMotion
  packages/foundations/test/playwright.config.js
  showcases/playwright.patternhub-config.ts
Due: xo --fix, prettier --write

refactor: let's not wait for animations anymore
  showcases/e2e/fixtures/hover.ts
Due: xo --fix, prettier --write

Update .github/workflows/default.yml
  .github/workflows/default.yml
Due: none

chore: we won't need an approval
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

Update 02-e2e-regenerated-snapshots-commit.yml
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

Apply suggestions from code review
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

Revert "Update 02-e2e-regenerated-snapshots-commit.yml"
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

refactor: another try
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

Reapply "Update 02-e2e-regenerated-snapshots-commit.yml"
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

Revert "refactor: another try"
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

Update hover.ts
  showcases/e2e/fixtures/hover.ts
Due: xo --fix, prettier --write

Update .gitattributes
  .gitattributes
Due: none

Update conventions.md
  docs/conventions.md
Due: none

Revert "auto update snapshots (#4355)"
  __snapshots__/divider/patternhub/divider-overview-should-match-screenshot.png
Due: none

Update docs/conventions.md
  docs/conventions.md
Due: none

refactor: back for good
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

fix(docs): contributions contents (#2912)
  .gitattributes
  docs/conventions.md
Due: none
