Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

feat: enabled variant property
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.scss
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.html
  showcases/react-showcase/src/components/tooltip/index.tsx
  showcases/shared/tooltip.json
  showcases/vue-showcase/src/components/tooltip/Tooltip.vue
Due: stylelint --fix, xo --fix, prettier --write

docs: order and label
  showcases/shared/tooltip.json
Due: none

refactor: slightly rounding the arrows edge
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

style: further optimizations
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

style: further optimization
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

refactor: added missing property
  packages/components/src/components/button/button.lite.tsx
Due: xo --fix, prettier --write

fix: pattern hub simplicity
  showcases/shared/tooltip.json
Due: none

feat: connecting element and its tooltip
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.html
  showcases/react-showcase/src/components/tooltip/index.tsx
  showcases/shared/tooltip.json
  showcases/vue-showcase/src/components/tooltip/Tooltip.vue
Due: xo --fix, prettier --write

refactor: corrected the arrow "top" border radius
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

refactor: added border
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_popover-component.scss
Due: stylelint --fix

Update tooltip.spec.tsx
  packages/components/src/components/tooltip/tooltip.spec.tsx
Due: xo --fix, prettier --write

refactor: added necessary attributes to connect element and its tooltip
  packages/components/src/components/tooltip/docs/Angular.md
  packages/components/src/components/tooltip/docs/HTML.md
  packages/components/src/components/tooltip/docs/React.md
  packages/components/src/components/tooltip/docs/Vue.md
  packages/components/src/components/tooltip/index.html
Due: none

Update tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

Update model.ts
  packages/components/src/components/popover/model.ts
Due: xo --fix, prettier --write

Update Angular.md
  packages/components/src/components/popover/docs/Angular.md
Due: none

Update HTML.md
  packages/components/src/components/popover/docs/HTML.md
Due: none

Update index.html
  packages/components/src/components/popover/index.html
Due: none

Update Vue.md
  packages/components/src/components/popover/docs/Vue.md
Due: none

Update React.md
  packages/components/src/components/popover/docs/React.md
Due: none

Update popover.spec.tsx
  packages/components/src/components/popover/popover.spec.tsx
Due: xo --fix, prettier --write

fix: issues with snapshots
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/components/textarea/textarea.scss
Due: stylelint --fix

chore: update from main
  packages/foundations/README.md
  packages/foundations/docs/Icons.md
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

fix: issue with missing prop for vue textarea
  packages/components/src/components/textarea/textarea.scss
  showcases/vue-showcase/src/components/textarea/Textarea.vue
Due: stylelint --fix

fix: issue with wrong @use
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

Update Colors.md
  packages/foundations/docs/Colors.md
Due: none

Update Icons.md
  packages/foundations/docs/Icons.md
Due: none

fix: issue with mobile textarea
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-safari/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/webkit/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

Update Variables.md
  packages/foundations/docs/Variables.md
Due: none

Update overview.tsx
  showcases/patternhub/pages/foundations/colors/overview.tsx
Due: xo --fix, prettier --write

Update overview.tsx
  showcases/patternhub/pages/foundations/icons/overview.tsx
Due: xo --fix, prettier --write

chore: update behaviour property for popover/tooltip
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/_popover-component.scss
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/_variables.scss
  showcases/angular-showcase/src/app/components/popover/popover.component.html
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.html
  showcases/react-showcase/src/components/popover/index.tsx
  showcases/react-showcase/src/components/tooltip/index.tsx
  showcases/shared/popover.json
  showcases/shared/tooltip.json
  showcases/vue-showcase/src/components/popover/Popover.vue
  showcases/vue-showcase/src/components/tooltip/Tooltip.vue
Due: stylelint --fix, xo --fix, prettier --write

chore: update remark-gfm
  package-lock.json
  showcases/patternhub/package.json
Due: none

Update Popover.vue
  showcases/vue-showcase/src/components/popover/Popover.vue
Due: none

Update popover.json
  showcases/shared/popover.json
Due: none

Update index.tsx
  showcases/react-showcase/src/components/popover/index.tsx
Due: xo --fix, prettier --write

Update popover.component.html
  showcases/angular-showcase/src/app/components/popover/popover.component.html
Due: none

chore: update popover-animations
  packages/components/src/styles/_popover-component.scss
  packages/foundations/scss/animation/_animations.scss
Due: stylelint --fix
