Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Discard changes to packages/components/src/components/link/docs/Angular.md
  packages/components/src/components/link/docs/Angular.md
Due: none

Discard changes to packages/components/src/components/navigation-item/docs/HTML.md
  packages/components/src/components/navigation-item/docs/HTML.md
Due: none

Discard changes to packages/components/src/components/navigation/docs/Accessibility.md
  packages/components/src/components/navigation/docs/Accessibility.md
Due: none

Discard changes to packages/components/src/components/navigation/docs/React.md
  packages/components/src/components/navigation/docs/React.md
Due: none

Update index.html
  packages/components/index.html
Due: none

refactor: encapsulate our page into an iframe instead of doing a redirect
  .github/scripts/build-gh-page.sh
Due: none

Update build-gh-page.sh
  .github/scripts/build-gh-page.sh
Due: none

refactor(dependabot): added new dependency that needs grouping
  .github/dependabot.yml
Due: none

refactor: simple optimization
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: xo --fix, prettier --write

Update version-switcher.tsx
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: xo --fix, prettier --write

docs(README): added v3 header image
  README.md
Due: none

Update README.md
  README.md
Due: none

refactor: aligned wording
  packages/components/src/shared/model.ts
  packages/components/src/styles/_stack-components.scss
  showcases/shared/stack.json
Due: stylelint --fix, xo --fix, prettier --write

test: updated screenshots
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
Due: none

refactor: using hyperlinks would cause a11y issues
  showcases/angular-showcase/src/app/components/stack/stack.component.html
  showcases/react-showcase/src/components/stack/index.tsx
  showcases/vue-showcase/src/components/stack/Stack.vue
Due: xo --fix, prettier --write

refactor: prettier
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/stack/docs/Vue.md
  packages/components/src/components/stack/index.html
  packages/components/src/components/stack/index.ts
  packages/components/src/index.ts
  showcases/angular-showcase/src/app/components/stack/stack.component.html
  showcases/react-showcase/src/components/stack/index.tsx
  showcases/vue-showcase/src/components/stack/Stack.vue
Due: xo --fix, prettier --write

test: updated screenshots
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
Due: none

refactor: added link
  showcases/angular-showcase/src/app/components/stack/stack.component.html
  showcases/react-showcase/src/components/stack/index.tsx
  showcases/vue-showcase/src/components/stack/Stack.vue
Due: xo --fix, prettier --write

test: updated screenshots
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
Due: none

Update showcase-styles.css
  showcases/showcase-styles.css
Due: stylelint --fix

Revert "test: updated screenshots"
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
Due: none

refactor: corrected styling
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

refactor: removing Duncan
  CODEOWNERS
Due: none

docs: updated accessibility test status
  showcases/patternhub/pages/foundations/test-table/index.tsx
Due: xo --fix, prettier --write

docs: updated accessibility test status
  showcases/shared/_accessibility-review.json
Due: none

Update _accessibility-review.json
  showcases/shared/_accessibility-review.json
Due: none

Update _icon-helpers.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Due: stylelint --fix

refactor: optimization
  .config/.lintstagedrc.js
Due: xo --fix, prettier --write

Update packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.lite.tsx
Due: xo --fix, prettier --write

refactor: regenerated package lock file
  package-lock.json
Due: none
