Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: another try
  .github/workflows/02-e2e-regenerate.yml
Due: none

chore: another try
  .github/workflows/02-e2e-regenerate.yml
Due: none

chore: let's give this a try
  .github/workflows/02-e2e-regenerate.yml
Due: none

chore: we won't need this
  .github/workflows/02-e2e-regenerate.yml
Due: none

Revert "chore: let's give this a try"
  .github/workflows/02-e2e-regenerate.yml
Due: none

refactor: let's give this a try
  .github/workflows/02-e2e-regenerate.yml
Due: none

Revert "refactor(test): updated snapshots"
  __snapshots__/divider/patternhub/divider-overview-should-match-screenshot.png
  blob-report/report.zip
  package-lock.json
  package.json
Due: none

chore: corrected that
  .github/workflows/02-e2e-regenerate.yml
Due: none

Revert "refactor(test): updated snapshots"
  __snapshots__/divider/patternhub/divider-overview-should-match-screenshot.png
  package-lock.json
  package.json
Due: none

refactor: corrected this aspect
  .github/workflows/02-e2e-regenerate.yml
Due: none

Update 99-self-healing-dependabot-updates.yml
  .github/workflows/99-self-healing-dependabot-updates.yml
Due: none

Update 02-e2e-regenerate.yml
  .github/workflows/02-e2e-regenerate.yml
Due: none

Update infotext.scss
  packages/components/src/components/infotext/infotext.scss
Due: stylelint --fix

fix(): rename attribute back to hrefLang
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

chore: create clean package-lock.json
  package-lock.json
Due: none

chore: create clean package-lock.json (#4327)
  package-lock.json
Due: none

Revert "Update infotext.scss"
  packages/components/src/components/infotext/infotext.scss
Due: stylelint --fix

refactor: using PAT
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
  .github/workflows/default.yml
Due: none

refactor: let's make this conditionally
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none

fix(types): adapt types of events to reduce the usage of any-type
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
Due: xo --fix, prettier --write

feat: add tree navigation
  packages/components/src/components/control-panel-mobile/control-panel-mobile.scss
  packages/components/src/components/navigation-item-group/model.ts
  packages/components/src/components/navigation-item-group/navigation-item-group.lite.tsx
  packages/components/src/components/navigation-item-group/navigation-item-group.scss
  packages/components/src/components/navigation/model.ts
  packages/components/src/components/navigation/navigation.lite.tsx
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/shell/shell-desktop.scss
  packages/components/src/components/shell/shell-mobile.scss
  packages/components/src/components/shell/shell.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/internal/_control-panel-desktop.scss
  packages/components/src/styles/internal/_navigation-item.scss
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/navigation/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

feat: add tree navigation
  packages/components/src/components/navigation-item-group/navigation-item-group-menu-popover.scss
  packages/components/src/components/navigation-item-group/navigation-item-group-menu-tree.scss
Due: stylelint --fix

fix(types): use basic event type instead of specific type
  packages/components/src/components/custom-select/model.ts
Due: xo --fix, prettier --write

fix(): use key in optgroup
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

Update 02-e2e-regenerated-snapshots-commit.yml
  .github/workflows/02-e2e-regenerated-snapshots-commit.yml
Due: none
