Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

test: updated snapshots
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
Due: none

test: updated snapshots
  __snapshots__/badge/patternhub/badge-overview-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-overview-should-match-screenshot.png
Due: none

docs: update links after renaming (#4046)
  packages/foundations/docs/CustomIcons.md
Due: none

fix: issues for a11y
  output/react/package.json
  output/vue/package.json
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.html
  showcases/react-showcase/package.json
  showcases/react-showcase/src/components/custom-select/index.tsx
  showcases/shared/custom-select.json
  showcases/vue-showcase/src/components/custom-select/CustomSelect.vue
Due: xo --fix, prettier --write

feat: adapt variable names for vibrant colors
  packages/components/src/styles/internal/_tag-components.scss
  packages/foundations/scss/colors/_variables.scss
Due: stylelint --fix

feat: removed examples with origin style
  showcases/shared/tag.json
Due: none

feat: adapted vibrant color variable names
  packages/foundations/scss/colors/speaking-colors/additional/_blue.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_cyan.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_green.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_orange.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_pink.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_red.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_turquoise.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_violet.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_yellow.speaking-colors.scss
Due: stylelint --fix

feat: use vibrant color values also for semantic colors
  packages/components/src/styles/internal/_tag-components.scss
Due: stylelint --fix

docs: adapt migration and documentation with changes for tag and badge and vibrant color
  docs/migration/v1.x.x-to-v2.0.0.md
  packages/migration/src/migration/v1.0.0-v2.0.0.ts
Due: xo --fix, prettier --write

fix: issues with event handling
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.html
  showcases/react-showcase/src/components/custom-select/index.tsx
  showcases/vue-showcase/src/components/custom-select/CustomSelect.vue
Due: xo --fix, prettier --write

feat: removed examples with origin style from badge
  showcases/shared/badge.json
Due: none

feat: use vibrant color values for hovered strong
  packages/components/src/styles/internal/_tag-components.scss
Due: stylelint --fix

test: updated snapshots
  __snapshots__/badge/showcase/chromium-highContrast/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/mobile-safari/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/badge/showcase/webkit/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium-highContrast/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/firefox/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-chrome/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-safari/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/webkit/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
Due: none

test: updated snapshots
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox-checked.png
Due: none

fix: issues with custom-select inside forms
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
  showcases/react-showcase/src/components/form/index.tsx
Due: xo --fix, prettier --write

fix: issues with tests
  packages/components/src/components/custom-select/custom-select.spec.tsx
  showcases/patternhub/components/old-routing-fallback/index.tsx
Due: xo --fix, prettier --write

chore: disable tests for now
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

fix: issue with snapshot tests
  showcases/react-showcase/src/components/custom-select/index.tsx
Due: xo --fix, prettier --write

fix: issue with snapshot tests
  showcases/shared/custom-select.json
Due: none

fix: issue for react 18 tab items
  package-lock.json
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/custom-select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/chromium/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/firefox/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-safari/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/webkit/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
Due: none

chore: update snapshots
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
Due: none

fix: issues for aria snapshots
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.html
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.ts
  showcases/e2e/custom-select/custom-select-a11y.spec.ts
  showcases/e2e/custom-select/custom-select-snapshot.spec.ts
  showcases/vue-showcase/src/components/custom-select/CustomSelect.vue
Due: xo --fix, prettier --write

fix: issues from PR
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/scripts/post-build/components.ts
  showcases/react-showcase/src/app.tsx
Due: xo --fix, prettier --write

fix: issues from PR
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
Due: none
