Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Update packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: dev script after inquirer update
  package-lock.json
  package.json
  scripts/dev.js
  scripts/dev.ts
  scripts/package.json
Due: xo --fix, prettier --write

fix: issue with patternhub test not using first headline
  showcases/patternhub/tests/default.spec.ts
Due: xo --fix, prettier --write

chore: remove current-color and current-bg-color for color update
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_link-components.scss
  packages/components/src/styles/_tag-components.scss
  packages/components/src/styles/dialog-init.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/helpers/_divider.scss
  packages/foundations/scss/helpers/_functions.scss
  packages/foundations/scss/helpers/_index.scss
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/init/default-root.scss
  packages/foundations/tailwind/tailwind-tokens.json
  showcases/patternhub/styles/globals.scss
  showcases/patternhub/styles/highlight.scss
Due: stylelint --fix

fix: missing declarations
  .github/workflows/release.yml
Due: none

fix: issue with patternhub release build
  .github/workflows/release.yml
Due: none

Update packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/brand.scss
Due: stylelint --fix

Update packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/infotext/infotext.scss
Due: stylelint --fix

Update packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

Update packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

Update packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_placeholder.scss
Due: stylelint --fix

Update packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

Update packages/components/src/shared/constants.ts
  packages/components/src/shared/constants.ts
Due: xo --fix, prettier --write

Update showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.html
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.html
Due: none

Update showcases/angular-showcase/src/app/components/form/selects/selects.component.html
  showcases/angular-showcase/src/app/components/form/selects/selects.component.html
Due: none

Update showcases/angular-showcase/src/app/components/form/inputs/inputs.component.html
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.html
Due: none

Update showcases/angular-showcase/src/app/components/form/textareas/textareas.component.html
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.html
Due: none

Update showcases/vue-showcase/src/components/form/Textareas.vue
  showcases/vue-showcase/src/components/form/Textareas.vue
Due: none

refactor: optimization
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

refactor: simplification
  packages/components/src/components/input/input.scss
Due: stylelint --fix

refactor: simplification
  packages/components/src/components/navigation/navigation.scss
Due: stylelint --fix

refactor: simplification
  packages/components/src/components/radio/radio.scss
Due: stylelint --fix

refactor: order
  packages/components/src/components/tag/tag.scss
Due: stylelint --fix

refactor: simplification
  packages/components/src/styles/_db-puls.scss
Due: stylelint --fix

refactor: simplification
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

refactor: resilience
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

chore: order
  packages/components/src/styles/_tag-components.scss
Due: stylelint --fix

refactor: corrected this
  .stylelintrc.json
  packages/foundations/scss/_default.assets-paths.scss
Due: stylelint --fix

refactor: resilience
  packages/foundations/scss/_screen-sizes.scss
Due: stylelint --fix

refactor: resilience
  packages/foundations/scss/colors/_placeholder.scss
Due: stylelint --fix

Update .stylelintrc.json
  .stylelintrc.json
Due: none

Update packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion-item/accordion-item.scss
Due: stylelint --fix

Update packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.scss
Due: stylelint --fix

Update packages/components/src/styles/_popover-component.scss
  packages/components/src/styles/_popover-component.scss
Due: stylelint --fix

fix: issues from linting
  packages/components/src/components/navigation-item/navigation-item.scss
Due: stylelint --fix
