Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: correct .reverse() comments and revert header placeholders
  packages/components/configs/plugins/figma/index.cjs
  packages/components/src/components/header/figma/header.figma.lite.tsx
Due: xo --fix, prettier --write

test(tabs): add test to check ignore bubbled change events from nested controls in tab panels
  packages/components/src/components/tabs/tabs.spec.tsx
Due: xo --fix, prettier --write

chore: update snapshots
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
Due: none

feat: added possibility for triggering the default pipeline individually (#6932)
  .github/workflows/default.yml
Due: none

fix(react): remove vite from build after merge conflict resolution
  output/react/package.json
  pnpm-lock.yaml
Due: none

feat: add backlog reorder script and steering
  .kiro/steering/backlog-reorder.md
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

chore: add weekly CI workflow, remove steering file
  .github/workflows/99-reorder-backlog.yml
  .kiro/steering/backlog-reorder.md
Due: none

refactor: use targeted GraphQL queries, archive old Done items
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

docs: removed obsolete HTML files
  packages/components/index.html
  packages/components/src/components/accordion-item/index.html
  packages/components/src/components/accordion/index.html
  packages/components/src/components/badge/index.html
  packages/components/src/components/brand/index.html
  packages/components/src/components/button/index.html
  packages/components/src/components/card/index.html
  packages/components/src/components/checkbox/index.html
  packages/components/src/components/custom-button/index.html
  packages/components/src/components/custom-select-dropdown/index.html
  packages/components/src/components/custom-select-form-field/index.html
  packages/components/src/components/custom-select/index.html
  packages/components/src/components/divider/index.html
  packages/components/src/components/drawer/index.html
  packages/components/src/components/header/index.html
  packages/components/src/components/icon/index.html
  packages/components/src/components/infotext/index.html
  packages/components/src/components/input/index.html
  packages/components/src/components/link/index.html
  packages/components/src/components/notification/index.html
  packages/components/src/components/popover/index.html
  packages/components/src/components/radio/index.html
  packages/components/src/components/section/index.html
  packages/components/src/components/select/index.html
  packages/components/src/components/stack/index.html
  packages/components/src/components/switch/index.html
  packages/components/src/components/tab-item/index.html
  packages/components/src/components/tab-list/index.html
  packages/components/src/components/tab-panel/index.html
  packages/components/src/components/tabs/index.html
  packages/components/src/components/tag/index.html
  packages/components/src/components/textarea/index.html
  packages/components/src/components/tooltip/index.html
Due: none

fix: revert StackAlignmentList order to original ['stretch', 'start', 'end', 'center']
  packages/components/src/components/stack/model.ts
Due: xo --fix, prettier --write

chore: add comment to revisit tab-item screenshot tolerance
  showcases/e2e/tab-item/tab-item-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

docs(tab-item): document that DBTabItem requires DBTabs parent
  packages/components/src/components/tab-item/model.ts
Due: xo --fix, prettier --write

fix(tab-item): only suppress native tooltip when truncation tooltip is shown
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

docs: add v4-to-v5 migration guide for tabs refactor
  docs/migration/v4.x.x-to-v5.0.0.md
Due: none

fix(infotext): remove redundant icon margin-end, gap already handles spacing
  packages/components/src/components/infotext/infotext.scss
Due: stylelint --fix

feat: update figma code connect for drawer and notification
  packages/components/src/components/drawer/figma/drawer.figma.ts
  packages/components/src/components/notification/figma/image-notification.figma.lite.tsx
  packages/components/src/components/notification/figma/notification.figma.ts
Due: xo --fix, prettier --write

chore: update snapshots
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
  pnpm-lock.yaml
Due: none

fix: GraphQL union type, early bail on missing scope, rate limit handling
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

chore: remove setup-node step, use node native TS execution
  .github/workflows/99-reorder-backlog.yml
Due: none

refactor: deduplicate fetch logic, use temp dir for query files
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

Update 02-e2e-screen-reader.yml
  .github/workflows/02-e2e-screen-reader.yml
Due: none

Update 01-init-playwright.yml
  .github/workflows/01-init-playwright.yml
Due: none

fix: set no-status items to Backlog before reordering
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

fix: use clientMutationId in position mutation response
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

refactor: removed further references
  packages/components/AGENTS.md
  packages/components/_templates/mitosis/new/component/html.ejs.t
  packages/components/_templates/mitosis/new/component/index-html.ejs.t
  packages/components/package.json
  packages/components/vite.config.ts
  scripts/dev.ts
  scripts/package.json
Due: xo --fix, prettier --write

feat: sync status based on linked PRs
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

feat: process Waiting for Feedback status based on last commenter
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

Rename .kiro/settings/kiroignore to .kiroignore
  .kiroignore
Due: none

feat: add unconnected open issues to the project before reordering
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

chore: remove unused waitingForFeedbackOptionId constant
  scripts/github/reorder-backlog.ts
Due: xo --fix, prettier --write

refactor: enhance Figma Code Connect plugin with layer support and new prop types (#6867)
  .config/cspellignorewords.txt
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
  packages/components/configs/plugins/figma/index.cjs
  packages/components/src/components/card/figma/card.figma.ts
  packages/components/src/components/custom-select/figma/auto.custom-select.figma.lite.tsx
  packages/components/src/components/custom-select/figma/custom-select.figma.lite.tsx
  packages/components/src/components/custom-select/figma/custom-select.figma.ts
  packages/components/src/components/custom-select/figma/full.custom-select.figma.lite.tsx
  packages/components/src/components/drawer/figma/drawer.figma.lite.tsx
  packages/components/src/components/drawer/figma/drawer.figma.ts
  packages/components/src/components/header/figma/header.figma.lite.tsx
  packages/components/src/components/header/figma/header.figma.ts
  packages/components/src/components/notification/figma/image-notification.figma.lite.tsx
  packages/components/src/components/notification/figma/notification.figma.lite.tsx
  packages/components/src/components/notification/figma/notification.figma.ts
  packages/components/src/components/popover/figma/popover.figma.ts
  packages/components/src/components/section/figma/section.figma.ts
  packages/components/src/components/select/figma/select.figma.ts
  packages/components/src/shared/figma.ts
  pnpm-lock.yaml
Due: xo --fix, prettier --write
