Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor(cspell): not ignoring textual parts of the repository anymore
  .config/cspell.config.ts
Due: xo --fix, prettier --write

Update cspell.config.ts
  .config/cspell.config.ts
Due: xo --fix, prettier --write

Remove duplicate 'bikesharing' from cspellignore
  .config/cspellignorewords.txt
Due: none

fix: warnings on `package.json` structure
  packages/eslint-plugin/package.json
Due: none

Update package.json
  packages/postcss-plugin/package.json
Due: none

Update package.json
  packages/stylelint/package.json
Due: none

Update package.json
  packages/vite-plugin/package.json
Due: none

fix(cspell): scope mcp-server asset exclusions
  .config/cspell.config.ts
  .config/cspellignorewords.txt
Due: xo --fix, prettier --write

fix(stylelint): document why mcp-server assets are ignored
  .stylelintignore
Due: none

fix(mcp-server): pin sharp dependency to 0.34.5
  package-lock.json
  packages/mcp-server/package.json
Due: none

refactor: running npm audit fix
  package-lock.json
Due: none

refactor: rerunning npm audit fix
  package-lock.json
Due: none

Update packages/components/src/components/select/select.scss
  packages/components/src/components/select/select.scss
Due: stylelint --fix

refactor: regenerated package lock file
  package-lock.json
Due: none

Update select.scss
  packages/components/src/components/select/select.scss
Due: stylelint --fix

fix: positioning
  packages/components/src/styles/internal/_popover-component.scss
Due: stylelint --fix

refactor: hardening feature detection
  packages/components/src/utils/floating-components.spec.tsx
  packages/components/src/utils/floating-components.ts
Due: xo --fix, prettier --write

Fix formatting in HTML.md documentation
  packages/components/src/components/drawer/docs/HTML.md
Due: none

Update HTML.md
  packages/components/src/components/header/docs/HTML.md
Due: none

refactor: using explicit anchor-connection
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/utils/floating-components.spec.tsx
  packages/components/src/utils/floating-components.ts
Due: stylelint --fix, xo --fix, prettier --write

Update BrowserSupport.md
  packages/foundations/docs/BrowserSupport.md
Due: none

refactor: switching to Invoker Commands
  packages/components/src/components/drawer/agent/drawer.agent.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/examples/backdrop.example.lite.tsx
  packages/components/src/components/drawer/examples/density.example.lite.tsx
  packages/components/src/components/drawer/examples/direction.example.lite.tsx
  packages/components/src/components/drawer/examples/example.example.lite.tsx
  packages/components/src/components/drawer/examples/rounded.example.lite.tsx
  packages/components/src/components/drawer/examples/size.example.lite.tsx
  packages/components/src/components/drawer/examples/spacing.example.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/agent/header.agent.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/next-showcase/pages/_app.tsx
  showcases/nuxt-showcase/layouts/default.vue
  showcases/patternhub/components/default-page.tsx
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/composables/use-layout.ts
Due: xo --fix, prettier --write

refactor: switching to Invoker Commands
  packages/components/src/components/header/docs/Angular.md
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
  packages/components/src/components/header/examples/_header.arg.types.ts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/model.ts
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
