Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update lintstaged to run update:icon-fonts if a icon changes
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.js
Due: xo --fix, prettier --write

fix: issue with tailwind sizings
  packages/foundations/tokens/tailwind/spacing.json
Due: none

fix: missing input types
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
Due: xo --fix, prettier --write

refactor: prevent that new extra div tag
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
Due: stylelint --fix, xo --fix, prettier --write

refactor: aligned this with the previous version
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
Due: xo --fix, prettier --write

Update README.md
  packages/foundations/README.md
Due: none

Update packages/foundations/scripts/clean-icons/cli.js
  packages/foundations/scripts/clean-icons/cli.js
Due: xo --fix, prettier --write

chore: update navigation-item
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
  packages/components/src/components/alert/alert.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/main-navigation/main-navigation.scss
  packages/components/src/components/main-navigation/main-navigation.spec.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.spec.tsx
  packages/components/src/components/tag/tag.scss
  packages/foundations/scripts/generate-icon-fonts/styles/font-face.css
  packages/foundations/scss/helpers/_font.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/icons.scss
Due: stylelint --fix, xo --fix, prettier --write

Update packages/foundations/scripts/generate-icon-fonts/index.js
  packages/foundations/scripts/generate-icon-fonts/index.js
Due: xo --fix, prettier --write

fix: issue with wrong import
  packages/components/src/components/navigation-item/navigation-item.scss
Due: stylelint --fix

refactor: added prefix
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/select/select.scss
Due: stylelint --fix

refactor: added prefix
  packages/components/src/components/select/select.scss
Due: stylelint --fix

fix: leftover
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

WIP
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/webkit/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/button/showcase/chromium/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/button/showcase/webkit/regular/neutral/DBButton-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/regular/neutral/DBLink-should-match-screenshot.png
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Due: none

Update HTML.md
  packages/components/src/components/textarea/docs/HTML.md
Due: none

Update index.html
  packages/components/src/components/textarea/index.html
Due: none

refactor: removed old leftover
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

test: updated screenshots
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
Due: none

docs(textarea): added missing aspects
  showcases/shared/textarea.json
Due: none

refactor: added missing attribute
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/react-showcase/src/components/textarea/index.tsx
Due: xo --fix, prettier --write

chore: typo
  showcases/shared/textarea.json
Due: none

refactor: added missing stylings
  packages/components/src/components/textarea/textarea.scss
Due: stylelint --fix

refactor: extracted validity
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

chore: simple restructuring
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

refactor: corrected source order and removed obsolete attributes
  packages/components/src/components/input/docs/HTML.md
  packages/components/src/components/input/index.html
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/index.html
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

Update index.html
  packages/components/src/components/input/index.html
Due: none

refactor: generalized styling
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

fix: selector
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

fix: headlines
  showcases/shared/textarea.json
Due: none

fix: issues with icon for tag
  __snapshots__/tag/showcase/chromium/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral-0/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral-0/DBTag-should-match-screenshot.png
  packages/components/src/components/button/button.scss
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/tag/docs/Migration.md
  packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/Vue.md
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_button-components.scss
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/icon/_icons.helpers.scss
  packages/foundations/scss/icon/icons.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/tag/Tag.vue
Due: stylelint --fix, xo --fix, prettier --write

fix: issues with icon for tag
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tag/docs/Angular.md
  packages/components/src/components/tag/docs/Migration.md
  packages/components/src/components/tag/docs/React.md
  packages/components/src/components/tag/docs/Vue.md
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_button-components.scss
  packages/components/src/styles/_icon-passing.scss
  packages/components/src/styles/_tag-components.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/tag/Tag.vue
Due: stylelint --fix, xo --fix, prettier --write

fix: issues with checkbox radius
  __snapshots__/checkbox/component/chromium/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-chrome/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/mobile-safari/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/component/webkit/DBCheckbox-should-match-screenshot.png
  packages/foundations/scss/helpers/_component.scss
Due: stylelint --fix

fix: issues for angular tag
  packages/components/src/components/tag/tag.scss
Due: stylelint --fix

refactor: removed icon-state leftover from input and select
  packages/components/src/components/input/input.scss
  packages/components/src/components/select/select.scss
Due: stylelint --fix

feat: :sparkles: add optional prop defaultValue
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/react-showcase/src/components/form/index.tsx
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
