Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

Update conventions.md
  docs/conventions.md
Due: none

fix(docs): urls and content (#3525)
  CONTRIBUTING.md
  docs/conventions.md
  package.json
Due: none

refactor: running prettier
  README.md
  docs/conventions.md
Due: none

refactor: corrected markdown syntax
  docs/conventions.md
Due: none

refactor: prettier
  docs/conventions.md
Due: none

refactor: running prettier (#3526)
  README.md
  docs/conventions.md
Due: none

docs: disable auto-dark mode for iframes
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

fix: replaced JavaScript selector
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

docs: disable auto-dark mode for iframes (#3527)
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

refactor(tabs): resilience for tab ID values
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: replaced JavaScript selector (#3529)
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

Update default.ts
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

docs: DB UX Design System development
  docs/development.md
Due: none

Update README.md
  README.md
Due: none

Update development.md
  docs/development.md
Due: none

refactor: added relevant dependency
  package-lock.json
  package.json
Due: none

refactor: running prettier
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
