Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue with md-resolve-svg.ts
  package-lock.json
  scripts/md-resolve-svg.ts
  scripts/package.json
Due: xo --fix, prettier --write

fix: issue with vue showcase
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: xo --fix, prettier --write

Update overview.tsx
  showcases/patternhub/pages/foundations/colors/overview.tsx
Due: xo --fix, prettier --write

fix: issue with removable tag closing button height
  packages/components/src/components/tag/tag.scss
Due: stylelint --fix

fix: issue with vue refs
  packages/components/scripts/post-build/vue.ts
  showcases/vue-showcase/src/components/accordion-item/AccordionItem.vue
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/select/Select.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/accordion-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBBrand-should-match-screenshot.png
  __snapshots__/button/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBButton-should-match-screenshot.png
  __snapshots__/card/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBCard-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/divider/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBDivider-should-match-screenshot.png
  __snapshots__/drawer/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBDrawer-should-match-screenshot.png
  __snapshots__/header/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/icon/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBIcon-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBPopover-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBRadio-should-match-screenshot.png
  __snapshots__/section/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSection-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSelect-should-match-screenshot.png
  __snapshots__/switch/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTabs-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTextarea-should-match-screenshot.png
  __snapshots__/tooltip/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTooltip-should-match-screenshot.png
Due: none

fix: issues for react
  showcases/react-showcase/src/components/default-component.tsx
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/notification/showcase/chromium/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
Due: none

chore: update snapshots
  __snapshots__/tag/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
Due: none

fix: issue with react-showcase
  showcases/react-showcase/src/components/default-component.tsx
Due: xo --fix, prettier --write

fix: increase timeout for accessibility test
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

fix: added comment regarding potential quick fix
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: xo --fix, prettier --write

fix: issue for marketingportal docs and add tests to make sure nothing breaks anymore
  .github/workflows/02-e2e-showcases.yml
  package-lock.json
  showcases/patternhub/components/old-routing-fallback/index.tsx
  showcases/patternhub/package.json
  showcases/patternhub/tests/default.spec.ts
  showcases/playwright.patternhub-config.ts
Due: xo --fix, prettier --write

fix: issue from PR
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/page/page.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_form-components.scss
  packages/components/src/styles/_popover-component.scss
  packages/foundations/scss/helpers/_focus.scss
  packages/foundations/scss/init/default-elevation.scss
Due: stylelint --fix

chore: split regenerate snapshots
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/default.yml
  showcases/patternhub/package.json
Due: none

chore: split testing showcases
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

chore: split building showcases
  .github/workflows/01-build-patternhub.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/03-deploy-gh-pages.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

fix: issues with pipeline
  .github/workflows/01-build-showcases.yml
  .github/workflows/02-e2e-regenerate.yml
Due: none

feat: adds container, background and on-background classes
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/classes/_get-class.scss
  packages/foundations/scss/colors/classes/all.scss
  packages/foundations/scss/colors/classes/blue.scss
  packages/foundations/scss/colors/classes/brand.scss
  packages/foundations/scss/colors/classes/critical.scss
  packages/foundations/scss/colors/classes/cyan.scss
  packages/foundations/scss/colors/classes/green.scss
  packages/foundations/scss/colors/classes/informational.scss
  packages/foundations/scss/colors/classes/neutral.scss
  packages/foundations/scss/colors/classes/orange.scss
  packages/foundations/scss/colors/classes/pink.scss
  packages/foundations/scss/colors/classes/red.scss
  packages/foundations/scss/colors/classes/successful.scss
  packages/foundations/scss/colors/classes/turquoise.scss
  packages/foundations/scss/colors/classes/violet.scss
  packages/foundations/scss/colors/classes/warning.scss
  packages/foundations/scss/colors/classes/yellow.scss
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

feat: adds data-attributes for colors preview
  showcases/patternhub/assets/images/checkerboard.png
  showcases/patternhub/components/copy-clipboard-button/index.tsx
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: uses correct type for setTimeout
  showcases/patternhub/components/copy-clipboard-button/index.tsx
Due: xo --fix, prettier --write

chore: removes unused code
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

chore: changed order in global scss
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

chore: fixes wordings and semantic tags
  showcases/patternhub/pages/foundations/colors/overview.tsx
Due: xo --fix, prettier --write

fix: some components do not have a default font size
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

chore: add comments for overwrites
  packages/components/scripts/post-build/react.ts
  packages/components/scripts/post-build/vue.ts
Due: xo --fix, prettier --write

chore: add outputdir for patternhub tests to find issue
  showcases/playwright.patternhub-config.ts
Due: xo --fix, prettier --write

chore: add additional default font-sizes
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/notification/notification.scss
Due: stylelint --fix

chore: add timeout for tests
  showcases/patternhub/tests/default.spec.ts
Due: xo --fix, prettier --write

chore: increase timeout for tests
  showcases/patternhub/tests/default.spec.ts
Due: xo --fix, prettier --write

chore: move color components to separate directory fix: issues with wrong import for components
  showcases/patternhub/components/copy-clipboard-button/index.tsx
  showcases/patternhub/components/foundations/colors/colors-grid/index.tsx
  showcases/patternhub/components/foundations/colors/colors-overview-tabs/index.tsx
  showcases/patternhub/components/foundations/colors/data.ts
  showcases/patternhub/pages/foundations/colors/overview.tsx
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

chore: move checkerboard.png to public assets
  showcases/patternhub/components/foundations/colors/colors-grid/index.tsx
  showcases/patternhub/public/assets/images/checkerboard.png
Due: xo --fix, prettier --write

fix: issues from PR
  packages/components/scripts/post-build/components.ts
  packages/components/scripts/post-build/vue.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
Due: xo --fix, prettier --write

fix: issues from PR
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/vue-showcase/src/components/DefaultComponent.vue
Due: none

fix: issue with open popover and focus-within
  packages/components/src/components/popover/popover.scss
Due: stylelint --fix

fix: issue with popover visibility, replaced with display:none
  packages/components/src/styles/_popover-component.scss
Due: stylelint --fix

Update packages/components/src/styles/_popover-component.scss
  packages/components/src/styles/_popover-component.scss
Due: stylelint --fix

Update showcases/patternhub/scripts/utils.js
  showcases/patternhub/scripts/utils.js
Due: xo --fix, prettier --write
