Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issues with angular
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

chore: update from main
  package-lock.json
Due: none

fix: issues with typescript
  showcases/screen-reader/data.ts
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

fix: issues with angular showcase
  __snapshots__/section/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBSection-should-match-screenshot.png
  showcases/angular-showcase/src/app/components/header/header.component.html
Due: none

test: add pa11y as another a11y testing tool
  package-lock.json
  package.json
  showcases/e2e/default.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/tsconfig.json
Due: xo --fix, prettier --write

fix: issue from PR
  packages/components/src/components/checkbox/checkbox.lite.tsx
Due: xo --fix, prettier --write

fix: linting issue
  showcases/e2e/fixtures/viewport.ts
Due: xo --fix, prettier --write

fix: issue with angular
  packages/components/scripts/post-build/angular.js
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.html
Due: xo --fix, prettier --write

test: add sa11y to showcases to find some a11y issues
  package-lock.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/main.ts
  showcases/angular-showcase/src/sa11y.d.ts
  showcases/angular-showcase/src/styles.css
  showcases/react-showcase/package.json
  showcases/react-showcase/src/main.tsx
  showcases/vue-showcase/package.json
  showcases/vue-showcase/src/main.ts
Due: stylelint --fix, xo --fix, prettier --write

feat: enable color contrast and fix issues with components
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/_db-puls.scss
  packages/components/src/styles/_form-components.scss
  packages/foundations/scss/helpers/_functions.scss
  showcases/playwright.config.ts
Due: stylelint --fix, xo --fix, prettier --write

test: add accessibility-checker for additional tests
  .github/workflows/02-e2e-showcases.yml
  .gitignore
  package-lock.json
  package.json
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/e2e/default.ts
  showcases/e2e/input/showcase-input.spec.ts
  showcases/e2e/select/showcase-select.spec.ts
  showcases/e2e/tab-item/showcase-tab-item.spec.ts
  showcases/e2e/tabs/showcase-tabs.spec.ts
  showcases/e2e/tag/showcase-tag.spec.ts
  showcases/e2e/textarea/showcase-textarea.spec.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/shared/checkbox.json
  showcases/shared/default-component-data.ts
  showcases/shared/radio.json
  showcases/shared/tag.json
  showcases/vue-showcase/src/components/DefaultComponent.vue
Due: xo --fix, prettier --write

fix: issue with axe and force colors
  .xo-config.cjs
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

chore: update snapshots for high contrast
  __snapshots__/accordion-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBBadge-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBBrand-should-match-screenshot.png
  __snapshots__/button/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBButton-should-match-screenshot.png
  __snapshots__/card/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBCard-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/divider/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBDivider-should-match-screenshot.png
  __snapshots__/drawer/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBDrawer-should-match-screenshot.png
  __snapshots__/header/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/icon/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBIcon-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/link/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBLink-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNavigation-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBPopover-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBRadio-should-match-screenshot.png
  __snapshots__/section/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSection-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSelect-should-match-screenshot.png
  __snapshots__/switch/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/chromium/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/regular/neutral-bg-lvl-1/DBSwitch-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTabs-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTextarea-should-match-screenshot.png
  __snapshots__/tooltip/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTooltip-should-match-screenshot.png
Due: none

chore: add icon colors for button
  packages/components/src/components/button/button.scss
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

fix: issues with accessibility
  .github/workflows/02-e2e-showcases.yml
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/e2e/default.ts
  showcases/e2e/link/showcase-link.spec.ts
  showcases/e2e/switch/showcase-switch.spec.ts
  showcases/e2e/tab-item/showcase-tab-item.spec.ts
  showcases/react-showcase/src/components/index.tsx
  showcases/react-showcase/src/components/navigation/index.tsx
  showcases/react-showcase/src/navigation/index.tsx
  showcases/vue-showcase/src/App.vue
  showcases/vue-showcase/src/components/DefaultComponent.vue
Due: xo --fix, prettier --write

Update index.tsx
  showcases/react-showcase/src/navigation/index.tsx
Due: xo --fix, prettier --write

Update App.vue
  showcases/vue-showcase/src/App.vue
Due: none

fix: reverted changes for icon in contrast mode
  packages/components/src/components/button/button.scss
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

fix: issue with accessibility-checker using puppeteer
  showcases/e2e/default.ts
  showcases/react-showcase/src/components/navigation/index.tsx
Due: xo --fix, prettier --write

fix: issues from accessibility-checker
  .jscpd.json
  showcases/angular-showcase/src/app/components/navigation/navigation.component.html
  showcases/angular-showcase/src/app/components/navigation/navigation.component.ts
  showcases/e2e/textarea/showcase-textarea.spec.ts
  showcases/vue-showcase/src/components/DefaultComponent.vue
  showcases/vue-showcase/src/components/navigation/Navigation.vue
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/header/showcase/chromium/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/firefox/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/webkit/regular/neutral-bg-lvl-1/DBHeader-should-match-screenshot.png
Due: none

feat: enable link for notification variant=overlay
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification-grid-overlay.scss
  packages/components/src/components/notification/notification.scss
  showcases/shared/notification.json
Due: stylelint --fix

fix: option "key" for datalist option inside input
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
Due: xo --fix, prettier --write

fix: issue with datalist for angular
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/notification/showcase/chromium/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral-bg-lvl-1/DBNotification-should-match-screenshot.png
Due: none

fix: issues with vue-showcase
  showcases/e2e/default.ts
  showcases/vue-showcase/src/components/DefaultComponent.vue
Due: xo --fix, prettier --write

refactor: changed datalist type to work properly
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/react-showcase/src/components/input/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/input/Input.vue
Due: xo --fix, prettier --write

fix: issue with build-showcases
  packages/components/src/components/input/input.lite.tsx
  showcases/react-showcase/src/components/form/index.tsx
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/input/showcase/chromium/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral-bg-lvl-1/DBInput-should-match-screenshot.png
Due: none

fix: issue with tab-item
  showcases/patternhub/pages/components/data-display/tab-item/index.tsx
  showcases/patternhub/scripts/utils.js
Due: xo --fix, prettier --write

fix: issue with linting
  showcases/patternhub/components/old-routing-fallback/index.tsx
Due: xo --fix, prettier --write

fix: slug to index for patternhub-index.ejs.t
  packages/components/_templates/mitosis/new/showcases/patternhub-index.ejs.t
Due: none

docs: prepare for 0.2.0 release
  packages/components/src/components/header/docs/Angular.md
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/header/docs/React.md
  packages/components/src/components/header/docs/Vue.md
  packages/components/src/components/navigation/docs/React.md
  packages/components/src/components/navigation/docs/Vue.md
  showcases/angular-showcase/src/app/app.component.html
  showcases/patternhub/scripts/get-code-files.js
Due: xo --fix, prettier --write

chore: generate fallback files
  scripts/package.json
  showcases/patternhub/.gitignore
  showcases/patternhub/pages/components/action/button/index.tsx
  showcases/patternhub/pages/components/action/index.tsx
  showcases/patternhub/pages/components/action/link/index.tsx
  showcases/patternhub/pages/components/data-display/accordion-item/index.tsx
  showcases/patternhub/pages/components/data-display/accordion/index.tsx
  showcases/patternhub/pages/components/data-display/brand/index.tsx
  showcases/patternhub/pages/components/data-display/index.tsx
  showcases/patternhub/pages/components/data-display/infotext/index.tsx
  showcases/patternhub/pages/components/data-display/tab-item/index.tsx
  showcases/patternhub/pages/components/data-display/tabs/index.tsx
  showcases/patternhub/pages/components/data-display/tag/index.tsx
  showcases/patternhub/pages/components/data-display/tooltip/index.tsx
  showcases/patternhub/pages/components/data-input/checkbox/index.tsx
  showcases/patternhub/pages/components/data-input/index.tsx
  showcases/patternhub/pages/components/data-input/input/index.tsx
  showcases/patternhub/pages/components/data-input/radio/index.tsx
  showcases/patternhub/pages/components/data-input/select/index.tsx
  showcases/patternhub/pages/components/data-input/switch/index.tsx
  showcases/patternhub/pages/components/data-input/textarea/index.tsx
  showcases/patternhub/pages/components/feedback/badge/index.tsx
  showcases/patternhub/pages/components/feedback/index.tsx
  showcases/patternhub/pages/components/feedback/notification/index.tsx
  showcases/patternhub/pages/components/index.tsx
  showcases/patternhub/pages/components/layout/card/index.tsx
  showcases/patternhub/pages/components/layout/divider/index.tsx
  showcases/patternhub/pages/components/layout/drawer/index.tsx
  showcases/patternhub/pages/components/layout/header/index.tsx
  showcases/patternhub/pages/components/layout/index.tsx
  showcases/patternhub/pages/components/layout/section/index.tsx
  showcases/patternhub/pages/components/navigation/index.tsx
  showcases/patternhub/pages/components/navigation/navigation-item/index.tsx
  showcases/patternhub/pages/components/navigation/navigation/index.tsx
  showcases/patternhub/pages/components/utilities/index.tsx
  showcases/patternhub/pages/components/utilities/popover/index.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: xo --fix, prettier --write

fix: issue with relative path
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: xo --fix, prettier --write

Update packages/components/src/components/header/docs/Angular.md
  packages/components/src/components/header/docs/Angular.md
Due: none
