Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue from PR
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

Update .github/workflows/01-lint.yml
  .github/workflows/01-lint.yml
Due: none

refactor: clarity
  scripts/package.json
Due: none

refactor: summarizing imports
  packages/stylelint/src/rules/use-border-color.ts
  packages/stylelint/src/rules/use-border-height.ts
  packages/stylelint/src/rules/use-border-radius.ts
  packages/stylelint/src/rules/use-spacings.ts
Due: xo --fix, prettier --write

Update packages/foundations/scss/helpers/_divider.scss
  packages/foundations/scss/helpers/_divider.scss
Due: stylelint --fix

Update packages/components/src/styles/internal/_form-components.scss
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

Update packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

Update packages/components/src/components/switch/switch.scss
  packages/components/src/components/switch/switch.scss
Due: stylelint --fix

Update packages/components/src/components/notification/notification.scss
  packages/components/src/components/notification/notification.scss
Due: stylelint --fix

Update packages/stylelint/README.md
  packages/stylelint/README.md
Due: none

refactor: color-scheme and container-color in foundations
  docs/migration/v0.7.x-to-v1.0.0.md
  packages/foundations/scss/colors/classes/_get-class.scss
  packages/foundations/scss/colors/classes/all.scss
  packages/foundations/scss/colors/classes/blue.scss
  packages/foundations/scss/colors/classes/brand.scss
  packages/foundations/scss/colors/classes/critical.scss
  packages/foundations/scss/colors/classes/cyan.scss
  packages/foundations/scss/colors/classes/green.scss
  packages/foundations/scss/colors/classes/informational.scss
  packages/foundations/scss/colors/classes/neutral.scss
  packages/foundations/scss/colors/classes/orange.scss
  packages/foundations/scss/colors/classes/pink.scss
  packages/foundations/scss/colors/classes/red.scss
  packages/foundations/scss/colors/classes/successful.scss
  packages/foundations/scss/colors/classes/turquoise.scss
  packages/foundations/scss/colors/classes/violet.scss
  packages/foundations/scss/colors/classes/warning.scss
  packages/foundations/scss/colors/classes/yellow.scss
  packages/foundations/scss/defaults/default-theme.scss
  packages/migration/src/data.ts
  packages/migration/src/migration/v0.0.7-v1.0.0.ts
  packages/migration/test/v0.0.7-v1.0.0/has-changes.txt
  packages/migration/test/v0.0.7-v1.0.0/no-change.txt
  packages/migration/test/v0.0.7-v1.0.0/v007_v100.spec.ts
  showcases/patternhub/components/foundations/colors/colors-grid/index.tsx
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/colors/color-classes.tsx
  showcases/patternhub/pages/foundations/colors/color-modes.tsx
  showcases/patternhub/pages/foundations/colors/color-schemes.tsx
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

docs: clarity (#3769)
  docs/research/README.md
Due: none

chore: run migration on repo
  packages/foundations/docs/Colors.md
  packages/foundations/docs/IDESupport.md
  packages/foundations/ide/db.ide.css
  packages/migration/src/migration/index.ts
  packages/migration/src/migration/v0.0.7-v1.0.0.ts
  showcases/patternhub/pages/foundations/colors/color-usage-guide.tsx
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

Update README.md
  packages/stylelint/README.md
Due: none

fix: issue with missing import
  packages/components/src/components/switch/switch.lite.tsx
Due: xo --fix, prettier --write

Update packages/stylelint/src/shared/index.ts
  packages/stylelint/src/shared/index.ts
Due: xo --fix, prettier --write

chore: update snapshot
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-required-1.txt
Due: none

Update navigation-item.scss
  packages/components/src/components/navigation-item/navigation-item.scss
Due: stylelint --fix

Update page.scss
  packages/components/src/components/page/page.scss
Due: stylelint --fix

chore: update from main
  package-lock.json
Due: none

feat: add tailwind v4 theme (#3749)
  packages/foundations/README.md
  packages/foundations/tailwind/theme/colors.css
  packages/foundations/tailwind/theme/index.css
Due: stylelint --fix

fix: issues with xo and eslint
  .eslintignore
  .eslintrc.js
  .xo-config.cjs
  package-lock.json
  package.json
  packages/components/package.json
  packages/stylelint/src/index.ts
  packages/stylelint/src/rules/use-border-color.ts
  packages/stylelint/src/rules/use-border-height.ts
  packages/stylelint/src/rules/use-border-radius.ts
  packages/stylelint/src/rules/use-spacings.ts
  packages/stylelint/src/shared/create-rule.ts
  packages/stylelint/src/shared/index.ts
  packages/stylelint/test/defaults.ts
  packages/stylelint/test/rules/use-border-color.spec.ts
  packages/stylelint/test/rules/use-border-height.spec.ts
  packages/stylelint/test/rules/use-border-radius.spec.ts
  packages/stylelint/test/rules/use-spacings.spec.ts
  scripts/tests/github/build-gh-page.spec.ts
  showcases/patternhub/package.json
Due: xo --fix, prettier --write
