Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update guidepup tests
  showcases/playwright.screen-reader.macos.ts
  showcases/playwright.screen-reader.windows.ts
  showcases/screen-reader/README.md
  showcases/screen-reader/__snapshots__/macos/chromium/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/macos/chromium/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/__snapshots__/macos/firefox/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/macos/firefox/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/__snapshots__/macos/firefox/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/macos/firefox/DBRadio-should-label-duplicated-arrows-.txt
  showcases/screen-reader/__snapshots__/macos/firefox/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/windows/firefox/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/windows/firefox/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/__snapshots__/windows/firefox/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/windows/firefox/DBRadio-should-label-duplicated-arrows-.txt
  showcases/screen-reader/__snapshots__/windows/firefox/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

refactor: updated screenshots
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/regular/neutral-bg-lvl-1/DBTag-should-match-screenshot.png
Due: none

fix: issue with download showcase
  .github/workflows/02-e2e-screen-reader.yml
Due: none

fix: issue with hidden label for input datalist icon
  packages/components/src/components/input/input.scss
Due: stylelint --fix

chore: remove webkit from screen reader test
  showcases/playwright.screen-reader.macos.ts
  showcases/screen-reader/__snapshots__/macos/chromium/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-should-label-duplicated-arrows-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-should-label-duplicated-next-.txt
Due: xo --fix, prettier --write

fix: path for recordings
  .gitignore
  .prettierignore
  showcases/react-showcase/package.json
  showcases/screen-reader/README.md
  showcases/screen-reader/__snapshots__/macos/chromium/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/macos/chromium/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

fix: issue with line ending
  .prettierignore
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-should-have-message-and-label-tab-.txt
Due: none

test: if voiceover.next works for labels
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/input.spec.ts
Due: xo --fix, prettier --write

fix: issue with voiceOver test
  .github/workflows/02-e2e-screen-reader.yml
  showcases/screen-reader/__snapshots__/macos/chromium/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

test: guidepup
  .github/workflows/02-e2e-screen-reader.yml
  showcases/screen-reader/data.ts
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

test: guidepup
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

test: guidepup
  .jscpd.json
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

test: guidepup
  showcases/playwright.screen-reader.macos.ts
  showcases/screen-reader/README.md
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-should-label-duplicated-arrows-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-should-label-duplicated-next-.txt
Due: xo --fix, prettier --write

Update server.ts
  showcases/angular-ssr-showcase/server.ts
Due: xo --fix, prettier --write

Update main.ts
  showcases/angular-ssr-showcase/src/main.ts
Due: xo --fix, prettier --write

Update version-switcher.tsx
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: xo --fix, prettier --write

Update generate-docs-mdx.js
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: xo --fix, prettier --write

test: guidepup
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

fix: static tag color to align with design
  packages/components/src/styles/_tag-components.scss
Due: stylelint --fix

test: guidepup
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

fix: pipeline speed by skipping firefox test
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

test: guidepup
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-should-label-duplicated-next-.txt
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

fix: increase speed for accessibility-checker by using playwright page.content
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

test: guidepup
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

fix: revert changes for playwright test
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

Update default.ts
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

test: guidepup
  showcases/screen-reader/__snapshots__/macos/webkit/DBButton-should-not-have-icon-in-screen-reader-tab-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBRadio-should-label-duplicated-arrows-.txt
  showcases/screen-reader/tests/button.spec.ts
  showcases/screen-reader/tests/input.spec.ts
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

fix: linting issue
  packages/foundations/scss/helpers/_divider.scss
Due: stylelint --fix

fix: linting issue
  showcases/patternhub/scripts/generate-docs-mdx.js
Due: xo --fix, prettier --write

test: guidepup
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-should-have-message-and-label-next-.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-should-have-message-and-label-tab-.txt
  showcases/screen-reader/tests/input.spec.ts
Due: xo --fix, prettier --write

test: guidepup
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-should-have-message-and-label-next-.txt
Due: none

Update default.ts
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

Update README.md
  showcases/screen-reader/README.md
Due: none

Update .github/actions/playwright-cache/action.yml
  .github/actions/playwright-cache/action.yml
Due: none

fix: issue with README.md
  showcases/screen-reader/README.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
