Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: issues with tab-item not triggering on every change with "onChange" (#3832)
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

feat: add new event for tabs (#3833)
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: improve react typescript support by using correct HTMLAttributes (#3836)
  .config/.jscpd.json
  packages/components/scripts/post-build/components.ts
  packages/components/scripts/post-build/react.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/utils/index.ts
  packages/components/src/utils/react.ts
Due: xo --fix, prettier --write

fix: issue with custom events for react (#3849)
  packages/components/scripts/post-build/components.ts
Due: xo --fix, prettier --write

fix: issue with animation for accordion (#3850)
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/foundations/scss/animation/_animations.scss
Due: stylelint --fix

feat: add keyboard actions for escape and arrows down/up
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/multi-select-dropdown/multi-select-dropdown.scss
  packages/components/src/components/multi-select-form-field/model.ts
  packages/components/src/components/multi-select-form-field/multi-select-form-field.lite.tsx
  packages/components/src/components/multi-select-form-field/multi-select-form-field.scss
  packages/components/src/components/multi-select-header/multi-select-header.lite.tsx
  packages/components/src/components/multi-select-header/multi-select-header.scss
  packages/components/src/components/multi-select-list-item/multi-select-list-item.lite.tsx
  packages/components/src/components/multi-select-list-item/multi-select-list-item.scss
  packages/components/src/components/multi-select-list/multi-select-list.scss
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/components/multi-select/multi-select.scss
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/tag/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  packages/components/src/styles/_multi-select-components.scss
  packages/components/src/styles/_select-components.scss
  packages/components/src/styles/internal/_form-components.scss
  showcases/react-showcase/src/components/multi-select/index.tsx
  showcases/shared/multi-select.json
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with angular checkbox
  packages/components/src/components/checkbox/checkbox.lite.tsx
Due: xo --fix, prettier --write

fix: issue with checkbox and radio not reacting in every framework (#3848)
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
Due: xo --fix, prettier --write

feat: add clearSelectionButton for MultiSelect
  .eslintrc.mjs
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/multi-select-form-field/multi-select-form-field.scss
  packages/components/src/components/multi-select-header/multi-select-header.lite.tsx
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/components/multi-select/multi-select.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/multi-select/showcase-multi-select.spec.ts
  showcases/patternhub/components/component-parser/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

feat: add focus for search on click
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
Due: xo --fix, prettier --write

fix: issue with navigation item not auto closing desktop sub-navigation menu
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
Due: stylelint --fix, xo --fix, prettier --write

feat: add right left keyboard actions
  packages/components/src/components/multi-select-dropdown/multi-select-dropdown.scss
  packages/components/src/components/multi-select-header/multi-select-header.scss
  packages/components/src/components/multi-select-list-item/multi-select-list-item.scss
  packages/components/src/components/multi-select-list/multi-select-list.scss
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/styles/_multi-select-components.scss
Due: stylelint --fix, xo --fix, prettier --write

feat: add placement top and bottom
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/multi-select-dropdown/multi-select-dropdown.scss
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/components/multi-select/multi-select.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/_multi-select-components.scss
  packages/components/src/utils/react.ts
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/multi-select/index.tsx
  showcases/shared/multi-select.json
Due: stylelint --fix, xo --fix, prettier --write

docs: optimizations regarding consumption
  README.md
  packages/components/README.md
Due: none

docs: reflect the already introduced DB Theme package
  README.md
  output/angular/README.md
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
  packages/components/README.md
  packages/foundations/README.md
  packages/migration/README.md
Due: none

chore: update snapshots
  showcases/screen-reader/__snapshots__/windows/chromium/DBNavigation-default-1.txt
Due: none

docs: optimizations regarding consumption and integration (#3864)
  README.md
  output/angular/README.md
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
  packages/components/README.md
  packages/foundations/README.md
  packages/migration/README.md
Due: none

fix: issue with navigation item not auto closing desktop sub-navigation menu (#3861)
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/screen-reader/__snapshots__/windows/chromium/DBNavigation-default-1.txt
Due: stylelint --fix, xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
