Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix(custom-select): update a11y roles to use valid listbox pattern
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select-list/custom-select-list.lite.tsx
Due: xo --fix, prettier --write

fix(custom-select): add changeset
  .changeset/clear-rats-allow.md
Due: none

fix(pipeline): temporarily deactivate `accessibility checker` (#6751)
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

chore: only use VIOLATION as required fails for a11y-checker
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

fix(notification): remove empty grid gap when icon is hidden
  packages/components/src/components/notification/notification-grid-default.scss
Due: stylelint --fix

fix(notification): add changeset
  .changeset/large-lights-grow.md
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor(pipeline): added missing condition parts
  .github/workflows/default.yml
Due: none

feat(input): replace hard label width limit with customizable CSS variable
  .changeset/fancy-cougars-pull.md
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

Apply suggestion from @mfranzke
  .github/workflows/default.yml
Due: none

Update .changeset/large-lights-grow.md
  .changeset/large-lights-grow.md
Due: none

fix(switch): update inline size calculation and prevent track shrinking
  .changeset/fix-switch-inline-size.md
  packages/components/src/components/switch/switch.scss
Due: stylelint --fix

chore: add timeout for screen-reader tests in drawer and switch
  showcases/screen-reader/data.ts
  showcases/screen-reader/default.ts
  showcases/screen-reader/tests/drawer.spec.ts
  showcases/screen-reader/tests/switch.spec.ts
Due: xo --fix, prettier --write

refactor(pipeline): added missing condition parts (#6755)
  .github/workflows/default.yml
Due: none

refactor(react): replace tsc-esm-fix with vite library build
  output/react/package.json
  output/react/tsconfig.json
  output/react/vite.config.ts
  pnpm-lock.yaml
Due: xo --fix, prettier --write

chore: update vite to secure version to fix CI dependency review
  pnpm-lock.yaml
Due: none

fix(react): upgrade vite from 6.3.5 to ^6.4.0
  output/react/package.json
  pnpm-lock.yaml
Due: none

refactor(codeowners): tidying up files in root and files contents
  .github/CODEOWNERS
  CODEOWNERS
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
