Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix(tabs): keep vertical tab lists out of the horizontal overflow clamp
  .changeset/tabs-zoom-vertical-scrollbar.md
  packages/components/src/components/tabs/tabs.scss
  showcases/e2e/tabs/tabs-scroll-axis.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

feat(storybook): add web components storybook
  .github/workflows/01-build-storybooks.yml
  packages/components/configs/mitosis.storybook.config.cjs
  packages/components/configs/plugins/storybook/get-meta-object.cjs
  packages/components/configs/plugins/storybook/get-stories.cjs
  packages/components/configs/plugins/storybook/node-to-web-component.cjs
  packages/components/configs/plugins/storybook/storybook-plugin.cjs
  packages/components/configs/plugins/storybook/target-mapping.cjs
  packages/components/configs/plugins/utils.cjs
  pnpm-lock.yaml
  storybooks/_storybook/.storybook/main.ts
  storybooks/_storybook/public/framework-icons/webcomponents.svg
  storybooks/_storybook/public/framework-icons/webcomponents.svg.license
  storybooks/_storybook/src/resource-cards.tsx
  storybooks/stencil-storybook/.gitignore
  storybooks/stencil-storybook/.storybook/global.css
  storybooks/stencil-storybook/.storybook/html-capture-decorator.ts
  storybooks/stencil-storybook/.storybook/main.ts
  storybooks/stencil-storybook/.storybook/preview.ts
  storybooks/stencil-storybook/eslint.config.js
  storybooks/stencil-storybook/package.json
  storybooks/stencil-storybook/public/assets/images/placeholder.jpg
  storybooks/stencil-storybook/src/index.mdx
  storybooks/stencil-storybook/src/templates/apply-web-component-args.ts
  storybooks/stencil-storybook/tsconfig.app.json
  storybooks/stencil-storybook/tsconfig.json
  storybooks/stencil-storybook/tsconfig.node.json
  storybooks/stencil-storybook/vite.config.ts
Due: stylelint --fix, xo --fix, prettier --write

feat(DBTooltip): allow customizing the appear delay via --db-animation-delay
  .changeset/tooltip-configurable-delay.md
  packages/components/src/styles/internal/_popover-component.scss
Due: stylelint --fix

fix(DBPopover): align tooltip and popover gap distance to sm (#8372)
  .changeset/align-tooltip-popover-distance.md
  packages/components/src/styles/internal/_popover-component.scss
Due: stylelint --fix

fix(DBCustomSelect): assert label absence instead of not.toContainText in e2e
  showcases/e2e/custom-select/custom-select-interaction.spec.ts
Due: xo --fix, prettier --write

fix(storybook): harden web components story generation
  packages/components/configs/plugins/storybook/get-stories.cjs
  pnpm-lock.yaml
  storybooks/stencil-storybook/package.json
  storybooks/stencil-storybook/src/templates/apply-web-component-args.ts
  storybooks/stencil-storybook/tsconfig.app.json
Due: xo --fix, prettier --write

fix(icons): make data-icon-variant="filled" work in themed projects
  .changeset/icon-variant-filled-theme-aware.md
  packages/foundations/scss/defaults/default-icons.scss
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/icons/relative.scss
Due: stylelint --fix

refactor(icons): remove verbose comments around the icon variant mapping
  packages/foundations/scss/defaults/default-icons.scss
  packages/foundations/scss/icons/_icon-helpers.scss
  packages/foundations/scss/icons/relative.scss
Due: stylelint --fix

fix(DBControlPanel): add flex-wrap so action groups wrap instead of overflowing (#8369)
  .changeset/control-panel-actions-flex-wrap.md
  packages/components/src/components/control-panel-mobile/control-panel-mobile.scss
  packages/components/src/styles/internal/_control-panel-desktop.scss
Due: stylelint --fix

test(DBIcon): add a variant example covering data-icon-variant
  packages/components/src/components/icon/examples/variant.example.lite.tsx
  packages/components/src/components/icon/showcase/icon.showcase.lite.tsx
Due: xo --fix, prettier --write

fix(DBBreadcrumb): address PR review feedback
  .changeset/breadcrumb-collapsed-tabindex.md
  .changeset/breadcrumb-truncation-popover.md
  .config/cspellignorewords.txt
  packages/components/src/components/breadcrumb-item/breadcrumb-item.lite.tsx
  packages/components/src/components/breadcrumb-item/breadcrumb-item.scss
  packages/components/src/components/breadcrumb-item/model.ts
  packages/components/src/components/breadcrumb-popover-item/breadcrumb-popover-item.scss
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/docs/Angular.md
  packages/components/src/components/breadcrumb/docs/HTML.md
  packages/components/src/components/breadcrumb/docs/React.md
  packages/components/src/components/breadcrumb/docs/Vue.md
  showcases/e2e/breadcrumb/breadcrumb-a11y-checker.spec.ts
  showcases/react-showcase/src/utils/navigation-item.tsx
Due: stylelint --fix, xo --fix, prettier --write

Apply suggestion from @mfranzke
  .changeset/icon-variant-filled-theme-aware.md
Due: none

docs(tabs): condense overflow comments to one-liners
  packages/components/src/components/tabs/tabs.scss
Due: stylelint --fix

Update .changeset/refactor-dbselect-hidden-empty-option.md
  .changeset/refactor-dbselect-hidden-empty-option.md
Due: none

feat(DBBreadcrumb): mobile shows only last two crumbs without popover
  .changeset/a11y-visually-hidden-mixin.md
  packages/components/src/components/breadcrumb/breadcrumb.scss
  packages/foundations/scss/helpers/_a11y.scss
Due: stylelint --fix

refactor: updated snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-arrows-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-next-1.txt
Due: none

Revert "refactor: updated snapshot"
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-arrows-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-next-1.txt
Due: none

fix(tabs): no stray vertical scrollbar at fractional browser zoom (#8332)
  .changeset/tabs-zoom-vertical-scrollbar.md
  packages/components/src/components/tabs/tabs.scss
  showcases/e2e/tabs/tabs-scroll-axis.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

feat(DBTooltip): allow customizing the appear delay via `--db-animation-delay` (#8392)
  .changeset/tooltip-configurable-delay.md
  packages/components/src/styles/internal/_popover-component.scss
Due: stylelint --fix

fix(test): anchor DBRadio screen-reader tests on the first radio
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

fix: test for screen-reader radio
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-arrows-1.txt
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

refactor(test): set the DBRadio anchor selection via Playwright
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

chore: trigger screen-reader tests for screen-reader branches
  .github/workflows/default.yml
Due: none

test(DBBreadcrumb): migrate component test to cross-framework interaction spec
  packages/components/src/components/breadcrumb/breadcrumb.spec.tsx
  packages/components/src/components/breadcrumb/examples/interaction.example.lite.tsx
  packages/components/src/components/breadcrumb/showcase/breadcrumb.showcase.lite.tsx
  showcases/e2e/breadcrumb/breadcrumb-interaction.spec.ts
Due: xo --fix, prettier --write

fix: test for screen-reader radio (#8413)
  .github/workflows/default.yml
  showcases/screen-reader/__snapshots__/windows/chromium/DBRadio-arrows-1.txt
  showcases/screen-reader/tests/radio.spec.ts
Due: xo --fix, prettier --write

feat(DBStack)!: ship as major and fix the focus container box sizing
  .changeset/stack-focus-ring-clipping.md
  README.md
  docs/migration/v5.x.x-to-v6.0.0.md
  packages/foundations/scss/helpers/_focus.scss
  showcases/e2e/stack/stack-interaction.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
