Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update snapshots
  .config/cspellignorewords.txt
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
Due: none

fix: removed unused files from showcases
  packages/components/configs/mitosis.storybook.config.cjs
  showcases/react-showcase/src/components/base-component-data.ts
  showcases/react-showcase/src/components/data.ts
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/vite-env.d.ts
  showcases/react-showcase/tsconfig.json
  showcases/shared/default-component-data.ts
  showcases/shared/react-default-component-data.ts
  showcases/shared/tab-item.json
  showcases/shared/tabs.json
Due: xo --fix, prettier --write

fix(agent-cli): align preamble paths with consumer bundle structure
  packages/agent-cli/src/utils/index.ts
Due: xo --fix, prettier --write

fix(agent-cli): throw error when consumer-powers source is missing
  packages/agent-cli/src/index.ts
Due: xo --fix, prettier --write

fix(agent-cli): include db-ux-consumer-powers in published artifact
  packages/agent-cli/package.json
Due: none

feat: remove onClick prop from DBTabItem
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix: adjust tab-item hover/pressed states
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix: remove leftover noText usage from tab-item showcases and styles
  packages/components/src/components/tab-item/tab-item.scss
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/react-showcase/src/components/form/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

feat(kiro): Create Prettier format on save hook
  .kiro/hooks/prettier-format.kiro.hook
Due: none

Potential fix for pull request finding
  .kiro/hooks/prettier-format.kiro.hook
Due: none

refactor(agent-cli): reference consumer-powers from node_modules instead of copying
  packages/agent-cli/src/index.ts
  packages/agent-cli/src/utils/index.ts
  packages/agent-cli/test/__snapshots__/index.spec.ts.snap
  packages/agent-cli/test/index.spec.ts
Due: xo --fix, prettier --write

fix(agent-cli): correct Angular and Web Components import patterns in guidelines
  packages/agent-cli/db-ux-consumer-powers/context/guidelines.md
Due: none

fix(agent-cli): remove HTML/CSS only row from framework import table
  packages/agent-cli/db-ux-consumer-powers/context/guidelines.md
Due: none

fix(agent-cli): describe white-label and DB Theme setup separately in guidelines
  packages/agent-cli/db-ux-consumer-powers/context/guidelines.md
Due: none

refactor(agent-cli): remove duplicate create-rules skill
  packages/agent-cli/db-ux-consumer-powers/POWER.md
  packages/agent-cli/db-ux-consumer-powers/power.yaml
  packages/agent-cli/db-ux-consumer-powers/skills/create-rules/SKILL.md
Due: none

fix(agent-cli): use hosted Figma MCP server instead of desktop SSE
  packages/agent-cli/db-ux-maintainer-powers/POWER.md
  packages/agent-cli/db-ux-maintainer-powers/mcp.json
Due: none

chore: update snapshots
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
Due: none

fix(agent-cli): correct test commands in maintainer skills
  packages/agent-cli/db-ux-maintainer-powers/skills/modify-db-component/SKILL.md
  packages/agent-cli/db-ux-maintainer-powers/skills/test-component/SKILL.md
Due: none

fix(agent-cli): remove component-specific VariantList instruction from modify skill
  packages/agent-cli/db-ux-maintainer-powers/skills/modify-db-component/SKILL.md
Due: none

fix(agent-cli): remove component-specific lite.tsx instructions from modify skill
  packages/agent-cli/db-ux-maintainer-powers/skills/modify-db-component/SKILL.md
Due: none

fix(agent-cli): use SCSS variables as primary token approach in modify skill
  packages/agent-cli/db-ux-maintainer-powers/skills/modify-db-component/SKILL.md
Due: none

fix(agent-cli): add guidance to check internal styles and reuse across components
  packages/agent-cli/db-ux-maintainer-powers/skills/modify-db-component/SKILL.md
Due: none

fix(agent-cli): run component tests from output/react, not packages/components
  packages/agent-cli/db-ux-maintainer-powers/skills/create-db-component/SKILL.md
  packages/agent-cli/db-ux-maintainer-powers/skills/modify-db-component/SKILL.md
  packages/agent-cli/db-ux-maintainer-powers/skills/test-component/SKILL.md
Due: none

fix(agent-cli): clarify examples/showcase location in modify skill
  packages/agent-cli/db-ux-maintainer-powers/skills/modify-db-component/SKILL.md
Due: none

fix: issues from PR
  packages/components/src/components/table-body/index.html
  packages/components/src/components/table-caption/index.html
  packages/components/src/components/table-data-cell/index.html
  packages/components/src/components/table-footer/index.html
  packages/components/src/components/table-head/index.html
  packages/components/src/components/table-header-cell/index.html
  packages/components/src/components/table-row/index.html
  packages/components/src/components/table-row/table-row.scss
  packages/components/src/components/table/docs/Angular.md
  packages/components/src/components/table/docs/HTML.md
  packages/components/src/components/table/docs/Migration.md
  packages/components/src/components/table/docs/React.md
  packages/components/src/components/table/docs/Vue.md
  packages/components/src/shared/model.ts
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/helpers/_index.scss
  packages/foundations/scss/helpers/_interactive.scss
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  storybooks/react-storybook/src/templates/table-kitchen-sink/tableModels.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix(agent-cli): align remaining skills and docs
  packages/agent-cli/db-ux-consumer-powers/skills/implement-component/SKILL.md
  packages/agent-cli/db-ux-consumer-powers/skills/migrate-to-v3/SKILL.md
  packages/agent-cli/db-ux-maintainer-powers/context/architecture.md
  packages/agent-cli/db-ux-maintainer-powers/skills/TEMPLATE.md
  packages/agent-cli/db-ux-maintainer-powers/skills/create-db-component/SKILL.md
Due: none

fix: update interactive elements reference in table-row styles
  packages/components/src/components/table-row/table-row.scss
Due: stylelint --fix

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: Update .gitignore to remove kiro specs directory
  .gitignore
Due: none

refactor: removed this file from the branch
  package-lock.json
Due: none

refactor: updating pnpm
  package.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
