Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: another, simpler approach by escaping
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

refactor: another approach
  packages/components/src/components/switch/switch.scss
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

refactor: replace some non-ASCII characters
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/tab-panel/tab-panel.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

Revert "refactor: another approach"
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

Update switch.scss
  packages/components/src/components/switch/switch.scss
Due: stylelint --fix

refactor: further adaptions
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/tailwind/theme/index.css
Due: stylelint --fix

refactor: another approach
  packages/components/src/components/switch/switch.scss
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/defaults/non-ascii-tokens.css
Due: stylelint --fix

docs: corrected that comment
  packages/foundations/scss/defaults/non-ascii-tokens.css
Due: stylelint --fix

Revert "docs: corrected that comment"
  packages/foundations/scss/defaults/non-ascii-tokens.css
Due: stylelint --fix

Revert "refactor: another approach"
  packages/components/src/components/switch/switch.scss
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/defaults/non-ascii-tokens.css
Due: stylelint --fix

refactor: reverted that unrelated part
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

Create cool-weeks-juggle.md
  .changeset/cool-weeks-juggle.md
Due: none

fix(eslint-plugin): rules don't handle Angular template expressions as element content
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/src/rules/select/select-requires-options.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
  packages/eslint-plugin/test/rules/select/select-requires-options.spec.ts
Due: xo --fix, prettier --write

refactor: another approach by external CSS
  packages/components/src/components/switch/switch.scss
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/defaults/non-ascii-tokens.css
Due: stylelint --fix

feat: added an example for the events
  packages/components/src/components/drawer/examples/events.example.lite.tsx
  packages/components/src/components/drawer/showcase/drawer.showcase.lite.tsx
Due: xo --fix, prettier --write

Apply suggestions from code review
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/defaults/non-ascii-tokens.css
Due: stylelint --fix

refactor: we don't want to have the drawer being a controlled component even only
  packages/components/src/components/drawer/drawer.lite.tsx
Due: xo --fix, prettier --write

refactor: replace JS backdrop interactivity
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/model.ts
Due: stylelint --fix, xo --fix, prettier --write

refactor: simplified close button handling
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
  packages/components/src/components/drawer-header/model.ts
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/model.ts
  packages/components/src/utils/index.ts
  packages/foundations/docs/BrowserSupport.md
Due: stylelint --fix, xo --fix, prettier --write

refactor: added changeset
  .changeset/shaky-onions-melt.md
Due: none

refactor: switched from `close` to `requestClose` to enable the `cancel` event
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix, xo --fix, prettier --write

Apply suggestion from @mfranzke
  packages/foundations/scss/defaults/non-ascii-tokens.css
Due: stylelint --fix

Apply suggestion from @mfranzke
  .changeset/cool-weeks-juggle.md
Due: none

chore: added missing entry
  .config/cspellignorewords.txt
Due: none

refactor: removed regular `pnpm audit --fix=override` entries
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: added functionality to automated pnpm audit fixes
  .github/workflows/99-audit-fix-dependabot.yml
  .github/workflows/default.yml
Due: none

refactor: update pnpm
  package.json
Due: none

refactor: update pnpm (#7540)
  package.json
Due: none

refactor: removed all previous `pnpm audit --fix=override` entries
  pnpm-workspace.yaml
Due: none

refactor: regenerated lock file
  pnpm-lock.yaml
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
