Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: update snapshots
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
Due: none

fix: issue with a11y tests
  showcases/angular-showcase/src/app/components/stack/stack.component.html
  showcases/e2e/stack/stack-a11y.spec.ts
  showcases/react-showcase/src/components/stack/index.tsx
  showcases/vue-showcase/src/components/stack/Stack.vue
Due: xo --fix, prettier --write

fix: issue with a11y tests
  showcases/angular-showcase/src/app/components/stack/stack.component.html
  showcases/angular-showcase/src/app/components/stack/stack.component.ts
  showcases/react-showcase/src/components/stack/index.tsx
  showcases/vue-showcase/src/components/stack/Stack.vue
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/stack/patternhub/stack-overview-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-properties-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
Due: none

fix: issue with _custom-elements.scss and tag
  packages/components/src/styles/_custom-elements.scss
Due: stylelint --fix

chore: update implementation for accordion
  package-lock.json
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/model.ts
  packages/components/src/shared/model.ts
  showcases/e2e/accordion-item/accordion-item-a11y.spec.ts
  showcases/e2e/accordion/accordion-a11y.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

fix: overflow scroll drawer content
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

fix: issue with long inline links not breaking
  packages/components/src/components/link/link.scss
  showcases/react-showcase/src/components/form/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

chore: update sr snapshots
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion/accordion.scss
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBAccordion-default-1.txt
Due: stylelint --fix

fix: issues from PR
  packages/components/src/components/link/link.scss
  packages/components/src/styles/_link-components.scss
Due: stylelint --fix

Update showcases/screen-reader/default.ts
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

chore: refactor inner dummy component for stack
  packages/components/src/components/stack/docs/Angular.md
  packages/components/src/styles/_stack-components.scss
  showcases/angular-showcase/src/app/components/stack/stack.component.html
  showcases/angular-showcase/src/app/components/stack/stack.component.ts
  showcases/react-showcase/src/components/stack/index.tsx
  showcases/shared/stack.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/stack/Stack.vue
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with initOpenIndex
  packages/components/src/components/accordion-item/accordion-item.scss
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/model.ts
Due: stylelint --fix, xo --fix, prettier --write

chore: update snapshots
  __snapshots__/stack/patternhub/stack-docs-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-overview-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
Due: none

fix: issue with typescript
  packages/components/src/components/accordion/accordion.lite.tsx
Due: xo --fix, prettier --write

Update stack.md
  docs/research/stack.md
Due: none

chore: pin eslint version
  .github/dependabot.yml
  package-lock.json
  packages/components/package.json
Due: none

feat: add variant="inside" for DBDrawer
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/dialog-init.scss
  showcases/angular-showcase/src/app/components/drawer/drawer.component.html
  showcases/react-showcase/src/components/drawer/index.tsx
  showcases/shared/drawer.json
  showcases/vue-showcase/src/components/drawer/Drawer.vue
Due: stylelint --fix, xo --fix, prettier --write

fix: background color for accordion
  packages/components/src/components/accordion-item/accordion-item.scss
Due: stylelint --fix

fix: issue with checkbox icon
  packages/components/src/components/checkbox/checkbox.scss
  showcases/shared/checkbox.json
Due: stylelint --fix

refactor: updated snapshots
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
Due: none

Revert "fix: issue with checkbox icon"
  packages/components/src/components/checkbox/checkbox.scss
  showcases/shared/checkbox.json
Due: stylelint --fix

refactor: updated screenshots
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-safari/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/webkit/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
Due: none

chore: update snapshots
  __snapshots__/drawer/showcase/chromium-highContrast/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/chromium/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/firefox/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-chrome/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/mobile-safari/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
  __snapshots__/drawer/showcase/webkit/DBDrawer-should-match-screenshot-1/DBDrawer-should-match-screenshot.png
Due: none

fix: issue with icon alignment for checkbox
  packages/components/src/components/checkbox/checkbox.scss
Due: stylelint --fix

fix: issue with color contrast for tag
  packages/components/src/components/tag/tag.scss
Due: stylelint --fix

chore: update snapshots
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
Due: none

chore: update snapshots
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
Due: none

chore: update snapshots
  __snapshots__/tag/showcase/chromium-highContrast/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
Due: none

refactor: replace placeholder by db for the moment
  packages/components/src/components/tab-item/index.html
  packages/components/src/components/tab-list/index.html
  showcases/shared/input.json
  showcases/shared/select.json
  showcases/shared/tab-item.json
Due: none

chore(docs): clarification
  packages/foundations/docs/CustomIcons.md
Due: none

docs: update angular README.md to add missing file ending for css
  output/angular/README.md
Due: none

fix: issue with tooltip inside tag
  packages/components/src/components/tag/tag.scss
  showcases/patternhub/scripts/utils.js
Due: stylelint --fix, xo --fix, prettier --write

refactor: regenerated screenshots
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/firefox/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
Due: none

refactor: updated version
  package-lock.json
  packages/foundations/package.json
Due: none

feat: ignore json files as well
  .gitignore
Due: none

refactor: updated fonts
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/filled_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_12/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_14/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_28/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
Due: none
