Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Update package.json
  package.json
Due: none

Update docs/research/tabs.md
  docs/research/tabs.md
Due: none

Update docs/conventions.md
  docs/conventions.md
Due: none

docs: update migration files
  docs/migration/v0.7.x-to-v1.0.0.md
  packages/migration/src/migration/v0.0.7-v1.0.0.ts
  packages/migration/test/v0.0.7-v1.0.0/has-changes.txt
  packages/migration/test/v0.0.7-v1.0.0/no-change.txt
Due: xo --fix, prettier --write

fix: issues for new sass versions
  .stylelintrc.json
  package-lock.json
  packages/components/package.json
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/select/select.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/foundations/package.json
  packages/foundations/scss/helpers/_functions.scss
  showcases/patternhub/package.json
Due: stylelint --fix

fix: issues for new sass versions (#3819)
  .stylelintrc.json
  package-lock.json
  packages/components/package.json
  packages/components/src/components/accordion/accordion.scss
  packages/components/src/components/divider/divider.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/header/header.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/select/select.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/foundations/package.json
  packages/foundations/scss/helpers/_functions.scss
  showcases/patternhub/package.json
Due: stylelint --fix

fix: issue with missing peer dependency
  package-lock.json
  package.json
Due: none

chore: update db-theme dependency
  package-lock.json
  package.json
Due: none

chore: update from main
  package-lock.json
Due: none

chore: increase test timeout
  scripts/vitest.config.ts
Due: xo --fix, prettier --write

chore: update core-icons dependency
  packages/foundations/docs/Icons.md
  showcases/patternhub/pages/foundations/icons/overview.tsx
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
Due: none

fix: z-index for popover and tooltip to appear above other elements
  packages/components/src/styles/internal/_popover-component.scss
  scripts/package.json
  showcases/react-showcase/src/components/form/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix: z-index for popover and tooltip to appear above other elements (#3825)
  packages/components/src/styles/internal/_popover-component.scss
  scripts/package.json
  showcases/react-showcase/src/components/form/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix: icon overview for patternhub
  showcases/patternhub/pages/foundations/icons/overview.tsx
Due: xo --fix, prettier --write

Update overview-e16313bc7ffacdfb.js
  version/v1.0.1/_next/static/chunks/pages/foundations/icons/overview-e16313bc7ffacdfb.js
Due: xo --fix, prettier --write

fix: icon overview for patternhub (#3829)
  showcases/patternhub/pages/foundations/icons/overview.tsx
Due: xo --fix, prettier --write

fix: issue with angular input type=date resetting by using "0"
  packages/components/scripts/post-build/components.ts
Due: xo --fix, prettier --write
