Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor(angular): generate the ControlValueAccessor in a Mitosis plugin (#8295)
  packages/components/AGENTS.md
  packages/components/configs/angular/index.cjs
  packages/components/configs/plugins/angular/control-value-accessor.cjs
  packages/components/configs/plugins/angular/control-value-accessor.spec.ts
  packages/components/configs/plugins/angular/form-components.cjs
  packages/components/configs/plugins/angular/signal-forms.cjs
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
Due: xo --fix, prettier --write

fix(DBShellSubNavigation): keep left border above drilldown overlay
  .changeset/shell-sub-navigation-drilldown-border-z-index.md
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
Due: stylelint --fix

fix(test): skip custom-select keyboard interaction tests on mobile Safari
  packages/components/src/components/select/examples/interaction.example.lite.tsx
  showcases/e2e/custom-select/custom-select-interaction.spec.ts
Due: xo --fix, prettier --write

feat(DBStack): release width/height as breaking change
  .changeset/fix-stack-block-size.md
  README.md
  docs/migration/v5.x.x-to-v6.0.0.md
  packages/components/AGENTS.md
  packages/components/src/components/stack/stack.scss
Due: stylelint --fix

fix(test): skip time-input datalist interaction test on mobile Safari
  showcases/e2e/input/input-interaction.spec.ts
Due: xo --fix, prettier --write

fix(test): stabilize custom-select search and navigation aria-snapshot on mobile/high-contrast
  showcases/e2e/custom-select/custom-select-interaction.spec.ts
  showcases/e2e/navigation/navigation-aria-snapshot.spec.ts
Due: xo --fix, prettier --write

refactor: removed obsolete test
  packages/mcp-server/src/__tests__/e2e.test.ts
Due: xo --fix, prettier --write

fix: issue from PR
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-non-tree.scss
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
  packages/components/src/styles/internal/_navigation-item.scss
Due: stylelint --fix

Apply suggestion from @mfranzke
  .changeset/fix-stack-block-size.md
Due: none

fix(test): restrict time-input datalist test to desktop Chromium
  showcases/e2e/input/input-interaction.spec.ts
Due: xo --fix, prettier --write

fix(pipeline): by updating snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBControlPanelMobile-default-1.txt
Due: none

fix(DBShellSubNavigation): keep left border above drilldown overlay (#8307)
  .changeset/shell-sub-navigation-drilldown-border-z-index.md
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-non-tree.scss
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
  packages/components/src/styles/internal/_navigation-item.scss
Due: stylelint --fix

feat: added changeset
  .changeset/eslint-plugin-slot-header-detection.md
Due: none

fix(pipeline): by updating snapshot (#8311)
  showcases/screen-reader/__snapshots__/windows/chromium/DBControlPanelMobile-default-1.txt
Due: none

fix(DBControlPanelNavigationItemGroup): correct drilldown and popover z-index layering
  .changeset/navigation-item-drilldown-z-index-layering.md
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-drilldown.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-non-tree.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-popover.scss
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
  packages/components/src/styles/internal/_navigation-item.scss
Due: stylelint --fix

fix(DBBreadcrumb): correct keyboard focus and tab order while collapsed
  .changeset/breadcrumb-collapsed-tabindex.md
  packages/components/src/components/breadcrumb-item/breadcrumb-item.scss
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.scss
  packages/components/src/components/breadcrumb/model.ts
Due: stylelint --fix, xo --fix, prettier --write

fix(DBControlPanelNavigationItemGroup): correct drilldown and popover z-index layering (#8314)
  .changeset/navigation-item-drilldown-z-index-layering.md
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-drilldown.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-non-tree.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-popover.scss
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
  packages/components/src/styles/internal/_navigation-item.scss
Due: stylelint --fix

chore: remove aria-hidden to make axe-core happy
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

docs: optimize Radio Buttons pages
  packages/components/src/components/radio/examples/checked.example.lite.tsx
  packages/components/src/components/radio/examples/density.example.lite.tsx
  packages/components/src/components/radio/examples/disabled.example.lite.tsx
  packages/components/src/components/radio/examples/required.example.lite.tsx
  packages/components/src/components/radio/examples/show-label.example.lite.tsx
  packages/components/src/components/radio/examples/show-required-asterisk.example.lite.tsx
  packages/components/src/components/radio/examples/size.example.lite.tsx
  packages/components/src/components/radio/examples/validation.example.lite.tsx
Due: xo --fix, prettier --write

fix(e2e): pin DBTag visual-snapshot viewport height
  showcases/e2e/tag/tag-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

feat(DBText): add beta Text, Paragraph and ParagraphGroup components
  .changeset/text-components-beta.md
  .config/cspellignorewords.txt
  .config/knip.jsonc
  docs/research/text-research.md
  packages/components/AGENTS.md
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/text/docs/Angular.md
  packages/components/src/components/text/docs/HTML.md
  packages/components/src/components/text/docs/React.md
  packages/components/src/components/text/docs/Vue.md
  packages/components/src/components/text/examples/_text.arg.types.ts
  packages/components/src/components/text/examples/alignment.example.lite.tsx
  packages/components/src/components/text/examples/attribute-forwarding.example.lite.tsx
  packages/components/src/components/text/examples/group.example.lite.tsx
  packages/components/src/components/text/examples/inline.example.lite.tsx
  packages/components/src/components/text/examples/sizes.example.lite.tsx
  packages/components/src/components/text/examples/visually-hidden.example.lite.tsx
  packages/components/src/components/text/index.ts
  packages/components/src/components/text/model.ts
  packages/components/src/components/text/paragraph-group.lite.tsx
  packages/components/src/components/text/paragraph.lite.tsx
  packages/components/src/components/text/showcase/text.showcase.lite.tsx
  packages/components/src/components/text/text.lite.tsx
  packages/components/src/components/text/text.scss
  packages/components/src/components/text/text.spec.tsx
  packages/components/src/index.ts
  packages/components/src/styles/index.scss
  packages/components/src/styles/internal/_custom-elements.scss
  packages/components/src/styles/internal/_stack-components.scss
Due: stylelint --fix, xo --fix, prettier --write
