Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix(screen-reader): stabilize flaky switch snapshot via postTestFn normalization
  showcases/screen-reader/__snapshots__/windows/chromium/DBSwitch-default-1.txt
  showcases/screen-reader/tests/switch.spec.ts
Due: xo --fix, prettier --write

docs(README.md): added missing node package
  README.md
Due: none

Update README.md
  README.md
Due: none

refactor: we need a wrapper tag … :-(
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/notification/notification.scss
Due: stylelint --fix, xo --fix, prettier --write

refactor: adapting moduleResolution setting
  showcases/next-showcase/tsconfig.json
  showcases/patternhub/tsconfig.json
Due: none

fix(tabs): align tab-list gap and tab-panel padding with Figma spec
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/tabs/tabs.scss
Due: stylelint --fix

fix: pipeline
  packages/mcp-server/package.json
Due: none

refactor: added missing package
  .changeset/config.json
Due: none

refactor: needed to regenerate the package lock file
  package-lock.json
Due: none

Update CHANGELOG.md
  packages/mcp-server/CHANGELOG.md
Due: none

fix(tabs): add sub-pixel tolerance to scroll-button visibility check
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

feat(tabs): add examples for missing properties
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tabs/examples/disabled.example.lite.tsx
  packages/components/src/components/tabs/examples/icons.example.lite.tsx
  packages/components/src/components/tabs/examples/overflow.example.lite.tsx
  packages/components/src/components/tabs/showcase/tabs.showcase.lite.tsx
  packages/components/src/components/tabs/tabs.scss
  showcases/react-showcase/src/components/tabs/index.tsx
  showcases/shared/tabs.json
Due: stylelint --fix, xo --fix, prettier --write

fix(tabs): restore hover/active states on scroll buttons
  packages/components/src/components/tabs/tabs.scss
  showcases/e2e/tabs/tabs-visual-snapshot.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

fix(tabs): fix strict mode violation in aria-snapshot spec for multiple scroll buttons
  showcases/e2e/tabs/tabs-aria-snapshot.spec.ts
Due: xo --fix, prettier --write

chore(tabs): regenerate snapshots
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium-highContrast/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
Due: none

chore(tabs): regenerate snapshots
  showcases/e2e/tab-item/tab-item-visual-snapshot.spec.ts
  showcases/e2e/tabs/tabs-visual-snapshot.spec.ts
Due: xo --fix, prettier --write
