Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Update packages/components/docs/creating-custom-components.md
  packages/components/docs/creating-custom-components.md
Due: none

chore: update nuxt and vite configurations to include cssMinify option and bump dependencies
  package-lock.json
  package.json
  packages/components/package.json
  showcases/nuxt-showcase/nuxt.config.ts
  showcases/nuxt-showcase/package.json
  showcases/react-showcase/package.json
  showcases/react-showcase/vite.config.ts
  showcases/vue-showcase/vite.config.ts
  storybooks/_storybook/package.json
  storybooks/_storybook/vite.config.ts
  storybooks/angular-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/react-storybook/vite.config.ts
  storybooks/vue-storybook/package.json
  storybooks/vue-storybook/vite.config.ts
Due: xo --fix, prettier --write

chore(deps-dev): update vitest and eslint packages to latest versions
  package-lock.json
  package.json
  packages/agent-cli/package.json
  packages/agent-cli/test/frontend/node_modules/@db-ux/components/agent/_instructions.md
  packages/agent-cli/test/frontend/node_modules/@db-ux/foundations/agent/_instructions.md
  packages/agent-cli/test/pnpm-test/node_modules/@db-ux/test-symlink-package
  packages/components/package.json
  packages/eslint-plugin/package.json
  packages/migration/package.json
  packages/stylelint/package.json
  scripts/package.json
  showcases/patternhub/package.json
  storybooks/_storybook/eslint.config.js
  storybooks/_storybook/package.json
  storybooks/react-storybook/eslint.config.js
  storybooks/react-storybook/package.json
Due: xo --fix, prettier --write

chore: revert symlink test
  packages/agent-cli/test/pnpm-test/node_modules/@db-ux/test-symlink-package
Due: none

chore: simplify Vite configuration by removing unused plugins
  showcases/vue-showcase/vite.config.ts
Due: xo --fix, prettier --write

docs: update README with Vite 8 and Next 16 CSS minifier configurations
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
  showcases/nuxt-showcase/nuxt.config.ts
  showcases/patternhub/components/accessibility-review-info/accessibility-review-info.tsx
  showcases/patternhub/components/copy-clipboard-button/index.tsx
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/foundations/colors/colors-overview-tabs/index.tsx
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/pages/foundations/colors/color-modes.tsx
  showcases/patternhub/pages/foundations/icons/overview.tsx
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/react-showcase/src/meta-navigation/index.tsx
  showcases/react-showcase/vite.config.ts
  showcases/vue-showcase/vite.config.ts
Due: xo --fix, prettier --write

test: generation next
  generate-css/color.ts
  generate-css/index.ts
  generate-css/material.ts
  generated-colors.css
  packages/components/src/components/accordion-item/accordion-item.next.scss
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.next.scss
  packages/components/src/components/accordion/model.ts
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/checkbox.next.scss
  packages/components/src/components/checkbox/model.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/components-next.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/components/src/utils/form-components.ts
  showcases/react-showcase/src/index.css
  test.html
Due: stylelint --fix, xo --fix, prettier --write

fix(design tokens): align colors with values from figma
  packages/foundations/scss/colors/_default-color-mappings.scss
Due: stylelint --fix

fix: add label attribute requirement for DBBadge with corner placement
  packages/eslint-plugin/src/rules/badge/badge-corner-placement-rules.ts
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/frameworks/__snapshots__/frameworks.spec.ts.snap
  packages/eslint-plugin/test/rules/accordion/no-nested-accordion.spec.ts
  packages/eslint-plugin/test/rules/badge/badge-corner-placement-rules.spec.ts
  packages/eslint-plugin/test/rules/badge/badge-no-inline-in-interactive.spec.ts
  packages/eslint-plugin/test/rules/button/button-no-text-requires-tooltip.spec.ts
  packages/eslint-plugin/test/rules/button/button-single-icon-attribute.spec.ts
  packages/eslint-plugin/test/rules/button/button-type-required.spec.ts
  packages/eslint-plugin/test/rules/close-button/close-button-text-required.spec.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
  packages/eslint-plugin/test/rules/form/form-label-required.spec.ts
  packages/eslint-plugin/test/rules/form/form-validation-message-required.spec.ts
  packages/eslint-plugin/test/rules/header/header-burger-menu-label-required.spec.ts
  packages/eslint-plugin/test/rules/icon/prefer-icon-attribute.spec.ts
  packages/eslint-plugin/test/rules/input/input-file-type-validation.spec.ts
  packages/eslint-plugin/test/rules/input/input-type-required.spec.ts
  packages/eslint-plugin/test/rules/link/link-external-security.spec.ts
  packages/eslint-plugin/test/rules/navigation/navigation-item-back-button-text-required.spec.ts
  packages/eslint-plugin/test/rules/select/custom-select-tags-remove-text-required.spec.ts
  packages/eslint-plugin/test/rules/select/select-requires-options.spec.ts
  packages/eslint-plugin/test/rules/tag/tag-removable-remove-button-required.spec.ts
  packages/eslint-plugin/test/rules/tooltip/no-interactive-tooltip-content.spec.ts
  packages/eslint-plugin/test/rules/tooltip/tooltip-requires-interactive-parent.spec.ts
Due: xo --fix, prettier --write

fix: server error by actions/dependency-review-action
  .github/actions/npm-cache/action.yml
Due: none

Update action.yml
  .github/actions/npm-cache/action.yml
Due: none

refactor: running npm audit fix
  package-lock.json
Due: none

Reapply "chore: 🤖 Add strict .npmrc file (#5118)" (#5143)
  .npmrc
  package.json
Due: none

refactor: regenerated package lock file
  package-lock.json
Due: none

refactor: pinning dependencies
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/package.json
  showcases/vue-showcase/package.json
  storybooks/angular-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

fix: update regex flags and improve event handling in components
  package-lock.json
  package.json
  packages/agent-cli/package.json
  packages/migration/package.json
  scripts/documentation/extract-css-vars.ts
  scripts/documentation/merge-component-docs.ts
  scripts/github/changesets/publish.ts
  scripts/github/changesets/utils.ts
  scripts/github/changesets/version-bump.ts
  scripts/github/extract-name-and-base-url.js
  scripts/md-resolve-svg.ts
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.ts
  showcases/angular-showcase/src/app/components/form/radios/radios.component.ts
  showcases/angular-showcase/src/app/components/form/selects/selects.component.ts
  showcases/angular-showcase/src/app/components/form/switches/switches.component.ts
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.ts
  showcases/angular-showcase/tsconfig.json
  showcases/angular-ssr-showcase/tsconfig.json
  showcases/patternhub/components/version-switcher/version-switcher.tsx
  showcases/patternhub/package.json
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/scripts/get-properties-file.js
  showcases/patternhub/scripts/remark-transform-links.js
  showcases/patternhub/scripts/utils.js
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/react-showcase/src/utils/base-path.ts
  showcases/stencil-showcase/tsconfig.json
  storybooks/angular-storybook/.storybook/preview.ts
  xo.config.js
Due: xo --fix, prettier --write

fix: remove types entry from package.json
  output/angular/package.json
Due: none

chore(mcp-server): adapt package-lock.json
  package-lock.json
Due: none
