Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

feat: only handle defined components and skip others
  scripts/documentation/merge-component-docs.js
Due: xo --fix, prettier --write

docs: added open points to readme
  scripts/documentation/README.md
Due: none

refactor: restructured the pages structure
  packages/foundations/docs/Playgrounds.md
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/pages/foundations/playgrounds/index.mdx
Due: xo --fix, prettier --write

refactor: more contents
  .config/.jscpd.json
  showcases/patternhub/pages/_app.tsx
  showcases/patternhub/pages/foundations/playgrounds/index.mdx
  showcases/patternhub/public/assets/images/angular-showcase.svg
  showcases/patternhub/public/assets/images/angular-showcase.svg.license
  showcases/patternhub/public/assets/images/react-showcase.svg
  showcases/patternhub/public/assets/images/react-showcase.svg.license
  showcases/patternhub/public/assets/images/react-wind-showcase.svg
  showcases/patternhub/public/assets/images/react-wind-showcase.svg.license
  showcases/patternhub/public/assets/images/vue-showcase.svg
  showcases/patternhub/public/assets/images/vue-showcase.svg.license
  showcases/patternhub/styles/playgrounds.scss
Due: stylelint --fix, xo --fix, prettier --write

style: optimizations
  showcases/patternhub/styles/playgrounds.scss
Due: stylelint --fix

Update v2.x.x-to-v3.0.0.md
  docs/migration/v2.x.x-to-v3.0.0.md
Due: none

refactor: prettier
  showcases/react-showcase/src/components/card/index.tsx
Due: xo --fix, prettier --write

refactor: running prettier
  showcases/react-showcase/src/components/card/index.tsx
Due: xo --fix, prettier --write

Update .jscpd.json
  .config/.jscpd.json
Due: none

Update playgrounds.scss
  showcases/patternhub/styles/playgrounds.scss
Due: stylelint --fix

refactor: style optgroup directly
  packages/components/src/components/select/select.scss
Due: stylelint --fix

refactor: variables for transparent-hovered/-pressed
  README.md
  docs/migration/v2.x.x-to-v3.0.0.md
  packages/components/src/README.md
  packages/components/src/components/button/button.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/custom-select-list-item/custom-select-list-item.scss
  packages/components/src/components/input/input.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/components/src/styles/internal/_scrollbar.scss
  packages/foundations/scss/colors/_default-color-mappings.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/colors/speaking-colors/additional/_blue.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_burgundy.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_cyan.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_green.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_light-green.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_orange.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_pink.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_red.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_turquoise.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_violet.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/additional/_yellow.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_brand.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_critical.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_informational.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_neutral.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_successful.speaking-colors.scss
  packages/foundations/scss/colors/speaking-colors/semantic/_warning.speaking-colors.scss
  packages/foundations/tailwind/tailwind-tokens.json
  packages/foundations/tailwind/theme/colors.css
  packages/migration/src/migration/v2.0.0-v3.0.0.ts
Due: stylelint --fix, xo --fix, prettier --write

refactor: style optgroup directly (#4564)
  packages/components/src/components/select/select.scss
Due: stylelint --fix

refactor: renamed data-hide-icon to data-show-icon to match property
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.scss
  packages/components/src/components/custom-select/docs/HTML.md
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/input.scss
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/internal/_icon-passing.scss
  packages/components/src/styles/internal/_select-components.scss
  packages/foundations/scss/defaults/default-icons.scss
  packages/foundations/scss/icons/_icon-helpers.scss
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/input/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/input/Input.vue
Due: stylelint --fix, xo --fix, prettier --write

refactor: prettier added folders to ignore
  .prettierignore
Due: none

refactor(codestyle): pin some dev dependencies to ensure consistency
  package-lock.json
  package.json
Due: none

feat: also copy all component-md files to docs/copilot folder
  scripts/documentation/README.md
  scripts/documentation/merge-component-docs.js
Due: xo --fix, prettier --write

refactor: prettier added folders to ignore (#4572)
  .prettierignore
Due: none

refactor(codestyle): pin some dev dependencies to ensure consistency (#4571)
  package-lock.json
  package.json
Due: none

fix: issue with vue showcase
  showcases/vue-showcase/src/components/card/Card.vue
Due: none

refactor: some optimizations
  packages/foundations/scss/defaults/default-code.scss
  showcases/patternhub/pages/foundations/playgrounds/index.mdx
Due: stylelint --fix

refactor: further optimizations
  showcases/patternhub/styles/playgrounds.scss
Due: stylelint --fix

style: added general tokens
  showcases/patternhub/styles/playgrounds.scss
Due: stylelint --fix

style: optimization
  showcases/patternhub/styles/playgrounds.scss
Due: stylelint --fix
