Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix(mcp-server): fix ESLint no-unnecessary-type-arguments errors
  showcases/patternhub/components/accessibility-review-info/accessibility-review-info.tsx
  showcases/patternhub/components/copy-clipboard-button/index.tsx
  showcases/patternhub/components/default-page.tsx
  showcases/patternhub/components/foundations/colors/colors-overview-tabs/index.tsx
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/pages/foundations/colors/color-modes.tsx
  showcases/patternhub/pages/foundations/icons/overview.tsx
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/react-showcase/src/meta-navigation/index.tsx
Due: xo --fix, prettier --write

chore(mcp-server): adapt changeset
  .changeset/four-eggs-like.md
Due: none

Apply suggestion from @nmerget
  .github/workflows/01-build-outputs.yml
Due: none

chore(mcp-server): adapt package-lock.json
  .changeset/ten-avocados-hunt.md
  package-lock.json
  showcases/react-showcase/src/meta-navigation/index.tsx
Due: xo --fix, prettier --write

chore(mcp-server): adapt package-lock.json
  package-lock.json
Due: none

docs: update README to reflect cssMinify configuration change in Vite
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
Due: none

chore: update Nuxt configuration to use esbuild for CSS minification
  showcases/nuxt-showcase/nuxt.config.ts
Due: xo --fix, prettier --write

feat: add PostCSS plugin for flattening CSS variables and resolving functions
  .config/cspellignorewords.txt
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-build-showcases.yml
  .github/workflows/02-e2e-showcases.yml
  package-lock.json
  packages/postcss-plugin/README.md
  packages/postcss-plugin/package.json
  packages/postcss-plugin/src/index.ts
  packages/postcss-plugin/src/plugins/flatten/data.ts
  packages/postcss-plugin/src/plugins/flatten/helpers/collect.ts
  packages/postcss-plugin/src/plugins/flatten/helpers/css-parser.ts
  packages/postcss-plugin/src/plugins/flatten/helpers/resolve.ts
  packages/postcss-plugin/src/plugins/flatten/helpers/transform.ts
  packages/postcss-plugin/src/plugins/flatten/index.ts
  packages/postcss-plugin/test/plugin.spec.ts
  packages/postcss-plugin/tsconfig.json
  packages/postcss-plugin/vitest.config.ts
  scripts/dev.ts
  scripts/github/publish-npm.js
  scripts/package.json
  showcases/angular-showcase/postcss.config.json
  showcases/angular-showcase/src/styles.css
  showcases/react-showcase/src/index.css
  showcases/react-showcase/src/main.tsx
  showcases/react-showcase/vite.config.ts
  showcases/vue-showcase/src/index.css
  showcases/vue-showcase/src/main.ts
  showcases/vue-showcase/vite.config.ts
Due: stylelint --fix, xo --fix, prettier --write

fix: pin @custom-elements-manifest/analyzer to 0.10.10 to avoid oxc-resolver native binding issue
  output/stencil/package.json
  package-lock.json
Due: none

fix: update PostCSS plugin build script to reference correct workspace
  scripts/package.json
Due: none

chore: update build process to include docs-file-references script
  .github/workflows/01-build-packages.yml
  package-lock.json
  scripts/package.json
Due: none

fix: pin @custom-elements-manifest/analyzer to and nuxt to avoid oxc native binding issues
  .github/actions/npm-cache/action.yml
  showcases/nuxt-showcase/package.json
Due: none

fix: pin next to 16.1.6 to avoid yarn packageManager detection bug
  package-lock.json
  showcases/patternhub/package.json
Due: none

fix: update package-lock.json
  package-lock.json
Due: none

chore: add initial CHANGELOG for PostCSS plugin
  packages/postcss-plugin/CHANGELOG.md
Due: none

fix: remove unused @babel/eslint-parser and bump @angular-eslint to 21.3.1
  .husky/pre-commit
  package-lock.json
  package.json
  packages/eslint-plugin/package.json
Due: none

fix: remove unused @babel/eslint-parser and bump @angular-eslint to 21.3.1
  .config/cspellignorewords.txt
  .husky/pre-commit
Due: none

fix: bump next to 16.1.7 to resolve security vulnerabilities
  showcases/patternhub/package.json
Due: none

fix: bump @next/mdx and eslint-config-next to 16.1.7
  package-lock.json
  showcases/patternhub/package.json
Due: none

chore: pin eslint-config-xo to 0.50.0 and remove @babel/eslint-parser
  package-lock.json
  package.json
Due: none

fix: resolve tailwind theme issues by using inline declarations
  .changeset/loose-buttons-tap.md
  packages/foundations/tailwind/theme/colors.scss
  packages/foundations/tailwind/theme/dimensions.css
  packages/foundations/tailwind/theme/dimensions.scss
Due: stylelint --fix

feat: enhance parseHexColor to return RGBA tuple and support alpha channel
  packages/postcss-plugin/src/plugins/flatten/helpers/resolve.ts
Due: xo --fix, prettier --write

fix: restore @custom-elements-manifest/analyzer to 0.11.0
  output/stencil/package.json
  package-lock.json
Due: none

refactor: enhance link-headline style with bold font weight
  showcases/showcase-styles.css
Due: stylelint --fix

fix: update @custom-elements-manifest/analyzer to 0.11.0 in lock file
  package-lock.json
Due: none

refactor: update theme imports to use new structure
  packages/foundations/dev/index.css
  packages/foundations/index.html
Due: stylelint --fix

fix: update comment syntax for stylelint directive in dimensions.css
  packages/foundations/tailwind/theme/dimensions.css
Due: stylelint --fix

chore: revert eslint-config-xo override, align with main
  package-lock.json
  package.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
