Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

feat: enable navigation between tabs with arrow-keys
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

refactor: update package lock
  package-lock.json
Due: none

feat: add aria-label for case of icon-only tabs
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

feat: enable nested tabs
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

feat: adapt spacing of icons in tabs
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

feat: add props for leading and trailing icon
  packages/components/src/components/tab-item/model.ts
Due: xo --fix, prettier --write

fix: update ariaLabel values in breadcrumb component for consistency
  packages/components/configs/plugins/stencil-landmark-role.cjs
  packages/components/configs/stencil/index.cjs
Due: none

feat: remove block statement inside jsx and move it into separate function to prevent build error
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix: styling issues with angular and stencil
  showcases/showcase-styles.css
Due: stylelint --fix

feat: check if icons should be shown
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

refactor: improve code style for storybook plugin
  packages/components/configs/plugins/storybook/get-meta-object.cjs
  packages/components/configs/plugins/storybook/get-stories.cjs
  packages/components/configs/plugins/storybook/resolve-imports.cjs
  packages/components/configs/plugins/storybook/storybook-plugin.cjs
  packages/components/configs/plugins/storybook/target-mapping.cjs
  packages/components/configs/plugins/vue/define-options.cjs
  packages/components/configs/vue/index.cjs
  storybooks/angular-storybook/.storybook/main.ts
  storybooks/angular-storybook/.storybook/preview.ts
  storybooks/angular-storybook/package.json
  storybooks/react-storybook/.storybook/main.ts
  storybooks/react-storybook/.storybook/preview.ts
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/.storybook/main.ts
  storybooks/vue-storybook/.storybook/preview.ts
  storybooks/vue-storybook/tsconfig.app.json
Due: xo --fix, prettier --write

fix: issue with stencil styles for showcases
  showcases/showcase-styles.css
Due: stylelint --fix

refactor: reupdated
  package-lock.json
  package.json
Due: none

refactor: updated React DOM
  package-lock.json
  showcases/react-showcase/package.json
Due: none

fix: issues with snapshots
  packages/components/scripts/post-build/components.ts
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.html
  showcases/vue-showcase/src/components/tooltip/Tooltip.vue
Due: xo --fix, prettier --write

fix: issue with angular styles for showcases
  showcases/showcase-styles.css
  storybooks/angular-storybook/.storybook/preview.ts
Due: stylelint --fix, xo --fix, prettier --write

fix: center checkbox again
  packages/components/src/components/checkbox/checkbox.scss
Due: stylelint --fix

refactor: updated React DOM (#5760)
  package-lock.json
  showcases/react-showcase/package.json
Due: none

chore: update github action to use stories
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

refactor: regenerated package lock file
  package-lock.json
Due: none

fix: issue with downloading stories
  .github/workflows/01-build-storybooks.yml
Due: none

refactor: updated patch dependencies (#5579)
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

fix: type
  showcases/shared/react-default-component-data.ts
Due: xo --fix, prettier --write
