Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix(docs): corrected declaration
  packages/components/src/components/radio/docs/HTML.md
Due: none

fix(docs): corrected declaration (#3962)
  packages/components/src/components/radio/docs/HTML.md
Due: none

chore(vscode): added filetype definition (#3958)
  .vscode/settings.json
Due: none

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

chore: update angular
  output/angular/package.json
  package-lock.json
  showcases/angular-showcase/package.json
  showcases/angular-ssr-showcase/package.json
Due: none

refactor: quick optimization regarding transition timings
  packages/components/src/styles/internal/_popover-component.scss
Due: stylelint --fix

chore: update angular
  output/angular/package.json
  package-lock.json
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/package.json
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/form/radios/radios.component.ts
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/components/radio/radio.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/switch/switch.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
  showcases/angular-showcase/src/app/nav-item/nav-item.component.ts
  showcases/angular-ssr-showcase/package.json
  showcases/angular-ssr-showcase/server.ts
  showcases/stencil-showcase/angular.json
  showcases/stencil-showcase/package.json
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/checkbox/patternhub/checkbox-properties-should-match-screenshot.png
  showcases/stencil-showcase/angular.json
Due: none

fix: issue with stencil
  showcases/stencil-showcase/angular.json
  showcases/stencil-showcase/package.json
Due: none

feat: add custom scrollbar to custom select list
  packages/components/src/components/custom-select-list/custom-select-list.scss
  showcases/react-showcase/src/components/form/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

feat: add new properties for foundations
  packages/foundations/scss/colors/_default-color-icons.scss
  packages/foundations/scss/colors/_default-color-properties.scss
  packages/foundations/scss/colors/_default-color-scheme.scss
  packages/foundations/scss/colors/_default-palette.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/defaults/_default-properties.scss
  packages/foundations/scss/defaults/default-theme.scss
  packages/foundations/scss/density/_typography-placeholder.scss
  packages/foundations/scss/fonts/_font-sizes.scss
Due: stylelint --fix

chore(eslint): update parser for eslint-config
  .eslintrc.js
  package-lock.json
  package.json
Due: xo --fix, prettier --write

docs: added faq section
  README.md
Due: none

Update README.md
  README.md
Due: none

docs: added faq section and reordered the sections again (#3984)
  README.md
Due: none

chore(prettier): add print- and tabWidth to configuration
  .prettierrc.json
Due: none

chore(yamllint): enhance config with indentation, trailing space, newline EOF, ignore node_modules
  .yamllint.yml
Due: none

chore(np-config): add branch to config
  .np-config.json
Due: none

chore(xo-config): ignore stylelint folder, remove override for svelte-showcase
  .xo-config.cjs
Due: none

docs(readme): improve README grammar, consistency, and formatting
  README.md
Due: none

docs(contributing): improve CONTRIBUTING grammar and clarity
  CONTRIBUTING.md
Due: none
