Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Revise installation notes and repository layout
  .github/copilot-instructions.md
Due: none

Update packageManager version to npm@11.5.2
  package.json
Due: none

refactor: reverted those aspects
  .config/.lintstagedrc.js
  .husky/pre-push
  output/stencil/package.json
  package.json
  packages/components/package.json
  packages/components/src/components/header/header.scss
  packages/components/src/components/input/input.lite.tsx
  packages/foundations/package.json
  showcases/patternhub/pages/foundations/playgrounds/index.mdx
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
Due: stylelint --fix, xo --fix, prettier --write

refactor: regenerated package lock file
  package-lock.json
Due: none

Update .lintstagedrc.js
  .config/.lintstagedrc.js
Due: xo --fix, prettier --write

refactor: update eslint and configs (#4781)
  .github/copilot-instructions.md
  .github/dependabot.yml
  package-lock.json
  package.json
  showcases/patternhub/package.json
Due: none

feat: enable in/valid state for switch
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/switch/switch.scss
  showcases/react-showcase/src/components/switch/index.tsx
  showcases/shared/switch.json
Due: stylelint --fix, xo --fix, prettier --write

refactor: moved that file
  docs/evaluations/github-copilot-workflow-fix.md
Due: none

Update packages/components/src/components/custom-select/custom-select.spec.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

Update packages/components/src/components/select/docs/HTML.md
  packages/components/src/components/select/docs/HTML.md
Due: none

Update packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

feat: Add Enter key support for Custom Select keyboard navigation (#4830)
  .changeset/old-wings-appear.md
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write
