Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: screen-reader snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
Due: none

refactor: update component imports and optimize CSS generation
  .gitignore
  package-lock.json
  packages/components/_templates/mitosis/new/component/vite-plugin-detector.ejs.t
  packages/foundations/scss/colors/_default-color-mappings.scss
  packages/foundations/scss/colors/_placeholder.scss
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/defaults/default-root.scss
  packages/foundations/scss/density/_scaling-placeholder.scss
  packages/foundations/scss/density/_typography-placeholder.scss
  packages/foundations/scss/fonts/_font-sizes.scss
  packages/foundations/scss/helpers/_index.scss
  packages/foundations/scss/helpers/_layer.scss
  packages/vite-plugin/package.json
  packages/vite-plugin/src/detector.ts
  packages/vite-plugin/src/generator.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/optimizer.ts
  packages/vite-plugin/src/types.ts
  packages/vite-plugin/test/__snapshots__/integration.spec.ts.snap
  packages/vite-plugin/test/fixtures/react-app/package-lock.json
  packages/vite-plugin/test/fixtures/react-app/package.json
  packages/vite-plugin/test/fixtures/react-app/src/App.tsx
  packages/vite-plugin/test/fixtures/react-app/tsconfig.json
  packages/vite-plugin/test/fixtures/react-app/vite.config.ts
  packages/vite-plugin/test/fixtures/vue-app/src/App.vue
  packages/vite-plugin/test/fixtures/vue-app/tsconfig.json
  packages/vite-plugin/test/fixtures/vue-app/vite.config.ts
  packages/vite-plugin/test/generator.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with stack snapshots
  packages/components/src/components/stack/examples/alignment-column.example.lite.tsx
  packages/components/src/components/stack/examples/alignment-row.example.lite.tsx
  packages/components/src/components/stack/examples/density.example.lite.tsx
  packages/components/src/components/stack/examples/direction.example.lite.tsx
  packages/components/src/components/stack/examples/gap.example.lite.tsx
  packages/components/src/components/stack/examples/justify-content-column.example.lite.tsx
  packages/components/src/components/stack/examples/justify-content-row.example.lite.tsx
  packages/components/src/components/stack/examples/variant.example.lite.tsx
  packages/components/src/components/stack/examples/wrap.example.lite.tsx
  showcases/showcase-styles.css
  showcases/stencil-showcase/src/styles.css
Due: stylelint --fix, xo --fix, prettier --write

chore: update snapshot
  packages/eslint-plugin/test/frameworks/__snapshots__/frameworks.spec.ts.snap
Due: none

fix(tsconfig): disable composite option and set root directory
  packages/vite-plugin/tsconfig.json
Due: none

fix(tsconfig): enable declaration generation
  packages/vite-plugin/tsconfig.json
Due: none

fix: update download-artifact action to version 8
  .github/workflows/02-vite-plugin-test.yml
Due: none

chore: update snapshot
  packages/vite-plugin/test/__snapshots__/integration.spec.ts.snap
Due: none

Update storybooks/_storybook/package.json
  storybooks/_storybook/package.json
Due: none

feat: update package dependencies and adjust tsconfig settings
  packages/vite-plugin/test/fixtures/react-app/package-lock.json
  packages/vite-plugin/test/fixtures/react-app/package.json
  packages/vite-plugin/test/fixtures/react-app/tsconfig.json
  packages/vite-plugin/test/fixtures/vue-app/package-lock.json
  packages/vite-plugin/test/fixtures/vue-app/package.json
  packages/vite-plugin/test/fixtures/vue-app/tsconfig.json
Due: none

fix: add missing `@property --db-screen-lg` and update related CSS variables
  .changeset/free-papers-boil.md
  packages/foundations/scss/_screen-sizes.scss
  packages/foundations/tailwind/theme/dimensions.css
  packages/foundations/tailwind/theme/revert-theme.css
Due: stylelint --fix

feat: update component aliases in vite.config and enhance README with migration instructions
  packages/vite-plugin/README.md
  packages/vite-plugin/test/fixtures/react-app/vite.config.ts
  packages/vite-plugin/test/fixtures/vue-app/vite.config.ts
Due: xo --fix, prettier --write

feat: refactor integration tests to consolidate app setup and snapshot generation
  packages/vite-plugin/test/__snapshots__/integration.spec.ts.snap
  packages/vite-plugin/test/integration.spec.ts
Due: xo --fix, prettier --write

fix: issues from PR
  .github/workflows/01-build-figma-code-connect.yml
  figma-code-connect/angular-figma/package.json
  figma-code-connect/react-figma/package.json
  figma-code-connect/vue-figma/package.json
  package-lock.json
  packages/components/docs/figma-generate-access-token.png
  packages/components/docs/how-to-figma-connect.md
  packages/components/src/components/button/figma/button.figma.ts
  packages/components/src/components/button/figma/no-text.button.figma.lite.tsx
  packages/components/src/components/button/figma/text.button.figma.lite.tsx
Due: xo --fix, prettier --write

chore: add changeset
  .changeset/twenty-games-smile.md
Due: none

feat: enhance dbUxPlugin with additionalLayers and overrideLayers options
  packages/vite-plugin/README.md
  packages/vite-plugin/src/generator.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/types.ts
Due: xo --fix, prettier --write

feat: remove optional extension for db-neutral-bg-basic-level-1 in default-root.scss
  packages/foundations/scss/defaults/default-root.scss
Due: stylelint --fix
