Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: using the packages contents
  showcases/patternhub/pages/foundations/icons/overview.tsx
  showcases/patternhub/utils/theme-icons-package-version.ts
Due: xo --fix, prettier --write

fix: linting issue
  showcases/patternhub/components/accessibility-review-info/accessibility-review-info.tsx
Due: xo --fix, prettier --write

fix: issue with helpers.display method - only use it on top level component fix: issue with hide-animation for drawer
  .changeset/wide-ducks-juggle.md
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/custom-select-list/custom-select-list.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/icon/icon.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/notification/notification-grid-non-overlay.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/page/page.scss
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/tab-list/tab-list.scss
  packages/components/src/components/tab-panel/tab-panel.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/styles/internal/_button-components.scss
Due: stylelint --fix

chore: update vite
  output/vue/package.json
  package-lock.json
  package.json
  packages/foundations/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

fix(): adapt target injection anchors
  packages/components/_templates/mitosis/new/showcases/patternhub-components.ejs.t
  packages/components/_templates/mitosis/new/showcases/vue-showcase-router.ejs.t
Due: none

Update showcases/patternhub/pages/foundations/icons/overview.tsx
  showcases/patternhub/pages/foundations/icons/overview.tsx
Due: xo --fix, prettier --write

refactor: conditionally adding the version
  showcases/patternhub/pages/foundations/icons/overview.tsx
Due: xo --fix, prettier --write

chore: update from main
  e2e/package.json
  output/react/package.json
  output/vue/package.json
  package-lock.json
  package.json
  packages/agent-cli/test/frontend/node_modules/@db-ux/components/agent/_instructions.md
  packages/agent-cli/test/frontend/node_modules/@db-ux/foundations/agent/_instructions.md
  packages/foundations/package.json
Due: none

fix(): adapt target injection anchors (#5352)
  packages/components/_templates/mitosis/new/showcases/patternhub-components.ejs.t
  packages/components/_templates/mitosis/new/showcases/vue-showcase-router.ejs.t
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
