Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue with browser focus
  showcases/screen-reader/default.ts
  showcases/screen-reader/translations.ts
Due: xo --fix, prettier --write

fix: issue with storybook build for cicd
  .github/workflows/01-build-storybooks.yml
Due: none

fix: issue with storybook build for cicd (#5789)
  .github/workflows/01-build-storybooks.yml
Due: none

chore: update screen-reader tests
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behavior-1.txt
Due: none

fix: issue with page queryParam for example wrappers
  packages/components/src/shared/showcase/container-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/link-wrapper.showcase.lite.tsx
Due: xo --fix, prettier --write

fix: linting issue
  .config/.jscpd.json
Due: none

chore: revert pipeline changes
  .github/workflows/default.yml
Due: none

fix(drawer): address rendering issue with drawer and sub-navigation for prefers-reduced-motion users
  .changeset/loose-nails-shine.md
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

fix: use optional chaining for disabled property in tabitem in vue and update snapshots
  __snapshots__/tab-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/chromium/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/chromium/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  showcases/vue-showcase/src/components/tab-item/TabItem.vue
Due: none

feat: add uniqueId to breadcrumb state and update ariaLabel for better accessibility
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/model.ts
  showcases/shared/breadcrumb.json
Due: xo --fix, prettier --write

feat: enhance breadcrumb accessibility with dynamic aria-labels and clean up unused imports
  showcases/angular-showcase/src/app/components/breadcrumb/breadcrumb.component.html
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/data/routes.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: xo --fix, prettier --write

fix: reorder peerDependencies in package.json for consistency
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
Due: xo --fix, prettier --write

fix: correct import path for ButtonComponent in navigation-item.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
Due: xo --fix, prettier --write

feat: add Angular post-build overwrites for breadcrumb to enforce strict-null-safe
  packages/components/scripts/post-build/components.ts
Due: xo --fix, prettier --write

feat: implement items prop for DBBreadcrumb component to accept array or JSON string
  packages/components/src/components/breadcrumb-item/breadcrumb-item.lite.tsx
  packages/components/src/components/breadcrumb-item/model.ts
  packages/components/src/components/breadcrumb/agent/breadcrumb.agent.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.spec.tsx
  packages/components/src/components/breadcrumb/docs/Angular.md
  packages/components/src/components/breadcrumb/docs/React.md
  packages/components/src/components/breadcrumb/docs/Vue.md
  packages/components/src/components/breadcrumb/model.ts
Due: xo --fix, prettier --write

refactor: optimize item parsing in DBBreadcrumb component
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/tab-item/showcase/chromium/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/chromium/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
Due: none

feat: add aria-selected attribute
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

Update default.ts
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

fix: breaking change coming from jscpd
  .config/.jscpd.json
Due: none

fix: issue with guidepup tests (#5778)
  .config/.jscpd.json
  packages/components/src/shared/showcase/container-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/link-wrapper.showcase.lite.tsx
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behavior-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/translations.ts
  xo.config.js
Due: xo --fix, prettier --write

chore: adapt tabs.json
  showcases/shared/tabs.json
Due: none

Update .jscpd.json
  .config/.jscpd.json
Due: none
