Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: remove duplicate sizing declarations and unused variable
  packages/components/src/components/tabs/tabs.scss
Due: stylelint --fix

chore(changeset): Add `@db-ux/core-eslint-plugin`
  .changeset/brave-hounds-return.md
Due: none

Apply suggestions from code review
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: none

Apply suggestions from code review
  packages/eslint-plugin/CHANGELOG.md
Due: none

fix: respect aria-label prop for unique landmarks
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: prioritize aria-label over aria-labelledby
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
Due: xo --fix, prettier --write

fix: use conditional rendering for aria attributes
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
Due: xo --fix, prettier --write

chore: add vitest for components to test utils in pipeline chore: add changeset
  .changeset/fix-floating-components-null-guard.md
  .config/cspellignorewords.txt
  .github/copilot-instructions.md
  packages/components/package.json
  packages/components/vitest.config.ts
  scripts/package.json
Due: xo --fix, prettier --write

fix: issue with form-components for angular
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/utils/form-components.ts
Due: xo --fix, prettier --write

docs: add research for list and menu
  docs/research/list-and-menu.md
Due: none

fix: issue with stencil table header
  packages/components/src/components/table-header-cell/table-header-cell.lite.tsx
Due: xo --fix, prettier --write

fix: adjust padding and color for input type="date" in successful and critical states
  .changeset/tough-sails-drum.md
  packages/components/src/components/input/input.scss
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

fix: ensure input fields default to empty string when no value is provided
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

Apply suggestions from code review
  .changeset/fix-floating-components-null-guard.md
Due: none

Apply suggestion from @mfranzke
  .github/copilot-instructions.md
Due: none

fix: resolve sizing issue with DBButton when using `noText` and `width="full"`
  .changeset/common-suns-exist.md
  packages/components/src/styles/internal/_button-components.scss
Due: stylelint --fix

fix: resolve hover state issue in DBPopover/Tooltip animation
  .changeset/five-seas-shout.md
  packages/foundations/scss/animation/_animations.scss
Due: stylelint --fix

fix: restore original template structure
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
Due: xo --fix, prettier --write

chore: update research
  docs/research/list-and-menu.md
Due: none

fix: skip aria-labelledby on tab-panel when aria-label is set
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
