Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

docs: added a11y review entry for "switch" component
  showcases/shared/_accessibility-review.json
Due: none

fix: DBTooltip race condition when component unmounts during delayed positioning (#4984)
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

docs: added a11y review entry for "switch" component (#5051)
  showcases/shared/_accessibility-review.json
Due: none

fix: add Testing to Components/Misc navigation
  packages/foundations/dev/icons.html
  showcases/patternhub/data/routes.tsx
Due: xo --fix, prettier --write

reverted this file
  packages/foundations/dev/icons.html
Due: none

refactor: reverted that file
  packages/foundations/dev/icons.html
Due: none

Create orange-falcons-compete.md
  .changeset/orange-falcons-compete.md
Due: none

Remove removeTagsTexts prop from CustomSelect
  showcases/vue-showcase/src/components/custom-select/CustomSelect.vue
Due: none

Remove removeTagsTexts prop from custom select
  showcases/react-showcase/src/components/custom-select/index.tsx
Due: xo --fix, prettier --write

Update custom-select.component.html
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.html
Due: none

fix: add Testing to Components/Misc navigation (#5057)
  showcases/patternhub/data/routes.tsx
Due: xo --fix, prettier --write

chore(switch): remove accent showcase
  showcases/shared/switch.json
Due: none

fix: placeholder layout shift issue for select components
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.scss
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
Due: stylelint --fix, xo --fix, prettier --write

Update .changeset/README.md
  .changeset/README.md
Due: none

Update .changeset/config.json
  .changeset/config.json
Due: none

chore(switch): set background when not checked but focused
  packages/components/src/components/switch/switch.scss
Due: stylelint --fix

Fix string quotes in writeValue call
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

fix(switch): prevent double change events by skipping props.onChange in Angular target
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/utils/form-components.ts
Due: xo --fix, prettier --write

chore: refactor changeset publish process
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changesets-release-pr.yml
  .github/workflows/pull-request-snapshot-diff.yml
  output/angular/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  packages/migration/package.json
  packages/stylelint/package.json
  scripts/github/publish-npm.js
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
