Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

Update packages/foundations/tailwind/theme/colors.css
  packages/foundations/tailwind/theme/colors.css
Due: stylelint --fix

chore: fix issue with screen-reader
  .github/workflows/02-e2e-screen-reader.yml
  packages/components/src/components/tag/model.ts
Due: xo --fix, prettier --write

chore: update from main
  package-lock.json
Due: none

test: screen reader
  .github/workflows/02-e2e-screen-reader.yml
  showcases/react-showcase/package.json
Due: none

test: screen reader
  .github/workflows/02-e2e-screen-reader.yml
Due: none

feat: changed import/exports of foundations and components to allow "exports" in package.json
  .config/.jscpd.json
  e2e/package.json
  package-lock.json
  package.json
  packages/components/configs/angular/index.cjs
  packages/components/configs/angular/mitosis.config.cjs
  packages/components/configs/mitosis.config.cjs
  packages/components/configs/mitosis.config.js
  packages/components/configs/react/index.cjs
  packages/components/configs/react/mitosis.config.cjs
  packages/components/configs/stencil/index.cjs
  packages/components/configs/stencil/mitosis.config.cjs
  packages/components/configs/vue/index.cjs
  packages/components/configs/vue/mitosis.config.cjs
  packages/components/package.json
  packages/components/postcss.config.cjs
  packages/components/scripts/post-build/copy-files.ts
  packages/components/src/shared/model.ts
  packages/components/tsconfig.json
  packages/components/vite.config.ts
  packages/foundations/dev/colors.html
  packages/foundations/dev/fonts.html
  packages/foundations/dev/icons.html
  packages/foundations/index.html
  packages/foundations/package.json
  packages/foundations/scripts/local/generate-icon-font.ts
  packages/foundations/scripts/local/generate-icon-overview.ts
  packages/foundations/scripts/local/generate-icon-types.ts
  packages/foundations/scripts/public/all-icons.ts
  packages/foundations/scripts/public/icon-types.ts
  packages/foundations/scripts/public/index.ts
  packages/foundations/src/all-icons.ts
  packages/foundations/src/base-icon-types.ts
  packages/foundations/src/icon-types.ts
  packages/foundations/src/index.ts
  packages/foundations/tsconfig.json
  scripts/tests/github/build-gh-page.spec.ts
Due: xo --fix, prettier --write

Test cicd sr playwright shard (#3756)
  .github/workflows/02-e2e-screen-reader.yml
  showcases/react-showcase/package.json
Due: none

chore: removed exports to avoid conflicts with resolving correct packages
  output/stencil/package.json
  output/vue/package.json
  packages/components/package.json
  packages/components/src/shared/model.ts
  packages/components/tsconfig.json
  packages/foundations/package.json
  packages/foundations/tsconfig.json
Due: xo --fix, prettier --write

fix: issue with exports for foundations
  packages/components/package.json
  packages/components/src/shared/model.ts
  packages/foundations/package.json
Due: xo --fix, prettier --write

chore: add comment for OverwriteIcons
  packages/foundations/src/icon-types.ts
Due: xo --fix, prettier --write

refactor(xo): removed ignores
  .xo-config.cjs
Due: none

refactor: optimizations
  packages/foundations/assets/fonts/generate-eu-fonts.ts
  packages/migration/src/data.ts
  packages/migration/src/migration/index.ts
  packages/migration/src/program.ts
  packages/migration/src/types.ts
  packages/migration/test/color-q32024/color-q32024.spec.ts
  packages/migration/test/icon-q32024/icon-q32024.spec.ts
  packages/migration/test/v0.0.5-v0.0.6/v005_v006.spec.ts
  packages/migration/test/v0.0.6-v0.0.7/v006_v007.spec.ts
Due: xo --fix, prettier --write

fix: issue with wrong path for foundation tests
  packages/foundations/test/colors.spec.js
  packages/foundations/test/fonts.spec.js
  packages/foundations/test/icons.spec.js
Due: xo --fix, prettier --write

chore: update snapshots
  showcases/screen-reader/__snapshots__/macos/webkit/DBTabs-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-next-1.txt
Due: none

fix: issue with stencil and webkit
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

chore: update show code
  showcases/angular-showcase/src/app/components/tag/tag.component.html
  showcases/react-showcase/src/components/tag/index.tsx
  showcases/shared/tag.json
  showcases/showcase-styles.css
  showcases/vue-showcase/src/components/tag/Tag.vue
Due: stylelint --fix, xo --fix, prettier --write

chore: update snapshots
  __snapshots__/tab-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/chromium/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/firefox/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/webkit/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/chromium-highContrast/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/chromium/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/firefox/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/mobile-safari/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/webkit/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium-highContrast/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/firefox/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/firefox/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-chrome/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-safari/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/webkit/DBTag-should-match-screenshot-1/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
Due: none

chore: update snapshots
  __snapshots__/badge/showcase/firefox/should-have-same-aria-snapshot/DBBadge-should-have-same-aria-snapshot.yaml
Due: none

chore: update snapshots
  __snapshots__/tab-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/chromium/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/firefox/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/webkit/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/chromium-highContrast/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/chromium/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/firefox/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/mobile-safari/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/webkit/should-have-same-aria-snapshot/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/chromium/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/firefox/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/mobile-safari/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
  __snapshots__/tag/showcase/webkit/should-have-same-aria-snapshot/DBTag-should-have-same-aria-snapshot.yaml
Due: none

chore: update from main
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

docs: clarity
  docs/research/README.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
