Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: migrating further group roles to fieldsets
  packages/components/src/components/checkbox/examples/checked.example.lite.tsx
  packages/components/src/components/checkbox/examples/density.example.lite.tsx
  packages/components/src/components/checkbox/examples/disabled.example.lite.tsx
  packages/components/src/components/checkbox/examples/example.example.lite.tsx
  packages/components/src/components/checkbox/examples/indeterminate.example.lite.tsx
  packages/components/src/components/checkbox/examples/required.example.lite.tsx
  packages/components/src/components/checkbox/examples/show-label.example.lite.tsx
  packages/components/src/components/checkbox/examples/show-required-asterisk.example.lite.tsx
  packages/components/src/components/checkbox/examples/validation.example.lite.tsx
  packages/components/src/components/tag/examples/behavior.example.lite.tsx
  packages/components/src/components/tag/examples/disabled.example.lite.tsx
Due: xo --fix, prettier --write

Update Vue.md
  packages/components/src/components/radio/docs/Vue.md
Due: none

chore: corrected name from "DB UI" to "DB UX" (#6114)
  packages/components/_templates/mitosis/new/component/db-ux-components-wc.ejs.t
  packages/components/_templates/mitosis/new/component/db-ux-components.ejs.t
  packages/components/_templates/mitosis/new/db-ux-components-use.ejs.t
Due: none

fix: issue with table header for vue,angular,stencil
  packages/components/src/components/table/examples/complex.example.lite.tsx
  packages/components/src/components/table/table.lite.tsx
Due: xo --fix, prettier --write

fix: use local variable for _rafId to fix Angular null narrowing in cancelAnimationFrame calls
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: rename _rafId local variable to _currentRafId to avoid collision with generated state variable
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: use type cast for cancelAnimationFrame to fix Mitosis code generation across all frameworks
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

refactor: running npm audit fix
  package-lock.json
Due: none

refactor: regenerated package lock file
  package-lock.json
Due: none

docs: remove unused PopoverType from DBNotification
  packages/components/src/components/notification/examples/_notification.arg.types.ts
  packages/components/src/components/notification/model.ts
Due: xo --fix, prettier --write

fix: issues from PR
  .changeset/flat-swans-enjoy.md
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/model.ts
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

docs: remove unused PopoverType from DBNotification (#6120)
  packages/components/src/components/notification/examples/_notification.arg.types.ts
  packages/components/src/components/notification/model.ts
Due: xo --fix, prettier --write

fix: update tab-item component snapshots
  __snapshots__/tabs/component/chromium/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/firefox/DBTabs-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/component/firefox/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/mobile-chrome/DBTabs-should-match-screenshot.png
Due: none

fix: issue with divider for angular
  packages/components/src/components/table/table.scss
Due: stylelint --fix

feat: add `propOverrides` for all components
  .changeset/flat-swans-enjoy.md
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select-dropdown/custom-select-dropdown.lite.tsx
  packages/components/src/components/custom-select-form-field/custom-select-form-field.lite.tsx
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select-list/custom-select-list.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/divider/divider.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation/navigation.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/page/page.lite.tsx
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/radio/model.ts
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/stack/stack.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tab-list/tab-list.lite.tsx
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

Update .changeset/flat-swans-enjoy.md
  .changeset/flat-swans-enjoy.md
Due: none

fix: issues from PR
  packages/components/src/components/custom-button/custom-button.lite.tsx
  packages/components/src/components/custom-button/custom-button.spec.tsx
Due: xo --fix, prettier --write

chore: add exception for angular and stencil in table-a11y-checker.spec.ts
  showcases/e2e/table/table-a11y-checker.spec.ts
Due: xo --fix, prettier --write

fix: add ariaLabel prop to fix landmark-unique axe violation in showcases
  packages/components/src/components/tab-panel/model.ts
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  showcases/react-showcase/src/components/tabs/index.tsx
  showcases/vue-showcase/src/components/tabs/Tabs.vue
Due: xo --fix, prettier --write

refactor(dependabot): restructuring `groups`
  .github/dependabot.yml
Due: none

refactor: updated patch dependencies
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

refactor: updated patch dependencies (#6136)
  output/vue/package.json
  package-lock.json
  package.json
  packages/components/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none
