Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: added migration guide
  README.md
  docs/migration/v5.x.x-to-v6.0.0.md
Due: none

chore: drop snapshots orphaned by the Text to Paragraph rename
  __snapshots__/text/component/chromium/Text-accessibility-and-visuals-has-the-expected-ARIA-snapshot.yaml
  __snapshots__/text/component/chromium/Text-accessibility-and-visuals-matches-the-key-variant-screenshot.png
  __snapshots__/text/component/firefox/Text-accessibility-and-visuals-has-the-expected-ARIA-snapshot.yaml
  __snapshots__/text/component/firefox/Text-accessibility-and-visuals-matches-the-key-variant-screenshot.png
  __snapshots__/text/component/mobile-chrome/Text-accessibility-and-visuals-has-the-expected-ARIA-snapshot.yaml
  __snapshots__/text/component/mobile-chrome/Text-accessibility-and-visuals-matches-the-key-variant-screenshot.png
Due: none

Update _dialog-components.scss
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix

fix(DBParagraph): register the showcase so its documentation is generated
  docs/research/text-research.md
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/data/components.json
  showcases/patternhub/data/routes.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/stencil-showcase/src/navigation.ts
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: xo --fix, prettier --write

test: address PR review comments on a11y rule scoping and generator stub
  packages/components/_templates/mitosis/new/component/spec.ejs.t
  showcases/e2e/accordion/accordion-a11y-checker.spec.ts
  showcases/e2e/custom-select/custom-select-axe-core.spec.ts
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

refactor: correctly restored the border color
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix

docs: drop the Paragraph section from the components AGENTS.md
  packages/components/AGENTS.md
Due: none

Apply suggestion from @mfranzke
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

fix(DBHeading): own default size mapping, fix text-spacing opt-in and lint
  .changeset/heading-visual-size-and-text-spacing.md
  docs/migration/v5.x.x-to-v6.0.0.md
  packages/components/AGENTS.md
  packages/components/src/components/heading/examples/sizes.example.lite.tsx
  packages/components/src/components/heading/heading.scss
  packages/components/src/components/heading/showcase/heading.showcase.lite.tsx
  packages/foundations/scss/bundle.scss
  packages/foundations/scss/defaults/default-fonts.scss
  packages/foundations/scss/defaults/default-required.scss
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

docs(changeset): add DBDialogHeader aria-labelledby fix entry
  .changeset/custom-select-angular-group-navigation.md
Due: none

fix(changeset): replace non-dictionary word to satisfy cspell
  .changeset/custom-select-angular-group-navigation.md
Due: none

fix(DBParagraph): move text spacing from the children to the container
  .changeset/text-components-beta.md
  .config/cspellignorewords.txt
  docs/research/text-research.md
  packages/components/src/components/paragraph/docs/Angular.md
  packages/components/src/components/paragraph/docs/HTML.md
  packages/components/src/components/paragraph/docs/React.md
  packages/components/src/components/paragraph/docs/Vue.md
  packages/components/src/components/paragraph/examples/_paragraph.arg.types.ts
  packages/components/src/components/paragraph/examples/text-spacing.example.lite.tsx
  packages/components/src/components/paragraph/model.ts
  packages/components/src/components/paragraph/paragraph.scss
  packages/components/src/components/paragraph/paragraph.spec.tsx
Due: stylelint --fix, xo --fix, prettier --write

refactor: preserve the default drawer's previous stacking level
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

docs: document the new shared dialog reset abstraction
  packages/components/AGENTS.md
Due: none

chore: drop the last cspell entry this PR added
  .config/cspellignorewords.txt
Due: none

fix(DBParagraph): revert the derived Storybook arg type options
  packages/components/src/components/paragraph/examples/_paragraph.arg.types.ts
Due: xo --fix, prettier --write

refactor: remove roundness not controlled by db-border-radius
  .changeset/remove-uncontrolled-roundness.md
  packages/components/src/components/control-panel-mobile/control-panel-mobile.lite.tsx
  packages/components/src/components/drawer/examples/_drawer.arg.types.ts
  packages/components/src/components/drawer/examples/rounded.example.lite.tsx
  packages/components/src/components/drawer/figma/drawer.figma.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/drawer/showcase/drawer.showcase.lite.tsx
  packages/components/src/components/header/docs/HTML.md
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/loading-indicator/loading-indicator.lite.tsx
  packages/components/src/components/loading-indicator/loading-indicator.scss
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with flaky test
  showcases/screen-reader/default.ts
Due: xo --fix, prettier --write

fix(DBHeading): resolve data-text-spacing cascade and clarify p-* docs
  packages/components/src/components/heading/docs/Angular.md
  packages/components/src/components/heading/docs/HTML.md
  packages/components/src/components/heading/docs/React.md
  packages/components/src/components/heading/docs/Vue.md
  packages/components/src/components/heading/heading.scss
  packages/components/src/components/heading/model.ts
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix, xo --fix, prettier --write

refactor: consolidate files
  packages/components/src/components/custom-select/custom-select.scss
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/loading-indicator/loading-indicator.scss
  packages/components/src/styles/dialog-init.scss
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix

refactor: consolidated CSS (and merged & moved documentation)
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/styles/internal/_dialog-components.scss
Due: stylelint --fix

chore: update snapshots
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
Due: none

refactor: added necessary ponyfill comments
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

fix(DBCustomSelect): keep dropdown keyboard handling in sync with filtered options
  .changeset/custom-select-keyboard-stale-closure.md
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
Due: xo --fix, prettier --write

refactor: added another entry for the removed SASS endpoint
  .changeset/move-global-dialog-styles.md
  docs/migration/v5.x.x-to-v6.0.0.md
Due: none

Revert "fix: inline fallback icon font as base64 to prevent layout shifts (#6916)"
  packages/foundations/assets/icons/fonts/fallback/icon-font-fallback.woff2
  packages/foundations/scripts/local/generate-fallback-icon-font.ts
  packages/foundations/scss/defaults/default-icons.scss
  packages/foundations/scss/icons/relative.scss
Due: stylelint --fix, xo --fix, prettier --write

refactor: added base64 encoded fallback font to font-face declarations
  packages/foundations/scss/icons/relative.scss
Due: stylelint --fix

feat: added changeset
  .changeset/csp-icon-font-fallback.md
Due: none

fix(DBTextGroup): point the custom element doc URL at the Paragraph page
  output/stencil/custom-elements-manifest.config.js
Due: xo --fix, prettier --write

feat(DBTextGroup): add mixed content and nested group examples
  packages/components/src/components/paragraph/docs/Angular.md
  packages/components/src/components/paragraph/docs/HTML.md
  packages/components/src/components/paragraph/docs/React.md
  packages/components/src/components/paragraph/docs/Vue.md
  packages/components/src/components/paragraph/examples/mixed-content.example.lite.tsx
  packages/components/src/components/paragraph/examples/nested-groups.example.lite.tsx
  packages/components/src/components/paragraph/showcase/paragraph.showcase.lite.tsx
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
