Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update lint-staged config
  .config/lint-staged-prettier.config.ts
  .config/lint-staged.config.ts
  .husky/pre-commit
Due: xo --fix, prettier --write

chore: remove button state
  docs/migration/v2.x.x-to-v3.0.0.md
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/model.ts
Due: stylelint --fix, xo --fix, prettier --write

chore: skip remaining components for testing table
  showcases/patternhub/scripts/generate-test-table.js
Due: xo --fix, prettier --write

chore: add guidepup setup retry (#4497)
  .github/workflows/02-e2e-screen-reader.yml
Due: none

chore: enable a11y test for stencil tabs (#4499)
  showcases/e2e/tabs/tabs-a11y.spec.ts
Due: xo --fix, prettier --write

chore: update lint-staged config (#4500)
  .config/lint-staged-prettier.config.ts
  .config/lint-staged.config.ts
  .husky/pre-commit
Due: xo --fix, prettier --write

fix: issue with remaining state property
  packages/components/src/components/button/button.lite.tsx
  showcases/react-showcase/src/components/button/index.tsx
Due: xo --fix, prettier --write

chore: removed `aria-checked` from switch which is `type=checkbox` (#4496)
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
  showcases/e2e/switch/switch-a11y.spec.ts
Due: xo --fix, prettier --write

chore: skip remaining components for testing table (#4502)
  showcases/patternhub/scripts/generate-test-table.js
Due: xo --fix, prettier --write

chore: update to stylelint-config-recommended-scss
  .stylelintrc.json
  docs/how-to-develop-a-component.md
  docs/research/table.md
  package-lock.json
  package.json
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/input/input.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/foundations/scss/_screen-sizes.scss
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Due: stylelint --fix, xo --fix, prettier --write

chore: remove button state (#4501)
  docs/migration/v2.x.x-to-v3.0.0.md
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.scss
  packages/components/src/components/button/model.ts
  showcases/react-showcase/src/components/button/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

feat: align how to use a DBCard as button or anchor
  packages/components/src/components/card/card.scss
  showcases/angular-showcase/src/app/components/card/card.component.html
  showcases/react-showcase/src/components/card/index.tsx
  showcases/vue-showcase/src/components/card/Card.vue
Due: stylelint --fix, xo --fix, prettier --write

chore: update to stylelint-config-recommended-scss (#4505)
  .stylelintrc.json
  docs/how-to-develop-a-component.md
  docs/research/table.md
  package-lock.json
  package.json
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/input/input.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/foundations/scss/_screen-sizes.scss
  packages/foundations/scss/defaults/default-required.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Due: stylelint --fix, xo --fix, prettier --write

docs: add comment for client side form validations
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

docs: add comment for client side form validations (#4510)
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

fix: issue with angular showcase
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/components/radio/radio.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/switch/switch.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
Due: xo --fix, prettier --write

docs: add keywords to package.json
  package.json
Due: none

docs: add additional design systems
  docs/research-other-design-systems.md
Due: none

docs: add additional design systems (#4512)
  docs/research-other-design-systems.md
Due: none

docs: add keywords to package.json (#4511)
  package.json
Due: none

feat: add multiple property for input[type=file]
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
Due: xo --fix, prettier --write

fix: issue with button variant=""
  packages/components/src/components/button/button.scss
Due: stylelint --fix

feat: add multiple property for input[type=file] (#4513)
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
Due: xo --fix, prettier --write

chore: update macos version
  .github/workflows/01-init-playwright.yml
  .github/workflows/02-e2e-screen-reader.yml
Due: none

fix: issue with mixed os cache
  .github/actions/playwright-cache/action.yml
  .github/workflows/01-init-playwright.yml
  .github/workflows/02-e2e-screen-reader.yml
Due: none

fix: issue with button variant="" (#4514)
  packages/components/src/components/button/button.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
