Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: escape handler, getAttributeValue dynamic expressions, scroll button visibility
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group.lite.tsx
  packages/components/src/components/control-panel-navigation/control-panel-navigation.scss
  packages/components/src/styles/internal/_control-panel-desktop.scss
  packages/eslint-plugin/src/shared/utils.ts
Due: stylelint --fix, xo --fix, prettier --write

docs: clarify shell navigation combinations
  packages/agent-cli/knowledge-database/components/shell/shell-desktop/guidelines.md
  packages/agent-cli/knowledge-database/components/shell/shell-mobile/guidelines.md
Due: none

fix: restore select pipeline checks
  packages/components/configs/plugins/angular/index.cjs
  packages/components/src/components/select/select.spec.tsx
  packages/components/src/components/select/test-fixtures/controlled-select.fixture.lite.tsx
  packages/components/src/components/select/test-fixtures/controlled-select.fixture.tsx
Due: xo --fix, prettier --write

fix: resolve uncontrolled to controlled input warning in DBCustomSelect search (#7827)
  .changeset/fix-custom-select-search-controlled.md
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

docs(shell): remove redundant platform identifiers from guidelines
  packages/agent-cli/knowledge-database/components/shell/shell-desktop/guidelines.md
  packages/agent-cli/knowledge-database/components/shell/shell-mobile/guidelines.md
Due: none

fix(table): add border-radius and max-block-size for spaced sticky header
  packages/components/src/components/table/examples/sticky-header.example.lite.tsx
  packages/components/src/components/table/table.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: address PR review comments
  packages/components/AGENTS.md
  packages/components/src/components/radio/examples/examples.example.lite.tsx
Due: xo --fix, prettier --write

fix: synchronize custom select controlled reset
  .changeset/fix-custom-select-controlled-reset.md
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
  packages/components/src/components/custom-select/test-fixtures/controlled-reset.fixture.lite.tsx
  packages/components/src/components/custom-select/test-fixtures/controlled-reset.fixture.tsx
Due: xo --fix, prettier --write

fix: address review comments for stack width/height PR
  packages/components/src/shared/model.ts
  packages/components/src/styles/internal/_stack-components.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: restore scroll button display styles
  packages/components/src/components/control-panel-navigation/control-panel-navigation.scss
  packages/components/src/styles/internal/_control-panel-desktop.scss
Due: stylelint --fix

fix: provide select fixture root ref
  packages/components/src/components/select/test-fixtures/controlled-select.fixture.lite.tsx
Due: xo --fix, prettier --write

fix: address automated review findings
  .changeset/drawer-header-required.md
  packages/components/src/components/control-panel-navigation/control-panel-navigation.lite.tsx
  packages/components/src/components/shell/shell.lite.tsx
  packages/components/src/utils/navigation.ts
  showcases/react-showcase/src/app.tsx
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/vue-showcase/src/composables/use-layout.ts
Due: xo --fix, prettier --write

fix: refine footer meta examples
  packages/components/src/components/footer/examples/composition.example.lite.tsx
  packages/components/src/components/footer/examples/copyright.example.lite.tsx
  packages/components/src/components/footer/examples/optional-areas.example.lite.tsx
Due: xo --fix, prettier --write

fix: expose footer width variants
  packages/components/src/components/footer/examples/width.example.lite.tsx
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix, xo --fix, prettier --write

docs: added some relevant information for the changesets style
  AGENTS.md
Due: none

Apply suggestion from @mfranzke
  AGENTS.md
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

fix: preserve default block-size/inline-size and address review feedback
  .changeset/fix-stack-block-size.md
  packages/components/src/components/stack/examples/justify-content-column.example.lite.tsx
  packages/components/src/styles/internal/_stack-components.scss
Due: stylelint --fix, xo --fix, prettier --write

Update .changeset/tidy-headlines-share-levels.md
  .changeset/tidy-headlines-share-levels.md
Due: none

fix: restore unconditional overflow: auto to match original behavior
  packages/components/src/styles/internal/_stack-components.scss
Due: stylelint --fix

refactor: inline stack styles, default height to auto, cleanup dead files
  packages/components/src/components/stack/examples/alignment-row.example.lite.tsx
  packages/components/src/components/stack/examples/justify-content-column.example.lite.tsx
  packages/components/src/components/stack/examples/wrap.example.lite.tsx
  packages/components/src/components/stack/stack-web-component.scss
  packages/components/src/components/stack/stack.scss
  packages/components/src/styles/internal/_stack-components.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: issues for storybook with shell
  packages/components/src/components/shell/shell.scss
  storybooks/angular-storybook/src/global.css
  storybooks/html-storybook/.storybook/global.css
  storybooks/react-storybook/.storybook/global.css
  storybooks/vue-storybook/.storybook/global.css
Due: stylelint --fix

docs: added some relevant information for the changesets style (#7844)
  AGENTS.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
