Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Update .github/workflows/default.yml
  .github/workflows/default.yml
Due: none

Refactor concurrency settings for Dependabot PRs
  .github/workflows/default.yml
Due: none

Revert "Refactor concurrency settings for Dependabot PRs"
  .github/workflows/default.yml
Due: none

Update default.yml
  .github/workflows/default.yml
Due: none

chore: testing cancelled functionality
  __snapshots__/accordion/component/firefox/DBAccordion-should-match-screenshot.png
Due: none

refactor: prettier
  showcases/angular-showcase/src/app/components/form/custom-selects/custom-selects.component.ts
Due: xo --fix, prettier --write

fix: corrected those CSS path leftovers
  packages/components/src/components/custom-select-dropdown/index.html
  packages/components/src/components/custom-select-form-field/index.html
  packages/components/src/components/custom-select/index.html
Due: none

fix(showcase): clean up names of showcase examples
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/scripts/utils.js
Due: xo --fix, prettier --write

Update tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

fix(showcase): remove spread operator for example code
  showcases/patternhub/scripts/generate-example-jsx.js
Due: xo --fix, prettier --write

chore(showcase): remove console log
  showcases/patternhub/scripts/generate-example-jsx.js
Due: xo --fix, prettier --write

refactor: removed obsolete code
  showcases/react-showcase/src/components/default-component.tsx
Due: xo --fix, prettier --write

fix: HTML example code in showcases (#4987)
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
  showcases/patternhub/scripts/utils.js
Due: xo --fix, prettier --write

refactor: integrated logic out of openVariantInNewWindow to getHref
  showcases/react-showcase/src/components/default-component.tsx
Due: xo --fix, prettier --write

refactor: restructured
  showcases/react-showcase/src/components/default-component.tsx
Due: xo --fix, prettier --write

fix: corrected those CSS path leftovers (#4986)
  packages/components/src/components/custom-select-dropdown/index.html
  packages/components/src/components/custom-select-form-field/index.html
  packages/components/src/components/custom-select/index.html
Due: none

refactor(docs): added alternative copy to selectedType tag examples
  showcases/shared/custom-select.json
Due: none

feat(): set border- and label-color for valid and invalid textarea and input
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

feat(): revert override in package
  package.json
Due: none

feat(): set border color for valid and invalid state
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

refactor: reverted those unnecessary changes
  output/react/blob-report/report-d9d3b5c.zip
  packages/components/src/components/custom-select/index.html
Due: none
