Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: issues with accessibility-checker
  packages/components/src/components/multi-select-list-item/multi-select-list-item.lite.tsx
  packages/components/src/components/multi-select-list/model.ts
  packages/components/src/components/multi-select-list/multi-select-list.lite.tsx
  packages/components/src/components/multi-select-list/multi-select-list.scss
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  packages/components/src/components/multi-select/multi-select.scss
  showcases/e2e/multi-select/multi-select-snapshot.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

fix: issues with comment
  packages/components/src/components/multi-select/multi-select.lite.tsx
Due: xo --fix, prettier --write

fix: issue with numbers
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/brand/patternhub/brand-properties-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-overview-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/link/patternhub/link-properties-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/popover/patternhub/popover-properties-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-overview-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-properties-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-overview-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
Due: none

chore: update snapshots
  __snapshots__/multi-select/patternhub/multi-select-overview-should-match-screenshot.png
  __snapshots__/multi-select/patternhub/multi-select-properties-should-match-screenshot.png
  __snapshots__/multi-select/showcase/chromium-highContrast/DBMultiSelect-should-match-screenshot-1/DBMultiSelect-should-match-screenshot.png
  __snapshots__/multi-select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBMultiSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/multi-select/showcase/chromium/DBMultiSelect-should-match-screenshot-1/DBMultiSelect-should-match-screenshot.png
  __snapshots__/multi-select/showcase/chromium/should-have-same-aria-snapshot/DBMultiSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/multi-select/showcase/firefox/DBMultiSelect-should-match-screenshot-1/DBMultiSelect-should-match-screenshot.png
  __snapshots__/multi-select/showcase/firefox/should-have-same-aria-snapshot/DBMultiSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/multi-select/showcase/mobile-chrome/DBMultiSelect-should-match-screenshot-1/DBMultiSelect-should-match-screenshot.png
  __snapshots__/multi-select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBMultiSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/multi-select/showcase/mobile-safari/DBMultiSelect-should-match-screenshot-1/DBMultiSelect-should-match-screenshot.png
  __snapshots__/multi-select/showcase/mobile-safari/should-have-same-aria-snapshot/DBMultiSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/multi-select/showcase/webkit/DBMultiSelect-should-match-screenshot-1/DBMultiSelect-should-match-screenshot.png
  __snapshots__/multi-select/showcase/webkit/should-have-same-aria-snapshot/DBMultiSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/patternhub/select-overview-should-match-screenshot.png
  __snapshots__/select/patternhub/select-properties-should-match-screenshot.png
  showcases/screen-reader/__snapshots__/macos/webkit/DBTag-behavior-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behavior-1.txt
Due: none

fix(textarea): scope overflow declaration (#3945)
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/internal/_scrollbar.scss
Due: stylelint --fix

chore: rename props for multi-select-list-item
  packages/components/src/components/multi-select-list-item/model.ts
  packages/components/src/components/multi-select-list-item/multi-select-list-item.lite.tsx
  packages/components/src/components/multi-select/model.ts
  packages/components/src/components/multi-select/multi-select.lite.tsx
  showcases/shared/multi-select.json
Due: xo --fix, prettier --write

fix: issue with native props
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

fix: issue with native props
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/switch/model.ts
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/utils/index.ts
  showcases/react-showcase/src/components/checkbox/index.tsx
  showcases/react-showcase/src/components/radio/index.tsx
  showcases/react-showcase/src/components/switch/index.tsx
  showcases/react-showcase/src/components/tag/index.tsx
Due: xo --fix, prettier --write

fix: issue with wrong naming
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select-list-item/model.ts
  showcases/vue-showcase/src/components/custom-select/CustomSelect.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: xo --fix, prettier --write

fix: issue with checkbox
  packages/components/src/components/checkbox/checkbox.lite.tsx
Due: xo --fix, prettier --write

Update Angular.md
  packages/components/src/components/custom-select/docs/Angular.md
Due: none

Update HTML.md
  packages/components/src/components/custom-select/docs/HTML.md
Due: none

chore: update snapshots
  __snapshots__/custom-select/component/chromium/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/component/chromium/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/component/firefox/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/component/firefox/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/component/mobile-chrome/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/component/mobile-chrome/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-docs-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-overview-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-properties-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium-highContrast/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/chromium/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/firefox/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/firefox/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-chrome/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/mobile-safari/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/mobile-safari/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/webkit/should-have-same-aria-snapshot/DBCustomSelect-should-have-same-aria-snapshot.yaml
Due: none

fix: issue with aria-hidden
  packages/components/src/components/custom-select/custom-select.lite.tsx
  showcases/shared/custom-select.json
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/checkbox/patternhub/checkbox-overview-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-overview-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-overview-should-match-screenshot.png
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

fix: issue with stencil required
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

fix: issue with stencil dropdown padding
  packages/components/src/components/custom-select-dropdown/custom-select-dropdown.scss
Due: stylelint --fix

fix: issue with missing label
  showcases/shared/custom-select.json
Due: none

chore: update _custom-elements.scss
  packages/components/src/styles/internal/_custom-elements.scss
Due: stylelint --fix

fix: issues from PR
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
Due: xo --fix, prettier --write

fix: issues from design review
  packages/components/src/components/custom-select-dropdown/custom-select-dropdown.scss
  packages/components/src/components/custom-select-list/custom-select-list.scss
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
  packages/components/src/styles/internal/_form-components.scss
  showcases/angular-showcase/src/app/components/custom-select/custom-select.component.html
  showcases/react-showcase/src/components/custom-select/index.tsx
  showcases/shared/custom-select.json
  showcases/vue-showcase/src/components/custom-select/CustomSelect.vue
Due: stylelint --fix, xo --fix, prettier --write

fix: issues with stencils update
  package-lock.json
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/scripts/post-build/components.ts
  packages/components/scripts/post-build/stencil.ts
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tag/model.ts
  packages/components/src/components/tag/tag.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

chore(vscode): added filetype definition
  .vscode/settings.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
