Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor(input): differentiating expected type for min and max (#4144)
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-safari/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/webkit/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/input/input.component.html
  showcases/react-showcase/src/components/input/index.tsx
  showcases/shared/input.json
  showcases/vue-showcase/src/components/input/Input.vue
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/navigation-item/patternhub/navigation-item-overview-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium-highContrast/DBNavigationItem-should-match-screenshot-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/chromium/DBNavigationItem-should-match-screenshot-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/firefox/DBNavigationItem-should-match-screenshot-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-chrome/DBNavigationItem-should-match-screenshot-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/webkit/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  packages/components/src/components/header/header.scss
Due: stylelint --fix

fix: issues with tailwind v4
  output/react/README.md
  output/stencil/README.md
  packages/components/README.md
  packages/foundations/dev/icons.html
  packages/foundations/package.json
  packages/foundations/tailwind/tailwind-tokens.json
  packages/foundations/tailwind/theme/_variables.scss
  packages/foundations/tailwind/theme/dimensions.scss
  packages/foundations/tailwind/theme/index.css
  packages/foundations/tailwind/theme/revert-theme.css
Due: stylelint --fix

fix: issues for tailwind build
  output/react/README.md
  output/stencil/README.md
  packages/components/README.md
  packages/foundations/package.json
  packages/foundations/tailwind/theme/_variables.scss
  packages/foundations/tailwind/theme/dimensions.scss
Due: stylelint --fix

chore: update snapshots
  __snapshots__/header/showcase/mobile-chrome/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/should-have-same-aria-snapshot/DBHeader-should-have-same-aria-snapshot.yaml
  __snapshots__/header/showcase/mobile-safari/should-have-same-aria-snapshot/DBHeader-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-safari/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/webkit/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/chromium-highContrast/DBNavigationItem-should-match-screenshot-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/chromium/DBNavigationItem-should-match-screenshot-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/chromium/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/firefox/DBNavigationItem-should-match-screenshot-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-chrome/DBNavigationItem-should-match-screenshot-1/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/webkit/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
Due: none

chore: prettification
  packages/foundations/dev/icons.html
Due: none

fix: issues with tailwind v4 (#4151)
  packages/foundations/package.json
  packages/foundations/tailwind/tailwind-tokens.json
  packages/foundations/tailwind/theme/_variables.scss
  packages/foundations/tailwind/theme/dimensions.scss
  packages/foundations/tailwind/theme/index.css
  packages/foundations/tailwind/theme/revert-theme.css
Due: stylelint --fix

fix: enable multiline for navigation-items links but not buttons (#4065)
  __snapshots__/header/showcase/mobile-chrome/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/mobile-chrome/should-have-same-aria-snapshot/DBHeader-should-have-same-aria-snapshot.yaml
  __snapshots__/header/showcase/mobile-safari/should-have-same-aria-snapshot/DBHeader-should-have-same-aria-snapshot.yaml
  packages/components/src/components/header/header.scss
  packages/foundations/docs/BrowserSupport.md
  packages/foundations/scss/defaults/_default-variables.scss
Due: stylelint --fix

chore: update styles for radio,checkbox and switch
  .prettierrc.json
  package-lock.json
  package.json
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/foundations/scss/helpers/_functions.scss
Due: stylelint --fix

chore: remove old prettier (prettier-sh) plugin
  .prettierrc.json
  package-lock.json
  package.json
Due: none

refactor: reverted unrelated changes
  .prettierrc.json
  package-lock.json
  package.json
Due: none

chore: update snapshots
  __snapshots__/tag/component/chromium/DBTag-should-be-a-radio-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-radio-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-radio-checked.png
  packages/components/src/components/switch/switch.scss
Due: stylelint --fix

fix: badge styling issues
  packages/components/src/components/badge/badge.scss
  packages/components/src/styles/internal/_tag-components.scss
  packages/foundations/dev/icons.html
  showcases/angular-showcase/src/app/components/badge/badge.component.html
  showcases/react-showcase/src/components/badge/index.tsx
  showcases/shared/badge.json
  showcases/vue-showcase/src/components/badge/Badge.vue
Due: stylelint --fix, xo --fix, prettier --write

fix: stylelint issues
  packages/foundations/tailwind/theme/index.css
  packages/foundations/tailwind/theme/revert-theme.css
Due: stylelint --fix

fix: linting issues
  packages/components/src/styles/internal/_tag-components.scss
Due: stylelint --fix

chore: remove old prettier (prettier-sh) plugin (#4155)
  .prettierrc.json
  package-lock.json
  package.json
Due: none

fix: issue with autofill icon
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

chore: update snapshots
  __snapshots__/badge/showcase/chromium-highContrast/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
Due: none

fix: stylelint issues (#4157)
  packages/foundations/tailwind/theme/index.css
  packages/foundations/tailwind/theme/revert-theme.css
Due: stylelint --fix

feat: added links to table components of other design systems
  docs/research/table.md
Due: none
