Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: this now needs to be an array
  showcases/patternhub/scripts/generate-test-table.js
Due: xo --fix, prettier --write

refactor(dependabot): only run one concurrent pipeline (#4600)
  .github/workflows/default.yml
Due: none

fix: mitosis update (#4310)
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  package-lock.json
  packages/components/configs/angular/index.cjs
  packages/components/package.json
  packages/components/scripts/post-build/angular.ts
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select-list-item/custom-select-list-item.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

refactor: removed that package again
  package-lock.json
  package.json
Due: none

refactor: get rid of the dependency
  .husky/pre-push
Due: none

fix: issues custom-select no result message when loading
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

chore: update from PR feedback
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

chore: update index.ts to provide all prop `types`
  packages/components/_templates/mitosis/new/component/export.ejs.t
  packages/components/src/index.ts
Due: xo --fix, prettier --write

fix: issues custom-select no result message when loading (#4608)
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

chore: update index.ts to provide all prop `types` (#4609)
  packages/components/_templates/mitosis/new/component/export.ejs.t
  packages/components/src/index.ts
Due: xo --fix, prettier --write

fix: issue with empty aria-describedby
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

docs: generalized config set (#4606)
  showcases/patternhub/scripts/generate-test-table.js
Due: xo --fix, prettier --write

test: updated snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
Due: none

fix(DBCustomSelect): placeholder colliding with selected value on MacOS and iOS
  packages/components/src/components/custom-select/custom-select.scss
Due: stylelint --fix

fix(DBCustomSelect): placeholder colliding with selected value on MacOS and iOS (#4611)
  packages/components/src/components/custom-select/custom-select.scss
Due: stylelint --fix

test: updated snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBTextarea-required-1.txt
Due: none

fix: icon vertical position
  packages/foundations/scss/icons/_icon-helpers.scss
Due: stylelint --fix

fix: issue with empty `aria-describedby` (#4610)
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-required-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTextarea-required-1.txt
Due: xo --fix, prettier --write

refactor: another try
  packages/foundations/scss/icons/_icon-helpers.scss
Due: stylelint --fix

fix: issue with tabs event
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
Due: xo --fix, prettier --write

refactor: font generation to use execFile for security
  packages/foundations/assets/fonts/generate-eu-fonts.ts
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
