Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: remove brand fonts
  packages/foundations/assets/fonts/LICENSE
  packages/foundations/assets/fonts/dbscreenhead-black.woff2
  packages/foundations/assets/fonts/dbscreenhead-light.woff2
  packages/foundations/assets/fonts/dbscreenhead-regular.woff2
  packages/foundations/assets/fonts/dbscreensans-bold.woff2
  packages/foundations/assets/fonts/dbscreensans-digitalregular.woff2
  packages/foundations/assets/fonts/dbscreensans-medium.woff2
  packages/foundations/assets/fonts/dbscreensans-regular.woff2
  packages/foundations/assets/fonts/dbscreensans-semibold.woff2
  packages/foundations/assets/fonts/dbscreensanscond-bold.woff2
  packages/foundations/assets/fonts/dbscreensanscond-regular.woff2
  packages/foundations/assets/fonts/secondary/dbscreennews-bold.woff2
  packages/foundations/assets/fonts/secondary/dbscreennews-regular.woff2
Due: none

chore: update snapshots
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-critical.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-successful.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-critical.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-successful.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-critical.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-successful.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/showcase/chromium-highContrast/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
Due: none

chore: replace fonts with NotoSans
  packages/foundations/assets/fonts/NotoSans-Black.woff2
  packages/foundations/assets/fonts/NotoSans-Bold.woff2
  packages/foundations/assets/fonts/NotoSans-Light.woff2
  packages/foundations/assets/fonts/NotoSans-Medium.woff2
  packages/foundations/assets/fonts/NotoSans-Regular.woff2
  packages/foundations/assets/fonts/NotoSans-SemiBold.woff2
  packages/foundations/assets/fonts/NotoSans-Thin.woff2
  packages/foundations/assets/fonts/OFL.txt
  packages/foundations/scss/default-theme.scss
  packages/foundations/scss/fonts/include.scss
  packages/foundations/src/colors.html
  packages/foundations/src/fonts.html
Due: stylelint --fix

fix: issue with prepare for foundations
  packages/foundations/package.json
Due: none

chore: update snapshots
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-critical.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-successful.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/component/chromium/DBNotification-should-match-screenshot.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-critical.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-successful.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/component/firefox/DBNotification-should-match-screenshot.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-critical.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-informational.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-successful.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot-for-semantic-warning.png
  __snapshots__/notification/component/mobile-chrome/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium-highContrast/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-chrome/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/mobile-safari/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/DBNotification-should-match-screenshot-1/DBNotification-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
Due: none

fix: issue with prepare script for foundations
  packages/foundations/package.json
Due: none

fix: issue with prepare script for foundations (#3565)
  packages/foundations/package.json
Due: none

refactor: removed the fonts from the listing
  packages/foundations/README.md
Due: none

Create v0.6.x-to-v0.7.x.md
  docs/migration/v0.6.x-to-v0.7.x.md
Due: none

Update v0.6.x-to-v0.7.x.md
  docs/migration/v0.6.x-to-v0.7.x.md
Due: none

docs: added new entry for a design system
  docs/research-other-design-systems.md
Due: none

refactor: running xo
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/patternhub/components/version-switcher/version-switcher.tsx
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/hooks/use-universal-search-parameters.ts
  showcases/react-showcase/src/utils/base-path.ts
Due: xo --fix, prettier --write

chore: reverted that part
  showcases/patternhub/scripts/generate-example-jsx.js
Due: xo --fix, prettier --write

Revert "chore: reverted that part"
  showcases/patternhub/scripts/generate-example-jsx.js
Due: xo --fix, prettier --write

Revert "refactor: running xo"
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/patternhub/components/version-switcher/version-switcher.tsx
  showcases/patternhub/pages/base64/index.tsx
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/hooks/use-universal-search-parameters.ts
  showcases/react-showcase/src/utils/base-path.ts
Due: xo --fix, prettier --write

refactor: running xo
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/patternhub/components/version-switcher/version-switcher.tsx
  showcases/patternhub/pages/base64/index.tsx
  showcases/react-showcase/src/components/default-component.tsx
  showcases/react-showcase/src/hooks/use-universal-search-parameters.ts
  showcases/react-showcase/src/utils/base-path.ts
Due: xo --fix, prettier --write

refactor: added disable comment
  showcases/patternhub/scripts/generate-example-jsx.js
Due: xo --fix, prettier --write

docs: added new entry for a design system (#3571)
  docs/research-other-design-systems.md
Due: none

feat: added REUSE compliance check
  .github/workflows/99-reuse-compliance-check.yml
Due: none

fix: post install issue with foundations
  packages/foundations/package.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
