Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

Update CHANGELOG.md
  packages/agent-cli/CHANGELOG.md
Due: none

Remove empty line from CHANGELOG.md
  packages/agent-cli/CHANGELOG.md
Due: none

Update index.tsx
  showcases/patternhub/pages/iframe/index.tsx
Due: xo --fix, prettier --write

refactor: corrected path
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/get-code-files.js
Due: xo --fix, prettier --write

fix: corrected that path
  showcases/patternhub/package.json
Due: none

refactor: running prettier
  showcases/patternhub/pages/iframe/index.tsx
Due: xo --fix, prettier --write

test: generation next
  components.css
  generate-css/color.ts
  generate-css/index.ts
  generate-css/material.ts
  generated-colors.css
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.next.scss
  packages/components/src/components/button/model.ts
  packages/components/src/shared/model.ts
  showcases/react-showcase/index.html
  showcases/react-showcase/src/index.css
  showcases/react-showcase/src/main.tsx
  test.html
Due: stylelint --fix, xo --fix, prettier --write

fix: issues from PR
  packages/eslint-plugin/src/rules/close-button/close-button-text-required.ts
  packages/eslint-plugin/src/shared/utils.ts
  packages/eslint-plugin/test/frameworks/__snapshots__/frameworks.spec.ts.snap
  packages/eslint-plugin/test/frameworks/angular-test.html
  packages/eslint-plugin/test/frameworks/react-test.tsx
  packages/eslint-plugin/test/frameworks/vue-test.vue
  packages/eslint-plugin/test/rules/close-button/close-button-text-required.spec.ts
Due: xo --fix, prettier --write

refactor(github actions): updates
  .github/actions/npm-cache/action.yml
  .github/actions/playwright-cache/action.yml
Due: none

refactor: a new word to ignore
  .config/cspellignorewords.txt
Due: none

Update packages/components/README.md
  packages/components/README.md
Due: none

Update packages/components/src/styles/relative.scss
  packages/components/src/styles/relative.scss
Due: stylelint --fix

refactor(): rename property 'width' to 'tabItemWidth'
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.scss
  showcases/angular-showcase/src/app/components/tabs/tabs.component.html
  showcases/react-showcase/src/components/tabs/index.tsx
  showcases/shared/tabs.json
  showcases/vue-showcase/src/components/tabs/Tabs.vue
Due: stylelint --fix, xo --fix, prettier --write

Update packages/foundations/README.md
  packages/foundations/README.md
Due: none

fix: issues from PR
  .changeset/yummy-sides-shop.md
  packages/foundations/README.md
Due: none

refactor(): rename property 'width' to 'tabItemWidth' in tabs examples
  packages/components/src/components/tabs/examples/overflow.example.lite.tsx
  packages/components/src/components/tabs/examples/truncation.example.lite.tsx
  packages/components/src/components/tabs/examples/width.example.lite.tsx
Due: xo --fix, prettier --write

refactor(): rename property 'width' to 'tabItemWidth' in tabs examples
  packages/components/src/components/tabs/examples/tabItemWidth.example.lite.tsx
  packages/components/src/components/tabs/showcase/tabs.showcase.lite.tsx
Due: xo --fix, prettier --write

Update packages/components/src/components/breadcrumb/docs/Migration.md
  packages/components/src/components/breadcrumb/docs/Migration.md
Due: none

Update packages/components/src/components/breadcrumb/breadcrumb.scss
  packages/components/src/components/breadcrumb/breadcrumb.scss
Due: stylelint --fix

Update packages/components/src/components/breadcrumb/index.html
  packages/components/src/components/breadcrumb/index.html
Due: none

Update packages/components/src/styles/index.scss
  packages/components/src/styles/index.scss
Due: stylelint --fix

refactor(): rename property 'width' to 'tabItemWidth' in showcase example
  packages/components/src/components/tab-item/examples/slot-with-badge.example.lite.tsx
  packages/components/src/components/tabs/examples/tabItemWidth.example.lite.tsx
  packages/components/src/components/tabs/examples/truncation.example.lite.tsx
Due: xo --fix, prettier --write

Apply suggestion from @mfranzke
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

docs: add section for user testing new components
  packages/components/docs/creating-custom-components.md
Due: none

fix(tabs): update storybook argTypes to match renamed tabItemWidth prop
  packages/components/src/components/tabs/examples/_tabs.arg.types.ts
Due: xo --fix, prettier --write

fix(tabs): revert accidental rename of css width in style objects
  showcases/shared/tabs.json
Due: none

fix(tabs): restore native CSS width in remaining showcase styles
  showcases/shared/tabs.json
Due: none

Apply suggestion from @nmerget
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
