Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Potential fix for code scanning alert no. 9: Expression injection in Actions
  .github/actions/auto-commit/action.yml
Due: none

fix: issue with stylelint changing imports for tailwind (#4391)
  packages/foundations/tailwind/theme/index.css
Due: stylelint --fix

chore: update from main
  package-lock.json
Due: none

chore: update onClick for button and link with mitosis plugin (#4392)
  packages/components/configs/angular/index.cjs
  packages/components/configs/angular/mitosis.config.cjs
  packages/components/configs/mitosis.config.cjs
  packages/components/configs/plugins/on-click.cjs
  packages/components/configs/react/index.cjs
  packages/components/configs/stencil/index.cjs
  packages/components/configs/vue/index.cjs
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/link/link.lite.tsx
Due: xo --fix, prettier --write

feat: add generate-copilot-instructions script with PascalCase folder/file filtering
  package-lock.json
  package.json
  packages/components/package.json
  scripts/generate-copilot-instructions.js
Due: xo --fix, prettier --write

docs: document automated generation of copilot-instructions.md by including component documentation
  docs/adr/adr-05-copilot-developer-doc.md
Due: none

refactor: removed that plugin again
  package-lock.json
  package.json
  packages/components/postcss.config.cjs
  packages/foundations/postcss.config.cjs
Due: none

refactor: removed to a duplicate declaration
  packages/components/src/components/custom-select-list/custom-select-list.scss
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/textarea/textarea.scss
  showcases/patternhub/styles/globals.scss
  showcases/showcase-styles.css
Due: stylelint --fix

refactor: reverted package lock file
  package-lock.json
Due: none

refactor: reverted that files contents
  packages/foundations/package.json
Due: none

refactor: aligned figma and dev docs
  showcases/shared/select.json
Due: none

docs: adapt jsdoc for button and its models
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
Due: xo --fix, prettier --write

chore: add plugin to merge typedoc files
  package-lock.json
  package.json
Due: none

feat: updated DB UX Theme
  package-lock.json
  package.json
Due: none

feat: updated DB UX Theme (#4406)
  package-lock.json
  package.json
Due: none

feat: append component doc to existing instructions instead of overwriting them completely
  scripts/generate-copilot-instructions.js
Due: xo --fix, prettier --write

Update IDESupport.md
  packages/foundations/docs/IDESupport.md
Due: none

feat(datalist): possibility to provide a hidden value
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

feat(button): added commandfor and command attributes
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
Due: xo --fix, prettier --write

fix: issue with angular showcase
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/utils/floating-components.ts
Due: xo --fix, prettier --write

Potential fix for code scanning alert no. 10: Expression injection in Actions
  .github/actions/auto-commit/action.yml
Due: none

chore: converted declarations to dataset JS API (#4349)
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/utils/floating-components.ts
Due: xo --fix, prettier --write

fix(docs): import
  packages/components/src/components/header/docs/Angular.md
Due: none
