Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

feat: added comments to tables of other design systems
  docs/research/table.md
Due: none

feat: change color of label on hovered and active state (#4077)
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/radio/radio.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/internal/_form-components.scss
  packages/foundations/dev/icons.html
  packages/foundations/scss/helpers/_functions.scss
Due: stylelint --fix

Update packages/components/src/styles/internal/_tag-components.scss
  packages/components/src/styles/internal/_tag-components.scss
Due: stylelint --fix

fix: issue with autofill icon (#4158)
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

fix: badge styling issues (#4156)
  __snapshots__/badge/showcase/chromium-highContrast/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
  packages/components/src/styles/internal/_tag-components.scss
  showcases/angular-showcase/src/app/components/badge/badge.component.html
  showcases/react-showcase/src/components/badge/index.tsx
  showcases/shared/badge.json
  showcases/vue-showcase/src/components/badge/Badge.vue
Due: stylelint --fix, xo --fix, prettier --write

feat: added roadmap
  docs/research/table.md
Due: none

feat: fixed layout
  docs/research/table.md
Due: none

refactor: updated Node version
  .github/actions/npm-cache/action.yml
  .nvmrc
Due: none

fix: corrected focus outline color
  packages/foundations/scss/helpers/_focus.scss
Due: stylelint --fix

fix: custom-select issues fix: search filter applies to value fix: custom scrollbar
  packages/components/src/components/custom-select-list/custom-select-list.scss
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.scss
  showcases/vue-showcase/src/components/custom-select/CustomSelect.vue
  showcases/vue-showcase/src/components/home/Home.vue
Due: stylelint --fix, xo --fix, prettier --write

fix: revert home changes
  showcases/vue-showcase/src/components/home/Home.vue
Due: none

fix: input event inside tabs
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
Due: xo --fix, prettier --write

fix: removed messages for search input
  packages/components/src/components/custom-select-dropdown/custom-select-dropdown.scss
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with disabling search and select all
  packages/components/src/components/custom-select/custom-select.lite.tsx
  showcases/shared/custom-select.json
Due: xo --fix, prettier --write

fix: issue with document-click-listener for custom-select
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/card/card.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/utils/document-click-listener.ts
Due: xo --fix, prettier --write

fix: corrected focus outline color (#4188)
  packages/foundations/scss/helpers/_focus.scss
Due: stylelint --fix

fix: issue with race condition for DOM details.open fix: issue for Vue v-model
  packages/components/scripts/post-build/vue.ts
  packages/components/src/components/custom-select/custom-select.lite.tsx
  showcases/angular-showcase/src/app/components/form/custom-selects/custom-selects.component.html
  showcases/angular-showcase/src/app/components/form/custom-selects/custom-selects.component.ts
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.html
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/react-showcase/src/components/form/custom-select.tsx
  showcases/react-showcase/src/components/form/form-wrapper.tsx
  showcases/react-showcase/src/components/home/index.tsx
  showcases/shared/custom-select.json
  showcases/vue-showcase/src/components/form/Custom-Selects.vue
  showcases/vue-showcase/src/components/home/Home.vue
Due: xo --fix, prettier --write
