Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update from main
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_tag-components.scss
  packages/foundations/scss/tonality/_scaling-placeholder.scss
  packages/foundations/scss/tonality/_tonalities.scss
  packages/foundations/scss/tonality/_typography-placeholder.scss
  packages/foundations/scss/tonality/_variables-tonality.scss
Due: stylelint --fix

fix: issue with missing 0 spacing for tailwind
  packages/foundations/tokens/tailwind/spacing.json
Due: none

fix: issue with brand button not using on brand color
  packages/components/src/components/button/button.scss
  packages/foundations/scss/color/_colors.scss
Due: stylelint --fix

chore: update from main
  __snapshots__/alert/showcase/chromium/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-chrome/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/mobile-safari/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/alert/showcase/webkit/regular/neutral/DBAlert-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-safari/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/webkit/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/tag/showcase/chromium/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-chrome/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/mobile-safari/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/tag/showcase/webkit/regular/neutral/DBTag-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/regular/neutral/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/regular/neutral/DBTextarea-should-match-screenshot.png
Due: none

fix: use outlined icons as fallback for solid
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
Due: xo --fix, prettier --write

refactor: added relevant part to the node script
  docs/research/README.md
Due: none

fix: use x_placeholder as first fallback for soild icons
  packages/foundations/assets/icons/functional/fonts/all/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/default_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/inverted_64/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_16/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_20/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_24/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_32/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_48/db-ux.woff2
  packages/foundations/assets/icons/functional/fonts/solid_64/db-ux.woff2
  packages/foundations/scripts/generate-icon-fonts/gather-icons.js
Due: xo --fix, prettier --write

fix: infotext should use solid only if data-icon isn't used
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-chrome/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/mobile-safari/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/webkit/regular/neutral/DBInfotext-should-match-screenshot.png
  packages/components/src/components/infotext/infotext.scss
  showcases/shared/infotext.json
Due: stylelint --fix

fix: issue with build showcases
  showcases/vanilla-showcase/package.json
Due: none

fix: issue with build showcases
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

feat: add popover
  __snapshots__/popover/component/chromium/DBPopover-should-match-screenshot.png
  __snapshots__/popover/component/mobile-chrome/DBPopover-should-match-screenshot.png
  __snapshots__/popover/component/mobile-safari/DBPopover-should-match-screenshot.png
  __snapshots__/popover/component/webkit/DBPopover-should-match-screenshot.png
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/index.html
  packages/components/overrides/angular/src/components/popover/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/card/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/popover/docs/Angular.md
  packages/components/src/components/popover/docs/HTML.md
  packages/components/src/components/popover/docs/React.md
  packages/components/src/components/popover/docs/Vue.md
  packages/components/src/components/popover/index.html
  packages/components/src/components/popover/index.ts
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover-web-component.scss
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/popover/popover.spec.tsx
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/db-ui-components.scss
  packages/foundations/scss/animation/_animations.scss
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/popover/popover.component.html
  showcases/angular-showcase/src/app/components/popover/popover.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/popover/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/popover.json
  showcases/vue-showcase/src/components/popover/Popover.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: stylelint --fix, xo --fix, prettier --write

docs: add md files for popover
  packages/components/src/components/popover/docs/Angular.md
  packages/components/src/components/popover/docs/HTML.md
  packages/components/src/components/popover/docs/Migration.md
  packages/components/src/components/popover/docs/React.md
  packages/components/src/components/popover/docs/Vue.md
Due: none

feat: add tooltip component
  __snapshots__/tooltip/component/chromium/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/component/mobile-chrome/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/component/mobile-safari/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/component/webkit/DBTooltip-should-match-screenshot.png
  packages/components/index.html
  packages/components/overrides/angular/src/components/tooltip/index.ts
  packages/components/scripts/post-build/components.js
  packages/components/src/components/popover/model.ts
  packages/components/src/components/popover/popover.scss
  packages/components/src/components/tooltip/docs/Angular.md
  packages/components/src/components/tooltip/docs/HTML.md
  packages/components/src/components/tooltip/docs/Migration.md
  packages/components/src/components/tooltip/docs/React.md
  packages/components/src/components/tooltip/docs/Vue.md
  packages/components/src/components/tooltip/index.html
  packages/components/src/components/tooltip/index.ts
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip-web-component.scss
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/components/tooltip/tooltip.spec.tsx
  packages/components/src/index.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/_popover-component.scss
  packages/components/src/styles/db-ui-components.scss
  showcases/angular-showcase/src/app/app.module.ts
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.html
  showcases/angular-showcase/src/app/components/tooltip/tooltip.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/components/component-parser/data.ts
  showcases/patternhub/components/component-parser/index.tsx
  showcases/patternhub/data/routes.ts
  showcases/react-showcase/src/components/tooltip/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/shared/tooltip.json
  showcases/vue-showcase/src/components/tooltip/Tooltip.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: stylelint --fix, xo --fix, prettier --write

Update README.md
  packages/components/src/README.md
Due: none

order adapted out of MDN documentation
  packages/components/src/styles/_component.scss
Due: stylelint --fix

Update _component.scss
  packages/components/src/styles/_component.scss
Due: stylelint --fix

refactor: merged these
  packages/components/src/styles/_tag-components.scss
Due: stylelint --fix

refactor: renaming for clarity
  packages/foundations/scss/colors/_variants.scss
Due: stylelint --fix

fix: this file has been renamed
  packages/components/_templates/power-apps/new/scss.ejs.t
Due: none

refactor: we don't need a pointer event here
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

refactor: changed tag from div to inline (i)
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

refactor: changed tag from div to inline (i)
  packages/components/src/components/popover/popover.lite.tsx
Due: xo --fix, prettier --write

fix: corrected that path
  packages/components/src/styles/_popover-component.scss
Due: stylelint --fix

refactor: correctly adapted to the new files place
  docs/how-to-develop-a-component.md
  packages/components/src/components/popover/popover.scss
Due: stylelint --fix

refactor: changed that color as well
  packages/components/src/components/popover/popover.scss
Due: stylelint --fix

refactor: adapted those colors as well
  packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/styles/_popover-component.scss
Due: stylelint --fix

docs: corrected that aspect
  docs/how-to-develop-a-component.md
Due: none

refactor: corrected the file reference
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

fix: removed that old reference
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

fix: corrected that variable
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

fix: incorrect variable
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

fix: incorrect variable
  packages/components/src/styles/_popover-component.scss
Due: stylelint --fix

fix: corrected HTML tag
  packages/components/src/components/tooltip/docs/HTML.md
  packages/components/src/components/tooltip/index.html
Due: none

refactor: corrected font-style
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

refactor: surrounding tags styling reset
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

fix: corrected that variable naming
  packages/components/src/components/popover/popover.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
