Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: issue with tabs and accordion for react 19 (#4030)
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  package-lock.json
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/accordion-item/model.ts
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
Due: none

fix: border for hovered and pressed tag
  packages/components/src/styles/internal/_tag-components.scss
  packages/foundations/dev/icons.html
Due: stylelint --fix

fix: issue with stack snapshots chore: update migration for font changes chore: update snapshots
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox-checked.png
  packages/foundations/scss/defaults/default-required.scss
  packages/migration/src/migration/v1.0.0-v2.0.0.ts
  showcases/showcase-styles.css
Due: stylelint --fix, xo --fix, prettier --write

chore: update snapshots
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  __snapshots__/badge/patternhub/badge-properties-should-match-screenshot.png
  __snapshots__/brand/patternhub/brand-properties-should-match-screenshot.png
  __snapshots__/button/patternhub/button-properties-should-match-screenshot.png
  __snapshots__/card/patternhub/card-properties-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-properties-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-properties-should-match-screenshot.png
  __snapshots__/divider/patternhub/divider-properties-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/header/patternhub/header-properties-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/input/patternhub/input-properties-should-match-screenshot.png
  __snapshots__/link/patternhub/link-properties-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/navigation/patternhub/navigation-properties-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-properties-should-match-screenshot.png
  __snapshots__/popover/patternhub/popover-properties-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-properties-should-match-screenshot.png
  __snapshots__/section/patternhub/section-properties-should-match-screenshot.png
  __snapshots__/select/patternhub/select-properties-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-overview-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-properties-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium-highContrast/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/chromium/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/firefox/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-chrome/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/mobile-safari/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/stack/showcase/webkit/DBStack-should-match-screenshot-1/DBStack-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-properties-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/patternhub/pages/foundations/densities/examples.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/vue-showcase/src/components/section/Section.vue
Due: xo --fix, prettier --write

fix: issue for custom select not triggering optionSelected for clearAll
  packages/components/src/components/custom-select/custom-select.lite.tsx
Due: xo --fix, prettier --write

chore: updated db theme package
  package-lock.json
  package.json
Due: none

chore: update playwright
  e2e/package.json
  output/react/package.json
  output/vue/package.json
  package-lock.json
  package.json
Due: none

chore: updated db theme package (#4053)
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: none

feat: enable text of navigation-item to break into multiple lines
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation-item.json
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Due: stylelint --fix, xo --fix, prettier --write

test: updated snapshots
  __snapshots__/navigation-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/chromium/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/firefox/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/webkit/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
Due: none

feat: add icons to subnavigation-items for showcases
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation-item.json
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Due: xo --fix, prettier --write

fix: removed ul from subnavigation causing incorrect padding at start of the items
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Due: xo --fix, prettier --write

feat: enable text of navigation-item to break into multiple lines (#4059)
  __snapshots__/navigation-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/chromium/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/firefox/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  __snapshots__/navigation-item/showcase/webkit/should-have-same-aria-snapshot/DBNavigationItem-should-have-same-aria-snapshot.yaml
  packages/components/src/components/navigation-item/model.ts
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/angular-showcase/src/app/components/navigation-item/navigation-item.component.html
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation-item.json
  showcases/vue-showcase/src/components/navigation-item/NavigationItem.vue
Due: stylelint --fix, xo --fix, prettier --write

fix: issues with font properties applying wrong font-weights
  package-lock.json
  package.json
  packages/foundations/scss/defaults/_default-properties.scss
  packages/foundations/scss/defaults/default-fonts.scss
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

chore: update snapshots
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
  __snapshots__/badge/patternhub/badge-properties-should-match-screenshot.png
  __snapshots__/brand/patternhub/brand-properties-should-match-screenshot.png
  __snapshots__/button/patternhub/button-properties-should-match-screenshot.png
  __snapshots__/card/patternhub/card-properties-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-properties-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-properties-should-match-screenshot.png
  __snapshots__/divider/patternhub/divider-properties-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-properties-should-match-screenshot.png
  __snapshots__/header/patternhub/header-properties-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-properties-should-match-screenshot.png
  __snapshots__/input/patternhub/input-properties-should-match-screenshot.png
  __snapshots__/link/patternhub/link-properties-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-properties-should-match-screenshot.png
  __snapshots__/navigation/patternhub/navigation-properties-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-properties-should-match-screenshot.png
  __snapshots__/popover/patternhub/popover-properties-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-properties-should-match-screenshot.png
  __snapshots__/section/patternhub/section-properties-should-match-screenshot.png
  __snapshots__/select/patternhub/select-properties-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-properties-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-properties-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-properties-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-properties-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-properties-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-properties-should-match-screenshot.png
Due: none

fix: enable multiline for navigation-items that are links and not buttons
  packages/components/src/components/navigation-item/navigation-item.scss
  showcases/react-showcase/src/components/navigation-item/index.tsx
  showcases/shared/navigation-item.json
Due: stylelint --fix, xo --fix, prettier --write

chore: update playwright (#4062)
  e2e/package.json
  output/react/package.json
  output/vue/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
