Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: regenerated screen- and snapshots
  packages/components/src/components/custom-select/custom-select.spec.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.html
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/form/input.tsx
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/form/Inputs.vue
  showcases/vue-showcase/src/components/form/Textareas.vue
Due: xo --fix, prettier --write

fix(badge): dot styling
  packages/components/src/components/badge/badge.scss
Due: stylelint --fix

Revert "refactor: regenerated screen- and snapshots"
  packages/components/src/components/custom-select/custom-select.spec.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.html
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.html
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/form/input.tsx
  showcases/vue-showcase/src/components/form/Form.vue
  showcases/vue-showcase/src/components/form/Inputs.vue
  showcases/vue-showcase/src/components/form/Textareas.vue
Due: xo --fix, prettier --write

refactor: regenerated screen- and snapshots (#4740)
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
Due: none

fix(badge): dot styling (#4741)
  __snapshots__/badge/showcase/chromium-highContrast/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/mobile-chrome/DBBadge-should-match-screenshot-1/DBBadge-should-match-screenshot.png
  packages/components/src/components/badge/badge.scss
Due: stylelint --fix

refactor: optimization
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

refactor(lint-staged): we want to include dev audit fixes
  .config/.lintstagedrc.js
Due: xo --fix, prettier --write

chore: removed a leftover
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

refactor: let's give this a try
  __snapshots__/select/component/chromium/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/firefox/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/component/mobile-chrome/DBSelect-should-have-same-aria-snapshot.yaml
Due: none

Update select.lite.tsx
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

refactor: we shouldn't output the name into the innerContent as a default
  showcases/patternhub/scripts/utils.js
Due: xo --fix, prettier --write

refactor: package output optimization
  output/stencil/package.json
Due: none

chore: removed a leftover (#4747)
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

fix: prevent an undefined
  showcases/patternhub/scripts/utils.js
Due: xo --fix, prettier --write

refactor: package output optimization (#4749)
  output/stencil/package.json
Due: none

feat: added stylelint pattern
  .github/dependabot.yml
Due: none

refactor: we shouldn't output the name into the innerContent in general (#4751)
  showcases/patternhub/scripts/utils.js
Due: xo --fix, prettier --write

refactor: let's not replace the current page anymore
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: xo --fix, prettier --write

fix: incorrect URL part
  showcases/patternhub/components/version-switcher/version-switcher.tsx
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
