Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: firefox close behaviour
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
Due: xo --fix, prettier --write

refactor: renamed for clarity
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/model.ts
Due: xo --fix, prettier --write

refactor: simplification
  packages/components/src/styles/internal/_indicator.scss
  packages/foundations/docs/BrowserSupport.md
Due: stylelint --fix

refactor: add meta.json for all foundation categories
  packages/agent-cli/knowledge-database/foundations/border-radius/meta.json
  packages/agent-cli/knowledge-database/foundations/border-width/meta.json
  packages/agent-cli/knowledge-database/foundations/colors/meta.json
  packages/agent-cli/knowledge-database/foundations/container/meta.json
  packages/agent-cli/knowledge-database/foundations/elevation/meta.json
  packages/agent-cli/knowledge-database/foundations/internals/meta.json
  packages/agent-cli/knowledge-database/foundations/opacity/meta.json
  packages/agent-cli/knowledge-database/foundations/principles/meta.json
  packages/agent-cli/knowledge-database/foundations/screen/meta.json
  packages/agent-cli/knowledge-database/foundations/sizing/meta.json
  packages/agent-cli/knowledge-database/foundations/spacing/meta.json
  packages/agent-cli/knowledge-database/foundations/transition/meta.json
  packages/agent-cli/knowledge-database/foundations/typography/meta.json
Due: none

docs: add code.json format proposal for component code references
  packages/agent-cli/knowledge-database/components/button/code.json
  packages/agent-cli/knowledge-database/requirements.md
Due: none

refactor: consolidate breadcrumb sub-components to breadcrumb-item
  packages/agent-cli/knowledge-database/README.md
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-current-item/figma.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-current-item/guidelines.md
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-current-item/meta.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-current-item/properties.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-item/figma.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-item/properties.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-popover-item/figma.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-popover-item/guidelines.md
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-popover-item/meta.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-popover-item/properties.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-root-item/figma.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-root-item/guidelines.md
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-root-item/meta.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-root-item/properties.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-separator/figma.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-separator/guidelines.md
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-separator/meta.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-separator/properties.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-truncation-item/figma.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-truncation-item/guidelines.md
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-truncation-item/meta.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/breadcrumb-truncation-item/properties.json
  packages/agent-cli/knowledge-database/lab-components/breadcrumb/figma.json
Due: none

Revert "style: auto-fix codestyle issues (#7462)"
  packages/components/src/styles/internal/_indicator.scss
  packages/foundations/docs/BrowserSupport.md
Due: stylelint --fix

Revert "refactor: simplification"
  packages/components/src/styles/internal/_indicator.scss
  packages/foundations/docs/BrowserSupport.md
Due: stylelint --fix

refactor: adapt that current conditions
  packages/components/src/styles/internal/_indicator.scss
Due: stylelint --fix

Update shaky-onions-melt.md
  .changeset/shaky-onions-melt.md
Due: none

fix: use the display transition's full duration specifically for `display`
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor: guard the public detector outside a ready browser document
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor: moved that method for clarity
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/utils/allow-discrete-ponyfill.ts
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

refactor: include the display transition delay before closing
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor: being more precise on the different ways of which packages to include in a changeset
  AGENTS.md
  packages/components/AGENTS.md
Due: none

fix: indicators width
  packages/components/src/components/tabs/tabs.scss
Due: stylelint --fix

refactor: align accordion figma.json with sub-component convention
  packages/agent-cli/knowledge-database/README.md
  packages/agent-cli/knowledge-database/components/accordion/figma.json
Due: none

fix: repeat transition times according to CSS list semantics
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

fix: cancel a pending fallback close when the dialog reopens
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor: distinguish each fallback close attempt
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor: recognize `all` as a display transition
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor: heavy simplification
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: stylelint --fix, xo --fix, prettier --write

Update .changeset/chubby-laws-beg.md
  .changeset/chubby-laws-beg.md
Due: none

refactor: use a genuinely unique close-attempt token
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor: document the new shared ponyfill in component guidance
  .config/cspellignorewords.txt
  packages/components/AGENTS.md
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

fix: corrected that methods name
  packages/components/src/components/drawer/drawer.lite.tsx
Due: xo --fix, prettier --write

fix: adapted the documentation
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor(Indicator): switched from `background` to `background-color` CSS property (#7440)
  .changeset/chubby-laws-beg.md
  packages/components/src/styles/internal/_indicator.scss
  packages/foundations/docs/BrowserSupport.md
Due: stylelint --fix

fix: access null `ref` (#7412)
  .changeset/clear-keys-lie.md
  .config/.markdown-lint.yml
  packages/components/AGENTS.md
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
