Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

Create lovely-lizards-appear.md
  .changeset/lovely-lizards-appear.md
Due: none

Update lovely-lizards-appear.md
  .changeset/lovely-lizards-appear.md
Due: none

fix(angular): only set valid state after previous invalid state
  packages/components/scripts/post-build/angular.ts
Due: xo --fix, prettier --write

Update index.ts
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

Create curly-hoops-lose.md
  .changeset/curly-hoops-lose.md
Due: none

refactor: simplification
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

refactor: resilience
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

refactor: avoid mutating consumer option objects
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

fix(storybook): local build
  storybooks/vue-storybook/package.json
Due: none

refactor: added label and keep value-based keys for id-less options
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

fix(angular): respect validation="no-validation" and preserve native validationMessage
  packages/components/scripts/post-build/angular.ts
  scripts/tests/validation-bridge.spec.ts
Due: xo --fix, prettier --write

fix(localhost): warning after start
  showcases/patternhub/pages/404.tsx
Due: xo --fix, prettier --write

refactor: resilience
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

fix: pipeline for forks
  .github/workflows/00-init.yml
  .github/workflows/default.yml
Due: none

Update default.yml
  .github/workflows/default.yml
Due: none

fix(storybook): local build (#7175)
  storybooks/vue-storybook/package.json
Due: none

refactor: remove default `margin-inline` from `[data-icon]` pseudo-elements in favor of `gap`
  .changeset/remove-icon-margin-inline.md
  README.md
  docs/migration/v4.x.x-to-v5.0.0.md
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/custom-button/custom-button.scss
  packages/components/src/components/custom-select-list-item/custom-select-list-item.scss
  packages/components/src/components/infotext/infotext.scss
  packages/components/src/components/link/link.scss
  packages/components/src/components/navigation-item/navigation-item.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/notification/notification.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/styles/internal/_button-components.scss
  packages/components/src/styles/internal/_icon-passing.scss
  packages/foundations/scss/defaults/default-icons.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Due: stylelint --fix

refactor: aligned the conditions checking for whether the pipeline is running by a fork
  .github/workflows/default.yml
  .github/workflows/pull-request.yml
Due: none

refactor(angular): use SignalFormsComponent in form showcase
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: xo --fix, prettier --write

fix(localhost): warning after start (#7179)
  showcases/patternhub/pages/404.tsx
Due: xo --fix, prettier --write

refactor: added necessary prettier ignore for Kiro reference
  .kiro/steering/code-review.md
  .kiro/steering/pre-commit-review.md
Due: none

refactor(angular): merge SignalFormsComponent into FormComponent
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: xo --fix, prettier --write

refactor(angular): translate form showcase to English
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: xo --fix, prettier --write
