Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issues for form-components using showMessage
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/shared/select.json
Due: xo --fix, prettier --write

chore: update snapshots
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/notification/model.ts
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/utils/form-components.ts
  packages/components/src/utils/index.ts
  showcases/angular-showcase/src/app/components/notification/notification.component.html
  showcases/angular-showcase/src/app/components/switch/switch.component.html
  showcases/react-showcase/src/components/notification/index.tsx
  showcases/screen-reader/__snapshots__/macos/webkit/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBInput-required-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBLink-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBSwitch-default-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBSwitch-icon-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-next-1.txt
  showcases/screen-reader/__snapshots__/macos/webkit/DBTextarea-required-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBInput-tab-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBLink-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSwitch-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSwitch-icon-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTextarea-required-1.txt
  showcases/screen-reader/tests/input.spec.ts
  showcases/shared/badge.json
  showcases/shared/link.json
  showcases/shared/notification.json
  showcases/shared/stack.json
  showcases/vue-showcase/src/components/notification/Notification.vue
Due: xo --fix, prettier --write

fix: issue with stencil and radio
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.ts
  showcases/angular-showcase/src/app/components/input/input.component.ts
  showcases/angular-showcase/src/app/components/radio/radio.component.ts
  showcases/angular-showcase/src/app/components/select/select.component.ts
  showcases/angular-showcase/src/app/components/textarea/textarea.component.ts
Due: xo --fix, prettier --write

docs: added accessibility expert review results
  showcases/shared/_accessibility-review.json
Due: none

Update _accessibility-review.json
  showcases/shared/_accessibility-review.json
Due: none

docs: added accessibility expert review results (#3597)
  showcases/shared/_accessibility-review.json
Due: none

fix: form elements border color
  packages/components/src/styles/_component.scss
Due: stylelint --fix

refactor(vite): esm build
  packages/components/package.json
Due: none

test: regenerated snapshots
  __snapshots__/accordion-item/patternhub/accordion-item-overview-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-overview-should-match-screenshot.png
  __snapshots__/badge/patternhub/badge-overview-should-match-screenshot.png
  __snapshots__/brand/patternhub/brand-overview-should-match-screenshot.png
  __snapshots__/button/patternhub/button-overview-should-match-screenshot.png
  __snapshots__/card/patternhub/card-overview-should-match-screenshot.png
  __snapshots__/checkbox/patternhub/checkbox-overview-should-match-screenshot.png
  __snapshots__/divider/patternhub/divider-overview-should-match-screenshot.png
  __snapshots__/drawer/patternhub/drawer-overview-should-match-screenshot.png
  __snapshots__/header/patternhub/header-overview-should-match-screenshot.png
  __snapshots__/infotext/patternhub/infotext-overview-should-match-screenshot.png
  __snapshots__/input/patternhub/input-overview-should-match-screenshot.png
  __snapshots__/link/patternhub/link-overview-should-match-screenshot.png
  __snapshots__/navigation-item/patternhub/navigation-item-overview-should-match-screenshot.png
  __snapshots__/navigation/patternhub/navigation-overview-should-match-screenshot.png
  __snapshots__/notification/patternhub/notification-overview-should-match-screenshot.png
  __snapshots__/popover/patternhub/popover-overview-should-match-screenshot.png
  __snapshots__/radio/patternhub/radio-overview-should-match-screenshot.png
  __snapshots__/section/patternhub/section-overview-should-match-screenshot.png
  __snapshots__/select/patternhub/select-overview-should-match-screenshot.png
  __snapshots__/stack/patternhub/stack-overview-should-match-screenshot.png
  __snapshots__/switch/patternhub/switch-overview-should-match-screenshot.png
  __snapshots__/tab-item/patternhub/tab-item-overview-should-match-screenshot.png
  __snapshots__/tabs/patternhub/tabs-overview-should-match-screenshot.png
  __snapshots__/tag/patternhub/tag-overview-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-overview-should-match-screenshot.png
  __snapshots__/tooltip/patternhub/tooltip-overview-should-match-screenshot.png
Due: none

fix: form elements border color
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
Due: stylelint --fix

test: updated screenshots
  __snapshots__/input/component/chromium/DBInput-should-match-screenshot.png
  __snapshots__/input/component/firefox/DBInput-should-match-screenshot.png
  __snapshots__/input/component/mobile-chrome/DBInput-should-match-screenshot.png
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/firefox/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/component/chromium/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/firefox/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
Due: none

test: updated screenshots
  __snapshots__/input/patternhub/input-overview-should-match-screenshot.png
  __snapshots__/select/patternhub/select-overview-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-overview-should-match-screenshot.png
Due: none

test: updated screenshots
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/firefox/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
Due: none

Update package.json
  packages/components/package.json
Due: none

Rename vite.config.js to vite.config.mjs
  packages/components/vite.config.mjs
Due: none

test: updated snapshots
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/chromium/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/firefox/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/mobile-safari/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
  __snapshots__/tab-item/showcase/webkit/DBTabItem-should-match-screenshot-1/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/should-have-same-aria-snapshot/DBTabItem-should-have-same-aria-snapshot.yaml
Due: none

refactor: running prettier again
  docs/migration/v0.5.x-to-v0.6.x.md
  docs/research-other-design-systems.md
  packages/components/src/components/input/input.scss
  packages/components/src/components/select/select.scss
  packages/components/src/components/switch/switch.scss
  packages/components/src/styles/_form-components.scss
  packages/foundations/README.md
Due: stylelint --fix

Update showcases/shared/textarea.json
  showcases/shared/textarea.json
Due: none

fix: form elements border color (#3601)
  __snapshots__/input/component/chromium/DBInput-should-match-screenshot.png
  __snapshots__/input/component/firefox/DBInput-should-match-screenshot.png
  __snapshots__/input/component/mobile-chrome/DBInput-should-match-screenshot.png
  __snapshots__/input/patternhub/input-overview-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-safari/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/select/component/chromium/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/firefox/DBSelect-should-match-screenshot.png
  __snapshots__/select/component/mobile-chrome/DBSelect-should-match-screenshot.png
  __snapshots__/select/patternhub/select-overview-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/textarea/component/chromium/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/firefox/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/component/mobile-chrome/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/patternhub/textarea-overview-should-match-screenshot.png
  __snapshots__/textarea/showcase/chromium/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/firefox/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-safari/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  __snapshots__/textarea/showcase/webkit/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
  packages/components/src/components/textarea/textarea.scss
  packages/components/src/styles/_component.scss
  packages/components/src/styles/_form-components.scss
  showcases/shared/_accessibility-review.json
Due: stylelint --fix
