Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue with header example for angular
  packages/components/configs/plugins/angular/slots.cjs
Due: none

Update .github/workflows/default.yml
  .github/workflows/default.yml
Due: none

Update packages/components/src/components/select/model.ts
  packages/components/src/components/select/model.ts
Due: xo --fix, prettier --write

Apply suggestions from code review
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with radio and checkbox examples
  packages/components/src/components/checkbox/examples/checked.example.lite.tsx
  packages/components/src/components/checkbox/examples/density.example.lite.tsx
  packages/components/src/components/checkbox/examples/disabled.example.lite.tsx
  packages/components/src/components/checkbox/examples/example.example.lite.tsx
  packages/components/src/components/checkbox/examples/indeterminate.example.lite.tsx
  packages/components/src/components/checkbox/examples/required.example.lite.tsx
  packages/components/src/components/checkbox/examples/show-label.example.lite.tsx
  packages/components/src/components/checkbox/examples/show-required-asterisk.example.lite.tsx
  packages/components/src/components/checkbox/examples/size.example.lite.tsx
  packages/components/src/components/checkbox/examples/validation.example.lite.tsx
  packages/components/src/components/radio/examples/checked.example.lite.tsx
  packages/components/src/components/radio/examples/density.example.lite.tsx
  packages/components/src/components/radio/examples/disabled.example.lite.tsx
  packages/components/src/components/radio/examples/required.example.lite.tsx
  packages/components/src/components/radio/examples/show-label.example.lite.tsx
  packages/components/src/components/radio/examples/show-required-asterisk.example.lite.tsx
  packages/components/src/components/radio/examples/size.example.lite.tsx
  packages/components/src/components/radio/examples/validation.example.lite.tsx
Due: xo --fix, prettier --write

fix: issue with remaining aria problems for tests
  packages/components/configs/angular/index.cjs
  packages/components/configs/mitosis.storybook.config.cjs
  packages/components/configs/plugins/angular/index.cjs
  packages/components/scripts/post-build/angular.ts
  packages/components/src/components/custom-select/examples/density.example.lite.tsx
  packages/components/src/components/custom-select/examples/disabled.example.lite.tsx
  packages/components/src/components/custom-select/examples/dropdown-width.example.lite.tsx
  packages/components/src/components/custom-select/examples/example-other-configuration.example.lite.tsx
  packages/components/src/components/custom-select/examples/example-tags.example.lite.tsx
  packages/components/src/components/custom-select/examples/examples-floating-label.example.lite.tsx
  packages/components/src/components/custom-select/examples/examples-multiple.example.lite.tsx
  packages/components/src/components/custom-select/examples/examples-single.example.lite.tsx
  packages/components/src/components/custom-select/examples/form-field-width.example.lite.tsx
  packages/components/src/components/custom-select/examples/multiple.example.lite.tsx
  packages/components/src/components/custom-select/examples/placement.example.lite.tsx
  packages/components/src/components/custom-select/examples/required.example.lite.tsx
  packages/components/src/components/custom-select/examples/selected-type.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-clear-selection.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-icon.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-label.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-loading.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-message.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-no-result.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-required-asterisk.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-search.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-select-all.example.lite.tsx
  packages/components/src/components/custom-select/examples/validation.example.lite.tsx
  packages/components/src/components/custom-select/examples/variant.example.lite.tsx
  packages/components/src/components/tag/examples/behavior.example.lite.tsx
  packages/components/src/components/tag/examples/checked.example.lite.tsx
  packages/components/src/components/tag/examples/disabled.example.lite.tsx
  packages/components/src/components/tag/examples/example-strong.example.lite.tsx
Due: xo --fix, prettier --write

Skip default pipeline for changeset release PRs (#5903)
  .config/cspellignorewords.txt
  .github/workflows/default.yml
Due: none

refactor: simplification
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
Due: stylelint --fix, xo --fix, prettier --write

refactor: updating DB theme
  package-lock.json
  package.json
Due: none

fix: issue with remaining aria problems for tests
  packages/components/src/components/checkbox/examples/checked.example.lite.tsx
  packages/components/src/components/checkbox/examples/density.example.lite.tsx
  packages/components/src/components/checkbox/examples/disabled.example.lite.tsx
  packages/components/src/components/checkbox/examples/example.example.lite.tsx
  packages/components/src/components/checkbox/examples/indeterminate.example.lite.tsx
  packages/components/src/components/checkbox/examples/required.example.lite.tsx
  packages/components/src/components/checkbox/examples/show-label.example.lite.tsx
  packages/components/src/components/checkbox/examples/show-required-asterisk.example.lite.tsx
  packages/components/src/components/checkbox/examples/size.example.lite.tsx
  packages/components/src/components/checkbox/examples/validation.example.lite.tsx
  packages/components/src/components/custom-select/examples/density.example.lite.tsx
  packages/components/src/components/custom-select/examples/disabled.example.lite.tsx
  packages/components/src/components/radio/examples/checked.example.lite.tsx
  packages/components/src/components/radio/examples/density.example.lite.tsx
  packages/components/src/components/radio/examples/disabled.example.lite.tsx
  packages/components/src/components/radio/examples/required.example.lite.tsx
  packages/components/src/components/radio/examples/show-label.example.lite.tsx
  packages/components/src/components/radio/examples/show-required-asterisk.example.lite.tsx
  packages/components/src/components/radio/examples/size.example.lite.tsx
  packages/components/src/components/radio/examples/validation.example.lite.tsx
  packages/components/src/components/tag/examples/behavior.example.lite.tsx
  packages/components/src/components/tag/examples/checked.example.lite.tsx
  packages/components/src/components/tag/examples/disabled.example.lite.tsx
  packages/components/src/components/tag/examples/example-strong.example.lite.tsx
  showcases/showcase-styles.css
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with popover components inside internal showcases
  showcases/showcase-styles.css
Due: stylelint --fix

refactor: updating DB theme (#5910)
  package-lock.json
  package.json
Due: none

fix: issue with custom-select examples
  packages/components/src/components/custom-select/examples/dropdown-width.example.lite.tsx
  packages/components/src/components/custom-select/examples/example-other-configuration.example.lite.tsx
  packages/components/src/components/custom-select/examples/example-tags.example.lite.tsx
  packages/components/src/components/custom-select/examples/examples-floating-label.example.lite.tsx
  packages/components/src/components/custom-select/examples/examples-multiple.example.lite.tsx
  packages/components/src/components/custom-select/examples/examples-single.example.lite.tsx
  packages/components/src/components/custom-select/examples/form-field-width.example.lite.tsx
  packages/components/src/components/custom-select/examples/multiple.example.lite.tsx
  packages/components/src/components/custom-select/examples/placement.example.lite.tsx
  packages/components/src/components/custom-select/examples/required.example.lite.tsx
  packages/components/src/components/custom-select/examples/selected-type.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-clear-selection.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-icon.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-label.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-loading.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-message.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-no-result.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-required-asterisk.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-search.example.lite.tsx
  packages/components/src/components/custom-select/examples/show-select-all.example.lite.tsx
  packages/components/src/components/custom-select/examples/validation.example.lite.tsx
  packages/components/src/components/custom-select/examples/variant.example.lite.tsx
Due: xo --fix, prettier --write

Apply suggestions from code review
  .changeset/rich-clouds-sniff.md
  packages/components/src/components/select/select.scss
Due: stylelint --fix

fix: issues with aria-snapshots
  showcases/shared/custom-select.json
  showcases/shared/input.json
  showcases/stencil-showcase/src/components/default/VariantList.astro
  showcases/stencil-showcase/src/pages/01/header.astro
  showcases/stencil-showcase/src/pages/03/select.astro
  showcases/stencil-showcase/src/pages/04/tabs.astro
  showcases/stencil-showcase/src/pages/04/tag.astro
  showcases/stencil-showcase/src/pages/05/navigation.astro
Due: none

fix: issues with aria-snapshots
  showcases/shared/input.json
Due: none

fix: issue with custom-select examples
  packages/components/src/components/custom-select/examples/examples-multiple.example.lite.tsx
  showcases/e2e/custom-select/custom-select-a11y-checker.spec.ts
Due: xo --fix, prettier --write

refactor: reverted those aspects
  showcases/angular-showcase/src/app/components/select/select.component.html
  showcases/react-showcase/src/components/select/index.tsx
  showcases/shared/select.json
  showcases/vue-showcase/src/components/select/Select.vue
Due: xo --fix, prettier --write
