Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix(tab-item): sync internalTabIndex in onUpdate when active prop changes
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

refactor(tab-item): move addEventListener to onUpdate with initialized pattern
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix(tab-item): remove redundant aria-disabled sync (native disabled suffices)
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix(tab-item): add dependency array to tooltip cleanup onUpdate
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

refactor(tab-item): remove ariaLabel prop (frameworks pass aria attrs natively)
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

refactor(tab-item): simplify aria-selected and data-active to use state directly
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

Apply suggestions from code review
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

Potential fix for pull request finding
  packages/components/docs/how-to-figma-connect.md
Due: none

fix(tab-item): change tooltip placement from right to bottom for horizontal tabs
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix: improve iconSwap prop rendering logic for boolean Figma property
  packages/components/src/shared/figma.ts
Due: xo --fix, prettier --write

refactor(tab-item): move icon attributes from label span to button element
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix(tab-item): remove unnecessary empty title attribute from label span
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

refactor(tab-item): remove handleClick wrapper, let native disabled handle click prevention
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix(tab-item): move onClick handler back to state function for Angular compatibility
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

feat: improve figma code connect generated files (#6697)
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
  output/angular/CHANGELOG.md
  output/react/CHANGELOG.md
  output/stencil/CHANGELOG.md
  output/vue/CHANGELOG.md
  packages/components/configs/plugins/figma/index.cjs
  packages/components/docs/how-to-figma-connect.md
  packages/components/src/components/accordion-item/figma/accordion-item.figma.ts
  packages/components/src/components/accordion/figma/accordion.figma.ts
  packages/components/src/components/badge/figma/badge.figma.ts
  packages/components/src/components/button/figma/button.figma.ts
  packages/components/src/components/card/figma/card.figma.ts
  packages/components/src/components/checkbox/figma/checkbox.figma.ts
  packages/components/src/components/drawer/figma/drawer.figma.ts
  packages/components/src/components/infotext/figma/infotext.figma.lite.tsx
  packages/components/src/components/infotext/figma/infotext.figma.ts
  packages/components/src/components/input/figma/input.figma.ts
  packages/components/src/components/link/figma/link.figma.ts
  packages/components/src/components/navigation-item/figma/navigation-item.figma.ts
  packages/components/src/components/notification/figma/notification.figma.lite.tsx
  packages/components/src/components/notification/figma/notification.figma.ts
  packages/components/src/components/popover/figma/popover.figma.ts
  packages/components/src/components/radio/figma/radio.figma.ts
  packages/components/src/components/section/figma/section.figma.ts
  packages/components/src/components/select/figma/select.figma.ts
  packages/components/src/components/switch/figma/switch.figma.ts
  packages/components/src/components/tag/figma/tag.figma.ts
  packages/components/src/components/textarea/figma/textarea.figma.ts
  packages/components/src/components/tooltip/figma/tooltip.figma.ts
  packages/components/src/shared/figma.ts
Due: xo --fix, prettier --write

fix(tab-item): move event listener back to onMount to fix URL hash activation race condition
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

Apply suggestions from code review
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
Due: none

docs: getting started for storybook based on readmes (#6764)
  .config/cspell.config.ts
  output/angular/README.md
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
  pnpm-lock.yaml
  storybooks/_storybook/.storybook/global.css
  storybooks/_storybook/.storybook/main.ts
  storybooks/_storybook/.storybook/preview.ts
  storybooks/_storybook/package.json
  storybooks/_storybook/public/framework-icons/angular.svg
  storybooks/_storybook/public/framework-icons/angular.svg.license
  storybooks/_storybook/public/framework-icons/html5.svg
  storybooks/_storybook/public/framework-icons/html5.svg.license
  storybooks/_storybook/public/framework-icons/react.svg
  storybooks/_storybook/public/framework-icons/react.svg.license
  storybooks/_storybook/public/framework-icons/vue.svg
  storybooks/_storybook/public/framework-icons/vue.svg.license
  storybooks/_storybook/src/index.mdx
  storybooks/_storybook/src/resource-cards.tsx
  storybooks/_storybook/src/welcome.mdx
  storybooks/_storybook/tsconfig.json
  storybooks/_storybook/vite.config.ts
  storybooks/angular-storybook/.storybook/main.ts
  storybooks/angular-storybook/src/index.mdx
  storybooks/react-storybook/.storybook/main.ts
  storybooks/react-storybook/src/index.mdx
  storybooks/vue-storybook/.storybook/main.ts
  storybooks/vue-storybook/src/index.mdx
Due: stylelint --fix, xo --fix, prettier --write

refactor(tab-item): rename internalActive/internalTabIndex to _active/_tabIndex
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix(tab-item): remove redundant display:contents rule (handled by wc-workarounds)
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix(tab-item): replace border:0 with %transparent-border placeholder
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix(tab-item): remove unnecessary z-index (parent tab-list handles stacking)
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix(tab-item): fix ellipsis in vertical mode by switching label to display:block
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix, xo --fix, prettier --write

fix(tab-item): use responsive spacing token instead of manual density overrides
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix(tab-item): document why helpers.hover cannot be used (roving tabindex conflict)
  packages/components/src/components/tab-item/tab-item.scss
Due: stylelint --fix

fix: change generateSnapshot for flaky screen-reader tests
  showcases/screen-reader/__snapshots__/windows/chromium/DBDrawer-autofocus-1.txt
  showcases/screen-reader/tests/drawer.spec.ts
  showcases/screen-reader/tests/switch.spec.ts
Due: xo --fix, prettier --write

docs(tab-item): add comment explaining visual snapshot ratio tolerance
  showcases/e2e/tab-item/tab-item-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

chore(angular-showcase): remove leftover tabs component folder
  showcases/angular-showcase/src/app/components/tabs/tabs.component.html
Due: none

fix(tabs): add gap between control buttons in controlled example
  packages/components/src/components/tabs/examples/controlled.example.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): use label prop instead of inline styles in badge example
  packages/components/src/components/tabs/examples/slotWithBadge.example.lite.tsx
Due: xo --fix, prettier --write

fix(tooltip): remove redundant _id initialization (set in onMount)
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

fix(tab-list): include propOverrides.id in ID resolution
  packages/components/src/components/tab-list/tab-list.lite.tsx
Due: xo --fix, prettier --write

fix(vue): bump vue-tsc to 3.3.1
  output/vue/package.json
  showcases/vue-showcase/package.json
Due: none

fix(vue): bump vue-tsc to 3.3.1
  pnpm-lock.yaml
Due: none

fix(tabs): reinclude nested and controlled examples in storybook config
  packages/components/configs/mitosis.storybook.config.cjs
  packages/components/src/components/tabs/examples/nested.example.lite.tsx
Due: xo --fix, prettier --write
