Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: regenerated fonts
  packages/foundations/assets/fonts/OpenSans-Bold-EU.woff2
  packages/foundations/assets/fonts/OpenSans-ExtraBold-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Light-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Medium-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Regular-EU.woff2
  packages/foundations/assets/fonts/OpenSans-SemiBold-EU.woff2
Due: none

Update heavy-trains-check.md
  .changeset/heavy-trains-check.md
Due: none

chore: changing the order of these entries
  showcases/patternhub/data/routes.tsx
Due: xo --fix, prettier --write

refactor: corrected that naming
  showcases/patternhub/data/routes.tsx
Due: xo --fix, prettier --write

feat(breadcrumb): enhance accessibility and structure; update aria-labels and IDs in examples
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/e2e/default.ts
  showcases/shared/breadcrumb.json
Due: xo --fix, prettier --write

chore: aligned naming
  showcases/patternhub/data/routes.tsx
Due: xo --fix, prettier --write

chore: naming
  showcases/react-showcase/src/components/form/index.tsx
Due: xo --fix, prettier --write

refactor: added missing ukrainian glyphs (#5598)
  .changeset/heavy-trains-check.md
  packages/foundations/assets/fonts/OpenSans-Bold-EU.woff2
  packages/foundations/assets/fonts/OpenSans-ExtraBold-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Light-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Medium-EU.woff2
  packages/foundations/assets/fonts/OpenSans-Regular-EU.woff2
  packages/foundations/assets/fonts/OpenSans-SemiBold-EU.woff2
  packages/foundations/assets/fonts/unicode-eu.txt
Due: none

fix(breadcrumb): default ellipsis aria-label to satisfy a11y and snapshot alignment
  e2e/docker-compose.yml
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

fix: use className for DS components instead of class
  packages/components/src/shared/showcase/card-wrapper.showcase.lite.tsx
Due: xo --fix, prettier --write

refactor: moved the migration guide to the version after the next major update
  docs/migration/v5.x.x-to-v6.0.0.md
Due: none

Update packages/components/src/shared/showcase/container-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/container-wrapper.showcase.lite.tsx
Due: xo --fix, prettier --write

Update showcases/showcase-styles.css
  showcases/showcase-styles.css
Due: stylelint --fix

Create funny-guests-retire.md
  .changeset/funny-guests-retire.md
Due: none

Update funny-guests-retire.md
  .changeset/funny-guests-retire.md
Due: none

refactor: prettier
  docs/migration/300-400/shell/Angular.md
  docs/migration/300-400/shell/React.md
  packages/agent-cli/CHANGELOG.md
  packages/components/index.html
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/control-panel-flat-icon-navigation/index.html
  packages/components/src/components/control-panel-flat-icon-navigation/index.ts
  packages/components/src/index.ts
  packages/components/src/styles/index.scss
  packages/foundations/docs/BrowserSupport.md
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/src/index.ts
  packages/migration/CHANGELOG.md
  packages/stylelint/CHANGELOG.md
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/control-panel/meta-navigation/meta-navigation.component.html
  showcases/patternhub/components/component-parser/data.ts
Due: stylelint --fix, xo --fix, prettier --write

refactor: running prettier
  packages/agent-cli/CHANGELOG.md
  packages/foundations/docs/BrowserSupport.md
  packages/foundations/scss/colors/_variables.scss
  packages/migration/CHANGELOG.md
  packages/stylelint/CHANGELOG.md
Due: stylelint --fix

refactor: regenerating package-lock file
  package-lock.json
Due: none

fix(breadcrumb): add default ellipsis aria-label for improved accessibility
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

refactor: optimizing via stylelint
  packages/components/src/styles/internal/_stack-components.scss
Due: stylelint --fix

refactor: running stylelint
  packages/foundations/scss/colors/_variables.scss
Due: stylelint --fix

refactor: running stylelint
  packages/components/src/components/control-panel-flat-icon-navigation/control-panel-flat-icon-navigation.scss
  packages/components/src/components/control-panel-mobile/control-panel-mobile.scss
  packages/components/src/components/navigation-item-group/navigation-item-group-menu-popover.scss
  packages/components/src/components/navigation-item-group/navigation-item-group.scss
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/shell/shell.scss
  packages/components/src/styles/internal/_control-panel-desktop.scss
  packages/components/src/styles/internal/_indicator.scss
  packages/components/src/styles/internal/_navigation-item.scss
  packages/components/src/styles/internal/_scrollbar.scss
  packages/foundations/scss/colors/_variables.scss
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

refactor: stylelint feedback
  packages/components/src/components/navigation-item-group/navigation-item-group-menu-tree.scss
Due: stylelint --fix

refactor: regenerating package-lock file (#5609)
  package-lock.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
