Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: added further relevant files
  packages/migration/src/migration/sass-to-postcss.ts
Due: xo --fix, prettier --write

refactor: adapted further aspects
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/postcss.config.cjs
  packages/foundations/postcss.config.cjs
  scripts/dev.ts
  scripts/package.json
Due: xo --fix, prettier --write

refactor: further optimizations
  packages/migration/src/migration/sass-to-postcss.ts
Due: xo --fix, prettier --write

fix(tab-item): correctly apply leading icon props
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

Update .lintstagedrc.js
  .config/.lintstagedrc.js
Due: xo --fix, prettier --write

fix(tab-list): enforce mutual exclusivity for aria-label and aria-labelledby
  packages/components/src/components/tab-list/tab-list.lite.tsx
Due: xo --fix, prettier --write

refactor: further optimizations
  showcases/nuxt-showcase/layouts/default.vue
  showcases/nuxt-showcase/nuxt.config.ts
Due: xo --fix, prettier --write

fix(tabs): update content alignment values and set default value to 'start'
  packages/components/src/components/tabs/examples/_tabs.arg.types.ts
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

Apply suggestion from @mfranzke
  .changeset/slow-sheep-take.md
Due: none

refactor(): rename property 'contentAlignment' to 'tabContentAlignment'
  packages/components/src/components/tab-item/examples/tab-item-alignment-full-width.example.lite.tsx
  packages/components/src/components/tab-item/showcase/tab-item.showcase.lite.tsx
  packages/components/src/components/tabs/examples/_tabs.arg.types.ts
  packages/components/src/components/tabs/examples/width.example.lite.tsx
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tabs/tabs.spec.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/tabs/tabs.component.html
  showcases/react-showcase/src/components/tabs/index.tsx
  showcases/shared/tabs.json
  showcases/vue-showcase/src/components/tabs/Tabs.vue
Due: stylelint --fix, xo --fix, prettier --write

Apply suggestion from @mfranzke
  .github/workflows/99-self-healing-dependabot-updates.yml
Due: none

refactor: further aspects
  .config/cspellignorewords.txt
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: added necessary dependencies
  packages/react-core-components/package.json
  pnpm-lock.yaml
  showcases/vue-showcase/package.json
Due: none

refactor: remove obsolete package lock file
  package-lock.json
Due: none

refactor: added necessary types and devDependency
  pnpm-lock.yaml
  showcases/react-showcase/package.json
  showcases/react-showcase/tsconfig.json
Due: none

refactor: added necessary alias
  showcases/vue-showcase/vite.config.ts
Due: xo --fix, prettier --write

refactor: running prettier
  packages/agent-cli/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/eslint-plugin/CHANGELOG.md
  packages/foundations/CHANGELOG.md
  packages/migration/CHANGELOG.md
  packages/stylelint/CHANGELOG.md
  showcases/patternhub/pages/iframe/index.tsx
Due: xo --fix, prettier --write
