Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: reduced redundant code
  packages/components/src/utils/dialog/ponyfill.spec.ts
Due: xo --fix, prettier --write

fix: build-outputs
  packages/components/src/components/dialog/dialog.lite.tsx
  packages/components/src/components/dialog/model.ts
  packages/components/src/components/drawer/drawer.lite.tsx
Due: xo --fix, prettier --write

fix: added missing state entry
  packages/components/src/components/dialog-header/dialog-header.lite.tsx
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
Due: xo --fix, prettier --write

Update slots.cjs
  packages/components/configs/plugins/angular/slots.cjs
Due: none

feat: add resizing observer for control-panel-navigation
  .changeset/control-panel-variant-resize.md
  packages/components/src/components/control-panel-navigation/control-panel-navigation.lite.tsx
  packages/components/src/components/control-panel-navigation/model.ts
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
Due: stylelint --fix, xo --fix, prettier --write

docs: added missing "wrapping" comment
  packages/components/src/components/dialog/dialog.lite.tsx
Due: xo --fix, prettier --write

fix: backdrop clickable in Safari version < 27
  .config/cspellignorewords.txt
  packages/components/src/components/dialog/dialog.scss
  packages/components/src/styles/internal/_dialog-ponyfill.scss
Due: stylelint --fix

fix: replace the unsupported show invoker command
  packages/components/src/components/dialog/docs/Angular.md
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/dialog/docs/React.md
  packages/components/src/components/dialog/docs/Vue.md
  packages/components/src/components/dialog/examples/backdrop.example.lite.tsx
  packages/components/src/components/drawer/docs/HTML.md
  packages/components/src/components/drawer/examples/backdrop.example.lite.tsx
  packages/components/src/components/drawer/examples/example.example.lite.tsx
  packages/components/src/components/drawer/examples/position.example.lite.tsx
Due: xo --fix, prettier --write

fix: issue with role for angular
  packages/components/configs/plugins/attribute-passing/index.cjs
Due: none

fix(mcp-server): docs_search matching and scan_v2_migration report
  .changeset/mcp-server-docs-search-and-scan-report.md
  packages/mcp-server/src/__tests__/integration.test.ts
  packages/mcp-server/src/tools/components.ts
  packages/mcp-server/src/tools/docs.ts
  packages/mcp-server/src/tools/scanner.ts
  packages/mcp-server/src/types.ts
  packages/mcp-server/src/utils/manifest.ts
  packages/mcp-server/src/utils/path.ts
Due: xo --fix, prettier --write

refactor: adapted further aspects to the drawer
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/examples/_drawer.arg.types.ts
  packages/components/src/components/drawer/examples/events.example.lite.tsx
  packages/components/src/components/drawer/model.ts
Due: xo --fix, prettier --write

refactor: count Angular interpolations as header content
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

fix: missing model entry
  packages/components/src/components/drawer/model.ts
Due: xo --fix, prettier --write

refactor(drawer): adapted further aspects by the dialog
  packages/components/src/components/drawer/drawer.lite.tsx
Due: xo --fix, prettier --write

refactor: aligned those
  packages/components/src/components/dialog-footer/dialog-footer.lite.tsx
  packages/components/src/components/dialog-header/dialog-header.lite.tsx
  packages/components/src/components/dialog/dialog.lite.tsx
Due: xo --fix, prettier --write

Update packages/components/src/components/footer-meta/footer-meta.scss
  packages/components/src/components/footer-meta/footer-meta.scss
Due: stylelint --fix

fix(mcp-server): resolve assets/ correctly in the bundled server
  .changeset/mcp-server-fix-bundled-asset-paths.md
  packages/mcp-server/AGENTS.md
  packages/mcp-server/src/__tests__/bundle.test.ts
  packages/mcp-server/src/tools/tokens.ts
  packages/mcp-server/src/tools/visuals.ts
  packages/mcp-server/src/utils/path.ts
Due: xo --fix, prettier --write

fix(DBInput): keep a partially typed date that the browser cannot parse
  .changeset/date-input-keeps-partial-entry.md
  packages/components/AGENTS.md
  packages/components/scripts/post-build/angular.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/utils/form-components.spec.ts
  packages/components/src/utils/form-components.ts
  showcases/e2e/input/input-date.spec.ts
Due: xo --fix, prettier --write

fix(DBControlPanel): keep collapsed toggle and end-slot positioning
  packages/components/src/components/control-panel-navigation-item/control-panel-navigation-item.scss
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
Due: stylelint --fix

test(mcp-server): deduplicate the shared era assertion in the e2e suite
  packages/mcp-server/src/__tests__/e2e.test.ts
Due: xo --fix, prettier --write

fix(DBShell): prevent logo position jump between expanded and collapsed state
  .changeset/shell-logo-position.md
  packages/components/src/styles/internal/_control-panel-desktop.scss
Due: stylelint --fix

docs(DBInput): condense the date write-back comments
  packages/components/scripts/post-build/angular.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/utils/form-components.ts
Due: xo --fix, prettier --write

fix(mcp-server): stop typing the exec mock callback with null
  packages/mcp-server/src/__tests__/integration.test.ts
Due: xo --fix, prettier --write

docs: added nested overlays examples
  packages/components/src/components/dialog/examples/examples.example.lite.tsx
  packages/components/src/components/dialog/showcase/dialog.showcase.lite.tsx
Due: xo --fix, prettier --write

Update drawer.showcase.lite.tsx
  packages/components/src/components/drawer/showcase/drawer.showcase.lite.tsx
Due: xo --fix, prettier --write

Revert "Update drawer.showcase.lite.tsx"
  packages/components/src/components/drawer/showcase/drawer.showcase.lite.tsx
Due: xo --fix, prettier --write

refactor: consolidated example pages
  packages/components/src/components/drawer/examples/events.example.lite.tsx
  packages/components/src/components/drawer/examples/examples.example.lite.tsx
  packages/components/src/components/drawer/showcase/drawer.showcase.lite.tsx
Due: xo --fix, prettier --write

fix: preventing dialog to become a containing block
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

refactor: make the Angular return-value example reachable
  packages/components/src/components/dialog/docs/Angular.md
Due: none

fix: label the return-value dialog examples
  packages/components/src/components/dialog/docs/HTML.md
Due: none

refactor: attach the HTML fallback to every close control
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/drawer/docs/HTML.md
Due: none
