Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

refactor: added further conditions for `button[type="button"]`
  .config/cspellignorewords.txt
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/button.spec.tsx
Due: xo --fix, prettier --write

Create salty-socks-tan.md
  .changeset/salty-socks-tan.md
Due: none

fix: don't derive button type from an unmounted ref
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/button/model.ts
Due: xo --fix, prettier --write

refactor: mount the wrapper as part of the component test
  packages/components/src/components/button/button.spec.tsx
Due: xo --fix, prettier --write

refactor: keep the button-type fixer aligned
  packages/eslint-plugin/src/rules/button/button-type-required.ts
  packages/eslint-plugin/test/rules/button/button-type-required.spec.ts
Due: xo --fix, prettier --write

fix: issues with linting
  packages/postcss-plugin/src/plugins/flatten/helpers/resolve.ts
  showcases/e2e/fixtures/viewport.ts
Due: xo --fix, prettier --write

Update salty-socks-tan.md
  .changeset/salty-socks-tan.md
Due: none

fix: document the scroll label prop rename
  docs/migration/v4.x.x-to-v5.0.0.md
Due: none

fix: correct the removed AlignmentProps note
  docs/migration/v4.x.x-to-v5.0.0.md
Due: none

fix: issue with build
  packages/components/configs/plugins/angular/slots.cjs
Due: none

fix: address PR review comments for drawer refactoring
  packages/components/src/components/drawer-header/examples/example.example.lite.tsx
  packages/components/src/components/drawer/docs/Angular.md
  packages/components/src/components/drawer/docs/HTML.md
  packages/components/src/components/drawer/docs/React.md
  packages/components/src/components/drawer/docs/Vue.md
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/figma/drawer.figma.ts
  packages/eslint-plugin/src/rules/close-button/close-button-text-required.ts
  packages/eslint-plugin/src/rules/drawer/drawer-header-required.ts
  packages/eslint-plugin/test/frameworks/__snapshots__/frameworks.spec.ts.snap
  packages/eslint-plugin/test/rules/close-button/close-button-text-required.spec.ts
  packages/eslint-plugin/test/rules/drawer/drawer-header-required.spec.ts
  showcases/react-showcase/src/components/form/index.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix: preserve consumer aria-describedby on tab items
  packages/components/src/components/tab-item/model.ts
  packages/components/src/components/tab-item/tab-item.lite.tsx
Due: xo --fix, prettier --write

fix: revert drawer-header example to standalone format for Mitosis compatibility
  packages/components/src/components/drawer-header/examples/example.example.lite.tsx
Due: xo --fix, prettier --write

fix: issues with wrong table layout
  packages/components/src/components/table-row/table-row.scss
Due: stylelint --fix

fix: issue with tests
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  showcases/e2e/table/table-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

fix: suppress duplicate controlled change events
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: keep focusgroup in sync when orientation changes
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

refactor: this doesn't need to get set conditionally
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: cancel the initial tab synchronization RAF
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: keep one tab focusable in manual initial render
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: render the active panel's initial tabindex
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

refactor: keep required internals out of the public state type
  packages/components/src/components/button/model.ts
Due: xo --fix, prettier --write

fix: don't lowercase component ancestors into permission tags
  packages/eslint-plugin/src/rules/button/button-type-required.ts
  packages/eslint-plugin/test/rules/button/button-type-required.spec.ts
Due: xo --fix, prettier --write

refactor: reverted tabs release 5.0.0 migration guide aspects
  docs/migration/v4.x.x-to-v5.0.0.md
  packages/migration/src/data.ts
  packages/migration/src/migration/index.ts
  packages/migration/src/migration/v4.0.0-v5.0.0.ts
  packages/migration/test/icon-q32024/icon-q32024.spec.ts
  packages/migration/test/v4.0.0-v5.0.0/has-changes.txt
  packages/migration/test/v4.0.0-v5.0.0/no-change.txt
  packages/migration/test/v4.0.0-v5.0.0/tab-select-only.txt
  packages/migration/test/v4.0.0-v5.0.0/v400_v500.spec.ts
Due: xo --fix, prettier --write

Update index.ts
  packages/migration/src/migration/index.ts
Due: xo --fix, prettier --write

Update index.scss
  packages/components/src/styles/index.scss
Due: stylelint --fix

fix: document removed DBTabItem change handlers
  docs/migration/v4.x.x-to-v5.0.0.md
Due: none

chore: revert unrelated changes
  packages/eslint-plugin/src/shared/utils.ts
  packages/mcp-server/src/__tests__/integration.test.ts
  packages/postcss-plugin/src/plugins/flatten/helpers/resolve.ts
  packages/vite-plugin/src/detector.ts
  scripts/github/build-gh-page.ts
  scripts/github/reorder-backlog.ts
  scripts/md-resolve-svg.ts
  showcases/e2e/fixtures/viewport.ts
Due: xo --fix, prettier --write

fix: render vertical tablist orientation initially
  packages/components/src/components/tab-list/tab-list.lite.tsx
Due: xo --fix, prettier --write

chore: run xo --fix
  packages/mcp-server/scripts/build-manifest.ts
  packages/mcp-server/scripts/prebuild.ts
  packages/mcp-server/src/__tests__/integration.test.ts
  packages/postcss-plugin/src/plugins/flatten/helpers/transform.ts
  packages/postcss-plugin/src/plugins/flatten/index.ts
  packages/stylelint/src/shared/create-rule.ts
  packages/vite-plugin/src/generator.ts
  scripts/documentation/extract-css-vars.ts
  scripts/github/build-gh-page.ts
  scripts/github/extract-name-and-base-url.js
  scripts/github/get-release.ts
  scripts/github/package-version.ts
  scripts/github/preview-url-pr-description.js
  scripts/github/publish-npm.js
  scripts/github/reorder-backlog.ts
  scripts/tests/github/get-release.spec.ts
  showcases/e2e/accordion/accordion-axe-core.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/navigation-item/navigation-item-axe-core.spec.ts
  showcases/e2e/navigation/navigation-axe-core.spec.ts
  showcases/e2e/tab-item/tab-item-a11y-checker.spec.ts
  showcases/e2e/table/table-a11y-checker.spec.ts
  showcases/e2e/tabs/tabs-a11y-checker.spec.ts
  showcases/patternhub/scripts/utils.js
  showcases/patternhub/tests/default.spec.ts
  showcases/react-showcase/src/hooks/use-query.tsx
  showcases/react-showcase/src/meta-navigation/index.tsx
Due: xo --fix, prettier --write

fix: remove dead z-index and position: relative from table-row interactive children
  packages/components/src/components/table-row/table-row.scss
Due: stylelint --fix

refactor: reword apostrophes in Mitosis comments
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: preserve the controlled activeIndex after fallback
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: issues from AI review
  .changeset/remove-icon-margin-inline.md
  docs/migration/v4.x.x-to-v5.0.0.md
  packages/components/src/components/link/link.scss
  packages/components/src/components/table-row/table-row.scss
  packages/components/src/styles/internal/_icon-passing.scss
  packages/foundations/scss/helpers/_a11y.scss
  packages/foundations/scss/icons/_icon-helpers.scss
Due: stylelint --fix
