Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: add missing void prefix to fire-and-forget delay calls (#6989)
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): address review quick wins
  packages/components/src/components/tab-item/tab-item.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): scope key handling, orientation-aware arrows, resolve initial index
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): reinit scroll handling on behavior change
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): keep controlled selection tied to activeIndex
  .changeset/tabs-feedback-refactor.md
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

chore: remove outdated tab-item patternhub snapshot for regeneration
  __snapshots__/tab-item/patternhub/tab-item-properties-should-match-screenshot.png
Due: none

Apply suggestions from code review
  .github/workflows/codeql.yml
Due: none

refactor(dependabot): even also take the actions folder into account
  .github/dependabot.yml
Due: none

Update showcases/next-showcase/styles/global.css
  showcases/next-showcase/styles/global.css
Due: stylelint --fix

docs: added npm pinning as well
  AGENTS.md
  docs/dependency-update-strategy.md
Due: none

fix: necessary updates to cspell ignores
  .config/cspellignorewords.txt
Due: none

fix: extend exclusion list for mobile list compatibility
  packages/components/configs/plugins/attribute-passing/index.cjs
  pnpm-lock.yaml
Due: none

refactor: consolidate .vue extension handling into esm-extensions plugin
  packages/components/configs/plugins/esm-extensions.cjs
  packages/components/configs/plugins/esm-extensions.spec.ts
  packages/components/scripts/post-build/vue.ts
Due: xo --fix, prettier --write

Update action.yml
  .github/actions/playwright-cache/action.yml
Due: none

fix(tabs): rewire generated ARIA ids when the tabs id changes
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): observe container so async-loaded tabs get initialized
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: issues with a11y tests
  __snapshots__/control-panel-desktop/showcase/chromium/DBControlPanelDesktop-should-match-screenshot-1/DBControlPanelDesktop-should-match-screenshot.png
  __snapshots__/control-panel-desktop/showcase/chromium/should-have-same-aria-snapshot/DBControlPanelDesktop-should-have-same-aria-snapshot.yaml
  __snapshots__/control-panel-mobile/showcase/chromium/DBControlPanelMobile-should-match-screenshot-1/DBControlPanelMobile-should-match-screenshot.png
  __snapshots__/control-panel-mobile/showcase/chromium/should-have-same-aria-snapshot/DBControlPanelMobile-should-have-same-aria-snapshot.yaml
  __snapshots__/shell/showcase/chromium/DBShell-should-match-screenshot-1/DBShell-should-match-screenshot.png
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.lite.tsx
  packages/components/src/components/shell/examples/position.example.lite.tsx
  packages/components/src/components/shell/model.ts
  packages/components/src/components/shell/shell.lite.tsx
  showcases/e2e/control-panel-desktop/control-panel-desktop-a11y-checker.spec.ts
  showcases/e2e/control-panel-desktop/control-panel-desktop-aria-snapshot.spec.ts
  showcases/e2e/control-panel-desktop/control-panel-desktop-axe-core.spec.ts
  showcases/e2e/control-panel-desktop/control-panel-desktop-visual-snapshot.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-a11y-checker.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-a11y.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-aria-snapshot.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-axe-core.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-snapshot.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-visual-snapshot.spec.ts
  showcases/e2e/default.ts
  showcases/e2e/shell/shell-a11y-checker.spec.ts
  showcases/e2e/shell/shell-aria-snapshot.spec.ts
  showcases/e2e/shell/shell-axe-core.spec.ts
  showcases/e2e/shell/shell-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

fix: extend exclusion list for mobile list compatibility
  packages/components/configs/plugins/attribute-passing/index.cjs
Due: none

fix: attribute passing for custom components (#5728)
  .changeset/fix-attribute-passing-custom-components.md
  .config/cspellignorewords.txt
  packages/components/configs/plugins/attribute-passing/index.cjs
  packages/components/configs/stencil/index.cjs
  packages/components/scripts/post-build/angular.ts
  packages/vite-plugin/test/fixtures/react-app/package-lock.json
  packages/vite-plugin/test/fixtures/vue-app/package-lock.json
  pnpm-lock.yaml
  showcases/angular-showcase/angular.json
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.ts
  showcases/angular-showcase/src/app/components/form/custom-selects/custom-selects.component.ts
  showcases/angular-showcase/src/app/components/form/form.component.ts
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.ts
  showcases/angular-showcase/src/app/components/form/radios/radios.component.ts
  showcases/angular-showcase/src/app/components/form/selects/selects.component.ts
  showcases/angular-showcase/src/app/components/form/switches/switches.component.ts
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.ts
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/angular-showcase/src/app/nav-item/nav-item.component.ts
  showcases/patternhub/scripts/get-code-files.js
Due: xo --fix, prettier --write

fix(tabs): render simple tabs synchronously for SSR
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix(tooltip): clean up parent listeners and observers on unmount
  .changeset/tooltip-listener-cleanup.md
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): flatten multiline comments inside lifecycle bodies for mitosis
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix(tooltip): move comments out of lifecycle bodies for mitosis
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): remove inline comments inside lifecycle bodies for mitosis
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix(tooltip): narrow document scroll callback id via local const for angular
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

fix(tabs): only reinit on tab/panel mutations to avoid scroll-button loop
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix(tooltip): keep main listener binding, track handlers for unmount cleanup
  __snapshots__/tooltip/showcase/mobile-chrome/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  packages/components/src/components/tooltip/model.ts
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
