Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: component test
  packages/components/src/utils/dialog/ponyfill.spec.ts
Due: xo --fix, prettier --write

docs: not always preserve consumer-owned matching label tokens
  packages/components/src/utils/dialog/index.ts
Due: xo --fix, prettier --write

refactor: prevent one Escape from closing multiple non-modal dialogs
  packages/components/src/components/dialog-header/dialog-header.lite.tsx
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
  packages/components/src/utils/dialog/index.spec.ts
  packages/components/src/utils/dialog/index.ts
Due: xo --fix, prettier --write

refactor: use a launcher that exists in the dialog showcase
  showcases/e2e/dialog/dialog-a11y-checker.spec.ts
  showcases/e2e/dialog/dialog-aria-snapshot.spec.ts
  showcases/e2e/dialog/dialog-axe-core.spec.ts
  showcases/e2e/dialog/dialog-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

refactor: follow up on the new convention to generate all element ids in one place
  packages/components/src/components/dialog-header/dialog-header.lite.tsx
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
  packages/components/src/shared/constants.ts
Due: xo --fix, prettier --write

fix: structure of CSS after last merge conflict solving
  showcases/showcase-styles.css
Due: stylelint --fix

docs: why not to handle request-close controls outside the dialog
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/drawer/docs/HTML.md
Due: none

fix: missing imports
  packages/components/src/components/dialog/examples/examples.example.lite.tsx
Due: xo --fix, prettier --write

test(DBInput): make the reset fixture clear the field on every reset
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.html
  showcases/e2e/input/input-undefined-value.spec.ts
  showcases/vue-showcase/src/components/form/Inputs.vue
Due: xo --fix, prettier --write

fix: issue with cspell
  .config/cspellignorewords.txt
Due: none

fix: non-null assertion
  packages/components/src/components/dialog/dialog.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
Due: xo --fix, prettier --write

fix: issue with interaction tests
  packages/components/configs/plugins/attribute-passing/index.cjs
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/e2e/checkbox/checkbox-interaction.spec.ts
  showcases/e2e/control-panel-mobile/control-panel-mobile-interaction.spec.ts
  showcases/e2e/default.ts
  showcases/e2e/input/input-interaction.spec.ts
  showcases/e2e/radio/radio-interaction.spec.ts
  showcases/e2e/select/select-interaction.spec.ts
  showcases/e2e/switch/switch-interaction.spec.ts
  showcases/e2e/textarea/textarea-interaction.spec.ts
Due: xo --fix, prettier --write

feat(mcp-server): migrate to MCP SDK v2 (#8034)
  .changeset/mcp-server-docs-search-and-scan-report.md
  .changeset/mcp-server-example-code-enum-and-fail-fast.md
  .changeset/mcp-server-fix-bundled-asset-paths.md
  .changeset/mcp-server-fix-shadowed-error.md
  .changeset/mcp-server-protocol-2026-07-28.md
  .github/dependabot.yml
  .github/workflows/01-build-packages.yml
  .github/workflows/01-validate.yml
  .prettierignore
  packages/mcp-server/AGENTS.md
  packages/mcp-server/CONTEXT.md
  packages/mcp-server/README.md
  packages/mcp-server/esbuild.js
  packages/mcp-server/package.json
  packages/mcp-server/src/__tests__/__snapshots__/e2e.test.ts.snap
  packages/mcp-server/src/__tests__/bundle.test.ts
  packages/mcp-server/src/__tests__/e2e.test.ts
  packages/mcp-server/src/__tests__/integration.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/prompts/schemas.ts
  packages/mcp-server/src/server.ts
  packages/mcp-server/src/tools/components.ts
  packages/mcp-server/src/tools/docs.ts
  packages/mcp-server/src/tools/scanner.ts
  packages/mcp-server/src/tools/schemas.ts
  packages/mcp-server/src/tools/tokens.ts
  packages/mcp-server/src/tools/visuals.ts
  packages/mcp-server/src/types.ts
  packages/mcp-server/src/utils/manifest.ts
  packages/mcp-server/src/utils/path.ts
  pnpm-lock.yaml
Due: xo --fix, prettier --write

docs: added new entry on markup decisions
  AGENTS.md
  packages/components/AGENTS.md
Due: none

docs(components): list the reset path as a writeValue caller
  packages/components/AGENTS.md
Due: none

fix(DBPagination): address the codex review findings
  packages/components/src/components/pagination-item/model.ts
  packages/components/src/components/pagination/model.ts
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.spec.tsx
  showcases/patternhub/components/component-parser/data.ts
Due: xo --fix, prettier --write

fix(DBPagination): let the step controls skip disabled pages
  packages/components/AGENTS.md
  packages/components/src/components/pagination/model.ts
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.spec.tsx
Due: xo --fix, prettier --write

fix(DBControlPanel): pin drilldown overlay and lock all scroll owners
  packages/components/src/components/control-panel-mobile/control-panel-mobile.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group.scss
  packages/components/src/components/control-panel-navigation/control-panel-navigation.scss
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
  packages/components/src/styles/internal/_control-panel-desktop.scss
  packages/components/src/styles/internal/_navigation-item.scss
Due: stylelint --fix

refactor: let's get the renovate dashboard back
  .github/renovate.json
Due: none

feat: added new relevant entry to ignore
  .prettierignore
Due: none

refactor: reject whitespace-only labels on the dialog close button
  packages/eslint-plugin/src/rules/close-button/close-button-text-required.ts
  packages/eslint-plugin/test/rules/close-button/close-button-text-required.spec.ts
Due: xo --fix, prettier --write

refactor: accept the explicit React children prop
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

Update packages/components/src/components/dialog/dialog.scss
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

refactor: reject statically empty Angular interpolations
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/src/shared/utils.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

fix: angular test
  showcases/e2e/dialog-open-fallback.ts
  showcases/e2e/dialog/dialog-a11y-checker.spec.ts
  showcases/e2e/dialog/dialog-aria-snapshot.spec.ts
  showcases/e2e/dialog/dialog-axe-core.spec.ts
  showcases/e2e/dialog/dialog-visual-snapshot.spec.ts
  showcases/e2e/drawer/drawer-aria-snapshot.spec.ts
  showcases/e2e/drawer/drawer-axe-core.spec.ts
  showcases/e2e/drawer/drawer-safe-area-visual-snapshot.spec.ts
  showcases/e2e/drawer/drawer-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

refactor: count Element fallback nodes as hdr cntnt and rjct empty ntv elmnts as hder cntnt
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor: remove the duplicated repo-wide markup rule
  AGENTS.md
  packages/components/AGENTS.md
Due: none

refactor: allow stylesheet hook classes in component markup
  AGENTS.md
Due: none
