Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: Set PR draft status to always for release workflow
  .github/workflows/changesets-release-pr.yml
Due: none

fix: address code review findings for drawer refactoring
  docs/migration/400-500/drawer/Angular.md
  docs/migration/400-500/drawer/React.md
  docs/migration/v4.x.x-to-v5.0.0.md
  packages/components/scripts/post-build/components.ts
  packages/components/src/components/drawer-header/drawer-header.lite.tsx
  packages/components/src/components/drawer/drawer.lite.tsx
  showcases/react-showcase/src/components/form/index.tsx
Due: xo --fix, prettier --write

docs(storybook): added HTML (#7209)
  storybooks/_storybook/src/resource-cards.tsx
Due: xo --fix, prettier --write

feat: refactor header component to improve drawer toggle logic and state management
  packages/components/src/components/header/header.lite.tsx
  packages/components/src/components/header/model.ts
Due: xo --fix, prettier --write

refactor: Set PR draft status to always for release workflow (#7212)
  .github/workflows/changesets-release-pr.yml
Due: none

fix: resolve CSS variable rename regression and stale insetBlock style
  .changeset/refactor-floating-components.md
  AGENTS.md
  packages/components/_templates/mitosis/new/component/tsx.ejs.t
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/button/button.scss
  packages/components/src/components/custom-button/custom-button.scss
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.scss
  packages/components/src/components/custom-select/model.ts
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/tab-item/tab-item.scss
  packages/components/src/components/table-body/table-body.lite.tsx
  packages/components/src/components/table-caption/table-caption.lite.tsx
  packages/components/src/components/table-data-cell/table-data-cell.lite.tsx
  packages/components/src/components/table-footer/table-footer.lite.tsx
  packages/components/src/components/table-head/table-head.lite.tsx
  packages/components/src/components/table-header-cell/table-header-cell.lite.tsx
  packages/components/src/components/table-row/table-row.lite.tsx
  packages/components/src/components/table/table.lite.tsx
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/components/tag/tag.scss
  packages/components/src/components/tooltip/tooltip.lite.tsx
  packages/components/src/styles/internal/_icon-passing.scss
  packages/components/src/styles/internal/_indicator.scss
  packages/components/src/styles/internal/_link-components.scss
  packages/components/src/styles/internal/_scrollbar.scss
  packages/components/src/utils/abstract-document-listener.ts
  packages/components/src/utils/abstract-observer-listener.ts
  packages/components/src/utils/document-click-listener.ts
  packages/components/src/utils/document-scroll-listener.ts
  packages/components/src/utils/floating-components.spec.tsx
  packages/components/src/utils/floating-components.ts
  packages/components/src/utils/intersection-observer-listener.ts
  packages/components/src/utils/resize-observer-listener.ts
  packages/foundations/scss/helpers/_a11y.scss
  packages/foundations/scss/helpers/_divider.scss
Due: stylelint --fix, xo --fix, prettier --write

refactor: remaining floating components changes
  packages/components/AGENTS.md
  packages/components/scripts/post-build/copy-files.ts
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with copy-files
  packages/components/scripts/post-build/copy-files.ts
Due: xo --fix, prettier --write

fix: issue with screen-reader test
  showcases/screen-reader/tests/drawer.spec.ts
Due: xo --fix, prettier --write

Update DBTextarea-required-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTextarea-required-1.txt
Due: none

feat(changesets): enabling a dry-run
  .github/workflows/default.yml
Due: none

fix: issues for floating components
  packages/components/scripts/post-build/react.ts
  packages/components/src/utils/floating-components.ts
Due: xo --fix, prettier --write

refactor: updating pnpm and running pnpm audit --fix=override
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: validating core checks previous to merging the changesets PR
  .github/workflows/default.yml
Due: none

Remove redundant 'init' dependency in workflows
  .github/workflows/default.yml
Due: none

Apply suggestion from @mfranzke
  docs/migration/v4.x.x-to-v5.0.0.md
Due: none

Update BrowserSupport.md
  packages/foundations/docs/BrowserSupport.md
Due: none

Add focusgroup feature support information
  packages/foundations/docs/BrowserSupport.md
Due: none

Add 'focusgroup' to cspell ignore words
  .config/cspellignorewords.txt
Due: none

refactor: removed obsolete `:host` selector part
  packages/foundations/scss/defaults/default-container-variables.scss
Due: stylelint --fix

Update default-variables.scss
  packages/foundations/scss/defaults/default-variables.scss
Due: stylelint --fix

Update _default-color-mappings.scss
  packages/foundations/scss/colors/_default-color-mappings.scss
Due: stylelint --fix

fix: screen-reader results upload path
  showcases/react-showcase/playwright.screen-reader.ts
Due: xo --fix, prettier --write

Revert "fix: screen-reader results upload path"
  showcases/react-showcase/playwright.screen-reader.ts
Due: xo --fix, prettier --write

fix: generating videos for screen-reader tests again
  pnpm-workspace.yaml
Due: none

chore: update snapshot
  showcases/screen-reader/__snapshots__/windows/chromium/DBDrawer-autofocus-1.txt
Due: none

fix: use inline-flex with align-items center for link components
  .changeset/fix-center-link-text.md
  packages/components/src/styles/internal/_link-components.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
