Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

chore: update from main
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/button/component/chromium/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/chromium/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/component/firefox/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/firefox/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/component/mobile-chrome/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/mobile-chrome/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
Due: none

chore: revert wrong changes from merge
  docs/migration/alpha-beta.md
  showcases/angular-showcase/src/assets/images/placeholder.png
  showcases/patternhub/public/assets/images/db_logo.svg
  showcases/patternhub/public/assets/images/placeholder.png
  showcases/react-showcase/public/assets/images/placeholder.png
  showcases/shared/navigation-item.json
  showcases/vue-showcase/public/assets/images/placeholder.png
Due: none

chore: revert wrong changes from merge
  docs/migration/alpha-beta.md
Due: none

docs: vue navigation-item wraps each router-link
  packages/components/src/components/navigation/docs/Vue.md
Due: none

chore: revert wrong changes from merge
  __snapshots__/button/component/chromium/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/chromium/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/component/firefox/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/firefox/DBButton-should-only-have-icon-for-variant-brand.png
  __snapshots__/button/component/mobile-chrome/DBButton-should-match-screenshot-for-variant-brand.png
  __snapshots__/button/component/mobile-chrome/DBButton-should-only-have-icon-for-variant-brand.png
  showcases/angular-showcase/src/assets/images/placeholder.png
  showcases/patternhub/public/assets/images/db_logo.svg
  showcases/patternhub/public/assets/images/placeholder.png
  showcases/react-showcase/public/assets/images/placeholder.png
  showcases/shared/navigation-item.json
  showcases/vue-showcase/public/assets/images/placeholder.png
Due: none

chore: update snapshots
  __snapshots__/navigation-item/showcase/chromium/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/firefox/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-chrome/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/mobile-safari/regular/neutral/DBNavigationItem-should-match-screenshot.png
  __snapshots__/navigation-item/showcase/webkit/regular/neutral/DBNavigationItem-should-match-screenshot.png
Due: none

chore: revert db_logo.svg
  showcases/patternhub/public/assets/images/db_logo.svg
Due: none

chore: update from main
  packages/components/src/components/card/card.spec.tsx
Due: xo --fix, prettier --write

chore: update wrong component name
  packages/components/index.html
  packages/components/src/components/tab-item/index.html
  packages/components/src/components/tab-list/docs/Angular.md
  packages/components/src/components/tab-list/docs/React.md
  packages/components/src/components/tab-list/docs/Vue.md
  packages/components/src/components/tab-panel/docs/Angular.md
  packages/components/src/components/tab-panel/docs/React.md
  packages/components/src/components/tab-panel/docs/Vue.md
  packages/components/src/components/tabs/docs/Angular.md
  packages/components/src/components/tabs/docs/React.md
  packages/components/src/components/tabs/docs/Vue.md
  showcases/react-showcase/src/components/form/index.tsx
  showcases/shared/tabs.json
Due: xo --fix, prettier --write

fix: issues with build
  packages/components/scripts/post-build/copy-files.js
  packages/components/src/components/textarea/model.ts
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/tabs/component/chromium/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/firefox/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/component/mobile-chrome/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-safari/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
Due: none

fix: issues from PR
  output/vue/package.json
  output/vue/scripts/fix-any-types.js
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/react.js
  packages/components/scripts/post-build/vue.js
  packages/components/scripts/utils/index.js
Due: xo --fix, prettier --write

fix: issue with copy-button in patternhub
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

fix: issue with missing scss variable
  packages/components/src/components/brand/brand.scss
Due: stylelint --fix

fix: styling issues with tabs inside show-code
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

fix: issue with brand
  showcases/react-showcase/src/components/page/index.tsx
  showcases/vue-showcase/src/components/brand/Brand.vue
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-chrome/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/mobile-safari/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/regular/neutral/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/firefox/regular/neutral/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-chrome/regular/neutral/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/mobile-safari/regular/neutral/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/regular/neutral/DBTabItem-should-match-screenshot.png
Due: none

chore: update from main
  packages/components/src/components/brand/brand.lite.tsx
Due: xo --fix, prettier --write

test: updating screenshots
  __snapshots__/accordion-item/showcase/chromium/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion-item/showcase/firefox/regular/neutral/DBAccordionItem-should-match-screenshot.png
  __snapshots__/accordion/showcase/chromium/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/firefox/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/accordion/showcase/webkit/regular/neutral/DBAccordion-should-match-screenshot.png
  __snapshots__/badge/showcase/chromium/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/badge/showcase/firefox/regular/neutral/DBBadge-should-match-screenshot.png
  __snapshots__/brand/showcase/chromium/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/firefox/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-chrome/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/brand/showcase/mobile-safari/regular/neutral/DBBrand-should-match-screenshot.png
  __snapshots__/infotext/showcase/chromium/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/infotext/showcase/firefox/regular/neutral/DBInfotext-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/webkit/regular/neutral/DBInput-should-match-screenshot.png
  __snapshots__/notification/showcase/chromium/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/firefox/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/notification/showcase/webkit/regular/neutral/DBNotification-should-match-screenshot.png
  __snapshots__/tab-item/showcase/chromium/regular/neutral/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/firefox/regular/neutral/DBTabItem-should-match-screenshot.png
  __snapshots__/tab-item/showcase/webkit/regular/neutral/DBTabItem-should-match-screenshot.png
  __snapshots__/tabs/showcase/chromium/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/firefox/regular/neutral/DBTabs-should-match-screenshot.png
  __snapshots__/tabs/showcase/webkit/regular/neutral/DBTabs-should-match-screenshot.png
Due: none

Update README.md
  packages/components/test/README.md
Due: none

fix: issues from PR
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/model.ts
  showcases/vue-showcase/src/components/brand/Brand.vue
Due: stylelint --fix, xo --fix, prettier --write

Update packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/brand.scss
Due: stylelint --fix

Update brand.scss
  packages/components/src/components/brand/brand.scss
Due: stylelint --fix

fix: removes local sources for font faces
  packages/foundations/scss/_font-faces.scss
Due: stylelint --fix

fix: adds show pulse to navigation item on root level
  packages/components/src/components/navigation/navigation.scss
Due: stylelint --fix

Update packages/foundations/scss/_font-faces.scss
  packages/foundations/scss/_font-faces.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
