Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: refactor ID generation to helpers to fix missing a11y attributes in output
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

refactor: optimization
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

fix: inline ID generation logic to resolve React build errors
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

Update .github/workflows/default.yml
  .github/workflows/default.yml
Due: none

refactor: Simplify screen reader test result checks
  .github/workflows/default.yml
Due: none

fix: remove typo
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: use event and decouple panel binding to fix slot support
  packages/components/src/components/tab-panel/tab-panel.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: move helpers back to fix build errors
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

fix: fix vue types and move helpers to store
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

refactor: updated pnpm version
  package.json
Due: none

refactor: regenerated lock file
  pnpm-lock.yaml
Due: none

refactor: corrected path
  packages/foundations/package.json
Due: none

refactor: further pnpm migration
  .github/workflows/01-build-outputs.yml
  .github/workflows/01-build-stories.yml
  .github/workflows/01-build-storybooks.yml
  .github/workflows/01-lint-test.yml
  package.json
Due: none

refactor: further pnpm migration
  .github/workflows/01-build-stories.yml
  .github/workflows/01-build-storybooks.yml
Due: none

refactor: corrected that entry
  .config/cspell.config.ts
Due: xo --fix, prettier --write

refactor(lintstaged): only check specific files
  .config/.lintstagedrc.js
Due: xo --fix, prettier --write

Update docs/research/multi-select.md
  docs/research/multi-select.md
Due: none

Refactor color variables in _variables.scss
  packages/foundations/scss/colors/_variables.scss
Due: stylelint --fix

refactor: reverting this migration
  e2e/package.json
  package.json
  packages/components/package.json
  packages/foundations/package.json
  packages/migration/package.json
  packages/stylelint/package.json
  scripts/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
Due: none

chore: update astro showcase
  packages/components/configs/plugins/astro/nodes.cjs
  packages/components/configs/plugins/astro/template.cjs
  packages/components/src/components/header/header.lite.tsx
  showcases/stencil-showcase/src/components/default/DefaultComponent.astro
  showcases/stencil-showcase/src/components/default/VariantList.astro
  showcases/stencil-showcase/src/pages/01/card.astro
  showcases/stencil-showcase/src/pages/01/divider.astro
  showcases/stencil-showcase/src/pages/01/drawer.astro
  showcases/stencil-showcase/src/pages/01/header.astro
  showcases/stencil-showcase/src/pages/01/popover.astro
  showcases/stencil-showcase/src/pages/01/section.astro
  showcases/stencil-showcase/src/pages/01/stack.astro
  showcases/stencil-showcase/src/pages/02/button.astro
  showcases/stencil-showcase/src/pages/02/link.astro
  showcases/stencil-showcase/src/pages/03/checkbox.astro
  showcases/stencil-showcase/src/pages/03/custom-select.astro
  showcases/stencil-showcase/src/pages/03/input.astro
  showcases/stencil-showcase/src/pages/03/radio.astro
  showcases/stencil-showcase/src/pages/03/select.astro
  showcases/stencil-showcase/src/pages/03/switch.astro
  showcases/stencil-showcase/src/pages/03/textarea.astro
  showcases/stencil-showcase/src/pages/04/accordion-item.astro
  showcases/stencil-showcase/src/pages/04/accordion.astro
  showcases/stencil-showcase/src/pages/04/brand.astro
  showcases/stencil-showcase/src/pages/04/icon.astro
  showcases/stencil-showcase/src/pages/04/infotext.astro
  showcases/stencil-showcase/src/pages/04/tab-item.astro
  showcases/stencil-showcase/src/pages/04/tabs.astro
  showcases/stencil-showcase/src/pages/04/tooltip.astro
  showcases/stencil-showcase/src/pages/05/navigation-item.astro
  showcases/stencil-showcase/src/pages/05/navigation.astro
  showcases/stencil-showcase/src/pages/06/badge.astro
  showcases/stencil-showcase/src/pages/06/notification.astro
Due: xo --fix, prettier --write

refactor: regenerate lock file
  pnpm-lock.yaml
Due: none

fix: introduce helpers for angular and vue builds
  packages/components/src/components/tabs/tabs.lite.tsx
Due: xo --fix, prettier --write

refactor: let's give this a try
  .github/workflows/99-dependency-review.yml
Due: none

Revert "refactor: let's give this a try"
  .github/workflows/99-dependency-review.yml
Due: none

Reapply "refactor: let's give this a try"
  .github/workflows/99-dependency-review.yml
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
