Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue with package.json overrides and vite dependency (#4309)
  package-lock.json
  package.json
Due: none

Update package.json
  package.json
Due: none

chore: update from main
  packages/components/src/styles/internal/_navigation-item.scss
  showcases/react-showcase/src/app.tsx
Due: stylelint --fix, xo --fix, prettier --write

chore: pin playwright and playwright-core dependency for dependabot
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

fix(): moved function for option keys to utils and use it in select and custom-select
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

fix(): use props.for instead of props.htmlFor and props.checked instead of props.defaultChecked
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/utils/index.ts
  showcases/shared/tag.json
Due: xo --fix, prettier --write

fix(): remove getCustomKey from component models
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/model.ts
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

chore: update layout to match for scrollable container with meta-navigation
  packages/components/src/components/control-panel-desktop/control-panel-desktop.lite.tsx
  packages/components/src/components/control-panel-desktop/control-panel-desktop.scss
  packages/components/src/styles/internal/_control-panel-desktop.scss
  packages/components/src/styles/internal/_control-panel-mobile.scss
  showcases/react-showcase/src/app.tsx
Due: stylelint --fix, xo --fix, prettier --write

feat: add sub navigation for shell
  packages/components/src/components/control-panel-desktop/model.ts
  packages/components/src/components/navigation/navigation.lite.tsx
  packages/components/src/components/navigation/navigation.scss
  packages/components/src/components/shell/model.ts
  packages/components/src/components/shell/shell.lite.tsx
  packages/components/src/components/shell/shell.scss
  packages/components/src/components/tabs/tabs.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/internal/_control-panel-desktop.scss
  packages/components/src/styles/internal/_scrollbar.scss
  showcases/react-showcase/src/app.tsx
Due: stylelint --fix, xo --fix, prettier --write

test: updated snapshots
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/chromium/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/firefox/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium-highContrast/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/chromium/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/firefox/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/radio/showcase/mobile-chrome/DBRadio-should-match-screenshot-1/DBRadio-should-match-screenshot.png
  __snapshots__/switch/showcase/firefox/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-chrome/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
Due: none

fix: remaining issues for sub-navigation
  packages/components/src/components/shell/shell.scss
  packages/components/src/styles/internal/_control-panel-desktop.scss
  packages/components/src/styles/internal/_navigation-item.scss
  showcases/react-showcase/src/app.tsx
Due: stylelint --fix, xo --fix, prettier --write

test: updated snapshots
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/chromium/DBTag-should-be-a-checkbox.png
  __snapshots__/tag/component/chromium/DBTag-should-be-a-radio-checked.png
  __snapshots__/tag/component/chromium/DBTag-should-be-a-radio.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-checkbox.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-radio-checked.png
  __snapshots__/tag/component/firefox/DBTag-should-be-a-radio.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-checkbox.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-radio-checked.png
  __snapshots__/tag/component/mobile-chrome/DBTag-should-be-a-radio.png
Due: none

refactor(test): auto-commit regenerated snapshots
  .github/workflows/02-e2e-regenerate.yml
Due: none

chore: code structure
  .github/workflows/02-e2e-regenerate.yml
Due: none

refactor: testing our functionality
  packages/components/src/components/infotext/infotext.scss
Due: stylelint --fix

test: updated snapshots
  __snapshots__/badge/patternhub/badge-overview-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-docs-should-match-screenshot.png
  __snapshots__/custom-select/patternhub/custom-select-overview-should-match-screenshot.png
  __snapshots__/input/patternhub/input-overview-should-match-screenshot.png
Due: none

chore(): fixed type in readme
  README.md
Due: none

chore: another try
  .github/workflows/02-e2e-regenerate.yml
Due: none

chore: let's try this first
  .github/workflows/02-e2e-regenerate.yml
Due: none

chore(): fixed typo in readme
  README.md
Due: none
