Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

Delete .github/workflows/99-renovate.yml
  .github/workflows/99-renovate.yml
Due: none

fix: resolve the native dialog in the open fallback
  showcases/e2e/dialog-open-fallback.ts
Due: xo --fix, prettier --write

fix: angular
  packages/components/src/components/dialog/examples/backdrop.example.lite.tsx
  packages/components/src/components/dialog/examples/container-size.example.lite.tsx
  packages/components/src/components/dialog/examples/density.example.lite.tsx
  packages/components/src/components/dialog/examples/examples.example.lite.tsx
  packages/components/src/components/drawer/examples/backdrop.example.lite.tsx
  packages/components/src/components/drawer/examples/density.example.lite.tsx
  packages/components/src/components/drawer/examples/direction.example.lite.tsx
  packages/components/src/components/drawer/examples/examples.example.lite.tsx
  packages/components/src/components/drawer/examples/position.example.lite.tsx
  packages/components/src/components/drawer/examples/rounded.example.lite.tsx
  packages/components/src/components/drawer/examples/show-spacing.example.lite.tsx
  packages/components/src/components/drawer/examples/size.example.lite.tsx
Due: xo --fix, prettier --write

Revert "fix: resolve the native dialog in the open fallback"
  showcases/e2e/dialog-open-fallback.ts
Due: xo --fix, prettier --write

Revert "fix: angular test"
  showcases/e2e/dialog-open-fallback.ts
  showcases/e2e/dialog/dialog-a11y-checker.spec.ts
  showcases/e2e/dialog/dialog-aria-snapshot.spec.ts
  showcases/e2e/dialog/dialog-axe-core.spec.ts
  showcases/e2e/dialog/dialog-visual-snapshot.spec.ts
  showcases/e2e/drawer/drawer-aria-snapshot.spec.ts
  showcases/e2e/drawer/drawer-axe-core.spec.ts
  showcases/e2e/drawer/drawer-safe-area-visual-snapshot.spec.ts
  showcases/e2e/drawer/drawer-visual-snapshot.spec.ts
Due: xo --fix, prettier --write

Apply batched suggestions from code review
  AGENTS.md
Due: none

refactor: place the fallback hit area above the drawer overlay
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

refactor: accept a spread that can supply either content prop
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor: honor native chldrn wth thr own txt altrntvs and ignre hddn dscndnts whn vldtng hdr cntnt
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor: reject explicitly undefined React children
  packages/eslint-plugin/src/shared/utils.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor: restrict explicit children-prop handling to React
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor: reject valueless text attributes on headers
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor: traverse conditional JSX wrappers before accepting placement
  packages/eslint-plugin/src/rules/sub-component/sub-component-required-parent.ts
  packages/eslint-plugin/test/rules/sub-component/sub-component-required-parent.spec.ts
Due: xo --fix, prettier --write

docs(breadcrumb): address review feedback on caveat count and duplicate sections
  docs/research/breadcrumb.md
Due: none

style: prevent horizontal scrollbar on windows due to the transition
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

refactor: removed obsolete docs
  packages/components/src/components/dialog-footer/docs/Angular.md
  packages/components/src/components/dialog-footer/docs/HTML.md
  packages/components/src/components/dialog-footer/docs/React.md
  packages/components/src/components/dialog-footer/docs/Vue.md
  packages/components/src/components/dialog-header/docs/Angular.md
  packages/components/src/components/dialog-header/docs/HTML.md
  packages/components/src/components/dialog-header/docs/React.md
  packages/components/src/components/dialog-header/docs/Vue.md
Due: none

fix(DBControlPanel): reset scroll owner and align drilldown overlay padding
  .config/cspellignorewords.txt
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group-menu-drilldown.scss
  packages/components/src/components/control-panel-navigation-item-group/control-panel-navigation-item-group.lite.tsx
  packages/components/src/components/control-panel-navigation-item-group/model.ts
  packages/components/src/components/shell-sub-navigation/shell-sub-navigation.scss
  packages/components/src/styles/internal/_navigation-item.scss
Due: stylelint --fix, xo --fix, prettier --write

refactor: do not count DBIcon as accessible header content
  packages/eslint-plugin/src/rules/content/text-or-children-required.ts
  packages/eslint-plugin/test/frameworks/__snapshots__/frameworks.spec.ts.snap
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor: skip Anglr cntrl-flw wrpprs in slt plcmnt and strctrl Tmplte wrpprs whn chckng slt plcmnt
  packages/eslint-plugin/src/rules/sub-component/sub-component-required-parent.ts
  packages/eslint-plugin/test/rules/sub-component/sub-component-required-parent.spec.ts
Due: xo --fix, prettier --write

Revert "style: prevent horizontal scrollbar on windows due to the transition"
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

Revert "Update packages/components/src/components/dialog/dialog.scss"
  packages/components/src/components/dialog/dialog.scss
Due: stylelint --fix

refactor: stop slot matching at intervening Vue components
  packages/eslint-plugin/src/rules/sub-component/sub-component-required-parent.ts
  packages/eslint-plugin/test/rules/sub-component/sub-component-required-parent.spec.ts
Due: xo --fix, prettier --write

refactor: eslint codex feedback
  packages/eslint-plugin/src/shared/slot-content.ts
  packages/eslint-plugin/test/rules/dialog/dialog-header-required.spec.ts
  packages/eslint-plugin/test/rules/drawer/drawer-header-required.spec.ts
Due: xo --fix, prettier --write

refactor: eslint codex feedback
  packages/eslint-plugin/src/shared/utils.ts
  packages/eslint-plugin/test/rules/close-button/close-button-text-required.spec.ts
  packages/eslint-plugin/test/rules/content/text-or-children-required.spec.ts
Due: xo --fix, prettier --write

refactor: update DB Theme and Icons
  output/angular/package.json
  package.json
  packages/mcp-server/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/test/fixtures/react-app/package.json
  packages/vite-plugin/test/fixtures/vue-app/package.json
  pnpm-lock.yaml
  scripts/package.json
  showcases/angular-showcase/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/html-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

fix(DBPopover): controlled open no longer freezes the page in Angular
  .changeset/fix-controlled-popover-freeze.md
  packages/components/src/components/popover/examples/controlled.example.lite.tsx
  packages/components/src/components/popover/popover.lite.tsx
  packages/components/src/components/popover/showcase/popover.showcase.lite.tsx
  showcases/e2e/popover/popover-controlled.spec.ts
Due: xo --fix, prettier --write

refactor: update DB Theme and Icons
  packages/vite-plugin/test/fixtures/react-app/package-lock.json
  packages/vite-plugin/test/fixtures/vue-app/package-lock.json
Due: none

docs(DBFooter): document footer composition with DBShell
  .changeset/shell-footer-docs-and-mobile-grid.md
  docs/migration/400-500/shell/Angular.md
  docs/migration/400-500/shell/React.md
  docs/migration/400-500/shell/Vue.md
  packages/components/agent/Best-Practise_Common-AI-Mistakes.md
  packages/components/src/components/footer/docs/Angular.md
  packages/components/src/components/footer/docs/HTML.md
  packages/components/src/components/footer/docs/Migration.md
  packages/components/src/components/footer/docs/React.md
  packages/components/src/components/footer/docs/Vue.md
  packages/components/src/components/shell-content/docs/Angular.md
  packages/components/src/components/shell-content/docs/HTML.md
  packages/components/src/components/shell-content/docs/React.md
  packages/components/src/components/shell-content/docs/Vue.md
  packages/components/src/components/shell/docs/Angular.md
  packages/components/src/components/shell/docs/HTML.md
  packages/components/src/components/shell/docs/React.md
  packages/components/src/components/shell/docs/Vue.md
  packages/components/src/components/shell/shell-mobile.scss
  packages/components/src/components/shell/shell.spec.tsx
  showcases/patternhub/data/components.json
  showcases/patternhub/tests/default.spec.ts
Due: stylelint --fix, xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
