Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: issue with passing class to angular & stencil child
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

chore: update from main
  showcases/e2e/stack/stack-a11y.spec.ts
Due: xo --fix, prettier --write

fix: issue with stencil hydrated class
  packages/components/src/utils/index.ts
  showcases/screen-reader/__snapshots__/macos/webkit/DBSection-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBSection-default-1.txt
  showcases/screen-reader/tests/section.spec.ts
Due: xo --fix, prettier --write

chore: add prettier to lintstaged
  .config/.lintstagedrc-prettier.js
  .husky/pre-commit
Due: xo --fix, prettier --write

Update accordion-a11y.spec.ts
  showcases/e2e/accordion/accordion-a11y.spec.ts
Due: xo --fix, prettier --write

Update .lintstagedrc-prettier.js
  .config/.lintstagedrc-prettier.js
Due: xo --fix, prettier --write

Update accordion-item-a11y.spec.ts
  showcases/e2e/accordion-item/accordion-item-a11y.spec.ts
Due: xo --fix, prettier --write

fix: issue with linting
  showcases/e2e/accordion/accordion-a11y.spec.ts
Due: xo --fix, prettier --write

Update accordion.scss
  packages/components/src/components/accordion/accordion.scss
Due: stylelint --fix

Update accordion-item.scss
  packages/components/src/components/accordion-item/accordion-item.scss
Due: stylelint --fix

Update accordion-item.spec.tsx
  packages/components/src/components/accordion-item/accordion-item.spec.tsx
Due: xo --fix, prettier --write

Update packages/components/src/components/accordion/accordion.lite.tsx
  packages/components/src/components/accordion/accordion.lite.tsx
Due: xo --fix, prettier --write

chore: update snapshots
  __snapshots__/accordion-item/patternhub/accordion-item-properties-should-match-screenshot.png
  __snapshots__/accordion/patternhub/accordion-properties-should-match-screenshot.png
Due: none

chore: update snapshots
  showcases/screen-reader/__snapshots__/macos/webkit/DBAccordion-default-1.txt
Due: none

docs: fix web-components link in README (#3495)
  README.md
Due: none

fix: issues with misplaced icons
  packages/components/src/components/checkbox/checkbox.scss
  packages/components/src/components/link/link.scss
Due: stylelint --fix

chore: update snapshots
  __snapshots__/accordion-item/component/chromium/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion-item/component/firefox/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion-item/component/mobile-chrome/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion-item/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion-item/showcase/chromium/should-have-same-aria-snapshot/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion-item/showcase/firefox/should-have-same-aria-snapshot/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion-item/showcase/mobile-chrome/should-have-same-aria-snapshot/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion-item/showcase/mobile-safari/should-have-same-aria-snapshot/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion-item/showcase/webkit/should-have-same-aria-snapshot/DBAccordionItem-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/component/chromium/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/component/firefox/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/component/mobile-chrome/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/showcase/chromium/should-have-same-aria-snapshot/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/showcase/firefox/should-have-same-aria-snapshot/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/showcase/mobile-chrome/should-have-same-aria-snapshot/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/showcase/mobile-safari/should-have-same-aria-snapshot/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/accordion/showcase/webkit/should-have-same-aria-snapshot/DBAccordion-should-have-same-aria-snapshot.yaml
  __snapshots__/section/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBSection-should-have-same-aria-snapshot.yaml
  __snapshots__/section/showcase/chromium/should-have-same-aria-snapshot/DBSection-should-have-same-aria-snapshot.yaml
  __snapshots__/section/showcase/firefox/should-have-same-aria-snapshot/DBSection-should-have-same-aria-snapshot.yaml
  __snapshots__/section/showcase/mobile-chrome/should-have-same-aria-snapshot/DBSection-should-have-same-aria-snapshot.yaml
  __snapshots__/section/showcase/mobile-safari/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/should-have-same-aria-snapshot/DBSection-should-have-same-aria-snapshot.yaml
  __snapshots__/section/showcase/webkit/DBSection-should-match-screenshot-1/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/should-have-same-aria-snapshot/DBSection-should-have-same-aria-snapshot.yaml
  __snapshots__/tabs/showcase/webkit/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
Due: none

fix: issue with next and previous buttons for patternhub (#3486)
  showcases/patternhub/components/old-routing-fallback/index.tsx
  showcases/patternhub/data/routes.tsx
  showcases/patternhub/scripts/generate-docs-mdx.js
  showcases/patternhub/scripts/generate-example-jsx.js
  showcases/patternhub/scripts/generate-test-table.js
Due: xo --fix, prettier --write

refactor: added organize-imports-cli
  .config/.lintstagedrc-codestyles.js
  .config/.lintstagedrc-prettier.js
  .husky/pre-commit
  package-lock.json
  package.json
Due: xo --fix, prettier --write

Revert "refactor: added organize-imports-cli"
  .config/.lintstagedrc-codestyles.js
  .config/.lintstagedrc-prettier.js
  .husky/pre-commit
  package-lock.json
  package.json
Due: xo --fix, prettier --write

fix: some patternhub issues
  packages/foundations/docs/Colors.md
  packages/foundations/docs/FontsSizes.md
  packages/foundations/docs/Variables.md
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix

feat: added prettier-plugin-organize-imports
  .prettierrc.json
  package-lock.json
  package.json
Due: none

fix: some minor "copy code" issue for tag
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/shared/tag.json
Due: none

docs: update input example types to work with patternhub
  showcases/shared/input.json
Due: none

chore: update snapshots
  __snapshots__/checkbox/showcase/chromium-highContrast/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/header/patternhub/header-overview-should-match-screenshot.png
  __snapshots__/header/showcase/chromium-highContrast/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/chromium/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/firefox/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/header/showcase/webkit/DBHeader-should-match-screenshot-1/DBHeader-should-match-screenshot.png
  __snapshots__/link/patternhub/link-overview-should-match-screenshot.png
  __snapshots__/link/showcase/chromium-highContrast/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/chromium/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/firefox/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-chrome/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/mobile-safari/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
  __snapshots__/link/showcase/webkit/DBLink-should-match-screenshot-1/DBLink-should-match-screenshot.png
Due: none

refactor: running prettier (#3494)
  .github/scripts/build-gh-page.sh
  docs/research/stack.md
  package.json
  packages/components/src/components/tag/tag.scss
  packages/components/src/shared/model.ts
  packages/foundations/docs/IDESupport.md
Due: stylelint --fix, xo --fix, prettier --write

feat: add headline sizes as css class to overwrite headlines on purpose
  packages/foundations/docs/FontsSizes.md
  packages/foundations/scss/fonts/_font-sizes.scss
  packages/foundations/scss/fonts/classes/body/2xl.scss
  packages/foundations/scss/fonts/classes/body/2xs.scss
  packages/foundations/scss/fonts/classes/body/3xl.scss
  packages/foundations/scss/fonts/classes/body/3xs.scss
  packages/foundations/scss/fonts/classes/body/all.scss
  packages/foundations/scss/fonts/classes/body/lg.scss
  packages/foundations/scss/fonts/classes/body/md.scss
  packages/foundations/scss/fonts/classes/body/sm.scss
  packages/foundations/scss/fonts/classes/body/xl.scss
  packages/foundations/scss/fonts/classes/body/xs.scss
  packages/foundations/scss/fonts/classes/headline/2xl.scss
  packages/foundations/scss/fonts/classes/headline/2xs.scss
  packages/foundations/scss/fonts/classes/headline/3xl.scss
  packages/foundations/scss/fonts/classes/headline/3xs.scss
  packages/foundations/scss/fonts/classes/headline/all.scss
  packages/foundations/scss/fonts/classes/headline/lg.scss
  packages/foundations/scss/fonts/classes/headline/md.scss
  packages/foundations/scss/fonts/classes/headline/sm.scss
  packages/foundations/scss/fonts/classes/headline/xl.scss
  packages/foundations/scss/fonts/classes/headline/xs.scss
Due: stylelint --fix

fix: some minor "copy code" issue for tag (#3498)
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/shared/tag.json
Due: none

fix: some patternhub issues (#3497)
  packages/foundations/docs/Colors.md
  packages/foundations/docs/FontsSizes.md
  packages/foundations/docs/Variables.md
  showcases/patternhub/styles/globals.scss
Due: stylelint --fix
