Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: update codespell configuration to include additional file types to skip
  .codespellrc
Due: none

chore: adapt codespell ignore words
  .config/.codespellignorewords
Due: none

fix(custom-select): keyboard navigation for option groups in single-select mode (#4921)
  .changeset/keyboard-navigation-option-groups.md
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

chore: add pre-commit hook for codespell and adapt configuration
  .codespellrc
  .config/.codespellignorewords
  .config/.lintstagedrc-codespell.js
  .husky/pre-commit
  package.json
Due: xo --fix, prettier --write

Update .github/workflows/01-lint.yml
  .github/workflows/01-lint.yml
Due: none

chore: add codespell linting command to package.json and update lint-staged configuration
  .config/.lintstagedrc-codespell.js
  .config/.lintstagedrc.js
  .husky/pre-commit
  package.json
Due: xo --fix, prettier --write

fix: added missing dependencies
  output/angular/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  packages/components/package.json
Due: none

refactor: regenerated lock file
  package-lock.json
Due: none

Fix missing @db-ux dependencies in core-components
  .changeset/shaggy-ligers-grow.md
Due: none

fix: JS framework core-components packages are missing db-ux dependencies (#5109)
  .changeset/shaggy-ligers-grow.md
  output/angular/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  package-lock.json
  packages/components/package.json
Due: none

fix: add overrides for data-mode dark/light to update tokens when using the switcher
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

fix(ci/cd): publish script path in workflow
  .github/workflows/changesets-release-pr.yml
Due: none

Revert "chore(release): version packages (#5105)"
  .changeset/keyboard-navigation-option-groups.md
  .changeset/shaggy-ligers-grow.md
  output/angular/CHANGELOG.md
  output/angular/package.json
  output/react/CHANGELOG.md
  output/react/package.json
  output/stencil/CHANGELOG.md
  output/stencil/package.json
  output/vue/CHANGELOG.md
  output/vue/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/foundations/CHANGELOG.md
  packages/foundations/package.json
  packages/migration/CHANGELOG.md
  packages/migration/package.json
  packages/stylelint/CHANGELOG.md
  packages/stylelint/package.json
Due: none

refactor: formatting
  .changeset/keyboard-navigation-option-groups.md
Due: none

fix(ci/cd): publish script path in workflow (#5111)
  .changeset/keyboard-navigation-option-groups.md
  .changeset/shaggy-ligers-grow.md
  .github/workflows/changesets-release-pr.yml
  output/angular/CHANGELOG.md
  output/angular/package.json
  output/react/CHANGELOG.md
  output/react/package.json
  output/stencil/CHANGELOG.md
  output/stencil/package.json
  output/vue/CHANGELOG.md
  output/vue/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/foundations/CHANGELOG.md
  packages/foundations/package.json
  packages/migration/CHANGELOG.md
  packages/migration/package.json
  packages/stylelint/CHANGELOG.md
  packages/stylelint/package.json
Due: none

Apply suggestions from code review
  output/angular/CHANGELOG.md
  output/react/CHANGELOG.md
  output/vue/CHANGELOG.md
  packages/components/CHANGELOG.md
Due: none

Apply suggestions from code review
  output/stencil/CHANGELOG.md
Due: none

chore(docs): added comment on date input in React with iOS Voiceover usage
  packages/components/src/components/input/docs/React.md
Due: none

Revert "chore(release): version packages (#5112)"
  .changeset/keyboard-navigation-option-groups.md
  .changeset/shaggy-ligers-grow.md
  output/angular/CHANGELOG.md
  output/angular/package.json
  output/react/CHANGELOG.md
  output/react/package.json
  output/stencil/CHANGELOG.md
  output/stencil/package.json
  output/vue/CHANGELOG.md
  output/vue/package.json
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/foundations/CHANGELOG.md
  packages/foundations/package.json
  packages/migration/CHANGELOG.md
  packages/migration/package.json
  packages/stylelint/CHANGELOG.md
  packages/stylelint/package.json
Due: none

fix(ci/cd): file reference
  scripts/github/changesets/publish.ts
Due: xo --fix, prettier --write

Apply suggestions from code review
  .changeset/keyboard-navigation-option-groups.md
Due: none
