Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

Update scripts/package.json
  scripts/package.json
Due: none

fix: issue with regenerate patternhub snapshots
  .github/workflows/default.yml
Due: none

fix: pipeline
  .github/workflows/default.yml
Due: none

feat: add story generation
  .github/workflows/01-build-stories.yml
  .github/workflows/01-build-storybooks.yml
  package-lock.json
  packages/components/configs/mitosis.showcase.config.cjs
  packages/components/configs/mitosis.storybook.config.cjs
  packages/components/configs/plugins/storybook/storybook-plugin.cjs
  packages/components/package.json
  packages/components/scripts/post-build/copy-files.ts
  packages/components/src/components/button/examples/button.examples.meta.ts
  packages/components/src/components/button/examples/storybook-button.arg.types.ts
  packages/components/src/components/button/examples/variant.example.lite.tsx
  packages/components/src/components/button/showcase/button.showcase.lite.tsx
  packages/components/src/shared/showcase/card-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/container-wrapper.showcase.lite.tsx
  showcases/patternhub/data/routes.tsx
  showcases/react-showcase/src/components/button/index.tsx
  storybooks/angular-storybook/.gitignore
  storybooks/angular-storybook/.storybook/main.ts
  storybooks/angular-storybook/angular.json
  storybooks/angular-storybook/src/global.css
  storybooks/angular-storybook/src/stories/button.component.ts
  storybooks/angular-storybook/src/stories/button.css
  storybooks/angular-storybook/src/stories/button.stories.ts
  storybooks/angular-storybook/tsconfig.app.json
  storybooks/angular-storybook/tsconfig.json
  storybooks/react-storybook/.gitignore
  storybooks/react-storybook/.storybook/global.css
  storybooks/react-storybook/.storybook/main.ts
  storybooks/react-storybook/.storybook/preview.ts
  storybooks/react-storybook/package.json
  storybooks/react-storybook/src/stories/Docs.mdx
  storybooks/react-storybook/src/stories/Variant.stories.tsx
  storybooks/react-storybook/src/stories/button.css
  storybooks/vue-storybook/.gitignore
  storybooks/vue-storybook/.storybook/global.css
  storybooks/vue-storybook/.storybook/main.ts
  storybooks/vue-storybook/.storybook/preview.ts
  storybooks/vue-storybook/src/stories/Button.stories.ts
  storybooks/vue-storybook/tsconfig.app.json
  storybooks/vue-storybook/vite.config.ts
Due: stylelint --fix, xo --fix, prettier --write

fix: pipeline (#5719)
  .github/workflows/default.yml
Due: none

fix(npm): mitigate deactivated lifecycle scripts (#5709)
  .github/workflows/01-lint-test.yml
  output/angular/package.json
  output/react/package.json
  output/stencil/package.json
  output/vue/package.json
  packages/foundations/package.json
  scripts/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/stencil-showcase/package.json
Due: none

refactor(next.js showcase): adapting tsconfig changes (#5694)
  showcases/next-showcase/tsconfig.json
Due: none

Update showcases/patternhub/playwright.patternhub-config.ts
  showcases/patternhub/playwright.patternhub-config.ts
Due: xo --fix, prettier --write

refactor(playwright): let's define this server port explicitly (#5702)
  showcases/patternhub/playwright.patternhub-config.ts
Due: xo --fix, prettier --write

test: not skipping Webkit & Stencil anymore
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

test(Playwright): Simplify maxDiffPixels configuration logic
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

fix(breadcrumb): enhance snapshot logic for breadcrumb navigation components
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

test: not skipping Webkit & Stencil anymore (#5721)
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

refactor: updated patch dependencies
  package-lock.json
  package.json
  scripts/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

fix: attribute passing for custom components
  packages/components/configs/angular/index.cjs
  packages/components/configs/plugins/attribute-passing/wrapper-component.cjs
  packages/components/configs/stencil/index.cjs
  packages/components/scripts/post-build/angular.ts
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
