Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: updated DB theme (#7470)
  output/angular/package.json
  package.json
  packages/mcp-server/package.json
  packages/vite-plugin/package.json
  packages/vite-plugin/test/fixtures/react-app/package-lock.json
  packages/vite-plugin/test/fixtures/react-app/package.json
  packages/vite-plugin/test/fixtures/vue-app/package-lock.json
  packages/vite-plugin/test/fixtures/vue-app/package.json
  pnpm-lock.yaml
  scripts/package.json
  showcases/angular-showcase/package.json
  showcases/angular-ssr-showcase/package.json
  showcases/next-showcase/package.json
  showcases/nuxt-showcase/package.json
  showcases/patternhub/package.json
  showcases/react-showcase/package.json
  showcases/stencil-showcase/package.json
  showcases/vue-showcase/package.json
  storybooks/_storybook/package.json
  storybooks/angular-storybook/package.json
  storybooks/html-storybook/package.json
  storybooks/react-storybook/package.json
  storybooks/vue-storybook/package.json
Due: none

Update packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/drawer.scss
Due: stylelint --fix

refactor: consolidated the functionality
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

refactor(drawer): replace JS transition workaround with CSS native functionality (#7381)
  .changeset/quiet-loops-chew.md
  .config/cspellignorewords.txt
  AGENTS.md
  docs/shift-left-web-development.md
  packages/components/AGENTS.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/components/drawer/model.ts
  packages/components/src/index.ts
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: stylelint --fix, xo --fix, prettier --write

refactor: moved this file as wellx
  packages/components/AGENTS.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/index.ts
  packages/components/src/ponyfills/allow-discrete.ts
Due: xo --fix, prettier --write

Delete .changeset/quiet-loops-chew.md
  .changeset/quiet-loops-chew.md
Due: none

refactor: deleted that file that we've moved
  packages/components/src/utils/allow-discrete-ponyfill.ts
Due: xo --fix, prettier --write

ci(publish): let's give this a try
  scripts/github/publish-npm.js
Due: xo --fix, prettier --write

fix: path
  .config/cspellignorewords.txt
  packages/components/src/ponyfills/allow-discrete.ts
Due: xo --fix, prettier --write

refactor: switch to a callback
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/ponyfills/allow-discrete.ts
Due: xo --fix, prettier --write

refactor: changing these methods to internal
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/index.ts
  packages/components/src/ponyfills/allow-discrete.ts
Due: xo --fix, prettier --write

docs: add design guidelines to knowledge-database foundations and components
  packages/agent-cli/knowledge-database/components/accordion/accordion-item/guidelines.md
  packages/agent-cli/knowledge-database/components/custom-select/custom-select-dropdown/guidelines.md
  packages/agent-cli/knowledge-database/components/custom-select/custom-select-form-field/guidelines.md
  packages/agent-cli/knowledge-database/components/custom-select/custom-select-list-item/guidelines.md
  packages/agent-cli/knowledge-database/components/custom-select/custom-select-list/guidelines.md
  packages/agent-cli/knowledge-database/components/custom-select/guidelines.md
  packages/agent-cli/knowledge-database/components/drawer/drawer-footer/guidelines.md
  packages/agent-cli/knowledge-database/components/drawer/drawer-header/guidelines.md
  packages/agent-cli/knowledge-database/components/drawer/guidelines.md
  packages/agent-cli/knowledge-database/components/tabs/guidelines.md
  packages/agent-cli/knowledge-database/components/tabs/tab-item/guidelines.md
  packages/agent-cli/knowledge-database/components/tabs/tab-list/guidelines.md
  packages/agent-cli/knowledge-database/components/tabs/tab-panel/guidelines.md
  packages/agent-cli/knowledge-database/foundations/border-radius/guidelines.md
  packages/agent-cli/knowledge-database/foundations/border-width/guidelines.md
  packages/agent-cli/knowledge-database/foundations/colors/guidelines.md
  packages/agent-cli/knowledge-database/foundations/container/guidelines.md
  packages/agent-cli/knowledge-database/foundations/elevation/guidelines.md
  packages/agent-cli/knowledge-database/foundations/opacity/guidelines.md
  packages/agent-cli/knowledge-database/foundations/screen/guidelines.md
  packages/agent-cli/knowledge-database/foundations/sizing/guidelines.md
  packages/agent-cli/knowledge-database/foundations/spacing/guidelines.md
  packages/agent-cli/knowledge-database/foundations/transition/guidelines.md
  packages/agent-cli/knowledge-database/foundations/typography/guidelines.md
  packages/agent-cli/knowledge-database/inconsistencies.md
Due: none

Create upset-shirts-travel.md
  .changeset/upset-shirts-travel.md
Due: none

refactor: consolidate allow-discrete ponyfill API (#7472)
  .changeset/upset-shirts-travel.md
  .config/cspellignorewords.txt
  packages/components/AGENTS.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/index.ts
  packages/components/src/ponyfills/allow-discrete.ts
Due: xo --fix, prettier --write

Apply suggestion from @mfranzke
  packages/mcp-server/CHANGELOG.md
Due: none

ci(publish): reverted "let's give this a try"
  scripts/github/publish-npm.js
Due: xo --fix, prettier --write

refactor: drawer resilience
  packages/components/src/components/drawer/drawer.lite.tsx
Due: xo --fix, prettier --write

refactor: remove redundant descriptions from foundation tokens.json
  packages/agent-cli/knowledge-database/foundations/TODO.md
  packages/agent-cli/knowledge-database/foundations/border-radius/tokens.json
  packages/agent-cli/knowledge-database/foundations/border-width/tokens.json
  packages/agent-cli/knowledge-database/foundations/colors/tokens.json
  packages/agent-cli/knowledge-database/foundations/container/tokens.json
  packages/agent-cli/knowledge-database/foundations/elevation/tokens.json
  packages/agent-cli/knowledge-database/foundations/opacity/tokens.json
  packages/agent-cli/knowledge-database/foundations/screen/tokens.json
  packages/agent-cli/knowledge-database/foundations/sizing/tokens.json
  packages/agent-cli/knowledge-database/foundations/spacing/tokens.json
  packages/agent-cli/knowledge-database/foundations/transition/tokens.json
  packages/agent-cli/knowledge-database/foundations/typography/tokens.json
Due: none

fix: correct component status and add availability markers
  packages/agent-cli/knowledge-database/TODO.md
  packages/agent-cli/knowledge-database/components/backdrop/meta.json
  packages/agent-cli/knowledge-database/components/button/code.json
  packages/agent-cli/knowledge-database/components/card/meta.json
  packages/agent-cli/knowledge-database/components/custom-button/meta.json
  packages/agent-cli/knowledge-database/components/drawer/meta.json
  packages/agent-cli/knowledge-database/components/header/meta.json
  packages/agent-cli/knowledge-database/components/navigation/meta.json
  packages/agent-cli/knowledge-database/components/popover/meta.json
  packages/agent-cli/knowledge-database/components/section/meta.json
  packages/agent-cli/knowledge-database/components/stack/meta.json
  packages/agent-cli/knowledge-database/components/tabs/meta.json
  packages/agent-cli/knowledge-database/components/tag/meta.json
  packages/agent-cli/knowledge-database/foundations/TODO.md
Due: none

docs: clean up TODO — remove resolved items
  packages/agent-cli/knowledge-database/TODO.md
Due: none

refactor: migrated code according to the new BREAKING CHANGES
  .github/workflows/02-e2e-screen-reader.yml
  pnpm-workspace.yaml
  showcases/screen-reader/README.md
Due: none

docs: move icons to dedicated knowledge-database directory
  packages/agent-cli/knowledge-database/components/icon/figma.json
  packages/agent-cli/knowledge-database/components/icon/guidelines.md
  packages/agent-cli/knowledge-database/components/icon/meta.json
  packages/agent-cli/knowledge-database/icons/guidelines.md
  packages/agent-cli/knowledge-database/icons/icon-names.json
  packages/agent-cli/knowledge-database/icons/meta.json
  packages/agent-cli/knowledge-database/icons/properties.json
  packages/agent-cli/knowledge-database/inconsistencies.md
Due: none

refactor: rename principles to _principles
  packages/agent-cli/knowledge-database/foundations/_principles/adaptive-colors.md
  packages/agent-cli/knowledge-database/foundations/_principles/adaptive-density.md
  packages/agent-cli/knowledge-database/foundations/_principles/meta.json
Due: none

refactor: being able to remove the JS solution in total
  packages/components/AGENTS.md
  packages/components/src/components/drawer/drawer.lite.tsx
  packages/components/src/components/drawer/drawer.scss
  packages/components/src/ponyfills/allow-discrete.ts
Due: stylelint --fix, xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
