Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix(docs): close-button in drawer doesn‘t have a text
  packages/components/src/components/header/header.lite.tsx
Due: xo --fix, prettier --write

Create afraid-showers-exist.md
  .changeset/afraid-showers-exist.md
Due: none

fix: added missing import
  packages/components/src/components/header/header.lite.tsx
Due: xo --fix, prettier --write

refactor: updating that override and running pnpm audit again
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(docs): close-button in drawer doesn‘t have a text (#7448)
  .changeset/afraid-showers-exist.md
  packages/components/src/components/header/header.lite.tsx
Due: xo --fix, prettier --write

fix: autofix for missing "type" prop breaks self-closing elements (#7413)
  .changeset/eslint-failing-reporting.md
  packages/eslint-plugin/src/shared/utils.ts
  packages/eslint-plugin/test/rules/input/input-type-required.spec.ts
Due: xo --fix, prettier --write

refactor: added flexibility to support both declarations
  packages/components/src/styles/internal/_indicator.scss
  packages/foundations/docs/BrowserSupport.md
Due: stylelint --fix

Create chubby-laws-beg.md
  .changeset/chubby-laws-beg.md
Due: none

Update chubby-laws-beg.md
  .changeset/chubby-laws-beg.md
Due: none

docs(AGENTS.md): added comment on refs
  .config/.markdown-lint.yml
  packages/components/AGENTS.md
Due: none

feat: add foundations knowledge database (9 token categories)
  packages/agent-cli/knowledge-database/foundations/border/tokens.json
  packages/agent-cli/knowledge-database/foundations/colors/tokens.json
  packages/agent-cli/knowledge-database/foundations/density/tokens.json
  packages/agent-cli/knowledge-database/foundations/elevation/tokens.json
  packages/agent-cli/knowledge-database/foundations/opacity/tokens.json
  packages/agent-cli/knowledge-database/foundations/screen/tokens.json
  packages/agent-cli/knowledge-database/foundations/spacing/tokens.json
  packages/agent-cli/knowledge-database/foundations/transition/tokens.json
  packages/agent-cli/knowledge-database/foundations/typography/tokens.json
Due: none

refactor: guard the tooltip ref before calling getParent
  packages/components/src/components/tooltip/tooltip.lite.tsx
Due: xo --fix, prettier --write

feat: add Figma variable references to foundation tokens
  packages/agent-cli/knowledge-database/foundations/border/tokens.json
  packages/agent-cli/knowledge-database/foundations/colors/tokens.json
  packages/agent-cli/knowledge-database/foundations/density/tokens.json
  packages/agent-cli/knowledge-database/foundations/elevation/tokens.json
  packages/agent-cli/knowledge-database/foundations/opacity/tokens.json
  packages/agent-cli/knowledge-database/foundations/screen/tokens.json
  packages/agent-cli/knowledge-database/foundations/spacing/tokens.json
  packages/agent-cli/knowledge-database/foundations/transition/tokens.json
  packages/agent-cli/knowledge-database/foundations/typography/tokens.json
Due: none

refactor: split border tokens into border-width and border-radius
  packages/agent-cli/knowledge-database/foundations/border-radius/tokens.json
  packages/agent-cli/knowledge-database/foundations/border-width/tokens.json
Due: none

feat: add semantic palette and additional colors to colors/tokens.json
  packages/agent-cli/knowledge-database/foundations/colors/tokens.json
Due: none

feat: add complete palette token list with Figma lookup pattern
  packages/agent-cli/knowledge-database/foundations/colors/tokens.json
Due: none

fix: support Angular RouterLink on DBLink (#7438)
  .changeset/tidy-links-route.md
  packages/components/configs/angular/index.cjs
  packages/components/configs/plugins/angular/router-link.cjs
  packages/components/configs/plugins/angular/router-link.spec.ts
  packages/components/src/components/link/docs/Angular.md
Due: xo --fix, prettier --write

Create light-pianos-pump.md
  .changeset/light-pianos-pump.md
Due: none

test: added a test
  packages/components/src/utils/react.spec.ts
Due: xo --fix, prettier --write

refactor: resilience on the solution approach
  packages/components/scripts/post-build/components.ts
  packages/components/src/utils/react.spec.ts
  packages/components/src/utils/react.ts
Due: xo --fix, prettier --write

refactor: readded this code
  packages/components/src/utils/react.ts
Due: xo --fix, prettier --write

fix: don't stop propagation when routerLink urlTree is null
  packages/components/configs/plugins/angular/router-link.cjs
Due: none

fix: only activate DBLink RouterLink integration when routerLink is directly on <db-link>
  packages/components/configs/plugins/angular/router-link.cjs
  packages/components/configs/plugins/angular/router-link.spec.ts
Due: xo --fix, prettier --write

fix: use prepareExternalUrl to compute router href in DBLink routerLink integration
  packages/components/configs/plugins/angular/router-link.cjs
  packages/components/configs/plugins/angular/router-link.spec.ts
Due: xo --fix, prettier --write

fix: re-added exports
  packages/components/src/utils/react.ts
Due: xo --fix, prettier --write

feat: document Mode collection for absolute color assignment in Figma
  packages/agent-cli/knowledge-database/foundations/colors/tokens.json
Due: none

fix: mark Theme collection as internal, redirect Figma usage to Mode
  packages/agent-cli/knowledge-database/foundations/colors/tokens.json
Due: none

fix: add Figma variable key for border-radius/full
  packages/agent-cli/knowledge-database/foundations/border-radius/tokens.json
Due: none

feat: document Figma Layer Mode activation for density system
  packages/agent-cli/knowledge-database/foundations/density/tokens.json
Due: none

fix: elevation uses Effect Styles in Figma, not variables
  packages/agent-cli/knowledge-database/foundations/elevation/tokens.json
Due: none
