Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix: corrected those attribute names
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/dialog/docs/Vue.md
Due: none

docs: optimizations
  packages/components/src/components/dialog/docs/Angular.md
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/dialog/docs/React.md
  packages/components/src/components/dialog/docs/Vue.md
Due: none

docs: optimization
  packages/components/src/components/dialog/docs/Angular.md
  packages/components/src/components/dialog/docs/Vue.md
Due: none

docs: optimization
  packages/components/src/components/dialog/docs/HTML.md
Due: none

docs: optimization
  packages/components/src/components/drawer/docs/HTML.md
Due: none

Apply batched suggestions from code review
  packages/components/src/components/dialog/docs/React.md
Due: none

refactor: removed SASS files included twice
  packages/components/src/styles/index.scss
Due: stylelint --fix

refactor: removed unused internal state entry (#7946)
  packages/components/src/components/drawer/model.ts
  packages/components/src/styles/index.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: linting issues
  packages/components/src/components/loading-indicator/loading-indicator.scss
  packages/components/src/components/loading-indicator/model.ts
Due: stylelint --fix, xo --fix, prettier --write

fix(DBLoadingIndicator): address review feedback
  packages/components/src/components/loading-indicator/loading-indicator.lite.tsx
  packages/components/src/components/loading-indicator/loading-indicator.scss
  packages/components/src/components/loading-indicator/model.ts
Due: stylelint --fix, xo --fix, prettier --write

fix(angular-showcase): use LoadingIndicatorShowcase directly
  showcases/angular-showcase/src/app/components/loading-indicator.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
Due: xo --fix, prettier --write

fix(showcases): add missing LoadingIndicatorShowcase imports
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/patternhub/data/routes.tsx
Due: xo --fix, prettier --write

Apply batched suggestions from code review
  output/angular/CHANGELOG.md
  output/react/CHANGELOG.md
  output/stencil/CHANGELOG.md
  output/vue/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/foundations/CHANGELOG.md
Due: none

Apply batched suggestions from code review
  output/angular/CHANGELOG.md
Due: none

refactor: corrected codestyle
  output/angular/CHANGELOG.md
  output/react/CHANGELOG.md
  output/stencil/CHANGELOG.md
  output/vue/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/foundations/CHANGELOG.md
Due: none

refactor: corrected codestyle (#7960)
  output/angular/CHANGELOG.md
  output/react/CHANGELOG.md
  output/stencil/CHANGELOG.md
  output/vue/CHANGELOG.md
  packages/components/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/foundations/CHANGELOG.md
Due: none

fix(DBLoadingIndicator): make examples storybook-compatible
  packages/components/src/components/loading-indicator/examples/_indicators.data.ts
  packages/components/src/components/loading-indicator/examples/_loading-indicator.arg.types.ts
  packages/components/src/components/loading-indicator/examples/button.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/delay.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/density.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/indeterminate.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/overlay.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/show-label.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/show-progress-text.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/size.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/state.determinate.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/state.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/timeout.example.lite.tsx
Due: xo --fix, prettier --write

feat(DBPagination): collapse the page list on narrow viewports
  .changeset/pagination-responsive-collapsing.md
  packages/components/AGENTS.md
  packages/components/src/components/pagination/docs/HTML.md
  packages/components/src/components/pagination/examples/collapsing.example.lite.tsx
  packages/components/src/components/pagination/model.ts
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.scss
  packages/components/src/components/pagination/pagination.spec.tsx
  packages/components/src/components/pagination/showcase/pagination.showcase.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

feat(DBPagination): render page links for URL-driven navigation
  .changeset/pagination-page-links.md
  packages/components/AGENTS.md
  packages/components/src/components/pagination/docs/Angular.md
  packages/components/src/components/pagination/docs/HTML.md
  packages/components/src/components/pagination/docs/React.md
  packages/components/src/components/pagination/docs/Vue.md
  packages/components/src/components/pagination/examples/link.example.lite.tsx
  packages/components/src/components/pagination/model.ts
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.spec.tsx
  packages/components/src/components/pagination/showcase/pagination.showcase.lite.tsx
Due: xo --fix, prettier --write

fix(DBControlPanelDesktop): declare explicit action for onExpandButtonTooltipFn
  packages/components/src/components/control-panel-desktop/examples/_control-panel-desktop.arg.types.ts
Due: xo --fix, prettier --write

fix(DBFooter): show width variants without scrolling and space the meta link
  .changeset/fix-footer-example-width-and-link-spacing.md
  packages/components/src/components/footer/examples/optional-areas.example.lite.tsx
  showcases/showcase-styles.css
Due: stylelint --fix, xo --fix, prettier --write

fix(DBLoadingIndicator): address review findings for a11y, timers and examples
  .changeset/plenty-jobs-fetch.md
  .config/.jscpd.json
  .config/cspellignorewords.txt
  packages/components/AGENTS.md
  packages/components/configs/plugins/storybook/get-stories.cjs
  packages/components/configs/plugins/undefined-key.cjs
  packages/components/configs/vue/index.cjs
  packages/components/src/components/loading-indicator/agent/loading-indicator.agent.lite.tsx
  packages/components/src/components/loading-indicator/docs/HTML.md
  packages/components/src/components/loading-indicator/examples/_timeout.data.ts
  packages/components/src/components/loading-indicator/examples/button.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/density.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/overlay.example.lite.tsx
  packages/components/src/components/loading-indicator/examples/timeout.example.lite.tsx
  packages/components/src/components/loading-indicator/index.html
  packages/components/src/components/loading-indicator/loading-indicator.lite.tsx
  packages/components/src/components/loading-indicator/loading-indicator.scss
  packages/components/src/components/loading-indicator/loading-indicator.spec.tsx
  packages/components/src/components/loading-indicator/model.ts
  packages/components/src/shared/constants.ts
  packages/components/src/shared/model.ts
  packages/components/src/styles/internal/_loading.scss
  packages/components/src/styles/wc-workarounds.scss
  showcases/e2e/loading-indicator/loading-indicator-visual-snapshot.spec.ts
  showcases/patternhub/data/routes.tsx
  showcases/showcase-styles.css
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: stylelint --fix, xo --fix, prettier --write

fix(DBPagination): align item sizes with the design and the WCAG target minimum
  .changeset/pagination-arrow-size.md
  .changeset/pagination-touch-target.md
  packages/components/src/components/pagination/docs/HTML.md
  packages/components/src/components/pagination/pagination.lite.tsx
  packages/components/src/components/pagination/pagination.scss
  packages/components/src/components/pagination/pagination.spec.tsx
Due: stylelint --fix, xo --fix, prettier --write

fix: resolve lint failures for loading-indicator changes
  packages/components/AGENTS.md
  packages/components/src/components/loading-indicator/loading-indicator.scss
  packages/components/src/shared/model.ts
  packages/components/src/styles/internal/_loading.scss
Due: stylelint --fix, xo --fix, prettier --write

fix(DBLoadingIndicator): type _timeoutId as number for stencil build
  packages/components/src/components/loading-indicator/loading-indicator.lite.tsx
  packages/components/src/components/loading-indicator/model.ts
Due: xo --fix, prettier --write

fix(DBControlPanelDesktop): declare explicit action for onExpandButtonTooltipFn (#7963)
  packages/components/src/components/control-panel-desktop/examples/_control-panel-desktop.arg.types.ts
Due: xo --fix, prettier --write

chore(DBPagination): consolidate the changesets and lead with the density example
  .changeset/pagination-arrow-size.md
  .changeset/pagination-page-links.md
  .changeset/pagination-responsive-collapsing.md
  .changeset/pagination-touch-target.md
  packages/components/src/components/pagination/showcase/pagination.showcase.lite.tsx
Due: xo --fix, prettier --write

test(DBLoadingIndicator): drop brittle parent-disable component tests
  packages/components/src/components/loading-indicator/loading-indicator.spec.tsx
Due: xo --fix, prettier --write

Apply batched suggestions from code review
  packages/components/src/components/dialog/docs/Angular.md
  packages/components/src/components/dialog/docs/HTML.md
  packages/components/src/components/dialog/docs/React.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
