Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

refactor: format conditional rendering for validity checks in form components
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

fix: improve compatibility with pnpm by using Set for node_modules tracking
  packages/agent-cli/src/utils/index.ts
Due: xo --fix, prettier --write

feat: enable selection of first option in search field with Enter key
  packages/components/src/components/custom-select/custom-select.lite.tsx
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

test: enhance DBCustomSelect tests to verify selection with Enter key
  packages/components/src/components/custom-select/custom-select.spec.tsx
Due: xo --fix, prettier --write

feat: enhance getNotificationRole function to accept role and ariaLive parameters
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/utils/index.ts
Due: xo --fix, prettier --write

fix: exclude custom-select from generic floating label trigger
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

fix: use native InputEvent type for onInput handlers
  packages/components/src/shared/model.ts
Due: xo --fix, prettier --write

fix: cast input events to any to resolve react build errors
  packages/components/src/components/input/input.lite.tsx
Due: xo --fix, prettier --write

fix: relax internal event handler types for react/angular compatibility
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

fix: value binding to angular form components
  .changeset/ready-clowns-clean.md
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: xo --fix, prettier --write

test: add msedge as browser for playwright
  .github/workflows/02-e2e-showcases.yml
  showcases/playwright.config.ts
Due: xo --fix, prettier --write

feat: enable deep linking via URL hash
  packages/components/src/components/tabs/tabs.lite.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
Due: xo --fix, prettier --write

test: add cache to load all browsers
  .github/actions/playwright-cache/action.yml
  .github/workflows/01-init-playwright.yml
  .github/workflows/02-e2e-foundations.yml
  .github/workflows/02-e2e-patternhub.yml
  .github/workflows/02-e2e-regenerate.yml
  .github/workflows/02-e2e-showcases.yml
  .github/workflows/02-e2e.yml
  .github/workflows/default.yml
  .github/workflows/release.yml
Due: none

test: add conditional installation of Playwright system dependencies on cache hit
  .github/actions/playwright-cache/action.yml
Due: none

Update .changeset/ready-clowns-clean.md
  .changeset/ready-clowns-clean.md
Due: none

fix: value binding to angular form components (#5854)
  .changeset/ready-clowns-clean.md
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/radio/radio.lite.tsx
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/switch/switch.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
  showcases/angular-showcase/src/app/components/form/form.component.html
  showcases/angular-showcase/src/app/components/form/form.component.ts
Due: xo --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
