Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

feat(breadcrumb): update icon examples with size-specific aria labels
  showcases/shared/breadcrumb.json
Due: none

feat(breadcrumb): enhance ARIA transparency by wrapping render output in Host and updating imports
  packages/components/scripts/post-build/components.ts
Due: xo --fix, prettier --write

feat(breadcrumb): update medium size gap for improved spacing
  packages/components/src/components/breadcrumb/breadcrumb.scss
Due: stylelint --fix

fix(popover): change inline-size from fit-content to max-content for better width handling
  packages/components/src/styles/internal/_popover-component.scss
Due: stylelint --fix

Fix h1 visibility test by waiting for network idle and fixing variable name
  showcases/patternhub/tests/default.spec.ts
Due: xo --fix, prettier --write

Update default.spec.ts
  showcases/patternhub/tests/default.spec.ts
Due: xo --fix, prettier --write

fix: px-to-rem() and px-to-em() now return proper values instead of strings
  packages/foundations/scss/helpers/_functions.scss
Due: stylelint --fix

feat(breadcrumb): update ARIA snapshots to include additional navigation items across browsers
  __snapshots__/breadcrumb/showcase/chromium/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
  __snapshots__/breadcrumb/showcase/firefox/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
  __snapshots__/breadcrumb/showcase/mobile-chrome/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
  __snapshots__/breadcrumb/showcase/mobile-safari/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
  __snapshots__/breadcrumb/showcase/webkit/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
Due: none

fix(breadcrumb): ensure consistent ARIA snapshots across all browsers by adding missing newline
  __snapshots__/breadcrumb/showcase/chromium/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
  __snapshots__/breadcrumb/showcase/firefox/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
  __snapshots__/breadcrumb/showcase/mobile-chrome/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
  __snapshots__/breadcrumb/showcase/mobile-safari/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
  __snapshots__/breadcrumb/showcase/webkit/should-have-same-aria-snapshot/DBBreadcrumb-should-have-same-aria-snapshot.yaml
Due: none

fix(breadcrumb): adjust spacing and padding for small size elements
  packages/components/src/components/breadcrumb/breadcrumb.scss
Due: stylelint --fix

refactor(dependencies): patch next
  package-lock.json
  showcases/next-showcase/package.json
  showcases/patternhub/package.json
Due: none

Create heavy-spiders-check.md
  .changeset/heavy-spiders-check.md
Due: none

refactor: simplified selector
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

refactor: simplified declaration
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

refactor(dependencies): patch next (#5572)
  package-lock.json
  showcases/next-showcase/package.json
  showcases/patternhub/package.json
Due: none

refactor(dependencies): updated angular
  package-lock.json
  package.json
Due: none

Update default-required.scss
  packages/foundations/scss/defaults/default-required.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
