Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

Update packages/components/src/components/select/model.ts
  packages/components/src/components/select/model.ts
Due: xo --fix, prettier --write

feat(select): add `showEmptyOption` property and hide empty option for required selects by default (#5888)
  .changeset/rich-clouds-sniff.md
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.scss
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with popover components inside internal showcases (#5911)
  __snapshots__/custom-select/showcase/chromium-highContrast/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/chromium/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/firefox/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/mobile-chrome/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/mobile-safari/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/custom-select/showcase/webkit/DBCustomSelect-should-match-screenshot-1/DBCustomSelect-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium-highContrast/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/chromium/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/firefox/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-chrome/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/mobile-safari/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  __snapshots__/tabs/showcase/mobile-chrome/DBTabs-should-match-screenshot-1/DBTabs-should-match-screenshot.png
  __snapshots__/tooltip/showcase/chromium-highContrast/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/chromium/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/firefox/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/mobile-chrome/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/mobile-safari/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  __snapshots__/tooltip/showcase/webkit/DBTooltip-should-match-screenshot-1/DBTooltip-should-match-screenshot.png
  showcases/showcase-styles.css
Due: stylelint --fix

testing self-healing
  package.json
Due: none

Fix indentation in button.scss
  packages/components/src/components/button/button.scss
Due: stylelint --fix

Apply suggestion from @mfranzke
  .github/workflows/01-lint-self-healing.yml
Due: none

docs(footer): added further variants
  showcases/shared/footer.json
Due: none

chore: trying to trigger the lint tool
  packages/components/src/components/button/button.scss
Due: stylelint --fix

fix: issues with turbopack for next-showcase
  .config/cspellignorewords.txt
  showcases/next-showcase/next.config.js
  showcases/next-showcase/package.json
  showcases/next-showcase/pages/_app.tsx
  showcases/next-showcase/styles/global.css
  showcases/next-showcase/styles/global.scss
  showcases/patternhub/next.config.js
  showcases/patternhub/package.json
Due: stylelint --fix, xo --fix, prettier --write

fix: issue with checked and switch example
  packages/components/src/components/checkbox/examples/checked.example.lite.tsx
  packages/components/src/components/switch/examples/checked.example.lite.tsx
Due: xo --fix, prettier --write

docs(footer): added further variants (#5921)
  __snapshots__/footer/patternhub/footer-overview-should-match-screenshot.png
  showcases/shared/footer.json
Due: none

feat(checkbox): add invalid message handling and validity message mixin
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix, xo --fix, prettier --write

Update 01-lint-self-healing.yml
  .github/workflows/01-lint-self-healing.yml
Due: none

Update button.scss
  packages/components/src/components/button/button.scss
Due: stylelint --fix

chore: add color utils to allow overwriting [data-color] in tailwind
  packages/foundations/tailwind/theme/_colors-utils.scss
  packages/foundations/tailwind/theme/colors.scss
  packages/foundations/tailwind/theme/colors/adaptive.css
  packages/foundations/tailwind/theme/colors/blue.css
  packages/foundations/tailwind/theme/colors/brand.css
  packages/foundations/tailwind/theme/colors/burgundy.css
  packages/foundations/tailwind/theme/colors/colors.css
  packages/foundations/tailwind/theme/colors/critical.css
  packages/foundations/tailwind/theme/colors/cyan.css
  packages/foundations/tailwind/theme/colors/green.css
  packages/foundations/tailwind/theme/colors/index.css
  packages/foundations/tailwind/theme/colors/informational.css
  packages/foundations/tailwind/theme/colors/light-green.css
  packages/foundations/tailwind/theme/colors/neutral.css
  packages/foundations/tailwind/theme/colors/orange.css
  packages/foundations/tailwind/theme/colors/pink.css
  packages/foundations/tailwind/theme/colors/red.css
  packages/foundations/tailwind/theme/colors/successful.css
  packages/foundations/tailwind/theme/colors/turquoise.css
  packages/foundations/tailwind/theme/colors/violet.css
  packages/foundations/tailwind/theme/colors/warning.css
  packages/foundations/tailwind/theme/colors/yellow.css
  packages/foundations/tailwind/theme/index.css
  packages/foundations/tailwind/theme/revert-theme.css
Due: stylelint --fix

fix: issue with switch example
  packages/components/configs/mitosis.storybook.config.cjs
  packages/components/src/components/switch/examples/visual-aid.example.lite.tsx
Due: xo --fix, prettier --write

chore: add changeset
  .changeset/tiny-ravens-peel.md
Due: none

Apply suggestion from @mfranzke
  .github/workflows/99-auto-handle-dependabot.yml
Due: none

chore: moved auto-set-project-status to own file
  .github/workflows/99-auto-handle-dependabot.yml
  .github/workflows/99-auto-set-in-review.yml
  .github/workflows/99-auto-set-project-status.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request.yml
Due: none

Potential fix for code scanning alert no. 104: Workflow does not contain permissions
  .github/workflows/pull-request-review.yml
Due: none

chore: refactor project-status
  .config/cspellignorewords.txt
  .github/workflows/99-auto-set-in-review.yml
  .github/workflows/99-auto-set-project-status.yml
  .github/workflows/pull-request-project-status.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request.yml
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
