Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

Update badge.scss
  packages/components/src/components/badge/badge.scss
Due: stylelint --fix

refactor: regenerated screen- and snapshots (#4692)
  __snapshots__/accordion-item/showcase/mobile-chrome/DBAccordionItem-should-match-screenshot-1/DBAccordionItem-should-match-screenshot.png
  __snapshots__/checkbox/showcase/mobile-chrome/DBCheckbox-should-match-screenshot-1/DBCheckbox-should-match-screenshot.png
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/switch/showcase/mobile-chrome/DBSwitch-should-match-screenshot-1/DBSwitch-should-match-screenshot.png
  __snapshots__/textarea/showcase/mobile-chrome/DBTextarea-should-match-screenshot-1/DBTextarea-should-match-screenshot.png
Due: none

Update scripts/check-docs.js
  scripts/check-docs.js
Due: xo --fix, prettier --write

refactor: causing screen- and snapshot regeneration
  showcases/angular-showcase/src/app/components/popover/popover.component.html
  showcases/react-showcase/src/components/popover/index.tsx
  showcases/vue-showcase/src/components/popover/Popover.vue
Due: xo --fix, prettier --write

Revert "refactor: causing screen- and snapshot regeneration"
  showcases/angular-showcase/src/app/components/popover/popover.component.html
  showcases/react-showcase/src/components/popover/index.tsx
  showcases/vue-showcase/src/components/popover/Popover.vue
Due: xo --fix, prettier --write

refactor(pre-commit): not running `jscpd` anymore (#4710)
  .husky/pre-commit
Due: none

refactor: remove values to display the placeholder directly (#4688)
  __snapshots__/input/showcase/chromium-highContrast/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/chromium/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/chromium/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/firefox/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/input/showcase/firefox/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-chrome/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/mobile-safari/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/input/showcase/webkit/should-have-same-aria-snapshot/DBInput-should-have-same-aria-snapshot.yaml
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  packages/components/src/styles/internal/_form-components.scss
  showcases/shared/input.json
Due: stylelint --fix

fix: converted some leftovers of attribute changes from last major release 3.x (#4681)
  __snapshots__/tooltip/patternhub/tooltip-docs-should-match-screenshot.png
  packages/components/src/components/tooltip/docs/Angular.md
  packages/components/src/components/tooltip/docs/React.md
  packages/components/src/components/tooltip/docs/Vue.md
  packages/components/src/components/tooltip/tooltip.spec.tsx
Due: xo --fix, prettier --write

Update showcases/patternhub/pages/foundations/font-sizes/overview.tsx
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
Due: xo --fix, prettier --write

refactor: prettier
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
Due: xo --fix, prettier --write

refactor: CSS "condition" to SCSS condition (#4690)
  packages/components/src/styles/internal/_form-components.scss
Due: stylelint --fix

refactor: replaced `font` leftovers of release 2.x (#4695)
  __snapshots__/input/showcase/mobile-chrome/DBInput-should-match-screenshot-1/DBInput-should-match-screenshot.png
  __snapshots__/popover/showcase/webkit/DBPopover-should-match-screenshot-1/DBPopover-should-match-screenshot.png
  packages/foundations/docs/FontsSizes.md
  showcases/patternhub/pages/foundations/font-sizes/overview.tsx
  showcases/patternhub/styles/decision-tree.scss
Due: stylelint --fix, xo --fix, prettier --write

Update packages/components/README.md
  packages/components/README.md
Due: none

Update docs/how-to-develop-a-component.md
  docs/how-to-develop-a-component.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
