Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore(mcp-server): add test step for MCP to pipeline
  .github/workflows/02-test-mcp-server.yml
  .github/workflows/default.yml
Due: none

chore(mcp-server): align 02-test-mcp-server.yml with repository workflow standards
  .github/workflows/02-test-mcp-server.yml
Due: none

docs(mcp-server): fix outdated values in README
  packages/mcp-server/README.md
Due: none

docs(mcp-server): fix outdated src structure and workspace commands in CONTEXT.md
  packages/mcp-server/CONTEXT.md
Due: none

docs(mcp-server): clarify 'Access the Server' instructions
  packages/mcp-server/README.md
Due: none

Apply suggestion from @mfranzke
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

refactor(mcp-server): use static JSON import for manifest bundling
  packages/mcp-server/package.json
  packages/mcp-server/src/__tests__/integration.test.ts
  packages/mcp-server/src/utils/manifest.ts
  packages/mcp-server/src/utils/path.ts
Due: xo --fix, prettier --write

chore(mcp-server): add vitest.config.ts
  packages/mcp-server/vitest.config.ts
Due: xo --fix, prettier --write

feat(breadcrumb): refactor list ID handling and improve aria label management
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/model.ts
Due: xo --fix, prettier --write

refactor(breadcrumb): remove obsolete DBIcon import fix from stencil script
  packages/components/scripts/post-build/stencil.ts
Due: xo --fix, prettier --write

refactor(breadcrumb): remove redundant export of DBBreadcrumbItems type
  packages/components/src/components/breadcrumb/model.ts
Due: xo --fix, prettier --write

feat(breadcrumb): enhance component structure and improve showcase integration
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.spec.tsx
  showcases/angular-showcase/src/app/components/breadcrumb-item/breadcrumb-item.component.ts
  showcases/angular-showcase/src/app/components/breadcrumb/breadcrumb.component.ts
  showcases/angular-showcase/src/app/components/default.component.html
  showcases/angular-showcase/src/app/components/default.component.ts
  showcases/patternhub/data/routes.tsx
  showcases/react-showcase/src/components/breadcrumb-item/index.tsx
  showcases/react-showcase/src/components/breadcrumb/index.tsx
  showcases/vue-showcase/src/components/breadcrumb-item/BreadcrumbItem.vue
  showcases/vue-showcase/src/components/breadcrumb/breadcrumb.vue
Due: xo --fix, prettier --write

refactor(breadcrumb): remove redundant styles from ellipsis button
  packages/components/src/components/breadcrumb/breadcrumb.scss
Due: stylelint --fix

feat(default-component): enhance component imports and schema handling based on environment
  showcases/angular-showcase/src/app/components/default.component.ts
Due: xo --fix, prettier --write

refactor(breadcrumb): remove unnecessary newline in medium size styling
  packages/components/src/components/breadcrumb-item/breadcrumb-item.scss
Due: stylelint --fix

refactor(breadcrumb): simplify component structure and enhance styling with extends
  packages/components/src/components/breadcrumb-item/breadcrumb-item.scss
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.scss
Due: stylelint --fix, xo --fix, prettier --write

Apply suggestions from code review
  output/react/README.md
  output/stencil/README.md
  output/vue/README.md
  packages/components/README.md
Due: none

Apply suggestions from code review
  output/react/README.md
Due: none

fix(navigation-item): remove duplicate import of CustomButtonShowcase
  showcases/react-showcase/src/utils/navigation-item.tsx
Due: xo --fix, prettier --write

refactor(breadcrumb): add internalListId to state and update listId logic
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
  packages/components/src/components/breadcrumb/model.ts
Due: xo --fix, prettier --write

refactor(breadcrumb): update documentation
  packages/components/src/components/breadcrumb-item/docs/Angular.md
  packages/components/src/components/breadcrumb-item/docs/HTML.md
  packages/components/src/components/breadcrumb-item/docs/React.md
  packages/components/src/components/breadcrumb-item/docs/Vue.md
Due: none

refactor(breadcrumb): update imports to use lite versions and simplify ellipsis aria label
  packages/components/src/components/breadcrumb-item/breadcrumb-item.lite.tsx
  packages/components/src/components/breadcrumb/breadcrumb.lite.tsx
Due: xo --fix, prettier --write

docs: update AI rules for agent-cli
  packages/components/agent/Best-Practise_Common-AI-Mistakes.md
  packages/foundations/agent/_instructions.md
Due: none

refactor(data): define ReactDefaultComponentExample and ReactDefaultComponentVariants types
  showcases/react-showcase/src/components/data.ts
Due: xo --fix, prettier --write
