Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

fix(mcp-server): normalize backslashes in docs_search for Windows compat
  packages/mcp-server/src/tools/docs.ts
Due: xo --fix, prettier --write

fix(mcp-server): match hyphenated icon names in parseIconMap regex
  packages/mcp-server/src/tools/scanner.ts
Due: xo --fix, prettier --write

fix(mcp-server): remove <a> → DBLink mapping from migration prompt
  packages/mcp-server/src/prompts/migrate.ts
Due: xo --fix, prettier --write

fix(mcp-server): remove forced div-to-layout mapping from migration prompt
  packages/mcp-server/src/prompts/migrate.ts
Due: xo --fix, prettier --write

fix(mcp-server): add vanilla framework alias to FRAMEWORK_PKG
  packages/mcp-server/src/types.ts
Due: xo --fix, prettier --write

refactor(mcp-server): remove scaffold_component tool from PR scope
  packages/mcp-server/CONTEXT.md
  packages/mcp-server/README.md
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/index.ts
  packages/mcp-server/src/tools/scaffold.ts
  packages/mcp-server/src/tools/schemas.ts
Due: xo --fix, prettier --write

refactor(mcp-server): rename analyze_v2_migration to scan_v2_migration
  .github/copilot-instructions.md
  packages/mcp-server/CONTEXT.md
  packages/mcp-server/README.md
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/index.ts
  packages/mcp-server/src/tools/scanner.ts
  packages/mcp-server/src/tools/schemas.ts
Due: xo --fix, prettier --write

refactor(mcp-server): replace hardcoded tsc verification with LLM instruction
  packages/mcp-server/src/tools/verify.ts
Due: xo --fix, prettier --write

refactor(mcp-server): convert prebuild script from .mjs to .ts
  packages/mcp-server/package.json
  packages/mcp-server/scripts/prebuild.ts
Due: xo --fix, prettier --write

refactor(mcp-server): remove temp file creation and input params from verify tool
  packages/mcp-server/src/tools/schemas.ts
  packages/mcp-server/src/tools/verify.ts
Due: xo --fix, prettier --write

refactor(dependabot): remove ignored update for 'sass' dependency (#6505)
  .github/dependabot.yml
  README.md
  package-lock.json
  packages/components/package.json
  packages/foundations/package.json
  showcases/patternhub/package.json
Due: none

test(mcp-server): align integration tests with refactored tools
  packages/mcp-server/src/__tests__/integration.test.ts
Due: xo --fix, prettier --write

docs(mcp-server): update docs and AI instructions with latest PR learnings
  .github/copilot-instructions.md
  packages/mcp-server/CONTEXT.md
  packages/mcp-server/README.md
  packages/mcp-server/package.json
Due: none

test(mcp-server): fix clean file test to use actual v3 markup
  package-lock.json
  packages/mcp-server/src/__tests__/integration.test.ts
Due: xo --fix, prettier --write

refactor: allow text and children to be used together in components
  .changeset/text-and-children-together.md
  packages/components/src/components/accordion-item/accordion-item.lite.tsx
  packages/components/src/components/badge/badge.lite.tsx
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/button/button.lite.tsx
  packages/components/src/components/icon/icon.lite.tsx
  packages/components/src/components/infotext/infotext.lite.tsx
  packages/components/src/components/link/link.lite.tsx
  packages/components/src/components/navigation-item/navigation-item.lite.tsx
  packages/components/src/components/notification/notification.lite.tsx
Due: xo --fix, prettier --write

docs(migration): convert color-migration.md to standard table
  docs/migration/db-ui/color-migration.md
  packages/mcp-server/src/__tests__/integration.test.ts
  packages/mcp-server/src/tools/scanner.ts
Due: xo --fix, prettier --write

refactor(notification): optimizing selectors (#6569)
  packages/components/src/components/notification/notification.lite.tsx
  packages/components/src/components/notification/notification.scss
  showcases/showcase-styles.css
Due: stylelint --fix, xo --fix, prettier --write

fix: update Figma node URLs in snapshots and adjust publish test
  .env.template
  figma-code-connect/angular-figma/package.json
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/angular-figma/test/parse.spec.ts
  figma-code-connect/angular-figma/test/preview.spec.ts
  figma-code-connect/angular-figma/test/publish.spec.ts
  figma-code-connect/angular-figma/tsconfig.json
  figma-code-connect/angular-figma/vitest.config.ts
  figma-code-connect/parse-utils.ts
  figma-code-connect/react-figma/package.json
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/parse.spec.ts
  figma-code-connect/react-figma/test/preview.spec.ts
  figma-code-connect/react-figma/test/publish.spec.ts
  figma-code-connect/react-figma/tsconfig.json
  figma-code-connect/react-figma/vitest.config.ts
  figma-code-connect/tsconfig.json
  figma-code-connect/vitest.config.ts
  figma-code-connect/vue-figma/package.json
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/parse.spec.ts
  figma-code-connect/vue-figma/test/preview.spec.ts
  figma-code-connect/vue-figma/test/publish.spec.ts
  figma-code-connect/vue-figma/tsconfig.json
  figma-code-connect/vue-figma/vitest.config.ts
  package-lock.json
  package.json
Due: xo --fix, prettier --write

refactor(select): hide our empty `option` right away (#6477)
  .changeset/famous-dryers-sniff.md
  __snapshots__/select/showcase/chromium-highContrast/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium-highContrast/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/chromium/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/chromium/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/firefox/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/firefox/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-chrome/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-chrome/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/mobile-safari/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/mobile-safari/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  __snapshots__/select/showcase/webkit/DBSelect-should-match-screenshot-1/DBSelect-should-match-screenshot.png
  __snapshots__/select/showcase/webkit/should-have-same-aria-snapshot/DBSelect-should-have-same-aria-snapshot.yaml
  packages/components/src/components/select/examples/examples-show-empty-option.example.lite.tsx
  packages/components/src/components/select/select.scss
  packages/components/src/components/select/showcase/select.showcase.lite.tsx
Due: stylelint --fix, xo --fix, prettier --write

refactor(mcp-server): move build-manifest.ts from src/ to scripts/
  packages/mcp-server/CONTEXT.md
  packages/mcp-server/README.md
  packages/mcp-server/package.json
  packages/mcp-server/scripts/build-manifest.ts
Due: xo --fix, prettier --write

refactor(mcp-server): remove visuals tool and assets (out of scope)
  packages/mcp-server/assets/visuals/dashboard.png
  packages/mcp-server/assets/visuals/form.png
  packages/mcp-server/assets/visuals/landingpage.png
  packages/mcp-server/assets/visuals/table.png
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools/index.ts
  packages/mcp-server/src/tools/schemas.ts
  packages/mcp-server/src/tools/visuals.ts
  packages/mcp-server/src/utils/path.ts
Due: xo --fix, prettier --write

chore(mcp-server): remove sharp dependency
  package-lock.json
  packages/mcp-server/esbuild.js
  packages/mcp-server/package.json
  packages/mcp-server/src/__tests__/visuals.test.ts
Due: xo --fix, prettier --write

fix(mcp-server): remove monorepo source fallbacks, read strictly from assets/
  packages/mcp-server/CONTEXT.md
  packages/mcp-server/README.md
  packages/mcp-server/src/tools/tokens.ts
  packages/mcp-server/src/utils/path.ts
Due: xo --fix, prettier --write

refactor: updated DB UX Theme package
  package-lock.json
  package.json
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
