Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

.lintstagedrc:

{
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": ["xo --fix", "prettier --write"],
  "*.!{js,ts,tsx}": "prettier --write --ignore-unknown"
}

chore: update snapshots for figma
  figma-code-connect/angular-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/react-figma/test/__snapshots__/parse.spec.ts.snap
  figma-code-connect/vue-figma/test/__snapshots__/parse.spec.ts.snap
Due: none

fix: issue with showcase-styles.css
  showcases/showcase-styles.css
Due: stylelint --fix

chore: add test for datalist and type=time
  packages/components/src/components/input/input.spec.tsx
Due: xo --fix, prettier --write

chore: update workflow for figma code connect
  .github/workflows/02-test-figma-code-connect.yml
  .github/workflows/default.yml
Due: none

fix: issue with firefox test
  packages/components/src/components/input/input.spec.tsx
Due: xo --fix, prettier --write

fix: issue with workflow
  .github/workflows/default.yml
Due: none

chore: add how to for figma-connect
  .config/cspellignorewords.txt
  .env.template
  packages/components/docs/figma-component-props.png
  packages/components/docs/figma-component-url.png
  packages/components/docs/figma-generate-access-token.png
  packages/components/docs/how-to-figma-connect.md
Due: none

Update Icons.md
  packages/foundations/docs/Icons.md
Due: none

chore: update examples
  packages/components/src/components/accordion/examples/behavior.example.lite.tsx
  packages/components/src/components/accordion/examples/variant.example.lite.tsx
  packages/components/src/components/stack/examples/alignment-column.example.lite.tsx
  packages/components/src/components/stack/examples/alignment-row.example.lite.tsx
  packages/components/src/components/stack/examples/density.example.lite.tsx
  packages/components/src/components/stack/examples/direction.example.lite.tsx
  packages/components/src/components/stack/examples/gap.example.lite.tsx
  packages/components/src/components/stack/examples/justify-content-column.example.lite.tsx
  packages/components/src/components/stack/examples/justify-content-row.example.lite.tsx
  packages/components/src/components/stack/examples/variant.example.lite.tsx
  packages/components/src/components/stack/examples/wrap.example.lite.tsx
  packages/components/src/components/switch/examples/show-label.example.lite.tsx
  showcases/showcase-styles.css
Due: stylelint --fix, xo --fix, prettier --write

refactor: regenerated package lock file
  package-lock.json
Due: none

chore: update examples
  showcases/angular-showcase/src/styles.css
Due: stylelint --fix

chore: update styling for showcases
  showcases/showcase-styles.css
  showcases/stencil-showcase/src/styles.css
Due: stylelint --fix

docs: add research for spinner
  docs/research/spinner.md
Due: none

docs: add research for spinner (#5947)
  docs/research/spinner.md
Due: none

test: ship logo as image with url paths
  packages/components/src/components/brand/brand.lite.tsx
  packages/components/src/components/brand/brand.scss
  packages/components/src/components/brand/model.ts
  packages/foundations/assets/images/dark/chevron_down.svg
  packages/foundations/assets/images/dark/chevron_up.svg
  packages/foundations/assets/images/dark/logo.svg
  packages/foundations/assets/images/dark/resize_handle_corner.svg
  packages/foundations/assets/images/light/chevron_down.svg
  packages/foundations/assets/images/light/chevron_up.svg
  packages/foundations/assets/images/light/logo.svg
  packages/foundations/assets/images/light/resize_handle_corner.svg
  packages/foundations/scss/_absolute.assets-paths.scss
  packages/foundations/scss/_default-images.scss
  packages/foundations/scss/_default.assets-paths.scss
  packages/foundations/scss/_rollup.assets-paths.scss
  packages/foundations/scss/_webpack.assets-paths.scss
  packages/foundations/scss/colors/_default-color-icons.scss
  packages/foundations/scss/defaults/default-required.scss
  showcases/angular-showcase/src/app/components/brand/brand.component.html
  showcases/react-showcase/src/components/brand/index.tsx
  showcases/shared/brand.json
  showcases/vue-showcase/src/components/brand/Brand.vue
Due: stylelint --fix, xo --fix, prettier --write

refactor(guidepup): reverted workaround
  .config/.jscpd.json
  packages/components/src/shared/showcase/container-wrapper.showcase.lite.tsx
  packages/components/src/shared/showcase/link-wrapper.showcase.lite.tsx
  showcases/screen-reader/__snapshots__/windows/chromium/DBCheckbox-default-1.txt
  showcases/screen-reader/__snapshots__/windows/chromium/DBTag-behavior-1.txt
  showcases/screen-reader/default.ts
  showcases/screen-reader/translations.ts
  xo.config.js
Due: xo --fix, prettier --write

docs: add research for heading component
  docs/research/heading.md
Due: none

refactor: reverted most parts of this change
  .config/.jscpd.json
Due: none
