Repository db-ux-design-system/core-web: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, xo --fix, prettier --write, prettier --write --ignore-unknown

Update packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/select/select.lite.tsx
Due: xo --fix, prettier --write

Update checkbox.lite.tsx
  packages/components/src/components/checkbox/checkbox.lite.tsx
Due: xo --fix, prettier --write

Update input.lite.tsx
  packages/components/src/components/input/input.lite.tsx
Due: xo --fix, prettier --write

Update textarea.lite.tsx
  packages/components/src/components/textarea/textarea.lite.tsx
Due: xo --fix, prettier --write

fix: issues from PR
  packages/components/src/components/page/page.scss
Due: stylelint --fix

chore: add header for angular and vue for testing
  package-lock.json
  packages/components/scripts/post-build/components.js
  packages/components/src/components/page/page.scss
  showcases/angular-showcase/src/app/app.component.html
  showcases/angular-showcase/src/app/app.component.ts
  showcases/angular-showcase/src/app/components/header/header.component.html
  showcases/angular-showcase/src/app/components/header/header.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/shared/header.json
  showcases/vue-showcase/src/components/header/Header.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: stylelint --fix, xo --fix, prettier --write

fix: missing dependency for helper class
  packages/foundations/scss/helpers/classes/all.scss
Due: stylelint --fix

fix: issues from PR
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/shared/constants.ts
Due: xo --fix, prettier --write

fix: issue with v-model
  packages/components/scripts/post-build/vue.js
Due: xo --fix, prettier --write

fix: issues with form-components
  packages/components/scripts/post-build/angular.js
  packages/components/scripts/post-build/components.js
  packages/components/scripts/post-build/vue.js
  packages/components/src/components/checkbox/checkbox.lite.tsx
  packages/components/src/components/checkbox/model.ts
  packages/components/src/components/input/input.lite.tsx
  packages/components/src/components/input/model.ts
  packages/components/src/components/select/model.ts
  packages/components/src/components/select/select.lite.tsx
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/textarea/textarea.lite.tsx
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/checkbox/checkbox.component.html
  showcases/react-showcase/src/components/select/index.tsx
  showcases/shared/select.json
  showcases/vue-showcase/src/components/textarea/Textarea.vue
Due: xo --fix, prettier --write

fix: removed unused dependency
  packages/components/src/components/switch/switch.lite.tsx
Due: xo --fix, prettier --write

Update showcases/e2e/fixtures/hover.ts
  showcases/e2e/fixtures/hover.ts
Due: xo --fix, prettier --write

Update packages/components/src/components/tooltip/tooltip.scss
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

Update packages/components/src/components/popover/popover.scss
  packages/components/src/components/popover/popover.scss
Due: stylelint --fix

Update packages/components/src/components/tabs/tabs.spec.tsx
  packages/components/src/components/tabs/tabs.spec.tsx
Due: xo --fix, prettier --write

Update showcase-tab-item.spec.ts
  showcases/e2e/tab-item/showcase-tab-item.spec.ts
Due: xo --fix, prettier --write

Update showcase-tabs.spec.ts
  showcases/e2e/tabs/showcase-tabs.spec.ts
Due: xo --fix, prettier --write

Update README.md
  output/angular/README.md
Due: none

Update README.md
  output/react/README.md
Due: none

Update README.md
  output/vue/README.md
Due: none

Update README.md
  packages/components/README.md
Due: none

feat: add new tests for form-components for react- and vue-showcase
  .xo-config.cjs
  packages/components/scripts/post-build/react.js
  packages/components/src/components/tabs/tabs.lite.tsx
  showcases/e2e/home/showcase-home.spec.ts
  showcases/react-showcase/src/components/form/checkbox.tsx
  showcases/react-showcase/src/components/form/form-wrapper.tsx
  showcases/react-showcase/src/components/form/index.tsx
  showcases/react-showcase/src/components/form/input.tsx
  showcases/react-showcase/src/components/form/select.tsx
  showcases/react-showcase/src/components/form/textarea.tsx
  showcases/react-showcase/src/components/home/index.tsx
  showcases/react-showcase/src/utils/navigation-item.tsx
  showcases/vue-showcase/src/components/form/Checkboxes.vue
  showcases/vue-showcase/src/components/form/FormWrapper.vue
  showcases/vue-showcase/src/components/form/Inputs.vue
  showcases/vue-showcase/src/components/form/Selects.vue
  showcases/vue-showcase/src/components/form/Textareas.vue
  showcases/vue-showcase/src/components/home/Home.vue
  showcases/vue-showcase/src/utils/navigation-items.ts
Due: xo --fix, prettier --write

feat: add new tests for form-components for angular-showcase
  packages/components/src/components/select/select.lite.tsx
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.html
  showcases/angular-showcase/src/app/components/form/checkboxes/checkboxes.component.ts
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.html
  showcases/angular-showcase/src/app/components/form/inputs/inputs.component.ts
  showcases/angular-showcase/src/app/components/form/selects/selects.component.html
  showcases/angular-showcase/src/app/components/form/selects/selects.component.ts
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.html
  showcases/angular-showcase/src/app/components/form/textareas/textareas.component.ts
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.html
  showcases/angular-showcase/src/app/components/form/wrapper/wrapper.component.ts
  showcases/angular-showcase/src/app/components/home/home.component.html
  showcases/angular-showcase/src/app/components/home/home.component.ts
  showcases/angular-showcase/src/app/utils/navigation-item.ts
  showcases/e2e/home/showcase-home.spec.ts
Due: xo --fix, prettier --write

fix: issue with angular configuration for mitosis
  packages/components/mitosis-angular.config.js
  packages/components/mitosis.config.js
Due: xo --fix, prettier --write

Update showcases/e2e/home/showcase-home.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
Due: xo --fix, prettier --write

fix: issue from PR
  package-lock.json
  package.json
  showcases/e2e/header/showcase-header.spec.ts
  showcases/e2e/home/showcase-home.spec.ts
  showcases/react-showcase/src/components/index.tsx
Due: xo --fix, prettier --write

feat: add aria and data passing for angular
  packages/components/scripts/post-build/angular.js
Due: xo --fix, prettier --write

fix: issues from PR
  packages/components/src/components/badge/badge.scss
  packages/components/src/components/tooltip/tooltip.scss
Due: stylelint --fix

fix: issue with vue header showcase test
  showcases/vue-showcase/src/components/header/Header.vue
Due: none

feat: add additional enum arrays for better TS support
  docs/migration/alpha-beta.md
  packages/components/src/components/accordion/model.ts
  packages/components/src/components/badge/model.ts
  packages/components/src/components/button/model.ts
  packages/components/src/components/card/model.ts
  packages/components/src/components/divider/model.ts
  packages/components/src/components/drawer/model.ts
  packages/components/src/components/header/model.ts
  packages/components/src/components/icon/model.ts
  packages/components/src/components/input/model.ts
  packages/components/src/components/link/model.ts
  packages/components/src/components/notification/model.ts
  packages/components/src/components/page/model.ts
  packages/components/src/components/radio/model.ts
  packages/components/src/components/section/model.ts
  packages/components/src/components/section/section.lite.tsx
  packages/components/src/components/section/section.scss
  packages/components/src/components/tabs/model.ts
  packages/components/src/components/tag/model.ts
  packages/components/src/components/textarea/model.ts
  packages/components/src/components/tooltip/model.ts
  packages/components/src/shared/model.ts
  showcases/angular-showcase/src/app/components/section/section.component.html
  showcases/patternhub/components/default-page.tsx
  showcases/react-showcase/src/components/section/index.tsx
  showcases/shared/section.json
  showcases/vue-showcase/src/components/section/Section.vue
Due: stylelint --fix, xo --fix, prettier --write

test: disable mask to test screenshots´issues
  showcases/e2e/default.ts
Due: xo --fix, prettier --write

test: updated screenshots
  __snapshots__/section/showcase/chromium/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/firefox/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-chrome/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/mobile-safari/regular/neutral/DBSection-should-match-screenshot.png
  __snapshots__/section/showcase/webkit/regular/neutral/DBSection-should-match-screenshot.png
Due: none

Update alpha-beta.md
  docs/migration/alpha-beta.md
Due: none

chore: formatting
  docs/migration/alpha-beta.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.!{js,ts,tsx}
